@charset "utf-8";
/* CSS Document */
* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 1100px;
  font-size: 14px;
  line-height: 1.4;
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  outline: 0;
  vertical-align: baseline;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #222;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li { list-style-type: none; }
img { border: none; }
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}
.clearfix { zoom: 1; }
.wrapper {
  position: relative;
  width: 1100px;
  min-width: 1100px;
  margin: 0 auto;
  zoom: 1;
}
.hide { display: none; }
.fl { float: left; }
.fr { float: right; }
.all-icons {
  display: inline-block;
  vertical-align: middle;
  text-indent: -9999px;
  background: url("../images/all-icons.png") no-repeat;
}

/* banner */
.banner {
  height: 715px;
  background: url(../images/bg.jpg) no-repeat center;
}
.banner .logo {
  display: block;
  position: absolute;
  top: 28px;
  left: 0px;
  z-index: 9;
  width: 35px;
  height: 12px;
  text-indent: -9999px;
  background: url(../images/logo.png) no-repeat;
}
.banner .title {
  height: 126px;
  text-indent: -9999px;
  background: url("../images/title.png") center bottom no-repeat;
}
.banner .subtitle {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}
.banner .subtitle sup { 
  font-size: 12px;
  vertical-align: super; 
}
.banner .subtitle strong {
  display: inline-block;
  width: 25px;
}
.banner .subtitle strong,
.banner .subtitle span {
  color: #fff;
  font-size: 18px;
}
.banner .content {
  position: relative;
  margin-top: 78px;
  width: 100%;
  height: 480px;
}
.banner li {
  position: absolute;
  top: 0;
  width: 335px;
  height: 418px;
  background-color: #fff;
  border-radius: 3px;
  transition: all .5s ease-out;
}
.banner .on-left { left: 0px; }
.banner .on-middle {
  top: -44px;
  left: 360px;
  z-index: 9;
  width: 378px;
  height: 475px;
  box-shadow: 0.959px 10.958px 27px 0px rgba(161, 87, 1, 0.52);
}
.banner .on-middle:before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  width: 378px;
  height: 246px;
  background-color: #f8edc7;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.banner .on-right { right: 0px; }
.banner li img { 
  display: block; 
  position: relative;
  z-index: 9;
}
.banner .box {
  margin: 50px 0 12px 38px;
  width: 180px;
}
.banner .on-middle .box {
  margin: 84px 0 0 3px;
  width: 298px;
}
.banner .off {
  position: absolute;
  top: 42px;
  right: 30px;
  z-index: 10;
}
.banner .on-middle .off {
  top: 52px;
  right: 22px;
}
.countdown {
  position: absolute;
  top: 20px;
  left: 0px;
  right: 0;
  margin: 0 auto;
  z-index: 9;
  width: 284px;
  height: 22px;
  color: #554a38;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  border-radius: 11px;
  background-color: #fff;
}
.countdown i {
  margin-right: 2px;
  width: 24px;
  height: 18px;
  background-position: 0 -108px;
}
.countdown b {
  display: inline-block;
  width: 20px;
  text-align: right;
  font-weight: 600;
}

/* price */
.price p {
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}
.pop .price p,
.pop .price del {
  color: #353535;
  font-size: 14px;
  font-weight: 500;
}
.price p.name { margin-bottom: 30px; }
.price p.people {
  margin-top: 6px;
  font-size: 12px;
  font-weight: 500;
}
.price p.people i {
  width: 17px;
  height: 11px;
  background-position: 0 -97px;
}
.price strong { font-size: 22px; }
.price strong big {
  font-size: 50px;
  font-weight: 800;
}
.price del {
  padding-left: 2px;
  color: #717171;
  font-size: 16px;
  font-weight: 500;
}
.bottomcart .price { margin-top: 90px; }
.bottomcart .price p { margin-bottom: 6px; }
.bottomcart .price strong big { 
  font-size: 44px;
  font-weight: 700; 
}
.bottomcart .price del {
  color: #8f5f2c;
  font-size: 16px;
  font-weight: 600;
}
.pop .price strong {
  color: #ef2232;
  font-size: 16px;
  font-weight: 600;
}
.pop .price strong big { 
  font-size: 30px; 
  font-weight: 600;
}
.pop .price p.prix { 
  color: #ababab; 
  line-height: 28px;
}
.pop .price p.prix.last { background: url(../images/pop-line.png) center top no-repeat; }
.mask,
.sold-word {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.mask {
  top: 0;
  left: 0;
  z-index: 99;
  background: url(../images/mask-bg.png);
}
.gift-box .mask {
  top: -34px;
  left: -31px;
  width: 1100px;
  height: 350px;
  border-radius: 6px;
}
.sold-word {
  top: 176px;
  left: 96px;
  width: 190px;
  height: 90px;
  font-style: normal;
  text-indent: -9999px;
  background: url(../images/termine.png) no-repeat;
  opacity: 0;
  visibility: hidden;
  transform: scale(3);
  transition: opacity 0.6s, transform 0.6s ease;
}
.gift-box .sold-word {
  top: 80px;
  left: 420px;
}
.bottomcart .sold-word {
  top: 0px;
  left: 118px;
  z-index: 99;
  width: 104px;
  height: 48px;
  background: url(../images/termine-small.png) no-repeat;
}
.sold-word.on { 
  opacity: 1;
  visibility: visible;
  transform: scale(1); 
}

/* buybtn */
.buybtn {
  display: block;
  position: relative;
  margin: 0px auto;
  width: 256px;
  height: 53px;
  color: #fffc00;
  font-size: 18px;
  font-weight: 600;
  line-height: 53px;
  text-align: center;
  border-radius: 3px;
  background: #dd0007;
  box-shadow: 1.854px 5.706px 10px 0px rgba(223, 123, 42, 0.65);
  background: -webkit-linear-gradient(-90deg, rgb(247,60,18) 0%, rgb(221,0,7) 100%);
  background:         linear-gradient(to right, rgb(247,60,18) 0%, rgb(221,0,7) 100%);
  transition: background 0.3s ease;
}
.buybtn.gray {
  width: 220px;
  height: 46px;
  color: #313131;
  font-size: 16px;
  line-height: 46px;
  background: #fff;
  box-shadow: none;
  border: 2px solid #545454;
}
.banner .buybtn { margin-top: 12px; }
.pop .buybtn {
  margin: 10px auto 8px;
  width: 214px;
  height: 44px;
  font-size: 16px;
  line-height: 44px;
}
.buybtn:hover {
  color: #fffc00;
  background: #f73c12;
  background: -webkit-linear-gradient(-90deg, rgb(221,0,7) 0%, rgb(247,60,18) 100%);
  background:         linear-gradient(to right, rgb(221,0,7) 0%, rgb(247,60,18) 100%);
}
.buybtn.gray:hover {
  width: 224px;
  height: 50px;
  border: 0px;
  border: none;
  line-height: 50px;
  box-shadow: 1.854px 5.706px 10px 0px rgba(223, 123, 42, 0.65);
}

/* payment */
.payment { 
  margin-top: 58px;
  height: 84px; 
  line-height: 84px; 
  border-radius: 42px; 
  text-align: center; 
  background: #f3f2f2;
}
.payment img { 
  display: inline-block; 
  vertical-align: middle;
}

/* feature */
.feature {
  min-height: 530px;
  margin-top: 70px;
  text-align: center;
  color: #201919;
}
.feature h2 {
  font-size: 34px;
  font-weight: 600;
  line-height: 50px;
}
.feature .content {
  position: relative;
  width: 1002px;
  margin: 60px 0 0 -1px;
}
.feature dl {
  float: left;
  width: 334px;
}
.feature dl dt {
  height: 60px;
  font-size: 18px;
  font-weight: 600;
  line-height: 60px;
}
.feature dl dt span {
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
}

.feature dl dd {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #4c4343;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.feature dl dd.chart {
  position: relative;
  height: 174px;
}
.feature dl.one dd.chart {
  padding: 33px 0 0 102px;
}
.feature dl.one dd.chart div {
  position: relative;
  height: 134px;
  text-align: left;
  background: url("../images/feature-dl-cube-bg.png") top left no-repeat;
}
.feature dl.two dd.chart {
  padding: 50px 0 0 115px;
}
.feature dl.two dd.chart div {
  height: 107px;
  background: url("../images/feature-dl-cylinder.png") top left no-repeat;
}
.feature dl.three dd.chart {
  padding: 43px 0 0 136px;
}
.feature dl.three dd.chart div {
  position: relative;
  height: 120px;
  background: url("../images/feature-timer.png") top left no-repeat;
}
.feature dl span.data {
  display: inline-block;
  height: 29px;
  margin: 16px 0 0 70px;
  padding-left: 13px;
  font-size: 12px;
  font-weight: 500;
  line-height: 29px;
  color: #f69392;
  background: url("../images/feature-arrow.png") left center no-repeat;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
}
.feature dl span.cube {
  display: block;
  position: absolute;
  bottom: 29px;
  left: 1px;
  width: 56px;
  height: 35px;
  background: url("../images/feature-cube.png") bottom center no-repeat;
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
}
.feature dl span.cube:after {
  content: '';
  display: block;
  position: absolute;
  top: -13px;
  left: 0;
  width: 100%;
  height: 26px;
  background: url("../images/feature-cube-section.png") center no-repeat;
}
.feature dl span.pointer {
  display: block;
  position: absolute;
  top: 31px;
  left: 23px;
  width: 37px;
  height: 37px;
  background: url("../images/feature-pointer.png") center no-repeat;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: all 1.2s ease .3s;
          transition: all 1.2s ease .3s;
}
.feature dl.on span.cube {
  height: 92px;
}
.feature dl.on span.data {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.feature dl.on span.pointer {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}



/* intro */
.intro {
  margin-bottom: 68px;
  overflow: hidden;
}
.intro .left-message {
  position: relative;
  width: 570px;
  height: 480px;
  margin-top: 40px;
  margin-left: -63px;
  background: url("../images/computer.png?t=65") center no-repeat;
}
.intro .screenshots {
  position: absolute;
  top: 10px;
  left: 75px;
  width: 417px;
  height: 281px;
}
.intro .screenshots ul {
  position: relative;
  width: 417px;
  height: 281px;
}
.intro .screenshots ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 417px;
  height: 281px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
}
.intro .screenshots ul li span {
  z-index: 1;
  position: absolute;
  top: 149px;
  left: 77px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .3s ease .3s;
          transition: all .3s ease .3s;
}
.intro .screenshots ul li.last span {
  top: 139px;
  left: 121px;
}
.intro .screenshots ul li.on {
  opacity: 1;
  filter: alpha(opacity=100);
}
.intro .screenshots ul li.on span {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
          transform: scale(1);
}
.intro .right-message {
  position: relative;
  margin-left: -17px;
  margin-top: 43px;
}
.intro .right-message .container {
  position: relative;
  width: 100%;
}
.intro .right-message > span {
  z-index: 0;
  position: absolute;
  top: -32px;
  left: -31px;
  width: 544px;
  height: 112px;
  margin-top: -123px;
  background: url("../images/selector-bg.png") center no-repeat;
}
.intro .right-message dl {
  margin-bottom: 40px;
  cursor: pointer;
}
.intro .right-message dl.last { margin-bottom: 50px; }
.intro .right-message dl dt {
  float: left;
  width: 24px;
  height: 48px;
  line-height: 40px;
  text-align: left;
}
.intro .right-message dl dt img {
  vertical-align: middle;
}
.intro .right-message dl dd {
  float: left;
  width: 460px;
  margin-left: 15px;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #272222;
}
.intro .right-message dl dd strong {
  font-weight: 600;
  color: #ff4444;
}


/* gift-box */
.gift-box {
  position: relative;
  margin-top: 84px;
  height: 475px;
  background: url(../images/gift-box-bg.jpg) center bottom no-repeat;
}
.gift-box h2 {
  margin-bottom: 70px;
  height: 49px;
  font-size: 26px;
  line-height: 40px;
  text-align: center;
  background: url(../images/gift-title.png) center top no-repeat;
}
.gift-box dl {
  margin: 0 70px 0 50px;
  float: left;
  width: 250px
}
.gift-box dl.last { margin-right: 0px; }
.gift-box dt { margin: 0 0 0 -18px; }
.gift-box strong { font-size: 26px; }
.gift-box del {
  padding-left: 4px;
  font-weight: 600;  
}
.gift-box p {
  color: #696969;
  font-size: 12px;
  line-height: 22px;
}

/* review */
.review h2 {
  margin: 72px 0 62px;
  height: 49px;
  color: #fff;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  text-shadow: 2.487px 1.678px 0px rgba(169, 6, 9, 0.4);
  background: url(../images/review-title.png) center top no-repeat;
}
.review .media {
  float: left;
  width: 373px;
  height: 281px;
  text-align: center;
  background-color: #fff;
  box-shadow: 7.431px 6.691px 0px 0px rgba(242, 205, 205, 0.67);
}
.review .media { line-height: 297px; }
.review .media img { vertical-align: middle; }
.review .usereview {
  float: right;
  margin-right: 20px;
  margin-left: 0px;
  width: 630px;
}
.review dl { 
  display: none;
  width: 630px;
  text-align: left;
}
.review dl.active { display: block; }
.review dd { 
  color: #444;
  font-weight: 500;
  line-height: 22px;
}
.review dd b {
  display: block;
  float: right;
  margin-top: 12px;
  color: #333;
  font-size: 16px;
}
.review dl.one b { margin-top: 4px; }
.review .users {
  margin: 20px auto;
  padding: 0 40px;
  width: 630px;
  box-sizing: border-box;
  border-bottom: 2px solid #ffdfdf;
}
.review .users li { 
  position: relative;
  float: left; 
  margin: 0 24px;
  width: 86px;   
  cursor: pointer; 
  text-align: center;
}
.review .users li .imgbox { 
  position: relative;
  margin-bottom: 26px;
  height: 86px;
}
.review .users li img { 
  display: inline-block; 
  margin-top: 26px;
  width: 60px; 
  height: 60px;  
  opacity: 0.4;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.review .users li.current .imgbox:after {
  opacity: 0;
  visibility: hidden;
}
.review .users li.current img {
  margin-top: 0;
  width: 86px;
  height: 86px;
  opacity: 1;
  border-radius: 50%;
  box-shadow: 4.298px 10.126px 14.24px rgba(255, 198, 198, 0.84);
}
.review .users li.current:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;
  left: 7px;
  width: 72px;
  height: 6px;
  border-radius: 3px;
  background: #fe3501;
  transition: 0.3s ease;
}

/* comparison */
.comparison h2 {
  padding-top: 100px;
  margin-bottom: 68px;
  font-size: 28px;
  text-align: center;
}
.comparison table {
  position: relative;
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
}
.comparison table:before {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  right: 192px;
  width: 212px;
  height: 536px;
  border-radius: 10px;
  box-shadow: 0px 0px 29.76px 2.24px rgba(49, 62, 96, 0.31);
}
.comparison thead th { border-bottom: 1px solid #e1dbdb; }
.comparison tr td.virtue {
  padding-left: 18px;
  width: 628px;
  text-align:left;
}
.comparison tr {
  font-size: 14px;
  text-align: center;
}
.comparison .itema,
.comparison .itemb {
  position: relative;
  z-index: 2;
  width: 182px;
  color: #000;
  vertical-align: middle;
  text-align: center;
  background-color: #f4f4f4;
}
.comparison .itema { 
  width: 212px;
  background-color: #fff;
}
.comparison th.itema,
.comparison th.itemb {
  height: 82px;
  font-size: 14px;
  font-weight: 600;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.comparison tfoot th.itema,
.comparison tfoot th.itemb {
  height: 22px;
  border-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.comparison th.itema div {
  display: block;
  margin-top: -8px;
  padding-top: 22px;
  height: 68px;
  color: #fff;
  font-size: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #cc060d;
  background: -webkit-linear-gradient(90deg, rgb(232,67,30) 0%, rgb(204,6,13) 100%);
  background:         linear-gradient(90deg, rgb(232,67,30) 0%, rgb(204,6,13) 100%);
}
.comparison th i {
  display: block;
  margin: 10px auto 0px;
  width: 27px;
  height: 27px;
  background: url(../images/tabicon.png) 0 -27px no-repeat;
}
.comparison th.itema i { background-position: 0 0; }
.comparison td {
  height: 46px;
  font-size: 12px;
  font-weight: 600;
  vertical-align: middle;
  border-bottom: 1px solid #e1dbdb;
}
.comparison td.icons {
  width: 50px;
  text-align: center;
}
.comparison td.icons img { vertical-align: middle; }
.comparison .space { width: 10px; }
.comparison td i {
  display: inline-block;
  width: 23px;
  height: 23px;
  text-indent: -9999px;
  background-position: 0 -23px;
}
.comparison td i.gray { 
  width: 15px;
  height: 15px;
  background-position: 0 0px; 
}

/* bottomcart */
.bottomcart { 
  margin-top: 94px; 
  height: 288px; 
  background: url(../images/bottom-buy-bg.jpg) center bottom no-repeat;
}
.bottomcart h2 { 
  height: 36px; 
  text-indent: -9999px; 
  background: url(../images/bottom-buy-title.png) center top no-repeat;
}
#centbuy { margin-top: 40px; }
#centbuy h2 { background: url(../images/centbuy-title.png) center top no-repeat; }
.bottomcart .showcase {
  position: relative;
  margin-top: 38px;
  float: left;
  width: 300px;
  height: 200px;
}
.bottomcart .showcase img {
  position: absolute;
  top: 0px;
  left: 0pc;
  opacity: 0;
  visibility: hidden;
  transform: translate(-100px, 0);
  transition: opacity 0.3s, transform 0.3s;
}
.bottomcart .showcase img.on {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0);
  transition: opacity 0.3s, transform 0.3s;
}
.bottomcart .changelist { 
  float: left;
  margin: 70px 0 0 64px;
}
.bottomcart .changelist li { 
  position: relative;
  width: 370px;
  color: #96642d;
  font-size: 16px;
  line-height: 45px;
  font-weight: 700;
  cursor: pointer;
}
.bottomcart .changelist li:before {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: -94px;
  width: 568px;
  height: 47px;
} 
.bottomcart .changelist span {
  display: inline-block;
  position: relative;
  z-index: 9;
}
.bottomcart .changelist strong {
  position: relative;
  z-index: 9;
  display: block;
  float: right;
  font-size: 22px;
  text-align: left;
}
.bottomcart .changelist li.on {
  color: #603d17;
  font-size: 18px;
}
.bottomcart .changelist li.on:before,
.bottomcart .changelist li.sold:before { background: url(../images/list-on.png) 0 0 no-repeat; } 
.bottomcart .changelist li.sold:before { 
  left: -99px;
  width: 558px;
  height: 45px;
  background-position: 0 -47px; 
}
.bottomcart .changelist li.on strong {
  color: #f0212c;
  font-size: 28px;
}
.bottomcart .changelist li.sold { 
  margin: -10px 0 10px;
  color: #c4933a; 
  cursor: default;
}

.footer { 
  padding: 20px 0; 
  background: #f5f5f5;
}
.footer .service dl{ float: left; width: 33.3%; padding-top: 20px; text-align: center;}
.footer .service dl dt { height: 68px; line-height: 68px; font-size: 16px;}
.footer .service dl dt img { display: inline-block; vertical-align: middle;}
.footer .service dl dd { margin-top: 10px; font-size: 12px;}
.footer .service dl h3 { font-size: 16px;}
.annotation {
  margin-top: 20px;
  padding-top: 20px;
  color: #696969;
  font-size: 12px;
  line-height: 20px;
  border-top: 1px solid #c8c8c8;
}

/* footer */
.footer p {
  padding: 15px 0 30px;
  text-align:center;
}

/* pop */
.pop-bg,
.pop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0; 
  bottom: 0;
  z-index: -1001;
  margin: auto;
  text-align: center;
  visibility: hidden;]
}
.pop-bg.on,.pop.on {
  z-index: 1001;
  visibility: visible;
}
.pop.on {
  opacity: 1;
  transform: scaleX(1);
  transition: transform 0.5s 0.2s;
}
.pop-bg  {
  width: 100%;
  height: 100%;
  background: url(../images/pop.png);
}
.pop {
  top: -40px;
  width: 693px;
  height: 390px;
  background: url(../images/pop-bg.png) no-repeat;
  opacity: 0;
  transform: scaleX(0);
  transition: 0.5s;
}
.pop h2 {
  display: block;
  position: absolute;
  top: -146px;
  left: 34px;
  width: 628px;
  height: 225px;
  text-indent: -9999px;
  background: url(../images/pop-title.png) no-repeat;
}
.secondbox {
  padding: 48px 0 0;
  font-size: 16px;
  font-weight: 600;
}
.secondbox b {
  display: inline-block;
  color: #fff;
  font-size: 16px;
}
.secondbox b em {
  display: inline-block;
  margin: 0 2px;
  width: 20px;
  height: 24px;
  line-height: 24px;
  font-style: normal;
  border-radius: 4px;
  background-color: #ee6500;
}
.pop li {
  float: left;
  width: 50%;
}
.pop li img {
  display: block;
  margin: 22px 0 4px 100px;
  width: 146px;
}
.pop .ou {
  display: block;
  position: absolute;
  top: 214px;
  left: 342px;
  color: #747474;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
}
.pop .ou:before,
.pop .ou:after {
  content: '';
  display: block;
  position: absolute;
  top: -96px;
  left: 12px;
  width: 2px;
  height: 90px;
  background-color: #bdbdbd;
}
.pop .ou:after { top: 28px; }
.pop .close {
  display: block;
  position: absolute;
  top: -32px;
  right: 0px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  text-indent: -9999px;
  background: url(../images/close.png) no-repeat;
}
.pop .close:hover { opacity: 0.5; }