@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0; }
body { font-size: 14px; line-height:1.4; color: #000; font-family: "Source Sans Pro", Arial, Helvetica, sans-serif; outline:0; vertical-align:baseline; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; color: #4f4f4f; outline: none; text-decoration: none; cursor: pointer; }
a:hover { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse; border-spacing:0; }
ul,ul li { list-style-type:none; }
.clear { display:block; height:0; overflow:hidden; clear:both; }
.clearfix:after { content:'\20'; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }
.hidden { display: none; }
.show { display: block; }
.wrapper {width: 1000px; position: relative; height: inherit; margin:0 auto; }
.buybtn { display: block; margin: 0px auto; border-radius: 30px; background: rgb(255,0,0);font-weight: 600; color: #fff; text-align: center;
  background-image: -moz-linear-gradient( 0deg, rgb(255,60,0) 0%, rgb(255,0,66) 0%, rgb(255,0,33) 55%, rgb(255,0,0) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(255,60,0) 0%, rgb(255,0,66) 0%, rgb(255,0,33) 55%, rgb(255,0,0) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(255,60,0) 0%, rgb(255,0,66) 0%, rgb(255,0,33) 55%, rgb(255,0,0) 100%);
  box-shadow: 0px 5px 10px 5px #f87474;
  transition: background .2s;
}

.buybtn:hover {background-image :none; background-color: #f41e1e; }

.header { height: 40px; background-color: #05102a}
.header .logo { float: left;width: 45px; height: 15px; margin-top: 13px; text-indent: -9999px; background: url(../images/logo.png);}
.header ul { float: right; height: 40px; line-height: 40px;}
.header ul li { float: left; margin-right: 5px; color: #fff; font-size: 24px; font-weight: 600; font-style: italic;}
.header ul li span,.header ul li sup { font-size: 14px;}
.header ul li:last-child{ font-size: 15px; line-height: 35px;}

.banner { height: 500px; background: url(../images/banner.jpg) no-repeat center;}
.banner .left-img { width: 420px; float: left;}
.banner .img-box { float: left; margin-left: -289px; margin-top: -16px;}

.banner .right-content { float: right; margin-top: 50px; width: 580px; text-align: center;}
.banner .right-content h1 { font-size: 44px; color: #222933; font-family: 'Open Sans Condensed', sans-serif;}
.banner .right-content h2 { font-weight: 400; font-size: 18px; color: #555662;}
.banner .right-content .sm-price { width: 451px; height: 156px; margin: 0px auto; margin-top: 25px; }
.banner .right-content .sm-price .sm-box { float: left; width: 150px; height: 155px; background: url(../images/sm.png);}

.banner .right-content .sm-price .price { float: right; width: 301px; margin-top: 25px; }
.banner .right-content .sm-price .price dt { height:81px;  background: url(../images/sm-bg.png) no-repeat center bottom; text-indent: -9999px;}
.banner .right-content .sm-price .price dd {margin-top: -23px; font-weight: 600; border-radius: 20px; font-size: 18px;}

.banner .right-content dl.price-btn { width: 280px; margin: 0px auto;}
.banner .right-content dl.price-btn dt { line-height: 42px; margin-top: 10px; font-size: 18px; font-weight: 600; color: #222933;}
.banner .right-content dl.price-btn dt strong {font-size: 42px; color: #ff0001;}

.banner .right-content .buybtn { width: 279px; height: 62px; margin-bottom: 10px; line-height: 62px; font-size: 24px;}

.payment { margin-top: 60px; padding-bottom: 30px; border-bottom: solid #ccc 1px;}
.payment dl { width: 33%; float: left; text-align: center; font-weight: 600; font-size: 16px; color: #555662;}
.payment dl dt { margin-bottom: 15px; }
.payment dl:last-child dt { margin-bottom: 25px;}

.sm-content { margin-top: 50px; height: 550px; color: #21222a;}
.sm-content h2 { font-size: 36px; text-align: center; line-height: 50px;}
.sm-content .sm-box { position: absolute; top: 333px; left: 90px; display: block; z-index: -1; opacity: 0;  
  -webkit-transition: opacity .2s .3s;
  -moz-transition: opacity .2s .3s;
  -ms-transition: opacity .2s .3s;
  transition: opacity .2s .3s;
}
.sm-content .sm-box.active {opacity: 1;}
.sm-content dl { position: relative;background-color: #dae1eb; background-color: rgba(218,225,235,0.9);  
   opacity: 0;
  -webkit-transition: opacity .6s .1s,transform .6s ease;
  -moz-transition: opacity .6s .1s,transform .6s ease;
  -ms-transition: opacity .6s .1s,transform .6s ease;
  transition: opacity .6s .1s,transform .6s ease; 
  transition-delay: .6s;
  -moz-transition-delay: .6s;
  -webkit-transition-delay: .6s;
  -o-transition-delay: .6s;
}

.sm-content dl strong { display: block; margin-bottom: 5px; font-size: 18px;}
.sm-content dl dd { line-height: 20px; }

.sm-content .last-01 { width: 498px; height: 112px; float: left; margin-left: 51px; margin-top: 30px;   
  -webkit-transform: translate(0,-100px);
  -moz-transform: translate(0,-100px);
  -ms-transform: translate(0,-100px);
  transform: translate(0,-100px);
}
.sm-content .last-01 dt { float: left; width: 65px; margin-top: 22px; text-align: right;}
.sm-content .last-01 dd { width: 400px; margin-top: 20px; float: left; margin-left: 15px;}
.sm-content .last-01 dd:last-child { width: 100%;}
.sm-content .last-01 .bottom { display: block; margin: 0px auto; margin-top: -10px;}

.sm-content .last-02 { width: 300px; padding-left: 30px; height: 172px; margin-top: 156px; float: left; margin-left: 96px;
  -webkit-transform: translate(100px,0px);
  -moz-transform: translate(100px,0px);
  -ms-transform: translate(100px,0px);
  transform: translate(100px,0px);
}
.sm-content .last-02 dt { margin-top: 17px;}
.sm-content .last-02 .left { position: absolute; left: -15px; top: 81px;}

.sm-content .last-03 { float: left; margin-left: 13px; margin-top: -77px; width: 225px; padding-left: 25px; height: 186px;
  -webkit-transform: translate(-100px,0px);
  -moz-transform: translate(-100px,0px);
  -ms-transform: translate(-100px,0px);
  transform: translate(-100px,0px);
  }
.sm-content .last-03 dt { margin-top: 17px;}
.sm-content .last-03 .right { position: absolute; right: -15px; top: 86px;}
.sm-content .last-03 dd { padding-right: 20px;}
.anmian {
  opacity: 1!important;
  -webkit-transform: translate(0,0)!important;
  -moz-transform: translate(0,0)!important;
  -ms-transform: translate(0,0)!important;
  transform: translate(0,0)!important;
}

.between-buy { }
.between-buy h2{ line-height: 25px; text-align: center; font-size: 18px;}
.between-buy span { display: inline-block; vertical-align: middle; margin-right: 10px; width: 208px; height: 1px; background-color: #d0d0d0}
.between-buy span:last-child { margin-left: 10px; margin-right: 0px;}
.between-buy h2 strong { font-style: italic; font-size: 22px; color: #ff3c00}

.between-buy dl { position: relative; width: 260px; margin:0px auto; text-align: center;}
.between-buy dl:after { position: absolute; display: block; content: ""; width: 72px; height: 72px; right: -90px; top: 64px; background: url(../images/days.jpg); }
.between-buy dl dt { margin-top: 10px; font-size: 16px; font-weight: 600;}
.between-buy dt strong { font-weight: 400; font-size: 50px; color: #ff0001;}
.between-buy .buybtn { width: 260px; height: 60px; line-height: 60px; font-size: 24px;}

.award { margin-bottom: 30px; margin-top: 60px; text-align: center;}
.award h2 { height: 59px; margin-bottom: 25px; font-size: 18px; line-height: 50px; background: url(../images/h2-title.jpg);}


.comparison_table { margin: 60px auto 10px; display: block; }
.comparison_table table { border: 0; border-collapse: separate; border-spacing: 0; }
.comparison_table table th { padding: 15px 0px; color: #fff ; font-size: 18px; line-height: 20px;border-top: 1px #ccc solid; }
.comparison_table table thead th.text { text-align: left; font-size: 20px; color: #000 !important;border-bottom: 1px #ccc solid; }
.comparison_table table tfoot th {border-bottom: 1px #ccc solid; border-top: none; color: #626262;  }


.comparison_table table tr { text-align: center; font-size: 15px; }
.comparison_table table tr th,
.comparison_table table tr td { vertical-align: middle; }
.comparison_table table tr td {padding: 10px 0px; border-bottom: 1px #ccc solid; }
.comparison_table table tr td.virtue { word-break: break-word; text-align: left; font-size: 14px; width:580px; }
.comparison_table table tr td.icons { text-align: center; width: 50px; }
.comparison_table table .itema { background: #f6f9ff; border: none; text-align: center; width: 180px; }
.comparison_table table .itemb { text-align: center; width: 180px; }
.comparison_table table .space { width: 10px; border: none;}
.comparison_table table thead th.itema { background-color: #2a69c7; }
.comparison_table table thead th.itemb { background-color: #626262;}
.comparison_table table .itemb.gray { background-color: #f6f6f6; border: none;}
.comparison_table table .off { text-align: left; font-size: 16px; font-style: italic; color: #21222a; font-weight: 400;}
.comparison_table table .off img { display: inline-block; margin: 0px 10px; vertical-align: middle;}
.comparison_table table tfoot th.itema,.comparison_table table tfoot th.itemc { border-top: solid #ccc 1px;border-bottom: solid #ccc 1px;font-size: 16px; color: #21222a;}
.comparison_table table tfoot th.itema strong,.comparison_table table tfoot th.itemc strong {font-size: 22px; color: #ff003f;}
.comparison_table table tfoot .buybtn { width: 138px; height: 33px; margin-top: 5px; line-height: 33px; font-size: 18px;}


.annotation { padding: 10px 10px; font-size: 12px; color: #666; line-height: 25px; }
.annotation dt { font-size: 13px; display: inline-block; }

.footer{padding-top: 10px; line-height:25px; margin: 0 auto 20px auto; text-align:center;}

.float { position: fixed; width: 260px; height: 80px; right: 0px; top: -80px; color: #21222a; border-bottom-left-radius: 5px; border-top-left-radius: 5px; background: url(../images/fl-bg.png);
-webkit-transition: all 0.5s; 
-moz-transition: all 0.5s; 
-o-transition: all 0.5s;
transition: all 0.5s;  
}
.float p { padding-left: 40px; font-size: 12px; font-weight: 600;}
.float p .user-info { display: block; margin-top: 5px; }
.float.on { top: 200px;}
