@charset "utf-8";
/* CSS Document */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  min-width: 1100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  color: #30333a;
  outline: 0;
  vertical-align: baseline;
}
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd {
  position: relative;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #000;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li {
  list-style-type: none;
}
img {
  border: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.clear {
  display: block;
  clear: both;
  zoom: 1;
}
.hidden {
  display: none;
}
.wrapper {
  position: relative;
  width: 1100px;
  min-width: 1100px;
  margin: 0 auto;
  zoom: 1;
}
.container {
  width: 100%;
  padding: 5px 0 0 0;
  background: url('../images/container-bg.jpg') top center no-repeat;
}
.all-icons {
  display: inline-block;
  text-indent: -9999px;
  vertical-align: middle;
  background-image: url("../images/all-icons.png");
}



/* price */
.price {
  height: 76px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 56px;
}
.price small {
  font-size: 34px;
}
.price big {
  display: inline-block;
  font-size: 60px;
  line-height: 56px;
}
.price del {
  display: block;
  position: relative;
  width: 108px;
  margin-top: -10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #7c838d;
  background: #d8dce2;
}
.price del:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 12px;
  width: 83px;
  height: 14px;
  background: url('../images/del.png') center no-repeat;
}



/* buybtn */
.buybtn {
  display: block;
  width: 232px;
  height: 50px;
  margin: 22px auto 0;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  color: #7b7b7b;
  border: 2px solid #a5a5a5;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}
.buybtn:hover {
  color: #fff;
  line-height: 50px;
  text-shadow: 0 1px 0 rgba(255, 125, 37, 1);
  border: 0;
  background: -webkit-linear-gradient(top, #ff9c00 0%, #ee3901 10%)!important;
  background:  linear-gradient(to bottom, #ff9c00 0%, #ee3901 100%)!important;
  -webkit-box-shadow: 0 10px 13px rgba(210, 122, 105, .75);
          box-shadow: 0 10px 13px rgba(210, 122, 105, .75);
}
.buybtn.large {
  width: 248px;
  height: 54px;
  margin: 19px auto 0;
  color: #fff;
  line-height: 54px;
  text-shadow: 0 1px 0 rgba(255, 125, 37, 1);
  border: 0;
  background: -webkit-linear-gradient(top, #ff7200 0%, #ee0101 10%);
  background:  linear-gradient(to bottom, #ff7200 0%, #ee0101 100%);
  -webkit-box-shadow: 0 10px 13px rgba(210, 122, 105, .75);
          box-shadow: 0 10px 13px rgba(210, 122, 105, .75);
}



/* countdown */
.countdown {
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  color: #6a5c53;
}
.countdown strong {
  display: inline-block;
  width: 26px;
  height: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: #fff;
  background: #c0825c;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}
.countdown strong.last {
  width: 34px;
  letter-spacing: -1px;
}
.countdown > i {
  display: inline-block;
  width: 27px;
  height: 26px;
  vertical-align: middle;
  background: url('../images/timer.png') center no-repeat;
}
.countdown.countdown2 {
  margin: 12px 0 0 0;
  line-height: 30px;
}
.countdown.countdown2 strong {
  width: 20px;
  background: none;
  font-size: 14px;
  color: #30333a;
}
.countdown.countdown2 strong.last,
.countdown.countdown3 strong.last {
  width: 26px;
}
.countdown.countdown2 > i {
  margin-right: 3px;
  background: url('../images/timer02.png') center no-repeat;
}
.countdown.countdown3 {
  color: #a2c3ff;
}
.countdown.countdown3 strong {
  width: 20px;
  background: none;
  font-size: 14px;
  color: #fff;
}



/* banner */
.banner {
  min-width: 1100px;
  height: 663px;
  background: url('../images/banner-bg.jpg') top center no-repeat;
}
/* arrow */
.banner .wrapper {
  height: 663px;
}
.banner .wrapper:after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 7px;
  left: 50%;
  width: 14px;
  height: 19px;
  margin-left: -7px;
  background: url('../images/arrow.png') center no-repeat;
  animation: jump 1s linear infinite;
}
/* logo */
.banner .logo {
  z-index: 99;
  display: block;
  position: absolute;
  top: 23px;
  left: 0;
  width: 38px;
  height: 13px;
  text-indent: -9999px;
  background: url('../images/logo.png') center no-repeat;
}
/* title */
.banner h1 {
  padding-top: 58px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 34px;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  color: #fff;
}
/* content */
.banner .content {
  margin-top: 70px;
}
.banner .content .panel {
  position: absolute;
  background: #fff;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}
/* small */
.banner .panel.small {
  top: 45px;
  left: 118px;
  width: 367px;
  height: 342px;
}
/* large */
.banner .panel.large {
  top: 0;
  right: 114px;
  width: 420px;
  height: 413px;
  -webkit-box-shadow: 0 24px 22px 2px rgba(9, 45, 113, .68);
          box-shadow: 0 24px 22px 2px rgba(9, 45, 113, .68);
}
/* large soldout */
.banner .panel.large.soldout:before {
  content: '';
  z-index: 10;
  display: inline-block;
  position: absolute;
  top: -5px;
  left: -6px;
  width: 426px;
  height: 418px;
  background: url(../images/banner-soldout.png) top left no-repeat; 
}
.banner .panel.large.soldout:after {
  content: '';
  z-index: 11;
  display: inline-block;
  position: absolute;
  top: 139px;
  left: 71px;
  width: 295px;
  height: 94px;
  background: url('../images/soldout.png') center no-repeat;
  -webkit-animation: show .3s ease 1;
          animation: show .3s ease 1;
}


/* off */
.banner .panel span.off {
  z-index: 9;
  position: absolute;
  top: -5px;
  text-indent: -9999px;
  background-image: url('../images/off.png');
  background-repeat: no-repeat;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}
.banner .panel.small span.off {
  left: -5px;
  width: 138px;
  height: 99px;
  background-position: 0 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.banner .panel.large span.off {
  left: -6px;
  width: 144px;
  height: 103px;
  background-position: -138px 0;
}
/* off soldout */
.banner .panel.small.soldout span.off {
  opacity: 1;
  filter: alpha(opacity=100);
}
/* h2 */
.banner .panel.large h2 {
  width: 100%;
  height: 69px;
  text-indent: -9999px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  background: #fbe9de url('../images/banner-large-title.png') center center no-repeat;
}
/* banner box */
.banner .panel .box {
  display: block;
  float: left;
}
.banner .panel.small .box {
  margin: 58px 0 0 32px;
}
.banner .panel.large .box {
  margin: 24px 0 0 24px;
}
/* banner price */
.banner .panel .price {
  float: left;
}
.banner .panel.small .price {
  margin-top: 88px;
}
.banner .panel.large .price {
  height: 80px;
  margin: 60px 0 0 18px;
}
.banner .panel.large .price big {
  font-size: 66px;
  line-height: 60px;
}
/* banner countdown */
.banner .panel.large .bot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  overflow: hidden;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.banner .panel.large .countdown {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #fbe9de;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.banner .panel.large .countdown.show {
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
  opacity: 1;
  filter: alpha(opacity=1);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}



/* payments */
.payments {
  padding: 26px 0;
  border-bottom: 1px solid #d9dfe9;
}
.payments img {
  display: block;
  margin: auto;
}



/* feature */
.feature {
  padding-top: 68px;
}
/* h2 */
.feature h2 {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 34px;
  font-weight: 500;
  line-height: 34px;
  text-align: center;
}
/* computer */
.feature .computer {
  float: left;
  width: 743px;
  height: 427px;
  margin: 74px 0 0 -70px;
  background: url('../images/feature-computer.png') center no-repeat;
}
.feature .computer .screen {
  position: absolute;
  top: 28px;
  left: 92px;
  width: 560px;
  height: 395px;
  overflow: hidden;
}
.feature .computer .screen .list {
  width: 2800px;
}
.feature .computer .screen img {
  display: block;
  float: left;
}
/* ul */
.feature .message {
  float: left;
  width: 454px;
  height: 436px;
  margin: 113px 0 0 -27px;
  overflow: hidden;
}
.feature .message ul {
  z-index: 9;
  width: 100%;
}
.feature .message ul li {
  width: 100%;
  height: 96px;
  margin-bottom: 8px;
  padding: 25px 42px 0 58px;
  line-height: 24px;
  text-align: left;
  color: #5e616b;
  cursor: pointer;
}
.feature .message ul li.last {
  width: 110%;
}
.feature .message ul li b {
  font-size: 16px;
  color: #ff6102;
}
/* active */
.feature .message > span {
  display: block;
  position: absolute;
  top: -3px;
  left: 0px;
  width: 100%;
  height: 120px;
  margin-top: -120px;
  background: url('../images/feature-hover.png') top left no-repeat;
}



/* gifts */
.gifts {
  min-width: 1100px;
  height: 325px;
  margin-top: 85px;
  background: url('../images/gifts-bg.jpg') bottom center no-repeat;
}
.gifts .content {
  height: 277px;
  margin: 0;
  background: #fff;
  -webkit-box-shadow: 0 19px 38px 4px rgba(11, 75, 192, .72);
          box-shadow: 0 19px 38px 4px rgba(11, 75, 192, .72);
}
/* bundle */
.gifts .bundle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 916px;
  margin-left: -458px;
}
/* bundle soldout */
.gifts.soldout .bundle {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}
.gifts .bundle h2 {
  height: 110px;
  text-indent: -9999px;
  background: url('../images/gifts-bundle-title.png') right bottom no-repeat;
}
.gifts .bundle .box {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 31px 0 0 19px;
}
.gifts .bundle ul {
  float: left;
  width: 300px;
  margin: 5px 0 0 290px;
}
.gifts .bundle ul li {
  padding-left: 24px;
  font-size: 13px;
  line-height: 34px;
  color: #5e616b;
  background: url('../images/gifts-icon.png') left center no-repeat;
}
.gifts .bundle dl {
  float: right;
  width: 248px;
  margin: 0 47px 0 0;  
}
/* single */
.gifts .single {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff url('../images/gifts-single-bg.jpg') left center no-repeat;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  filter: alpha(opacity=0);
}
/* single soldout */
.gifts.soldout .single {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}
.gifts .single .soldoutbox {
  display: block;
  float: left;
  margin: 49px 0 0 38px;
}
.gifts .single .describe {
  float: left;
  width: 250px;
  margin: 100px 0 0 24px;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  color: 30333a;
}
.gifts .single .descrube b {
  font-size: 20px;
  font-weight: 700;
}
.gifts .single .describe span {
  color: #ff6102;
}
.gifts .single .box {
  display: block;
  float: left;
  margin: 42px 0 0 74px;
}
.gifts .single dl {
  float: right;
  width: 248px;
  margin: 80px 33px 0 0;
}
.gifts .single dl .price {
  height: 64px;
  line-height: 64px;
  text-align: center;
}
.gifts .single dl .price del {
  display: inline-block;
  width: 72px;
  background: none;
}
.gifts .single dl .price del:after {
  left: 0;
  width: 72px;
  height: 11px;
  background: url('../images/del02.png') center no-repeat;
}
.gifts .single dl .buybtn.large {
  margin: 0 auto;
}



/* review */ 
.review {
  min-width: 1100px;
  height: 662px;
  padding: 72px 0 0 0;
  background: url('../images/review-bg.jpg') top center no-repeat;
}
.review h2 {
  height: 42px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}
.review h2:after {
  content: '';
  display: inline-block;
  width: 72px;
  height: 57px;
  margin: 4px 0 0 24px;
  vertical-align: top;
  background: url('../images/review-quto.png') center no-repeat;
}
.review .media {
  margin: 64px 0 0 61px;
}
.review .media > img {
  display: block;
  float: left;
  width: 103px;
  height: 103px;
  margin: 9px 0 0 0;
  border: 3px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  box-shadow: 0 10px 27px rgba(226, 126, 126, .76);
}
.review .media .details {
  float: left;
  width: 882px;
  height: 112px;
  margin-left: -12px;
  padding: 15px 36px 0 60px; 
  background: url('../images/review-media-bg.png') center no-repeat;
}
.review .media .details > p {
  font-size: 12px;
  line-height: 20px;
  text-align: left;
} 
.review .user {
  width: 100%;
  height: 112px;
  margin: 60px;
}
.review .user .details {
  float: left;
  width: 811px;
  height: 112px;
  margin-left: 100px; 
  padding: 15px 36px 20px 30px;
  /*background: url('../images/review-user-bg.png') center no-repeat;*/
  background: #e8e8e8;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all .2s linear;
          transition: all .2s linear;
}
.review .user .details.long {
  height: 150px;
}
.review .user .details:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: -24px;
  width: 24px;
  height: 112px;
  background: url('../images/review-user-arrow.png') left top no-repeat;
}
.review .user .details p {
  position: absolute;
  top: 15px;
  left: 30px;
  width: 745px;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  color: #747474;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(.5) translate(30%, 30%);
          transform: scale(.5) translate(30%, 30%);
}
.review .user .details p.active {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1) translate(0, 0);
          transform: scale(1) translate(0, 0);
  -webkit-transition: all .5s ease .15s;
          transition: all .5s ease .15s;
}
.review .user .photos {
  float: left;
  width: 78px;
  height: 78px;
  margin: 28px 0 0 14px;
  overflow: hidden;
}
.review .user .photos ul {
  width: 78px;
  height: 78px;
}
.review .user .photos ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 78px;
  height: 78px;
  -webkit-transform: scale(.5);
          transform: scale(.5);
  opacity: 0;
  filter: alpha(opacity=0);
}
.review .user .photos ul li.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}
.review .user .photos ul li img {
  display: block;
}
.review .user > span {
  display: block;
  position: absolute;
  top: 46px;
  width: 29px;
  height: 29px;
  line-height: 28px;
  text-align: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #c6c6c6;
  cursor: pointer;
}
.review .user > span.prev {
  left: 55px;
}
.review .user > span.next {
  right: 50px;
}
.review .user > span:after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 14px;
  vertical-align: middle;
  background: url('../images/review-arrow.png') no-repeat;
}
.review .user > span.prev:after {
  background-position: 0 0;
}
.review .user > span.next:after {
  background-position: -8px 0;
}



/* comparison */
.comparison {
  margin-top: -28px;
}
.comparison table {
  width: 100%;
}
.comparison table thead th {
  height: 90px;
  border-bottom: 1px solid #cecece;
}
.comparison table tbody td {
  height: 50px;
  border-bottom: 1px solid #cecece;
}
.comparison table thead th.text {
  width: 686px;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  color: #bdbdbd;
}
.comparison table thead th.free,
.comparison table thead th.pro {
  border-bottom: 0;
  text-align: center;
}
.comparison table thead th.free div,
.comparison table thead th.pro div {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.comparison table thead th.free div {
  height: 70px;
  padding-top: 15px;
  background: #cfcfcf;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}
.comparison table thead th.pro div {
  height: 90px;
  padding-top: 22px;
  background: #ff7301;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}
.comparison table thead th.space,
.comparison table tbody td.space {
  width: 7px;
  border-bottom: 0;
}
.comparison table thead th.free,
.comparison table tbody td.free {
  width: 190px;
}
.comparison table thead th.pro,
.comparison table tbody td.pro {
  width: 210px;
}
.comparison table tbody td.icon {
  width: 32px;
}
.comparison table tbody td.text {
  width: 654px;
  padding-left: 12px; 
  font-size: 13px;
}
.comparison table tbody td.text i {
  width: 75px;
  height: 11px;
  margin-left: 5px;
  background-position: 0 -25px;
}
.comparison table tbody td.text i.x2 {
  background-position: 0 -58px;
}
.comparison table tbody td.text i.x3 {
  background-position: 0 -14px;
}
.comparison table tbody td.text i.x5 {
  background-position: 0 -47px;
}
.comparison table tbody td.text i.new {
  background-position: 0 -36px;
}
.comparison table tbody td.free,
.comparison table tbody td.pro {
  text-align: center;
}
.comparison table tbody td.free i,
.comparison table tbody td.pro i {
  width: 17px;
  height: 14px;
}
.comparison table tbody td.free i {
  background-position: -34px 0;
}
.comparison table tbody td.free i.yes {
  background-position: 0 0;
}
.comparison table tbody td.pro i {
  background-position: -17px 0;
}
.comparison table tbody tr.last td {
  border-bottom: 0;
}



/* bottombuy */
.bottombuy {
  min-width: 1100px;
  height: 259px;
  margin-top: 27px;
  background: url('../images/bottombuy-bg.jpg') top center no-repeat;
}
.bottombuy .box {
  float: left;
  width: 433px;
  height: 259px;
  overflow: hidden;
}
.bottombuy .box img {
  display: block;
}
.bottombuy dl {
  float: left;
  width: 695px;
  margin-top: 33px;
  margin-left: -98px;
  text-align: center;
}
.bottombuy dl dt h2 {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  color: #fff;
}
.bottombuy dl dd .price {
  height: 68px;
  margin-top: 21px;
  color: #fff;
}
.bottombuy dl dd .price big {
  font-size: 62px;
}
.bottombuy dl dd .price del {
  display: inline-block;
  background: none;
  width: 83px;
  color: #a2c3ff;
}
.bottombuy dl dd .price del:after {
  left: 0;
  background: url('../images/del03.png') center no-repeat;
}
.bottombuy dl dd .buybtn {
  margin: 0 auto;
  -webkit-box-shadow: 0 10px 13px rgba(15, 41, 89, .75);
          box-shadow: 0 10px 13px rgba(15, 41, 89, .75);
}




/* service */
.service dl {
  margin-top: 50px;
  margin-bottom: 25px;
  float: left;
  width: 23%;
  text-align: center;
}
.service dl.center {
 width: 54%;
}
.service dt {
  margin: 0 0 22px;
  height: 66px;
  line-height: 66px;
}
.service dt img { 
  vertical-align: middle;
   }
.service h4 {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 26px;
}
.service dd {
  font-size: 12px;
  line-height: 22px;
}
.service dd span { 
  display: block;
}

/* footer */
.footer {
  padding: 20px 0 20px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #84878e;
  background: #e0e1e4;
}
/* annotation */
.annotation {
  padding: 0 0 16px;
  font-size: 12px;
  color: #84878e;
  text-align: left;
}





/* animation */
@-webkit-keyframes show {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes show {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes jump {
  0%,50%,100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  75% {
     -webkit-transform: translateY(-50%);
             transform: translateY(-50%);
  }
}
@keyframes jump {
  0%,50%,100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
  75% {
     -webkit-transform: translateY(-25%);
             transform: translateY(-25%);
  }
}