Dear customer,<br><br>

Thank you for your order. Here we prepared you a super gift pack, which contains three PC utilities: Smart Defrag, IObit Uninstaller, and Protected Folder.<br><br>

Please check the details here:<br>
1. Smart Defrag 5 PRO:<br>
Download link: http://update.iobit.com/dl/smart-defrag-setup.exe<br>
License code: 1FDEB-6EC36-4A6BE-194D1<br><br>

2. IObit Uninstaller 7 PRO:<br>
Download link: http://update.iobit.com/dl/iobituninstaller.exe<br>
License code: B830E-4191E-55910-055E1<br><br>

3. Protected Folder:<br>
Download link: http://update.iobit.com/dl/PF-Setup.exe<br>
License code: 8A37A-801D3-A7425-AE0B1<br><br>

If you have any further question, please feel free to contact support@iobit.com.<br><br>

Best wishes for a happy new year,<br>
IObit<br>