* {	margin:0;padding:0;}
img {border:0;}
body {font-family:Arial, Helvetica, sans-serif;font-size:13px;color:#333;background:#fff;}
li {list-style:none;}
.clear {clear:both;height:0;border:0;font-size:0;}
a{color:#006699;}
a:hover{color:#028bcf;}
.mt5{margin-top:5px;}
.ml10{margin-left:10px;}
.mb10{margin-bottom:10px;}
.right{float:right;}
.center{text-align:center;}
.red{color:#cc0000;}
.del{text-decoration:line-through;}
.f11{font-size:11px; color:#666;}
.f12{font-size:11px; color:#666;}
.bf14{font-weight:bold; font-size:14px ;}
.bf16{font-weight:bold; font-size:16px ;}
h2{font-size:20px; line-height:26px;}
h3{font-size:16px; line-height:24px;}
.cyellow{color:#ff9900;}
.corange{color:#ff6600;}
.cgray{color:#333;}
.cnormal{color:#000;}
#lang { float:right; }
#lang { position:relative; width:175px; height:20px; overflow:hidden; margin-right:10px; }
#google_translate_element { position:absolute; right:0; top:-4px; }
#google_translate_element select { font-size:11px; width:160px; }

.wrapper{width:960px; margin:0 auto;}

#head{height:65px; background:#041b30 ;}
#head .wrapper{ height:65px;background:url(../img/head.png) center center no-repeat;}
#head .homelink{width:112px; height:58px; display:block; float:left;margin-top:22px; text-indent:-9999px;}
#head dl{float:right; width:300px; font-size:11px; color:#fff; margin-top:6px;}
#head dl dt{width:70px; height:66px; display:block; background:url(../img/cnet_logo.png) 0 0 no-repeat; float:right;}
#head dl dd{float:left; width:220px; text-align:right;}

#main .shadow{height:18px; background:url(../img/shadow.png) top center no-repeat;}

#main .intro h1{text-align:center; font-size:36px; font-weight:bold;  margin:10px 0; color:#fc0214;}
#main .intro h1 em{ font-size:50px;}
#main .intro h1 span{ font-size:28px; color:#666;}
#main .intro h2{text-align:center; font-size:30px; font-style:bold; color:#666; }
#main .intro .imgbox {width:300px; float:left; text-align:center;}
#main .intro .left{ width:670px; float:left; display:block; margin:40px 0 0 0;}
#main .intro .txtlist{ float:left; display:block; margin:20px 0 0 30px; }
#main .intro .txtlist li{ background:url(../img/icon.png) no-repeat 0 8px; padding:0 0 0 30px; font-size:14px; line-height:40px;}
/*screen shot*/
/*
#main .intro .gallery {width:320px; float:left;}
#img-select {list-style: none outside none; margin: 0;padding: 0 0 0 20px;}
#img-select li { float: left;}
#img-select span {background: none repeat scroll 0 0 #333;border: 1px solid #c0c0c0;color: #fff; float: left; height: 17px;margin: 0 2px 0 0;padding: 1px 0 0; text-align: center;text-decoration: none; width:18px;}
#img-select a {background: none repeat scroll 0 0 #cecece; border: 1px solid #e7e7e7;color: #fff;float: left;height: 17px;margin: 0 2px 0 0;padding: 1px 0 0;text-align: center;text-decoration: none; width: 18px;}
#img-select {list-style: none outside none;margin: 0;padding: 0 2px 0 2px;}
#img-select #img-caption, .gallery #img-caption-1, .gallery #img-caption-2, .gallery #img-caption-3, .gallery #img-caption-4 { float: right;font-size: 13px;font-weight: bold;padding: 0 20px 0 0;}
.gallery #screen-gal-2, .gallery #screen-gal-3, .gallery #screen-gal-4, .gallery #img-caption-2, .gallery #img-caption-3, .gallery #img-caption-4 {display: none;}*/


#main .intro .tariff{ width:647px; height:110px; background:url(../img/bg_shadow.png) no-repeat; margin:30px 0 0 0;}
#main .intro .tariff ul{ margin:10px 0 0 15px; display:inline-block;}
#main .intro .tariff li{ display:inline; float:left;}
#main .intro .tariff li.title{ line-height:65px; font-size:20px; font-weight:bold; text-transform:uppercase}
#main .intro .tariff li.pimg{ width:88px; text-align:center; }
#main .intro .tariff li.pimg span{ display:block; text-align:center; margin:10px 0;}
#main .intro .tariff li.symbol{ font-size:24px; line-height:60px;}
#main .intro .tariff li.now{ font-size:18px;margin:12px 0 0 0;}
#main .intro .tariff li.now span{ color:#fc0214; font-size:40px; font-style:italic; font-weight:bold; text-indent:10px; margin:0 10px;}
#main .intro .tariff li.now em{ font-size:15px; text-decoration:line-through; color:#999; line-height:35px;}
#main .intro .tariff li.now i{ color:#666; font-size:12px; margin:0 0 0 10px;}

#main .intro .leftbtn{ width:330px; margin:30px auto 0 auto; display:block;}
#main .intro .leftbtn dt{ width:83px; height:83px; float:right; margin:0 0 0 10px;}
#main .intro .leftbtn dd{ font-size:14px; text-align:center; margin:0 0 5px 0; text-align:center;}
#main .intro .leftbtn dd .btnbuy{ background:url(../img/btns.png) no-repeat; width:235px; height:65px; font-size:30px; text-align:center; color:#fff; display:block; line-height:60px; text-decoration:none;}
#main .intro .leftbtn dd .btnbuy:hover{ background-position:0 -65px;}

#main .intro .right{ float:right; background:url(../img/bg_line.png) repeat-x top; margin:40px 0 0 0;}
#main .intro .right dl{ width:260px; display:block; margin:15px;}
#main .intro .right dt{ text-align:center; margin:0 0 10px 0;}
#main .intro .right dd p{ background:#d80a19; height:30px; line-height:30px; text-align:center; font-weight:bold; color:#fff; font-size:18px; }
#main .intro .right dd h3{ font-size:16px; font-weight:normal; margin:10px 0;}
#main .intro .right dd h3 span{text-transform:uppercase; font-weight:bold;}
#main .intro .right dd li{ background:url(../img/icon.png) no-repeat 0 4px; padding:0 0 0 30px; font-size:14px; line-height:30px;}
#main .intro .right dd.price{ text-align:center; font-size:14px; margin:10px 0;}
#main .intro .right dd.price span{ font-size:24px; color:#fc0214; font-style:italic; margin:0 10px; font-weight:bold;}
#main .intro .right dd.price em{ text-decoration:line-through; color:#666; font-size:16px;}
#main .intro .right dd .btnbuy{ background:url(../img/btns.png) no-repeat 0 -147px; width:177px; height:49px; display:block; line-height:45px; color:#fff; text-decoration:none; font-size:24px; text-align:center; float:left; margin:10px 20px 0 0;}
#main .intro .right dd .btnbuy:hover{ background-position:0 -196px;}
#main .intro .right dd.tip{ margin:10px 0 0 0; text-align:center;}

.awards{ border-top: 1px solid #ddd; margin-top: 30px; padding-top: 20px;}

.usersaying{margin-top:20px; padding:0 8px;}
.usersaying .boxa{width:47%; float:left; margin:30px 0 0;}
.usersaying .boxb{width:47%; float:right; margin:30px 0 0;}
.usersaying h3{margin-bottom:23px;}
.usersaying .user{float:left; color:#666; width:105px;}
.usersaying .user dt{margin-bottom:12px;}
.usersaying .user dd{line-height:20px; font-size:13px;}

.usersaying .quit{ width:330px; float:right;}
.usersaying .quit dt{float:left; display:block; width:24px; height:20px; margin-right:8px;}
.usersaying .quit dd{margin-left:32px; height:auto; font-size:13px; line-height:20px;}

#footer{height:55px; line-height:55px; background:url(../img/shadow.png) center top no-repeat; margin:20px 0 0 0;}
#footer .wrapper{text-align:center; font-size:11px; color:#999;}