@charset "utf-8";
/* CSS Document */
* {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  min-width: 1100px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #101010;
  outline: 0;
  vertical-align: baseline;
  text-align: center;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #000;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li {
  list-style-type: none;
}
img {
  border: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.wrapper {
  position: relative;
  width: 1100px;
  min-width: 1100px;
  margin: 0 auto;
  zoom: 1;
}
/*
 * banner
 */
.banner {
  min-width: 1100px;
  height: 650px;
  background: url("../images/banner-bg.jpg") top center no-repeat;
}
.banner .logo {
  position: absolute;
  top: 27px;
  left: 0;
  width: 42px;
  height: 13px;
  z-index: 9;
  text-indent: -9999px;
  background: url("../images/logo.png") center no-repeat;
}
.banner h1 {
  height: 186px;
  text-indent: -9999px;
  background: url("../images/banner-title.png") center no-repeat;
}
.banner ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.banner ul li {
  position: absolute;
  top: 186px;
  left: 125px;
  width: 412px;
  height: 452px;
  background-image: url("../images/message-bg.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.banner ul li .box {
  margin: 42px 0 0 110px;
  width: 265px;
  height: 206px;
  text-indent: -9999px;
  background-image: url("../images/iu-box.png");
  background-position: -289px 0;
  background-repeat: no-repeat;
}
.banner ul li.saleout {
  left: 112px;
  width: 425px;
  height: 466px;
  background-position: 0 -484px;
}
.banner ul li.saleout .box {
  margin: 6px 0 0 100px;
  width: 289px;
  height: 218px;
  background-position: 0 0;
}
.banner ul li.last {
  top: 159px;
  left: 562px;
  width: 453px;
  height: 484px;
  background-position: -412px 0;
}
.banner ul li.last .box {
  margin: 5px 0 0 39px;
  width: 373px;
  height: 219px;
  text-indent: -9999px;
  background-position: 0 -218px;
}
.banner ul li.last.saleout {
  width: 418px;
  height: 445px;
  background-position: -425px -484px;
}
.banner ul li.last.saleout .box {
  margin: 55px 0 0 39px;
  width: 339px;
  height: 199px;
  background-position: -373px -218px;
}
.banner ul li .termine {
  display: block;
  position: absolute;
  top: 10px;
  left: 23px;
  width: 374px;
  height: 402px;
  background: url("../images/termine-bg.png") center no-repeat;
}
.banner ul li .termine:after {
  content: '';
  display: block;
  position: absolute;
  top: 165px;
  left: 100px;
  width: 213px;
  height: 106px;
  background: url("../images/termine.png") center no-repeat;
  -webkit-animation: show .85s ease 1;
  animation: show .85s ease 1;
}
@keyframes show {
  0% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*
 * countdown
 */
.countdown {
  width: 285px;
  height: 53px;
  margin: 2px 0 0 80px;
  padding-left: 49px;
  font-size: 12px;
  line-height: 53px;
  text-align: left;
  background-image: url("../images/timer-bg.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.countdown span {
  font-size: 14px;
}
.countdown strong {
  display: inline-block;
  margin-left: 18px;
  margin-left: 16px\0;
  font-size: 20px;
  font-weight: 700;
}
.countdown.prev {
  width: 300px;
  height: 49px;
  margin: 0 0 0 76px;
  padding-left: 45px;
  line-height: 49px;
  background-position: 0 -53px;
}
.countdown.prev strong {
  margin-left: 12px;
  font-size: 16px;
}
.countdown.bottom {
  display: inline-block;
  margin: 20px auto 0;
  padding: 0;
  height: 32px;
  width: 100%;
  line-height: 32px;
  text-align: center;
  text-decoration: underline;
  font-size: 12px;
  font-weight: 700;
  background: none;
}
.countdown.bottom strong {
  margin: 0;
  font-size: 16px;
  display: inline;
}
/*
 * price
 */
.price {
  height: 34px;
  margin: 16px 0 0 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
}
.price.small {
  margin: 10px 0 0 0;
}
.price strong {
  display: inline-block;
  font-size: 42px;
  text-indent: 30px;
}
.price sup {
  display: inline-block;
  top: -12px;
}
.price del {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #4e4e4e;
  top: -2px;
  left: -29px;
}
/*
 * buybtn
 */
.buybtn {
  display: block;
  width: 210px;
  height: 50px;
  margin: 10px auto 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 46px;
  color: #1c1c1c;
  border: 2px solid #1c1c1c;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: none;
}
.buybtn.yellow {
  width: 220px;
  border: 0;
  color: #0a0a0a;
  line-height: 50px;
  background: #ffd800;
  background: -webkit-linear-gradient(#ffd800 0%, #f27d00 100%);
  background: linear-gradient(#ffd800 0%, #f27d00 100%);
  -webkit-box-shadow: 0 6px 10px rgba(32, 32, 32, 0.46);
  -moz-box-shadow: 0 6px 10px rgba(32, 32, 32, 0.46);
  box-shadow: 0 6px 10px rgba(32, 32, 32, 0.46);
}
.buybtn:hover,
.buybtn.yellow:hover {
  border: 0;
  color: #0a0a0a;
  line-height: 50px;
  background: #fbbf00;
  background: -webkit-linear-gradient(#fbbf00 0%, #fbbf00 100%);
  background: linear-gradient(#fbbf00 0%, #fbbf00 100%);
  -webkit-box-shadow: 0 6px 10px rgba(32, 32, 32, 0.46);
  -moz-box-shadow: 0 6px 10px rgba(32, 32, 32, 0.46);
  box-shadow: 0 6px 10px rgba(32, 32, 32, 0.46);
}
.buybtn.saleout {
  color: #dadada;
  background: #d5d5d5;
  background: -webkit-linear-gradient(#d5d5d5 0%, #6f6f6f 100%);
  background: linear-gradient(#d5d5d5 0%, #6f6f6f 100%);
  -webkit-box-shadow: 0 6px 6px rgba(87, 87, 87, 0.39);
  -moz-box-shadow: 0 6px 6px rgba(87, 87, 87, 0.39);
  box-shadow: 0 6px 6px rgba(87, 87, 87, 0.39);
  cursor: default;
}
/*
 * payment
 */
.payment {
  min-width: 1100px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: #f0eeeb;
  overflow: hidden;
}
.payment img {
  display: inline-block;
  vertical-align: middle;
}
/*
 * intro
 */
.intro {
  min-width: 1100px;
  padding-top: 50px;
  font-size: 16px;
  text-align: center;
}
.intro > h2 {
  margin-bottom: 6px;
  font-size: 24px;
  font-weight: 400;
}
.intro .showcase {
  position: relative;
  margin-top: 46px;
  width: 1100px;
  height: 310px;
  background: url('../images/intro_shadow.png') center 266px no-repeat;
}
.intro .showcase .imglist {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 1000px;
  height: 310px;
}
.intro .showcase .imglist li {
  position: absolute;
  top: 0;
  left: 290px \0;
  z-index: 0;
  width: 448px;
  height: 305px;
  opacity: 0.9;
  filter: "alpha(opacity=90)";
  transition: all 0.3s ease-out;
  transform-style: preserve-3d;
}
.intro .showcase .imglist li.shot1 {
  left: 70px \0;
  transform: translate3d(35px, -8px, 0) scale(0.71);
}
.intro .showcase .imglist li.shot1 img {
  margin-top: 12px \0;
  width: 357px \0;
  height: 242px \0;
  outline: 1px solid transparent;
  transform: perspective(800px) rotatey(20deg);
}
.intro .showcase .imglist li.shot2 {
  z-index: 100;
  opacity: 1;
  filter: "alpha(opacity=100)";
  transform: translate3d(265px, 0, 0) scale(1);
}
.intro .showcase .imglist li.shot3 {
  left: 520px \0;
  width: 387px \0;
  height: 252px \0;
  transform: translate3d(500px, -8px, 0) scale(0.71);
}
.intro .showcase .imglist li.shot3 img {
  margin-top: 12px \0;
  width: 357px \0;
  height: 242px \0;
  outline: 1px solid transparent;
  transform: perspective(800px) rotatey(340deg);
}
.intro .showcase .imglist li.shot4 {
  left: 520px \0;
  width: 387px \0;
  height: 252px \0;
  transform: translate3d(300px, -8px, 0) scale(0.71);
}
.intro .showcase .imglist li.shot4 img {
  margin-top: 12px \0;
  width: 357px \0;
  height: 242px \0;
  outline: 1px solid transparent;
  transform: perspective(800px) rotatey(0);
}
.intro .showcase .control {
  display: block;
  position: absolute;
  top: 136px;
  width: 31px;
  height: 31px;
  text-indent: -9999px;
  background-image: url('../images/controlbtn.png');
  background-repeat: no-repeat;
}
.intro .showcase .control.prev {
  left: 30px;
  background-position: 0 0;
}
.intro .showcase .control.prev:hover {
  background-position: 0 -31px;
}
.intro .showcase .control.next {
  right: 20px;
  background-position: -31px 0;
}
.intro .showcase .control.next:hover {
  background-position: -31px -31px;
}
.intro .features {
  margin: 60px auto 0;
  width: 1000px;
}
.intro .features dl {
  float: left;
  width: 50%;
  height: 110px;
  overflow: hidden;
}
.intro .features dl dt {
  float: left;
  margin-right: 20px;
  width: 72px;
  height: 72px;
}
.intro .features dl dd {
  float: left;
  width: 380px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.intro .features dl dd h3 {
  padding: 3px 0;
  margin-bottom: 4px;
  font-size: 16px;
  border-bottom: 1px solid #000;
}
.intro .features dl dd h3 span {
  color: #da2129;
}
.intro .features dl dd h3 img {
  vertical-align: middle;
}
.intro .features dl.udp {
  height: 135px;
}
.intro .features dl.udp dd {
  width: 392px;
}
.intro .features dl.udp dd em {
  display: inline-block;
  font-size: 12px;
  font-style: normal;
  margin-left: -8%;
  margin-top: 6px;
  color: #ae9f8b;
  -webkit-transform: scale(0.83);
  transform: scale(0.83);
}
.intro .comparebtn {
  display: block;
  margin: 8px auto;
  width: 290px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #383030;
  border-radius: 15px;
}
/*
 * complimentary
 */
.complimentary {
  min-width: 1100px;
  display: block;
  margin-top: 82px;
  height: 516px;
  background: url('../images/gift-box-bg.jpg') center top no-repeat;
}
.complimentary .wrapper {
  padding-top: 37px;
}
.complimentary h2 {
  height: 47px;
  text-indent: -9999px;
  background: url('../images/h2-title.png') center center no-repeat;
}
.complimentary .gift-list {
  display: block;
  margin: 66px 0 60px;
  text-align: left;
}
.complimentary .gift-list dl {
  width: 450px;
  float: left;
  margin: 0 25px;
}
.complimentary .gift-list dl dt {
  float: left;
  width: 170px;
  margin-right: 10px;
}
.complimentary .gift-list dl dd {
  float: left;
  width: 270px;
}
.complimentary .gift-list dl dd h3 {
  display: block;
  margin: 18px 0;
  font-size: 18px;
  font-weight: 700;
  color: #000;
}
.complimentary .gift-list dl dd h3 strong {
  margin-left: 33px;
  font-size: 20px;
  color: #da2129;
}
.complimentary .gift-list dl dd h3 del {
  font-size: 14px;
  color: #525252;
}
.complimentary .gift-list dl dd ul > li {
  margin-bottom: 4px;
  padding-left: 14px;
  line-height: 18px;
  background: url('../images/list-icon.png') left 7px no-repeat;
}
.complimentary .buybtn {
  width: 260px;
  height: 64px;
  font-size: 18px;
  line-height: 64px;
}
.complimentary .buybtn:hover {
  line-height: 64px;
}
.complimentary .termine {
  display: block;
  position: absolute;
  bottom: 80px;
  left: 50%;
  margin-left: -130px;
  width: 282px;
  height: 84px;
  background: url("../images/termine02.png") center no-repeat;
  -webkit-animation: show .85s ease 1;
  animation: show .85s ease 1;
}
/*
 * awards
 */
.awards {
  margin-bottom: 50px;
  text-align: center;
}
.awards h2 {
  margin: 60px auto 30px;
  height: 44px;
  line-height: 52px;
  font-size: 22px;
  text-align: center;
  color: #fff;
  background: url('../images/awards-title.png') top center no-repeat;
}
/*
 * review
 */
.review {
  position: relative;
  display: block;
  min-width: 1100px;
  height: 600px;
  background: #fff;
}
.review .dg-container {
  display: block;
  position: relative;
  height: 600px;
  width: 100%;
  overflow: hidden;
}
.review .dg-container .nav {
  width: 100%;
  position: relative;
}
.review .dg-container .nav span {
  position: absolute;
  top: 132px;
  width: 22px;
  height: 41px;
  display: block;
  overflow: hidden;
  cursor: pointer;
  background: url('../images/review-control.png') no-repeat;
}
.review .dg-container .nav .dg-prev {
  left: 0;
  background-position: 0 0;
}
.review .dg-container .nav .dg-prev:hover {
  background-position: 0 -41px;
}
.review .dg-container .nav .dg-next {
  right: 0;
  background-position: -22px 0;
}
.review .dg-container .nav .dg-next:hover {
  background-position: -22px -41px;
}
.review .dg-wrapper {
  height: 600px;
  width: 660px;
  margin: 0 auto;
  transform-style: preserve-3d;
  perspective: 500px;
}
.review .dg-wrapper .dg-transition {
  transition: all 0.5s ease-in-out;
}
.review .inner {
  display: block;
  width: 660px;
  height: 510px;
  margin: 0 auto;
}
.review .content {
  display: block;
  width: 660px;
  height: 510px;
  margin: 0 auto;
  padding-top: 88px;
  position: relative;
}
.review .content .reviews {
  width: 660px;
  height: 500px;
  display: block;
  position: absolute;
  left: 0;
  top: 88px;
  text-align: center;
}
.review .content .reviews dt {
  margin-bottom: 68px;
}
.review .content .reviews dt img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.review .content .reviews dd {
  display: none;
  width: 900px;
  margin-left: -120px;
}
.review .content .reviews dd h2 {
  position: absolute;
  top: -290px;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  color: #000;
}
.review .content .reviews dd h4 {
  position: relative;
  margin: 20px 0 12px;
  padding: 0 80px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-style: italic;
}
.review .content .reviews dd p {
  line-height: 24px;
}
.review .content .reviews dd cite {
  display: block;
  margin-top: 50px;
  font-style: normal;
  font-size: 20px;
  color: #000;
}
.review .content .reviews dd cite span {
  display: block;
  font-size: 16px;
}
.review .content .reviews.dg-center dt img {
  transition: all 0.2s;
  box-shadow: 0 40px 40px rgba(92, 95, 101, 0.3);
}
.review .content .reviews.dg-center dd {
  display: block;
}
/*
 * comparison
 */
.comparison {
  min-width: 1100px;
}
.comparison table {
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
}
.comparison table th {
  height: 106px;
  color: #a2a2a2;
  font-size: 18px;
  line-height: 22px;
  vertical-align: middle;
  border-top: 1px #d2d2d2 solid;
  border-bottom: 1px #d2d2d2 solid;
}
.comparison table thead th {
  border-top: none;
  background-color: #e0e0e0;
}
.comparison table thead th.itema {
  color: #fff;
  background-color: #da2129;
}
.comparison table thead th.text {
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  text-indent: 22px;
  background-color: #fff;
  border-top: 1px #d2d2d2 solid;
}
.comparison table td {
  height: 58px;
  font-size: 16px;
  vertical-align: middle;
  border-bottom: 1px #d2d2d2 solid;
}
.comparison table td.icons {
  text-align: center;
  width: 50px;
}
.comparison table td.virtue {
  text-align: left;
}
.comparison table td span {
  display: inline-block;
  padding: 0 6px;
  height: 14px;
  font-size: 12px;
  line-height: 14px;
  color: #17ba17;
  text-align: center;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #17ba17;
  -webkit-transform: scale(0.83);
  -moz-transform: scale(0.83);
  -ms-transform: scale(0.83);
  -o-transform: scale(0.83);
  transform: scale(0.83);
}
.comparison table td span.nuo {
  color: #ec6359;
  border: 1px solid #ec6359;
}
.comparison table td.double span.nuo {
  position: absolute;
  top: 11px;
  right: 115px;
}
.comparison td span.red {
  margin-right: -60px;
}
.comparison td span.blue {
  margin-right: -60px;
}
.comparison td.double span.red {
  top: 11px;
  position: absolute;
  right: 58px;
}
.comparison td i {
  width: 22px;
  height: 16px;
  background-position: 0 0;
}
.comparison td i.red {
  background-position: 0 -32px;
}
.comparison td i.circle {
  background-position: 0 -16px;
}
.comparison table .itema {
  width: 280px;
  text-align: center;
}
/*
 * bottombuy
 */
.bottombuy {
  min-width: 1100px;
  height: 231px;
  margin: 58px 0 0 0;
  background: url("../images/bottombuy-bg.jpg") top center no-repeat;
}
.bottombuy .box {
  width: 330px;
  margin: 27px 0 0 16px;
  overflow-x: hidden;
}
.bottombuy .box ul {
  width: 660px;
  height: 192px;
}
.bottombuy .box ul li {
  display: block;
  width: 330px;
  height: inherit;
  float: left;
  background-image: url("../images/bottombuy-box.png");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}
.bottombuy .box ul li.second {
  background-position: -330px 0;
}
.bottombuy .box ul li.active {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}
.bottombuy .middle {
  margin: 74px 0 0 -45px;
}
.bottombuy .middle .select {
  width: 501px;
  height: 80px;
}
.bottombuy .middle .select li {
  position: absolute;
  left: 0;
  width: 501px;
  height: 40px;
  padding-left: 94px;
  font-size: 17.6px;
  line-height: 40px;
  text-align: left;
  color: #740f0f;
  background-image: url("../images/selection.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
}
.bottombuy .middle .select li i {
  display: inline-block;
  width: 26px;
  height: 28px;
  margin-right: 16px;
  background-image: url("../images/selection.png");
  background-position: 0 -162px;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.bottombuy .middle .select li span {
  display: inline-block;
  text-indent: -9999px;
  width: 58px;
  height: 25px;
  margin-left: 20px;
  background-image: url("../images/selection.png");
  background-position: -296px -190px;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.bottombuy .middle .select li.second {
  top: 40px;
}
.bottombuy .middle .select li.second span {
  background-position: -238px -190px;
}
.bottombuy .middle .select li.active {
  z-index: 9;
  top: -6px;
  height: 61px;
  font-size: 19.5px;
  color: #fff;
  background-position: 0 -40px;
}
.bottombuy .middle .select li.active i {
  background-position: -26px -162px;
}
.bottombuy .middle .select li.active span {
  position: absolute;
  top: -9px;
  right: -22px;
  width: 119px;
  height: 71px;
  margin: 0;
  background-position: -119px -190px;
}
.bottombuy .middle .select li.active.second {
  top: 33px;
  line-height: 61px;
  background-position: 0 -101px;
}
.bottombuy .middle .select li.active.second span {
  top: 0;
  right: 128px;
  background-position: 0 -190px;
}
.bottombuy .middle.saleout:after {
  content: '';
  display: block;
  position: absolute;
  top: -24px;
  left: 0;
  width: 100%;
  height: 64px;
  background: url("../images/termine03.png") top center no-repeat;
  -webkit-animation: show .85s ease 1;
  animation: show .85s ease 1;
}
.bottombuy .another {
  margin: 54px 30px 0 0;
}
.bottombuy .another .price {
  color: #fff54a;
}
.bottombuy .another .price del {
  color: #fcaeae;
}
.bottombuy .another .buybtn {
  width: 210px;
}
/*
 *　service
 */
.bottom {
  min-width: 1100px;
  background-color: #f5f5f5;
}
.service dl {
  margin-top: 22px;
  margin-bottom: 25px;
  float: left;
  width: 25%;
  text-align: center;
}
.service dt {
  margin: 16px 0 22px;
  height: 66px;
  line-height: 66px;
}
.service dt img {
  vertical-align: middle;
}
.service h4 {
  margin-bottom: 10px;
  font-size: 16px;
}
.service dd {
  line-height: 22px;
}
.service dd span {
  display: block;
}
/* annotation */
.annotation {
  padding-top: 12px;
  padding-left: 20px;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
  text-align: left;
  border-top: 1px solid #e0e0e0;
}
/* footer */
.footer {
  padding: 10px 0 30px;
  display: block;
  width: 100%;
  text-align: center;
}
