@charset "utf-8";
/* CSS Document */
*{
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,a,span,strong,b,small,i {
  position: relative;
}
body {
  min-width: @content-width;
  font-size: 14px;
  line-height:1.4;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  vertical-align:baseline;
}
a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  color: #333;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration:none;
}
del {
  text-decoration:line-through;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
ul,ul li{
  list-style-type:none;
}
img{
  border: none;
}

@content-width: 1200px;

.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  clear: both;
  zoom: 1;
}
.clearfix:after{
  clear:both;
  display:block;
  height:0;
  font-size:0;
  content:"";
  visibility:hidden;
}
.clearfix{
  zoom:1;
}
.wrapper{
  position: relative;
  width: @content-width;
  min-width: @content-width;
  margin:0 auto;
  zoom:1;
}
.all-icons {
  display: inline-block;
  text-indent: -9999px;
  vertical-align: middle;
  background: url("../images/all-icons.png") no-repeat;
}
// mixedin
#gradient{
  .horizontal(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
    background-image: -webkit-linear-gradient(left, @start-color @start-percent, @end-color @end-percent); // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(left, @start-color @start-percent, @end-color @end-percent); // Opera 12
    background-image: linear-gradient(to right, @start-color @start-percent, @end-color @end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb(@start-color),argb(@end-color))); // IE9 and down
  }

  // Vertical gradient, from top to bottom
  // Creates two color stops, start and end, by specifying a color and position for each color stop.
  // Color stops are not available in IE9 and below.
  .vertical(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
    background-image: -webkit-linear-gradient(top, @start-color @start-percent, @end-color @end-percent);  // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(top, @start-color @start-percent, @end-color @end-percent);  // Opera 12
    background-image: linear-gradient(to bottom, @start-color @start-percent, @end-color @end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@start-color),argb(@end-color))); // IE9 and down
  }

  .directional(@start-color: #555; @end-color: #333; @deg: 45deg) {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(@deg, @start-color, @end-color); // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(@deg, @start-color, @end-color); // Opera 12
    background-image: linear-gradient(@deg, @start-color, @end-color); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  }
  .horizontal-three-colors(@start-color: #00b3ee; @mid-color: #7a43b6; @color-stop: 50%; @end-color: #c3325f) {
    background-image: -webkit-linear-gradient(left, @start-color, @mid-color @color-stop, @end-color);
    background-image: -o-linear-gradient(left, @start-color, @mid-color @color-stop, @end-color);
    background-image: linear-gradient(to right, @start-color, @mid-color @color-stop, @end-color);
    background-repeat: no-repeat;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb(@start-color),argb(@end-color))); // IE9 and down, gets no color-stop at all for proper fallback
  }
}
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
  box-shadow: @shadow;
}

// Box sizing
.box-sizing(@boxmodel) {
  -webkit-box-sizing: @boxmodel;
  -moz-box-sizing: @boxmodel;
  box-sizing: @boxmodel;
}
// transition;
.transition(@timer){
  transition: @timer ease-in-out;
}
.scale(@ratio) {
  -webkit-transform: scale(@ratio);
  -ms-transform: scale(@ratio); // IE9 only
  -o-transform: scale(@ratio);
  transform: scale(@ratio);
}
// Opacity

.opacity(@opacity) {
  opacity: @opacity;
  // IE8 filter
  @opacity-ie: (@opacity * 100);
  filter: ~"alpha(opacity=@{opacity-ie})";
}
// translate
.translate(@x; @y) {
  -webkit-transform: translate(@x, @y);
  -ms-transform: translate(@x, @y); // IE9 only
  -o-transform: translate(@x, @y);
  transform: translate(@x, @y);
}
.rotate(@degrees) {
  -webkit-transform: rotate(@degrees);
  -ms-transform: rotate(@degrees); // IE9 only
  -o-transform: rotate(@degrees);
  transform: rotate(@degrees);
}
// end mixed in

//countdown
.countdown {
  font-size: 13px;
  font-weight: 600;
  line-height: 22px;
  strong,span,b {
    display: inline-block;
  }
  strong,span {
    color: #e4273b;
  }
  strong,b {
    font-size: 18px;
    font-weight: 600;
  }
  strong {
    width: 22px;
    &.last {
      width: 15px;
      font-size: 13px;
    }
  }
  &#countdown2 {
    width: 283px;
    height: 64px;
    margin: 8px auto 0;
    padding-left: 67px;
    font-size: 12px;
    font-style: italic;
    line-height: 28px;
    text-align: left;
    background: url("../images/timer.png") center no-repeat;
    color: #000;
    em {
      display: inline-block;
      padding-top: 6px;
    }
    strong,span,b {
      color: #fff;
    }
    strong,b {
      font-size: 16px;
    }
    strong {
      width: 18px;
      &.last {
        width: 13px;
        font-size: 12px;
      }
    }
  }
}

//price
.price {
  height: 30px;
  font-size: 12px;
  line-height: 36px;
  b {
    font-size: 32px;
    font-weight: 600;
    color: #ee3044;
  }
  del {
    font-size: 15px;
    color: #666;
  }
}

//buybtn
.buybtn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 13px auto 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 47px;
  letter-spacing: -.5px;
  border: 1.5px solid;
  border-color: #696969 #333 #696969 #333;
  -webkit-box-shadow: 0 -1px 0 #c9c9c9, 0 -1px 0 #c9c9c9 inset;
          box-shadow: 0 -1px 0 #c9c9c9, 0 -1px 0 #c9c9c9 inset;
  -webkit-transition: background-color .3s ease;
          transition: background-color .3s ease;
  i {
    width: 19px;
    height: 13px;
    margin-right: 5px;
    margin-top: -2px;
    background-position: 0 -21px;
  }
  small {
    display: inline-block;
    font-size: 12px;
    color: #666;
  }
  //hover
  &:hover {
    color: #ff2236;
    border: 1.5px solid #ff2236;
    -webkit-box-shadow: none;
            box-shadow: none;
    i {
      background-position: -38px -21px;
    }
    small {
      color: #ff2236;
    }
  }
  //red
  &.red {
    width: 206px;
    height: 56px;
    margin: 9px auto 0;
    border: 3px solid #ff6d5b;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 15px 30px rgba(246, 55, 43, .4);
    box-shadow: 0 15px 30px rgba(246, 55, 43, .4);
    background-color: #ed3949;
    color: #fff;
    i {
      background-position: -19px -21px;
    }
    small {
      color: #ffced2;
    }
    &:hover {
      background-color: #ff2236;
    }
  }
}

//float
.float {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: @content-width;
  height: 118px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
  //content
  .float-content {
    width: 100%;
    height: 118px;
    overflow-y: hidden;
    background: url("../images/float-fold-bg.png") top center no-repeat;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  //unfold
  &.unfold {
    height: 100%;
    background: url("../images/stratum.png")\0;
    background-color: rgba(0, 0, 0, .73);
    //content
    .float-content {
      height: 601px;
      background: url("../images/float-unfold-bg.png") top center no-repeat;
    }
  }
  //fold-message
  .fold-message {
    //dl
    dl {
      //left
      &.fl {
        margin: 17px 0 0 188px;
        dt {
          width: 313px;
          height: 34px;
          padding-left: 60px;
          font-weight: 600;
          line-height: 34px;
          text-transform: uppercase;
          color: #fff;
          background: url("../images/float-dl-bg.png") center no-repeat;
        }
        dd {
          font-size: 18px;
          line-height: 48px;
          b {
            font-weight: 600;
            color: #de3e3e;
          }
        }
      }
      //right
      &.fr {
        margin: 17px 255px 0 0;
        dd {
          a {
            display: block;
            width: 210px;
            height: 36px;
            margin: 10px auto 0;
            line-height: 36px;
            text-align: center;
            color: #fff;
            background-color: #de3e3e;
            -webkit-box-shadow: 0 0 6px 0.42px rgba(152, 152, 152, 1);
                    box-shadow: 0 0 6px 0.42px rgba(152, 152, 152, 1);
            -webkit-transition: background-color .3s ease;
                    transition: background-color .3s ease;
            &:hover {
              background-color: #ff2236;
            }
          }
        }
      }
    }
  }
  //unfold-message
  .unfold-message {
    display: none;
    padding-top: 10px;
    text-align: center;
    //note
    &>p {
      font-size: 16px;
      font-weight: 600;
      line-height: 25px;
      color: #101010;
      b {
        font-size: 18px;
        font-weight: 600;
        color: #e32525;
      }
      i {
        width: 21px;
        height: 19px;
        margin-right: 3px;
        vertical-align: top;
        background-position: 0 0;
      }
    }
    //ul
    ul {
      margin: 49px 0 0 100px;
      li {
        float: left;
        padding-left: 72px;
        font-weight: 600;
        line-height: 36px;
        text-align: left;
        span {
          z-index: 1;
        }
        &:before {
          content: '01';
          display: inline-block;
          position: absolute;
          top: -8px;
          left: 25px;
          font-size: 66.83px;
          font-weight: 500;
          font-style: italic;
          line-height: 48px;
          color: rgba(51, 51, 51, .15);
        }
        &:after {
          content: '';
          display: inline-block;
          margin-left: 40px;
          width: 40px;
          height: 36px;
          vertical-align: middle;
          background: url("../images/arrow.png") center no-repeat;
        }
        &.second {
          &:before {
            content: '02'!important;
          }
        }
        &.last {
          &:before {
            content: '03'!important;
          }
          &:after {
            display: none;
          }
        }
      }
    }
    //gift
    .gift {
      width: 673px;
      height: 362px;
      margin: 24px auto 0;
      padding-top: 113px;
      background: url("../images/gift-bg.png") center no-repeat;
      //dl
      dl {
        float: left;
        width: 33.33%;
        dt {
          img {
            display: block;
            margin: 0 auto;
          }
        }
        dd {
          h3 {
            font-size: 16px;
            font-weight: 600;
            line-height: 32px;
          }
          del {
            display: block;
            font-weight: 600;
            line-height: 18px;
            color: #666;
          }
          p {
            margin-top: 13px;
            font-size: 12px;
            line-height: 16px;
          }
        }
        //iu
        &.iu {
          &:before,
          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 40px;
            width: 1px;
            height: 120px;
            background-color: #4a4a4a;
          }
          &:before {
            left: 0;
          }
          &:after {
            right: 0;
          }
        }
      }
    }
  }
  //soldout
  &.soldout {
    .fold-message {
      dl {
        &.fr {
          margin: 35px 255px 0 0;
          dd {
            a {
              background-color: #959595;
              cursor: default;
            }
          }
        }
      }
    }
    &:after {
      z-index: 1;
      content: '';
      display: block;
      position: absolute;
      top: 1px;
      right: 434px;
      width: 180px;
      height: 83px;
      background: url("../images/expired.png") center no-repeat;
      -webkit-animation: show .3s ease;
      animation: show .3s ease;
    }
  }
}

//banner (offer80)
.banner {
  min-width: @content-width;
  height: 1020px;
  padding-top: 153px;
  background: #181e24 url("../images/banner-bg.jpg") bottom center no-repeat;
  //title
  h1 {
    height: 44px;
    text-indent: -9999px;
    background: url("../images/title.png") center no-repeat;
  }
  //off
  .off {
    display: block;
    margin: 53px auto 0;
  }
  //content
  .content {
    width: 1100px;
    margin: 32px auto 0;
    padding-top: 45px;
    //title
    h2 {
      height: 36px;
      font-size: 26px;
      font-weight: 500;
      line-height: 36px;
      text-align: center;
      color: #333;
      b {
        font-size: 36px;
        color: #f03044;
      }
      &:before,
      &:after {
        content: '';
        display: inline-block;
        width: 60px;
        height: 2px;
        margin: 0 14px;
        vertical-align: middle;
        background-color: #989898;
      }
    }
    //bundle
    .bundle {
      display: block;
      margin: 20px 0 0 67px;
    }
    //message
    .message {
      margin: 16px 0 0 77px;
      //p
      &>p {
        margin-bottom: 16px;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
      }
      //ul
      ul {
        li {
          padding-left: 26px;
          margin-bottom: 14px;
          font-size: 13.32px;
          line-height: 18px;
          color: #666;
          strong {
            display: block;
            color: #444;
          }
          &:before {
            content: '';
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            width: 14px;
            height: 19px;
            background: url("../images/arrow02.png") center no-repeat;
          }
        }
      }
      //buyarea
      .buyarea {
        margin: 36px 0 0 0;
        //dl
        dl {
          float: left;
          width: 50%;
          text-align: center;
        }
      }
    }
  }
}

//offer
.offer {
  //title
  h2 {
    height: 48px;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    color: #fff;
    b {
      font-size: 48px;
      color: #ffbf4f;
    }
    &:before,
    &:after {
      content: '';
      display: inline-block;
      width: 100px;
      height: 2px;
      vertical-align: middle;
      background-color: #fff;
    }
    &:before {
      margin: 0 26px 0 0;
    }
    &:after {
      margin: 0 0 0 26px;
    }
  }
  //content
  .content {
    //dl
    &>dl {
      width: 672px;
      height: 553px;
      padding: 37px 70px 0;
      margin-bottom: 25px;
      background: url("../images/offer-bg.png") center no-repeat;
      -webkit-box-shadow: 0 0 29px 5.51px rgba(203, 48, 6, .05);
      box-shadow: 0 0 29px 5.51px rgba(203, 48, 6, .05);
      dt {
        img {
          display: block;
          margin: 0 0 0 98px;
        }
      }
      dd {
        //text
        &.text {
          margin-bottom: 34px;
          letter-spacing: -.5px;
          h3 {
            margin-bottom: 3px;
            font-size: 24px;
            font-weight: 500;
            line-height: 54px;
          }
          p {
            font-size: 16px;
            line-height: 24px;
          }
        }
        //buyarea
        &.buyarea {
          width: 480px;
          margin: auto;
          //dl
          &>dl {
            float: left;
            width: 50%;
            text-align: center;
            //buybtn
            .buybtn {
              margin: 20px auto 0;
              &.red {
                margin: 15px auto 0;
              }
            }
          }
        }
      }
    }
  }

  //offer70
  &.offer70 {
    min-width: @content-width;
    min-height: 870px;
    padding-top: 205px;
    margin-bottom: 65px;
    text-align: center;
    overflow-x: hidden;
    background: url("../images/offer70-bg.jpg") top center no-repeat;
    //content
    .content {
      width: 1370px;
      margin: 68px 0 0 -85px;
      dl {
        &.mac {
          .buybtn {
            small {
              margin-left: -5px;
              .scale(.9);
            }
          }
        }
      }
    }

  }

  //offer75
  &.offer75 {
    min-width: @content-width;
    height: 1165px;
    padding-top: 305px;
    text-align: center;
    overflow-x: hidden;
    background: url("../images/offer75-bg.jpg") center no-repeat;
    //content
    .content {
      width: 1244px;
      margin: 46px 0 0 -22px;
      //dl
      &>dl {
        width: 396px;
        height: 500px;
        padding: 78px 12px 0;
        background: #fff;
        -webkit-box-shadow: 0 8px 13px 0.78px rgba(15, 24, 32, .19);
                box-shadow: 0 8px 13px 0.78px rgba(15, 24, 32, .19);
        dt {
          img {
            margin: 0 0 0 53px;
          }
        }
        dd {
          //text
          &.text {
            margin-top: 6px;
            h3 {
              font-size: 18.67px;
            }
            p {
              font-size: 13.11px;
              line-height: 16.39px;
            }
          }
          //buyarea
          &.buyarea {
            width: 100%;
            //dl
            &>dl {
              float: left;
              width: 50%;
              text-align: center;
              //price
              .price {
                b {
                  font-size: 26.22px;
                }
                del {
                  font-size: 12.29px;
                }
              }
              //buybtn
              .buybtn {
                width: 164px;
                height: 42px;
                font-size: 13.15px;
                line-height: 40px;
                margin: 15px auto 0;
                small {
                  margin-left: -3px;
                  .scale(.82);
                }
                i {
                  margin-right: 0;
                  .scale(.82);
                }
                &.red {
                  width: 170px;
                  height: 48px;
                  margin: 10px auto 0;
                }
              }
            }
          }
        }
        &:before {
          content: '';
          display: inline-block;
          position: absolute;
          top: -13px;
          left: 50%;
          width: 114px;
          height: 59px;
          margin-left: -57px;
          background: url("../images/offer75-tag.png") center no-repeat;
        }
        &.second {
          margin: 0 28px;
        }
      }
    }
  }
}

//review
.review {
  min-width: @content-width;
  height: 630px;
  padding-top: 50px;
  text-align: center;
  background: url("../images/review-bg.jpg") top center no-repeat;
  //review-content
  .review-content {
    height: 240px;
    //dl
    dl {
      display: none;
      padding: 0 50px;
      //h3
      h3 {
        font-size: 36px;
        font-weight: 600;
        line-height: 46px;
        margin-bottom: 40px;
      }
      //p
      h4,p {
        line-height: 30px;
      }
      //h4
      h4 {
        font-size: 18px;
        font-weight: 600;
      }
      //
      p {
        font-size: 14px;
      }
      &.active {
        display: block;
      }
    }
  }
  //review-users
  ul {
    width: 80%;
    margin: 50px auto 0;
    li {
      float: left;
      width: 25%;
      cursor: pointer;
      img {
        display: block;
        margin: 0 auto;
        .scale(.66);
        -webkit-transition: all .3s ease;
                transition: all .3s ease;
      }
      cite {
        display: block;
        margin-top: 32px;
        font-size: 18px;
        font-style: normal;
        line-height: 30px;
        -webkit-transition: all .3s ease;
                transition: all .3s ease;
      }
      &.active {
        img {
          .scale(1);
        }
        cite {
          font-size: 22px;
          font-weight: 600;
        }
      }
    }
  }
  //arrow
  .arrow {
    display: inline-block;
    position: absolute;
    top: 260px;
    left: 111px;
    margin-left: 120px;
    width: 18px;
    height: 15px;
    background: url("../images/arrow03.png") center no-repeat;
  }
}

//service
.service {
  min-width: @content-width;
  height: 577px;
  padding-top: 180px;
  text-align: center;
  background: url("../images/service-bg.jpg") top center no-repeat;
  //payment
  .payment {
    font-size: 26px;
    font-weight: 600;
    line-height: 72px;
    color: #181f25;
    img {
      display: inline-block;
      margin-left: 78px;
      vertical-align: middle;
    }
  }
  //dl
  dl {
    float: left;
    width: 25%;
    margin-top: 38px;
    dt {
      img {
        display: block;
        margin: 0 auto;
      }
    }
    dd {
      h3 {
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        margin: 40px 0 15px 0;
      }
      p {
        font-size: 13px;
        line-height: 18px;
        color: #555;
      }

    }
  }
}

//footer
.footer {
  min-width: @content-width;
  height: 160px;
  padding-top: 15px;
  background-color: #181f25;
  line-height: 30px;
  color: #aaa;
  .copyright {
    text-align: center;
  }
}

//coupon
.coupon {
  display: none;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/stratum.png")\0;
  background-color: rgba(0, 0, 0, .73);
  //info
  .info {
    display: none;
    position: absolute;
    top: 8%;
    left: 50%;
    width: 1146px;
    height: 632px;
    padding-top: 125px;
    margin-left: -573px;
    text-align: center;
    background: url("../images/info-bg.png") center no-repeat;
    //close
    .close {
      display: block;
      position: absolute;
      top: 50px;
      right: 0;
      width: 42px;
      height: 30px;
      text-indent: -9999px;
    }
    //title
    h2 {
      font-size: 24px;
      font-weight: 900;
      line-height: 38px;
      text-indent: -9999px;
      color: #fff;
    }
    p {
      font-size: 15px;
      line-height: 30px;
      text-indent: -9999px;
      color: #fff;
      b {
        color: #ff373e;
      }
    }
    //box
    img {
      display: block;
      margin: 27px auto 0;
    }
    //shop
    .shop {
      display: block;
      margin: 26px auto 0;
      width: 180px;
      height: 46px;
      font-size: 21.97px;
      line-height: 46px;
      color: #fff;
      background-color: #f23838;
      &:before,&:after {
        content: '';
        display: block;
        position: absolute;
        top: 15px;
        width: 37px;
        height: 15px;
      }
      &:before {
        left: -60px;
        background: url("../images/arrow04.png") center no-repeat;
      }
      &:after {
        right: -60px;
        background: url("../images/arrow05.png") center no-repeat;
      }
      &:hover {
        &:before{
          -webkit-animation: shark .6s linear infinite;
                  animation: shark .6s linear infinite;
        }
        &:after{
          -webkit-animation: shark2 .6s linear infinite;
                  animation: shark2 .6s linear infinite;
        }
      }
    }
  }
  //mail
  .mail {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1136px;
    height: 537px;
    margin-top: -268px;
    margin-left: -568px;
    text-align: center;
    background: url("../images/mail-bg.png") center no-repeat;
    //content
    .content {
      float: right;
      width: 694px;
      padding-top: 130px;
      margin-right: 15px;
      //h2
      h2 {
        margin-top: 50px;
        font-size: 28px;
        font-weight: 700;
        line-height: 44px;
      }
      //h3
      h3 {
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
      }
      //h4
      h4 {
        font-size: 20px;
        font-weight: 600;
        line-height: 40px;
        margin: 10px 0 60px 0;
        b {
          font-weight: 700;
          color: #ee3333;
        }
      }
      //p
      p {
        margin-top: 24px;
        line-height: 24px;
        b {
          font-size: 18px;
          font-weight: 600;
          color: #e43232;
        }
      }
      //form
      form {
        width: 320px;
        margin: 45px auto 0;
        //input
        input {
          display: block;
          width: 100%;
          height: 50px;
          font-size: 16px;
          text-align: center;
          color: #6b6b6b;
          outline: none;
          border: none;
          background-color: #d7d7d7;
          &:focus {
            -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, .1) ;
                    box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
          }
        }
        //button
        button {
          display: block;
          width: 188px;
          height: 40px;
          margin: 28px auto 0;
          border: none;
          outline: none;
          font-size: 14px;
          font-weight: 600;
          line-height: 40px;
          color: #fff;
          background-color: #101418;
          cursor: pointer;
          i {
            width: 16px;
            height: 15px;
            margin-right: 5px;
            vertical-align: text-top;
            background-position: -21px 0;
          }
        }
      }
      //em
      em {
        margin-top: 18px;
        display: block;
        font-weight: 600;
        font-style: normal;
        line-height: 24px;
        color: #666;
        small {
          font-size: 12px;
        }
      }
    }
    //close
    .close {
      display: block;
      position: absolute;
      top: 24px;
      right: 24px;
      width: 24px;
      height: 24px;
      text-align: center;
      font-size: 24px;
      line-height: 24px;
      color: #333;
    }
  }
}

//nav
.nav {
  z-index: 998;
  position: fixed;
  top: -252px;
  right: 0;
  width: 223px;
  height: 260px;
  padding-top: 78px;
  text-align: center;
  background: url("../images/nav-bg.png") center no-repeat;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
  //on
  &.on {
    top: 118px;
  }
  //after
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 9px;
    width: 90px;
    height: 90px;
    background: url("../images/nav-icon.png") center no-repeat;
    background-size: 100% 100%;
  }
  //a
  a {
    display: block;
    width: 184px;
    height: 53px;
    margin: 0 0 2px 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 53px;
    color: #fff;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
    //hover
    &:hover,&.active {
      font-size: 16px;
      font-weight: 600;
      color: #333;
      background: #fff;
    }
  }
}


@keyframes show {
  from {
    .scale(1.5);
    .opacity(0);
  }
  to {
    .scale(1);
    .opacity(1);
  }
}
@keyframes shark {
  0%,100% {
    .translate(0, 0);
  }
  50% {
    .translate(-50%, 0);
  }
}
@keyframes shark2 {
  0%,100% {
    .translate(0, 0);
  }
  50% {
    .translate(50%, 0);
  }
}

/* pop-up */
.pop-up {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100001;
  width: 100%;
  height: 100%;
  background: url(../images/pop.png) repeat;
}
.pop-main {
  position: relative;
  width: 100%;
  height: 100%;
}
.pop-box {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -108px;
  margin-left: -289px;
  width: 578px;
  height: 216px;
  border: 1px solid #faf0bf;
  background-color: #fff;
}
.pop-box h2,
.pop-box p {
  margin: 0 auto;
  width: 410px;
  text-align: left;
}
.pop-box h2 {
  padding: 32px 0 10px;
  font-size: 22px;
  color: #e50403;
}
.pop-box p {
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 22px;
  color: #010007;
}
