@charset "utf-8";
/* CSS Document */
* {
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  min-width: 1100px;
  font-size: 14px;
  line-height: 1.4;
  color: #1a1919;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  outline: 0;
  vertical-align: baseline;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #000;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li {
  list-style-type: none;
}
img {
  border: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.wrapper {
  position: relative;
  width: 1100px;
  min-width: 1100px;
  margin: 0 auto;
  zoom: 1;
}
.all-icons {
  display: inline-block;
  background-image: url("../images/all-icons.png");
  background-repeat: no-repeat;
}
.progress-bar {
  width: 406px;
  margin: 10px auto 0;
}
.progress-bar .bar {
  position: relative;
  width: 406px;
  height: 4px;
  margin: 0 auto;
  background-color: #c2c2c2;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.progress-bar .bar > span {
  display: block;
  position: absolute;
  height: 4px;
  width: 406px;
  left: 0;
  top: 0;
  background: #ff5e62;
  background-image: -webkit-linear-gradient(0deg, #ff5e62 0%, #ff9966 100%);
  background-image: linear-gradient(0deg, #ff5e62 0%, #ff9966 100%);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.progress-bar .bar > span:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  right: -10px;
  top: -8px;
  background: url("../images/progress-pointer.png") center no-repeat;
}
.progress-bar .bar > span .reduce {
  position: absolute;
  display: block;
  z-index: 9;
  width: 30px;
  height: 34px;
  right: -17px;
  top: -29px;
  background-image: url("../images/reduce.png");
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-animation: shadow 0.5s linear 1;
  -o-animation: shadow 0.5s linear 1;
  animation: shadow 0.5s linear 1;
}
.progress-bar .bar > span .reduce.reduce_1 {
  background-position: 0 0;
}
.progress-bar .bar > span .reduce.reduce_2 {
  background-position: 0 -34px;
}
.number {
  margin-top: 23px;
  font-size: 16px;
  line-height: 33px;
  color: #313131;
}
.number i {
  width: 16px;
  height: 15px;
  background-position: 0 0;
}
.number .countdown {
  display: inline-block;
  vertical-align: middle;
  height: 33px;
  width: 68px;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  color: #e5572d;
  overflow: hidden;
  text-align: center;
  background: url("../images/number-bg.png") center no-repeat;
}
.number .countdown .scroll-tick {
  float: left;
  width: 28px;
  margin-left: 7px;
}
.number .countdown .scroll-tick span {
  display: block;
  width: 28px;
  height: 33px;
  line-height: 27px;
}
.number .countdown .scroll-tick:first-child {
  margin-left: 2px;
}
.price {
  height: 30px;
  margin-top: 44px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.price strong {
  font-size: 43px;
}
.price del {
  font-size: 18px;
  font-weight: 400;
  color: #858585;
}
.buybtn {
  display: block;
  width: 239px;
  height: 59px;
  margin: 17px auto;
  font-size: 18px;
  font-weight: 500;
  line-height: 59px;
  color: #fff;
  text-shadow: 0 2px 4px #ab2700;
  background-image: url("../images/buybtn.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 10px 10px rgba(255, 186, 159, 0.63);
  box-shadow: 0 10px 10px rgba(255, 186, 159, 0.63);
}
.buybtn:hover {
  background-position: -239px 0;
}
.note {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #494949;
}
.banner {
  min-width: 1100px;
  height: 652px;
  background: url("../images/banner-bg.jpg") top center no-repeat;
}
.banner .wrapper {
  padding-top: 82px;
}
.banner .logo {
  z-index: 9;
  display: block;
  position: absolute;
  top: 25px;
  left: 0;
  width: 54px;
  height: 18px;
  text-indent: -9999px;
  background: url("../images/logo.png") center no-repeat;
}
.banner h1 {
  height: 47px;
  text-indent: -9999px;
  background: url("../images/banner-title.png") center no-repeat;
}
.banner .left-message {
  float: left;
  width: 570px;
  height: 371px;
  margin-top: 69px;
}
.banner .left-message img {
  display: block;
  position: absolute;
}
.banner .left-message img.box {
  top: 47px;
  left: -163px;
}
.banner .left-message img.gift {
  right: 0;
  bottom: 0;
}
.banner .left-message img.off {
  top: 0;
  right: 65px;
}
.banner .left-message .shadow {
  display: block;
  position: absolute;
  right: 10px;
  bottom: 6px;
  width: 260px;
  height: 219px;
  background: url("../images/banner-shadow.png") center no-repeat;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-animation: shadow 0.5s linear 1;
  -o-animation: shadow 0.5s linear 1;
  animation: shadow 0.5s linear 1;
}
.banner .left-message.soldout:after {
  content: '';
  z-index: 9;
  display: block;
  position: absolute;
  right: 31px;
  bottom: 43px;
  width: 206px;
  height: 96px;
  background: url("../images/soldout.png") center no-repeat;
  -webkit-animation: soldout 0.3s ease-out 1;
  -o-animation: soldout 0.3s ease-out 1;
  animation: soldout 0.3s ease-out 1;
}
.banner .right-message {
  float: right;
  width: 500px;
  margin-top: 116px;
  margin-right: 30px;
  text-align: center;
}
.banner .right-message h3 {
  margin-top: 30px;
  font-size: 28px;
  line-height: 30px;
}
.banner .right-message.soldout .number,
.banner .right-message.soldout .progress-bar {
  display: none;
}
.banner .right-message.soldout h3 {
  margin-top: 90px;
}
.banner .right-message.soldout .price {
  margin-top: 55px;
}
.feature {
  min-width: 1100px;
  height: 1124px;
  background: url("../images/feature-bg.jpg") top center no-repeat;
}
.feature .wrapper {
  padding-top: 78px;
}
.feature h2 {
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #e95d32;
}
.feature dl dt img {
  display: block;
}
.feature dl dd {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(-20%, 0);
  -ms-transform: translate(-20%, 0);
  -o-transform: translate(-20%, 0);
  transform: translate(-20%, 0);
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.feature dl dd h3 {
  font-size: 22px;
  line-height: 25px;
  color: #303030;
}
.feature dl dd ul {
  margin-top: 40px;
  padding-left: 16px;
}
.feature dl dd ul li {
  margin-bottom: 24px;
  font-weight: 500;
  line-height: 22px;
  color: #7b8188;
  list-style-image: url("../images/feature-point.png");
}
.feature dl dd.on {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.feature dl.top-message {
  margin-top: 98px;
}
.feature dl.top-message dd {
  width: 548px;
  padding-left: 67px;
}
.feature dl.top-message dt {
  margin-right: -28px;
}
.feature dl.bottom-message {
  margin-top: 144px;
}
.feature dl.bottom-message dt {
  width: 548px;
}
.feature dl.bottom-message dd {
  width: 580px;
  margin-top: 20px;
  margin-right: -40px;
  padding-left: 50px;
}
.benefits {
  min-width: 1100px;
  height: 373px;
  text-align: center;
  background: url("../images/benefits.jpg") top center no-repeat;
}
.benefits .wrapper {
  padding-top: 65px;
}
.benefits .arrow {
  position: absolute;
  top: -16px;
  left: 50%;
  width: 14px;
  height: 24px;
  margin-left: -7px;
  background: url("../images/arrow.png") center no-repeat;
}
.benefits h2 {
  font-size: 22px;
  line-height: 25px;
  color: #303030;
}
.benefits dl {
  float: left;
  width: 20%;
  margin-top: 65px;
}
.benefits dl dt img {
  display: block;
  margin: 0 auto;
}
.benefits dl dd {
  margin-top: 30px;
  font-weight: 700;
  line-height: 24px;
  color: #3a3a3a;
}
.container {
  min-width: 1100px;
  height: 1009px;
  padding-top: 86px;
  background: url("../images/container-bg.jpg") bottom center no-repeat;
}
.gifts {
  width: 1304px;
  height: 333px;
  margin: 0 auto;
  background: url("../images/gifts-bg.png") left bottom no-repeat;
}
.gifts h2 {
  height: 46px;
  text-indent: -9999px;
  background: url("../images/gifts-title.png") center bottom no-repeat;
}
.gifts dl {
  float: left;
  width: 50%;
  margin-top: 35px;
}
.gifts dl dt {
  float: left;
  margin-left: 70px;
}
.gifts dl dt img {
  display: block;
}
.gifts dl dd {
  float: left;
  margin-top: 35px;
  margin-left: 25px;
}
.gifts dl dd p {
  font-weight: 500;
  line-height: 26px;
  color: #4a4a4a;
}
.gifts dl dd p strong {
  font-size: 26px;
  color: #ef6034;
}
.gifts dl dd p del {
  color: #858585;
}
.gifts dl dd p span {
  display: inline-block;
  width: 78px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  color: #836e1a;
  background: url("../images/gifts-icon.png") center no-repeat;
}
.gifts dl dd p.describe {
  margin-top: 20px;
  line-height: 24px;
}
.gifts dl.pf dt {
  margin-left: 40px;
}
.gifts.soldout {
  background: url("../images/gifts-bg-soldout.png") left bottom no-repeat;
}
.gifts.soldout h2,
.gifts.soldout dl {
  visibility: hidden;
}
.gifts.soldout:after {
  z-index: 9;
  content: '';
  display: block;
  position: absolute;
  top: 80px;
  left: 462px;
  width: 346px;
  height: 161px;
  visibility: visible;
  background: url("../images/soldout-gifts.png") center no-repeat;
  -webkit-animation: soldout 0.3s ease-out 1;
  -o-animation: soldout 0.3s ease-out 1;
  animation: soldout 0.3s ease-out 1;
}
.service {
  height: 126px;
  margin-top: 88px;
  padding-top: 18px;
  background: rgba(254, 254, 254, 0.5);
}
.service dl {
  width: 50%;
  height: 96px;
}
.service dl dd h4 {
  font-size: 13px\0;
  line-height: 40px;
  color: #444;
}
.service dl.fl {
  width: 530px;
  border-right: 1px solid #dadada;
}
.service dl.fl dt {
  margin: 10px 10px 0 10px;
}
.service dl.fl dd p {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #757575;
}
.footer {
  margin-top: 30px;
  line-height: 22px;
}
.footer dl dd,
.footer dl dt {
  font-size: 12px;
  font-weight: 500;
  color: #3f3f3f;
}
.footer .copyright {
  margin-top: 60px;
  font-weight: 700;
  text-align: center;
  color: #696969;
}
.float {
  z-index: 99;
  position: fixed;
  left: 0;
  bottom: -167px;
  width: 100%;
  min-width: 1100px;
  height: 110px;
  visibility: hidden;
  text-align: center;
  background: url("../images/float-bg.jpg") bottom center no-repeat;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.float.on {
  visibility: visible;
  bottom: 0;
}
.float .left-message {
  float: left;
  width: 294px;
  height: 167px;
  margin-top: -57px;
}
.float .left-message img {
  display: block;
  position: absolute;
}
.float .left-message img.box {
  left: -18px;
  bottom: 0;
}
.float .left-message img.gift {
  right: 0;
  bottom: 0;
}
.float .left-message img.off {
  right: 62px;
  top: 0;
}
.float .left-message .shadow {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 115px;
  height: 120px;
  background: url("../images/float-shadow.png") center no-repeat;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-animation: shadow 0.5s linear 1;
  -o-animation: shadow 0.5s linear 1;
  animation: shadow 0.5s linear 1;
}
.float .left-message.soldout:after {
  content: '';
  z-index: 9;
  display: block;
  position: absolute;
  right: 14px;
  bottom: 2px;
  width: 101px;
  height: 47px;
  background: url("../images/soldout-float.png") center no-repeat;
  -webkit-animation: soldout 0.3s ease-out 1;
  -o-animation: soldout 0.3s ease-out 1;
  animation: soldout 0.3s ease-out 1;
}
.float .middle-message {
  float: left;
  width: 406px;
  margin-top: 10px;
  margin-left: 43px;
}
.float .middle-message .number i {
  background-position: 0 -15px;
}
.float .middle-message.soldout p {
  margin-top: 35px;
  font-size: 18px;
  color: #2a2a2a;
}
.float .right-message {
  float: right;
  width: 180px;
  margin-top: 20px;
  margin-right: 140px;
}
.float .right-message .price {
  margin: 0;
  font-size: 16px;
}
.float .right-message .price strong {
  font-size: 30px;
}
.float .right-message .price del {
  font-size: 16px;
}
.float .right-message .buybtn {
  width: 180px;
  height: 45px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 45px;
  background-position: 0 -59px;
}
.float .right-message .buybtn:hover {
  background-position: -180px -59px;
}
@keyframes shadow {
  from {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(0, -40%);
    -ms-transform: translate(0, -40%);
    -o-transform: translate(0, -40%);
    transform: translate(0, -40%);
  }
}
@-webkit-keyframes shadow {
  from {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(0, -40%);
    -ms-transform: translate(0, -40%);
    -o-transform: translate(0, -40%);
    transform: translate(0, -40%);
  }
}
@keyframes soldout {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes soldout {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
/*# sourceMappingURL=style.css.map */