@charset "utf-8";

/* CSS Document */
* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 1000px; 
  font-size: 14px;
  line-height: 1.4;
  color: #000;
  font-weight: 400;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  outline: 0;
  vertical-align: baseline;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #000;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li { list-style-type: none; }
img { border: none; }
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}
.clearfix { zoom: 1; }
.fl { float: left; }
.fr { float: right; }
.wrapper {
  position: relative;
  width: 1000px;
  min-width: 1000px;
  margin: 0 auto;
  zoom: 1;
}
.all-icons { 
  display: inline-block;
  text-indent: -9999px;
  background: url(../images/all-icons.png) no-repeat 0 0;
}
.tags { 
  display: inline-block;
  text-indent: -9999px;
  background: url(../images/tags.png) no-repeat 0 0;
}

/* banner */
.banner {
  width: 100%;
  min-width: 1000px;
  height: 710px;
  background: url(../images/bg.jpg) top center no-repeat;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg.jpg', sizingMethod='scale');
  background-size: cover;
}
.banner .logo {
  position: absolute;
  top: 14px;
  display: block;
}
.banner .title {
  padding-top: 40px;
  height: 112px;
  text-indent: -9999px;
  background: url(../images/title.png) bottom center no-repeat;
}
.banner .box {
  margin: 72px 0 0 100px;
  float: left;
  width: 376px;
  height: 370px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 40px 80px 0px rgba(8, 125, 140, 0.68);
}
.banner .box.right {
  position: relative;
  margin: 72px 0 0 36px;
  width: 368px;
  height: 364px;
  background-color: #fff;
  border: 4px solid #f2f74d;
}
.banner .imgbox { position: relative; }
.banner .imgbox img {
  display: inline-block;
  margin: 32px 0 4px 50px;
}
.banner .right .imgbox img { margin: 28px 0 -17px 28px; }
.banner .right .imgbox:after {
  content: '75%';
  position: absolute;
  top: 44px;
  right: 44px;
  width: 159px;
  height: 78px;
  text-indent: -9999px;
  background: url(../images/off.png) 0 -78px no-repeat;
}
.banner .infor {
  position: absolute;
  right: 62px;
  bottom: 15px;
  text-align: center;
}
.banner .right .infor { 
  right: 48px;
  bottom: 17px; 
}
.banner .infor p { 
  color: #0c0c0c; 
  line-height: 24px;
}
.banner .infor p.sign,
.footbuy .price span em {
  position: relative;
  width: 100px;
  height: 21px;
  line-height: 21px;
  border-radius: 4px;
  background-color: #e3e3e3;
}
.banner .right .infor p.sign,
.footbuy .price span em { background-color: #f2f74d;}
.banner .infor p.sign:before,
.footbuy .price span em:before {
  content: '';
  position: absolute;
  top: 0;
  left: -9px;
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-right: 11px solid #e3e3e3;
}
.banner .right .infor p.sign:before,
.footbuy .price span em:before { border-right-color: #f2f74d; }
.banner .right .infor p.sign b,
.footbuy .price span em > b { color: #f34755; }
.banner .countdown {
  position: absolute;
  top: -30px;
  left: -4px;
  width: 376px;
  height: 36px;
  color: #1c1c1c;
  line-height: 36px;
  text-align: center;
  background-color: #f2f74d;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.banner .countdown i {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-position: 0 -79px;
}
.banner .countdown strong { font-size: 16px; }
.banner .num {
  display: inline-block;
  padding: 0 2px;
  margin-top: -2px;
  height: 36px;
  overflow: hidden;
  vertical-align: middle;
}
.banner .num .numlist { 
  display: inline-block;
  float: left; 
  padding: 0 1px;
  line-height: 36px;
  font-size: 16px;
}
.banner .num .numlist span { display: block; }
.banner .box.exchange .imgbox:after { background-position: 0 0px; }

/* price */
.price { text-align: center; }
.price strong {
  font-size: 38px;
  color: #1c1617;
}
.price span {
  display: inline-block;
  font-size: 20px;
  line-height: 14px;
  font-weight: 700;
  color: #1c1617;
  text-align: left;
}
.price span b { display: block; }
.price span del { 
  color: #999; 
  font-size: 14px;
}
.price p.people {
  margin-top: 11px;
  line-height: 32px;
  color: #999;
}
.price p.people b { color: #4a4647; }
.price p.people i {
  margin-right: 4px;
  width: 18px;
  height: 13px;
  background-position: 0 -48px;
}

/* buybtn */
.buybtn {
  display: block;
  margin: 16px auto 0;
  width: 250px;
  height: 56px;
  line-height: 56px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  background-color: #ef3948;
  background-image: -webkit-linear-gradient(-90deg, rgb(238,53,69) 0%, rgb(247,84,98) 100%);
  background-image:         linear-gradient(-90deg, rgb(238,53,69) 0%, rgb(247,84,98) 100%);
  box-shadow: 0px 17px 27px 0px rgba(253, 98, 102, 0.54),inset 0px 2px 0px 0px rgba(254, 221, 203, 0.47);
  -webkit-transition: all .2s;
          transition: all .2s;
}
.buybtn i {
  margin-right: 10px;
  width: 22px;
  height: 18px;
  vertical-align: middle;
  background-position: 0 -61px;
}
.activebtn { overflow: hidden; }
.activebtn i,
.activebtn span {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  -webkit-transform: translate3d(-16px, 0, 0);
          transform: translate3d(-16px, 0, 0); 
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s; 
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); 
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.activebtn i {
  margin-top: -6px;
  -webkit-transform: translate3d(-20px, 3.5em, 0); 
          transform: translate3d(-20px, 3.5em, 0); 
  -webkit-transition: -webkit-transform 0.3s; 
          transition: transform 0.3s; 
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); 
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.buybtn:hover {
  background-color: #f9606d;
  background-image: -webkit-linear-gradient(-90deg, rgb(247,84,98) 0%, rgb(250,107,119) 100%);
  background-image: -ms-linear-gradient(-90deg, rgb(247,84,98) 0%, rgb(250,107,119) 100%);
}
.activebtn:hover i, 
.activebtn:hover span { 
  -webkit-transform: translate3d(0, 0, 0); 
          transform: translate3d(0, 0, 0); 
}

/* payment */
.payment {
  padding-top: 50px;
  text-align: center;
}

/* benfits */
.benfits h2 {
  margin-top: 62px;
  font-size: 34px;
  text-align: center;
}
.benfits > p {
  font-size: 18px;
  color: #f34755;
  text-align: center;
}
.benfits .showcase {
  position: absolute;
  top: 183px;
  left: 18px;
  display: block;
  width: 530px;
  height: 368px;
  background: url(../images/computer.png) center no-repeat;
}
.benfits .showcase .inner {
  display: inline-block;
  width: 377px;
  height: 252px;
  margin-top: 13px;
  margin-left: 22px;
  overflow: hidden;
}
.benfits .showcase .inner ul {
  width: 2025px;
  -webkit-transition: all .4s ease-out;
          transition: all .4s ease-out;
}
.benfits .showcase .inner li {
  position: relative;
  float: left;
  width: 405px;
  height: 273px;
}
.benfits .showcase .zoom {
  position: absolute;
  top: 0;
}
.benfits .showcase .container {
  position: absolute;
  width: 0;
  height: 0;
  -webkit-transition: all .4s ease-out;
          transition: all .4s ease-out;
}
.benfits .showcase .container img {
  width: inherit;
  height: inherit
}
.benfits .showcase li.fun1 .container {
  top: 40px;
  left: 150px;
}
.benfits .showcase li.fun1.active .container {
  left: 300px;
  top: 100px;
  width: 170px;
  height: 124px;
}
.benfits .showcase li.fun2 .container {
  top: 120px;
  left: 169px;
}
.benfits .showcase li.fun2.active .container {
  left: 220px;
  top: 60px;
  width: 274px;
  height: 124px;
}
.benfits .showcase li.fun3 .container {
  top: 50px;
  left: 220px;
}
.benfits .showcase li.fun3.active .container {
  left: -80px;
  top: 100px;
  width: 294px;
  height: 124px;
}
.benfits .showcase li.fun4 .container {
  top: 50px;
  left: 220px;
}
.benfits .showcase li.fun4.active .container {
  left: 100px;
  top: 50px;
  width: 405px;
  height: 124px;
}
.benfits .detail-list {
  margin-top: 36px;
  float: right;
  width: 456px;
}
.benfits .detail-list dl {
  display: block;
  margin: 12px 0;
  width: 456px;
  height: 98px;
  clear: both;
  cursor: pointer;
  background: #fff;
}
.benfits .detail-list dl:hover,
.benfits .detail-list dl.active { background:url(../images/btnfits-list-bg.png) left center no-repeat; }
.benfits .detail-list dl:hover dt i.benfits01,
.benfits .detail-list dl.active dt i { background-position: -55px 0; }
.benfits .detail-list dl:hover dt i.benfits02 { background-position: -55px -55px; }
.benfits .detail-list dl:hover dt i.benfits03 { background-position: -55px -110px; }
.benfits .detail-list dl:hover dt i.benfits04 { background-position: -55px -165px;}
.benfits .detail-list dt {
  float: left;
  width: 100px;
  text-align: left;
}
.benfits .detail-list dt i {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  width: 55px;
  height: 55px;
  background-image: url(../images/benfits-icon.png);
  background-repeat: no-repeat;
}
.benfits .detail-list dt i.benfits01 { background-position: 0 0; }
.benfits .detail-list dt i.benfits02 { background-position: 0 -55px; }
.benfits .detail-list dt i.benfits03 { background-position: 0 -110px; }
.benfits .detail-list dt i.benfits04 { background-position: 0 -165px; }
.benfits .detail-list dl.first dd { margin-top: 24px; }
.benfits .detail-list dd {
  display: inline-block;
  margin-top: 14px;
  float: right;
  width: 356px;
  color: #1c1e23;
  box-sizing: border-box;
}
.benfits .detail-list dd h3 { font-size: 18px;}

/* giveway */
.giveway {
  margin-top: 130px;
  height: 440px;
  background: url(../images/gift-bg.jpg) top center no-repeat;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/gift-bg.jpg', sizingMethod='scale');
  background-size: cover;
}
.giveway h2 {
  position: absolute;
  top: -24px;
  left: 0;
  width: 1000px;
  height: 68px;
  text-indent: -9999px;
  background: url(../images/gift-title.png) top center no-repeat;
}
.giveway .wrapper { padding-top: 65px; }
.giveway .box {
  margin: 0 auto;
  width: 631px;
  height: 156px;
  border-radius: 4px;
  background-color: #fff;
  border: 4px solid #f8fc73;
  box-shadow: 0px 26px 35px 0px rgba(8, 125, 140, 0.72);
}

.giveway .pf-box { margin: 17px 62px 0 52px; }
.giveway .right {
  margin-top: 22px;
  max-width: 400px;
  color: #0c0c0c;
}
.giveway .right h4 { font-size: 20px; }
.giveway .right strong {
  padding-left: 35px;
  color: #f75260;
}
.giveway .right del {
  padding-left: 2px;
  font-weight: 400;
  color: #999;
}
.giveway .right ul { margin-top: 12px; }
.giveway .right li {
  font-size: 14px;
  line-height: 24px;
}
.giveway .right li i {
  margin-top: -4px;
  margin-right: 4px;
  width: 5px;
  height: 5px;
  vertical-align: middle;
  background-position: 0 -96px;
}
.giveway h3 {
  margin-top: 22px;
  font-size: 22px;
  color: #f8fc73;
}
.giveway .price p.people,
.giveway .price p.people b { color: #fff; }
.giveway .price p.people i { background-position: 0 -101px; }
.giveway .buybtn {
  width: 278px;
  height: 61px;
  line-height: 61px;
}

/* awards */
.awards {
  position: relative;
  text-align: center;
}
.awards:before {
  content: '';
  position: absolute;
  bottom: -28px;
  left: 460px;
  width: 93px;
  height: 1px;
  background-color: #a6a6a6;
}
.awards h2 {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 34px;
}

/* review */
.review {
  padding-bottom: 120px;
  margin-top: 66px;
}
.review .content { 
  height: 215px;
  text-align: center;
 }
.review .content h3 {
  margin: 0 auto; 
  padding: 0 80px;
  font-size: 16px;
  font-weight: 400;
  font-style: italic; 
}
.review .content dl { display: none; }
.review .content dd { 
  margin-top: 12px; 
  line-height: 22px;
  color: #2a2a2a;
}
.review .content dl.active { display: block; }
.review ul.users {
  height: 130px;
  text-align: center;
  border-bottom: 2px solid #d2d2d2;
}
.review ul.users li {
  position: relative;
  float: left;
  width: 25%;
  height: 130px;
  cursor: pointer;
}
.review ul.users li p { 
  position: absolute;
  bottom: -70px;
  width: 100%; 
  font-size: 16px;
  visibility: hidden;
  transition: bottom .2s;
}
.review ul.users li.active:after {
  content: '';
  position: absolute;
  bottom: -1.5px;
  left: 50%;
  margin-left: -59px;
  width: 118px;
  height: 3px;
  background-color: #c2211f;
}
.review ul.users li img { 
  display: inline-block; 
  margin-top: 35px; 
  width: 65px; 
  height: 65px; 
  vertical-align: middle;
  -webkit-transition: all ease .2s;
          transition: all ease .2s;
}
.review ul.users li.active p { 
  bottom: -44px; 
  visibility: visible;
}
.review ul.users li.active img { 
  margin-top: 0; 
  width: 100px; 
  height: 100px;
}

/* comparison */
.comparison table {
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
}
.comparison th { 
  padding: 0;
  height: 80px;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
}
.comparison th.title {
  text-align: left;
  font-size: 18px;
  vertical-align: middle;
}
.comparison th span { display: block; }
.comparison td { 
  height: 44px;
  vertical-align: middle; 
  border-bottom: 1px solid #ccc;
}
.comparison .itemfree, 
.comparison .itempro {
  width: 210px;
  color: #fff;
  text-align: center;
}
.comparison .gray { background-color: #fbfbfb; }
.comparison .itempro { background-color: #fef4f5; }
.comparison th.itemfree { background-color: #969da0; }
.comparison th.itempro { background-color: #f34755; }
.comparison td.icons {
  width: 56px;
  text-align: center;
}
.comparison .space {
  width: 14px;
  border-color: #fff;
}
.comparison td span {
  display: inline-block;
  max-width: 494px;
}
.comparison td em {
  display: inline-block;
  margin-left: 7px;
  margin-right: -50px;
  width: 64px;
  height: 12px;
  text-indent: -9999px;
  vertical-align: middle;
  background: url(../images/tab_icons.png) 0 0 no-repeat;
}
.comparison td em.right { 
  margin-top: -22px;
  margin-right: -50px; 
  margin-left: -22px;
}
.comparison td em.nuovo { 
  width: 46px;
  background-position: 0 -12px;
}
.comparison td i {
  width: 20px;
  height: 16px;
  vertical-align: middle;
  background-position: 0 0px;
}
.comparison td i.red { background-position: 0 -32px; }
.comparison td i.circle { background-position: 0 -16px; }

/* footbuy */
.footbuy {
  position: relative;
  margin: 58px auto 0;
  width: 100%;
  min-width: 1000px;
  height: 274px;
  background: url(../images/foot-bg.jpg) top center no-repeat;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/foot-bg.jpg', sizingMethod='scale');
  background-size: cover;
}
.footbuy h2 {
  position: absolute;
  top: -18px;
  width: 1000px;
  height: 46px;
  text-indent: -9999px;
  background: url(../images/foot-title.png) top center no-repeat;
}
.footbuy .imfbox {
  position: relative;
  margin-top: 58px;
  margin-left: 14px;
  width: 240px;
  height: 220px;
}
.footbuy .imfbox img {
  position: absolute;
  left: -200px;
  opacity: 0;
  display: block;
  display: none \9;
  -webkit-transition: left .4s, opacity .6s;
          transition: left .4s, opacity .6s;
}
.footbuy ul {
  margin-top: 84px;
  margin-left: 26px;
}
.footbuy li {
  position: relative;
  margin-bottom: 18px;
  width: 395px;
  height: 58px;
  line-height: 58px;
  cursor: pointer;
  border-radius: 29px;
  background: #f8fc73;
  background: rgba(248,252,115,.45);
  box-shadow: 0px 26px 35px 0px rgba(8, 125, 140, 0.72);
}
.footbuy li strong {
  font-size: 16px;
  color: #477052;
  font-weight: 400;
}
.footbuy li i {
  margin: 0 25px 0 22px;
  width: 22px;
  height: 22px;
  visibility: hidden;
  vertical-align: middle;
  background-position: 0 -114px;
}
.footbuy li > b {
  display: inline-block;
  position: absolute;
  top: 16px;
  right: 22px;
  width: 71px;
  height: 32px;
  background: url(../images/percent.png) 0 0 no-repeat;
}
.footbuy li.three > b { background-position: 0px -32px; }
.footbuy.exchange li.three > b { background-position: 0px -64px; }
.footbuy .imfbox img.active {
  left: 0;
  opacity: 1;
  display: block \9;
}
.footbuy li.active { 
  cursor: default;
  background: #f8fc73; 
}
.footbuy li.active strong { color: #030303; }
.footbuy li.active strong b { font-weight: 700; }
.footbuy li.active i { visibility: visible; }
.footbuy li.active > b { background-position: -71px 0; }
.footbuy li.three.active > b { background-position: -71px -32px; }
.footbuy.exchange li.three.active > b { background-position: -71px -64px; }
.footbuy .price { 
  margin-top: 84px; 
  margin-right: 38px;
}
.footbuy .price strong {
  font-size: 42px;
  color: #fff;
}
.footbuy .price span { 
  padding-left: 10px;
  text-align: left; 
}
.footbuy .price span em {
  display: block;
  font-style: normal;
  font-size: 12px;
}
.footbuy .price span em b { display: inline-block; }
.footbuy .price del { color: #fff; }
.footbuy .buybtn { margin-top: 4px; }
.footbuy .countdown {
  display: none;
  position: absolute;
  top: 25px;
  left: 258px;
  width: 472px;
  height: 26px;
  text-align: left;
  line-height: 26px;
  font-weight: 700;
  color: #fff;
  text-indent: 130px;
  background: url(../images/foot-time.png) no-repeat;
}

/* footer */
.footer {
  margin-bottom: 40px;
  color: #000;
  text-align: center;
}
.annotation {
  margin: 22px auto;
  text-align: left;
  font-size: 12px;
  color: #757575;
  line-height: 14px;   
}

/* floatlayer */
.floatlayer { 
  position: fixed; 
  z-index: 10; 
  top: -150px; 
  right: 20px;
  width: 254px;
  height: 102px;
  text-align: center;
  visibility: hidden; 
  border-radius: 5px;
  background-color: #23cae0;
  box-shadow: 0px 12px 20px 0px rgba(35, 202, 224, 0.6); 
}
.floatlayer.active { height: 126px; }
.floatlayer.on { 
  top: 12%; 
  visibility: visible; 
}
.floatlayer h2 {
  padding-top: 10px;
  height: 17px;
  text-indent: -9999px;
  background: url(../images/float-title.png) bottom center no-repeat;
}
.floatlayer .text {
  position: absolute;
  bottom: 4px;
  left: 4px;
  width: 246px;
  height: 64px;
  border-radius: 5px;
  background-color: #f2f74d;
}
.floatlayer p { 
  line-height: 18px;
  color: #272727; 
}
.floatlayer p b {
  font-size: 16px;
  color: #f34755;
}
.floatlayer p.one { margin-top: 14px; }
.floatlayer .countdown {
  position: absolute;
  top: 34px;
  width: 100%;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.floatlayer .countdown strong { color: #1c1e23; }
.close {
  position: absolute;
  top: -6px;
  right: -6px;
  z-index: 9;
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-indent: -9999px;
  background: url(../images/close.png) 0 -39px no-repeat;
}
.maskbox .close {
  top: -4px;
  right: 0px;
  width: 39px;
  height: 39px;
  background-position: 0 0;
}
.maskbox {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: -10;
  margin-left: -259px;
  width: 518px;
  height: 375px;
  color: #272727;
  text-align: center;
  background: url(../images/mask-bg.png) no-repeat;
  opacity: 0;
  display: none \9;
  transition: top .4s, opacity .6s;
}
.maskbox.on {
  z-index: 101;
  top: 20%;
  opacity: 1;
  display: block \9;
}
.maskbox h3 {
  padding: 60px 0 30px;
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  font-style: italic;
}
.maskbox h2 { font-size: 24px; }
.maskbox h2 b { 
  color: #f34755; 
  font-size: 28px;
}
.maskbox p { 
  font-size: 20px; 
  line-height: 18px;
}
.maskbox .buybtn {
  margin: 26px auto;
  width: 272px;
}