@charset "utf-8";
@font-face{
  font-family: 'Myriad Pro';
  src : url('../font/MYRIADPRO-BOLD.OTF');
}
*{
  position: relative;
  margin:0;
  padding:0;
  border:0;
  outline:0;
  text-decoration: none;
  list-style-type: none;
  vertical-align:baseline;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  min-width: 1100px;
  font-size: 14px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height:1.4;
  color: #000;
  letter-spacing: -.5px\9;
}
a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  outline: none;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration:none;
}
del {
  text-decoration:line-through;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
ul,ul li {
  list-style-type:none;
}
img {
  border: 0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  clear:both;
  zoom: 1;
}
.clearfix:after {
  content:'';
  display:block;
  clear:both;
}
.clearfix {
  *zoom:1;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
.wrapper {
  width: 1102px;
  margin: 0 auto;
  overflow: visible;
  z-index: 3;
}
.new_w{
  width: 1150px !important;
}
.price { text-align: center;}
.price del { margin-right: 10px; color: #8b8b8b; font-weight: 600;}
.price strong { font-size: 32px;}
.price dd { font-size: 12px; margin-top: 10px;}

/*
 * banner
 */
.banner { position: relative; height: 714px; background: url("../images/banner-bg.png") top center no-repeat; text-align: center;}
.banner::after{
  content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -100px;
    height: 333px;
    background: url(../images/xd.png) center center no-repeat;
}
.banner .wrapper { padding-top: 27px;}

.banner a.logo {
  position: absolute;
  top: 38px;
  left: -40px;
  display: block;
  z-index: 1;
  width: 47px;
  height: 15px;
  text-indent: -9999px;
  background: url("../images/logo.png") center center no-repeat;
}
.banner h1 {
  height: 154px;
  text-indent: -9999px;
  background: url(../images/title.png)no-repeat center bottom;
}
.soldout-block{display: none;}
.banner .cont{
  background: url(../images/t-offer-bg.png) center center no-repeat;
  background-size: cover;
  height: 520px;
  margin-top: 25px;
  z-index: 2;
  padding: 100px 100px 100px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .cont .left p{
  font-size: 18px;
    font-family: Montserrat;
    font-weight: 500;
    color: #000000;
    margin-top: 20px;
}
.add{
  width: 20px;
  height: 20px;
  background: linear-gradient(135deg, #F84736, #E12023);
  opacity: 0.75;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 2;
  display: flex;
  margin-right: -50px;
  margin-top: -15px;
  align-items: center;
  justify-content: center;
}
.add._soldout{
  background: rgba(235, 235, 235, 0.8);
}
.add::before{
  content: '';
  width: 10px;
height: 2px;
position: relative;
background: #FFFFFF;
}
.add::after{
  content: '';
  width: 2px;
  position: absolute;
height: 10px;
background: #FFFFFF;
}
.banner .cont .center dt{
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 500;
  color: #000000;
  margin-bottom: 20px;
}
.banner .cont .center .time{
  background: url(../images/time-bg.png) center center no-repeat;
  position: absolute;
  width: 340px;
  left: 0;
  height: 40px;
  display: flex;
  justify-content: center;
  top: 0;
  margin: -70px 0 0 -40px;
  align-items: center;
}

.banner .cont .center .time img{
  vertical-align: middle;
  animation: 3s swing 1.5s ease-in-out infinite;
}
.banner .cont .center .time p{
  margin-left: 10px;
  color: #fff;
  font-size: 12px;
  font-style: italic;
}
.banner .cont .center .time strong{
  font-weight: 400;
  font-size: 16px;
  display: inline-block;
  width: 18px;
}
.banner .cont .center.soldout .time{
  opacity: .4;
}
.banner .cont .center.soldout .time img{
  animation:none;
}
@keyframes swing{
  5%{-webkit-transform:rotate(15deg);}
  10%{-webkit-transform:rotate(-10deg);}
  15%{-webkit-transform:rotate(5deg);}
  20%{-webkit-transform:rotate(-5deg);}
  25%{-webkit-transform:rotate(0);}
  35%{-webkit-transform:rotate(15deg);}
  40%{-webkit-transform:rotate(-10deg);}
  45%{-webkit-transform:rotate(5deg);}
  50%{-webkit-transform:rotate(-5deg);}
  55%{-webkit-transform:rotate(0);}
  100%{-webkit-transform:rotate(0);}
}
.banner .cont .center .time i{
  font-size: 12px;
  color: #fff;
}
.banner .cont .center .time i .t{
  font-size: 16px;
  font-weight: 400;
}
.banner .cont .center li{
  display: flex;
  align-items: center;
  padding: 12px 0 8px;
  justify-content: space-between;
}
.banner .cont .center li::after,.b-buy .cont .center li::after{
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 4px;
  background: url(../images/item-bg-r.png) center center no-repeat;
}
.banner .cont .center li:last-child,.b-buy .cont .center li:last-child{
  padding: 12px 0;
}
.banner .cont .center li:last-child::before,.b-buy .cont .center li:last-child::before{
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background: url(../images/item-bg-r.png) center center no-repeat;
}
.banner .cont .center li p{
  text-align: right;
}
.banner .cont .center li p .title{
  font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
    color: #000000;
}
.banner .cont .center li p .mor{
  display: block;
  font-size: 12px;
}
.banner .cont .center li p .mor b{
  color: #FF0E00;
  font-weight: 500;
}
.banner .cont .center li p .mor span{
  font-size: 18px;
}
.banner .cont .center dd{
  margin-top: 13px;
  font-size: 14px;
}
.banner .cont .center dd img{
  vertical-align: bottom;
  margin-right: 8px;
}
.banner .cont .center dd p{
  width: 260px;
    height: 16px;
    background: #F8B55F;
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 8px;
    margin: 10px auto;
}
.banner .cont .center dd span{
  color:#FF0E00;
  font-size: 18px;
}
.banner .cont .right .dt_t{
font-size: 12px;
font-family: Montserrat;
font-weight: 400;
color: #FFFFFF;
opacity: 0.6;
margin-top:18px;
}
.banner .cont .right dt{
  font-size: 20px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 18px;
    color: #FFFFFF;
}
.banner .cont .right dd.one{
  margin: 38px 0 0;
  padding-bottom: 25px;
  line-height: 14px;
}
.banner .cont .right dd.two{
 margin-top: 18px;
}
.banner .cont .right._soldout dd.one{
padding-bottom: 35px;
}
.banner .cont .right dd.one::after{
  content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background: url(../images/item-bg-w.png) center center no-repeat;
}
.banner .cont .right dd.one span:first-child{
  font-size: 16px;
    font-family: Montserrat;
    font-weight: 500;
    color: #FFFFFF;
}
.banner .cont .right dd.one span:last-child{
font-size: 12px;
font-family: Montserrat;
font-weight: 400;
color: #FFFFFF;
opacity: 0.6;
}
.banner .cont .right dd.one del{
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 500;
  text-decoration: line-through;
  color: #FFFFFF;
  margin: 0 39px 0 8px;
}
.banner .cont .right dd.two img{
  margin-right: 8px;
  vertical-align: middle;
}
.banner .cont .right dd.two span{
  font-size: 13px;
  font-family: Montserrat;
  font-weight: 400;
  color: #FFFFFF;
}

.banner .cont .right dd.three {
  margin-top: 66px;
}
.banner .cont .right._soldout dd.three{
  margin-top: 70px;
}
.banner .cont .right dd.three p.t,.b-buy .cont .right p.t{
  color: #fff;
  font-size: 16px;
  height: 23px;
}
.banner .cont .right dd.three p.t span,.b-buy .cont .right p.t span{
  font-size: 34px;
  line-height: 23px;
}
.banner .cont .right dd.three p.t span b,.b-buy .cont .right p.t span b{
  font-size: 28px;
  font-weight: 500;
}
.banner .cont .right dd.three p.t del,.b-buy .cont .right p.t del{
  font-size: 14px;
  opacity: .6;
}
.banner .cont .right dd.three button,.paquete button,.b-buy .cont .right button{
  width: 270px;
  height: 52px;
  cursor: pointer;
  transition: all .3s;
  background: url(../images/buy-bg.png) top no-repeat;
  border-radius: 8px;
  font-size: 24px;
  background-size: 107%;
  font-family: Myriad Pro;
  box-shadow: 0px 7px 11px 0px rgba(46, 0, 0, 0.45);
  margin:16px 0;
  font-weight: bold;
  color: #C60000;
  line-height: 57px;
  text-shadow: 1px 1px 0px #FFF3BE;
}
.banner .cont .right dd.three button:hover,.paquete button:hover,.b-buy .cont .right button:hover{
  background: url(../images/buy-bg-h.png) top no-repeat;
  background-size: 107%;
}
.banner .cont .right dd.three p.b{
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
  color: #FFFFFF;
  opacity: 0.6;
}
/*
 * buybtn
 */
a.buybtn { display: block; margin: 0 auto; text-align: center; border-radius: 6px; font-size: 18px; font-weight: 600; color: #000;}
a.buybtn.border { width: 200px; height: 46px; line-height: 46px; font-size: 14px; border: 1px solid #000000; }
a.buybtn.center { width: 250px; height: 54px; line-height: 54px; box-shadow: 0 10px 18px 2px rgba(255, 188, 22, 0.45),inset 0 -3px 3px 0 rgba(121, 27, 28, 0.45); text-shadow: 0px 1px 0px #fff000;
  background-image: -webkit-linear-gradient(bottom, #ff9600 0%, #fffc26 100%);
  background-image: -o-linear-gradient(bottom, #ff9600 0%, #fffc26 100%);
  background-image: linear-gradient(to top, #ff9600 0%, #fffc26 100%);
 }
a.buybtn.border:hover { width: 202px; height: 48px; border: none; line-height: 48px; }
a.buybtn:hover { text-shadow: 0px 1px 0px #fff000;
  box-shadow: 0 10px 18px 2px rgba(255, 188, 22, 0.45),inset 0 -3px 3px 0 rgba(121, 27, 28, 0.45);
  background-image: linear-gradient(0deg, #f8bf36 0%, #fffc26 100%);
  background-image: -webkit-linear-gradient(0deg, #f8bf36 0%, #fffc26 100%);
}
.service {
  padding: 38px 0px;
  margin-bottom: 20px;
}
 .service dl {
  float: left;
  margin-right: 2%;
  width: 23%;
  text-align: center;
}
 .service dt { line-height: 83px; }
 .service img { vertical-align: middle; }
 .service h3 {
  margin: 9px 0 6px 0;
  color: #999;
  font-size: 16px;
  font-weight: 600;
}
.service p{
  color: #707077;
  font-size: 12px;
  font-weight: 700;
}
.feature-box::after{
  content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -300px;
    z-index: 1;
    height: 400px;
    background: url(../images/snow_up.png) center center no-repeat;
}

/* review */
.review h2 {
  margin-top: 90px;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.review h2:after {
  content: '';
  display: block;
  width: 585px;
  height: 10px;
  margin: 15px auto 0;
  background: url("../images/line02.png") center no-repeat;
}
.reviewbox {
  position: relative;
  margin-top: 34px;
  height: 407px;
  background: url("../images/review-bg.png") 95px 60px no-repeat;
}
.reviewbox h3 {
  font-size: 28px;
  text-align: center;
}
.reviewbox ul {
  position: relative;
  z-index: 0;
  margin-top: 127px;
  height: 112px;
}
.reviewbox li {
  position: absolute;
  top: 0;
  width: 112px;
  height: 112px;
}
.reviewbox li.one {
  left: -16px;
  z-index: 0;
}
.reviewbox li.two {
  left: 187px;
  z-index: 1;
}
.reviewbox li.two img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}
.reviewbox li.three {
  right: 138px;
  z-index: 0;
}
.reviewbox li.four {
  right: -16px;
  z-index: 0;
}
.reviewbox li img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0.7143);
          transform: scale(0.7143);
}
.reviewbox .details {
  position: absolute;
  top: 140px;
  left: 375px;
  width: 365px;
}
.reviewbox .details div {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(20%, 0);
          transform: translate(20%, 0);
}
.reviewbox .details div.active {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}
.reviewbox .details h4 {
  font-size: 18px;
}
.reviewbox .details .flag {
  display: inline-block;
  margin-left: 4px;
  width: 26px;
  height: 19px;
  background: url(../images/flag.png) 0 0 no-repeat;
}
.reviewbox .details .flag.de { background-position: 0 19px; }
.reviewbox .details .flag.it { background-position: 0 38px; }
.reviewbox .details p {
  margin-top: 20px;
  color: #525252;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
}
.reviewbox a {
  display: block;
  position: absolute;
  top: 216px;
  z-index: 9;
  width: 10px;
  height: 18px;
  background: url("../images/review-arrow.png") no-repeat;
}
.reviewbox a.next {
  left: 321px;
  background-position: -20px 0;
  -webkit-animation: nextmove 1s linear infinite;
          animation: nextmove 1s linear infinite;
}
.reviewbox a.next:hover {
  background-position: -30px 0;
  animation-iteration-count: 0;
}
.reviewbox a.prev {
  left: 155px;
  background-position: 0 0;
  -webkit-animation: prevmove 1s linear infinite;
          animation: prevmove 1s linear infinite;
}
.reviewbox a.prev:hover {
  background-position: -10px 0;
  animation-iteration-count: 0;
}
.paquete{
  text-align: center;
  height: 800px;
  overflow: hidden;
  background: url(../images/paquete-bg.png) center center no-repeat;
  padding: 150px 0;
}
.paquete dt{
  font-size: 26px;
  font-family: Montserrat;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 39px;
}
.paquete dd{
  display: flex;
  align-items: self-start;
  margin-bottom: 30px;
  justify-content: space-between;
}
.paquete .item{
  max-width: 258px;
  text-align: center;
}
.paquete .item h4{
  font-size: 18px;
    font-family: Montserrat;
    font-weight: 500;
    color: #FFFFFF;
    margin: 30px 0 15px;
}
.paquete .item p.one{
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
  color: #FFFFFF;
  opacity: 0.6;
  margin-bottom: 29px;
}
.paquete .item p.two{
  font-size: 16px;
    font-family: Montserrat;
    font-weight: 500;
    color: #FFFFFF;
}
.paquete .item p:last-child span{
  font-size: 22px;
}
.paquete button{
  width: 370px;
height: 52px;
font-size: 22px;
}
.paquete img.soldout-img{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1100px;
  height: 480px;
  z-index: 4;
  margin:-245px 0 0 -560px;
}

/* comparison */
.comparison {
  position: relative;
  margin-top: 106px;
}
.comparison:after {
  content: '';
  position: absolute;
  top: 0px;
  right: 214px;
  z-index: 0;
  width: 256px;
  height: 617px;
  background: url(../images/shadow.png) repeat-y;
  /*border-radius: 6px;
  box-shadow: 7.873px 9.057px 30px 0px #b9abab;*/
}
.comparison table {
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
}
.comparison th {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
}
.comparison th big { 
  font-size: 18px; 
  text-transform: uppercase;
}
.comparison th.text {
  color: #1c1c1c;
  font-size: 20px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}
.comparison th h3 {
  font-size: 18px; 
  font-weight: 600; 
}
.comparison td,.comparison th{
  vertical-align: middle;
}
.comparison td { 
  height: 48px;
  font-size: 14px;
  border-bottom: 1px solid #e1e1e1;
}
.comparison .itema,
.comparison .itemb { 
  position: relative;
  z-index: 9;
  width: 220px;
  text-align: center;
  background-color: #f7f7f7;
}
.comparison .itema { 
  border-color: #f6d8d8;
  background-color: #fef6f6; 
}
.comparison .space {
  width: 13px;
  background: #fff;
  border-color: #fff;
}
.comparison td.icons {
  width: 36px;
  text-align: center;
}
.comparison td.virtue {
  padding-left: 8px;
  width: 590px;
}
.comparison td.virtue span {
  display: inline-block;
  max-width: 450px;
}
.comparison th.itema,
.comparison th.itemb { 
  height: 100px;
  font-weight: 600;
  background-color: #6b6b6b;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.comparison th.itema { background-color: #df2f33; }
.comparison-box::after{
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  top: -475px;
  height: 400px;
  background: url(../images/snow_down.png) center center no-repeat;
}
.comparison th.itema .pro {
  margin-top: -20px;
  padding-top: 30px;
  height: 120px;
  background-color: #df2f33;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.comparison th em {
  margin-top: 8px;
  width: 26px;
  height: 24px;
  background-position: 0 -34px;
}
.comparison th em.smile {
  margin-top: 16px;
  width: 34px;
  height: 34px;
  background-position: 0 0px;
}
.comparison i.all-icons {
  width: 19px;
  height: 19px;
  vertical-align: middle;
  background-position: 0 -99px;
}
.comparison i.red { background-position: 0 -80px; }
.comparison i.gray {
  margin-top: 20px;
  background-position: 0 -118px;
}
.all-icons { 
  display: inline-block;
  text-indent: -9999px;
  background: url(../images/all-icons.png) no-repeat 0 0;
}
.comparison sup {
  padding-left: 4px;
  width: 72px;
  height: 12px;
  vertical-align: middle;
  background-position: 0 -58px;
}
.comparison sup.nov {
  width: 50px;
  height: 10px;
  background-position: 0 -70px;
}
.comparison td.vtop sup { margin-top: -36px; }
.comparison td.vtop sup.nov { margin-top: -4px; }


.bottom-buy { height: 172px; background: url(../images/bottom-bg.jpg) no-repeat center; }
.bottom-buy  .left-img { float: left; width: 201px; height: 165px; background: url(../images/db-bottom-box.png); 
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
.bottom-buy  .left-img.one-box {background-position: -402px 0px; }
.bottom-buy  .left-img.three-box { background-position: -201px 0px; }
.bottom-buy ul { float: left; width: 516px; margin-top: 15px; margin-left: 10px; }
.bottom-buy ul li { height: 47px; line-height: 47px; cursor: pointer;}
.bottom-buy ul li i { display: inline-block; vertical-align: middle; margin-left: 90px; width: 16px; height: 16px; border-radius: 50%; border: solid #fff 1px; }
.bottom-buy ul li span { display: inline-block; width: 240px; margin-left: 10px; font-size: 18px; color: #ffbdbd; }
.bottom-buy ul li strong { font-size: 32px; color: #f62231; }

.bottom-buy ul li.active { background: url(../images/bottom-active.png) no-repeat; position: relative; }
.bottom-buy ul li.active:after { position: absolute; content: ""; width: 537px; height: 73px; left: -10px; top: -3px; background: url(../images/bottom-shadow.png); }
.bottom-buy ul li.active i  { display: none; }
.bottom-buy ul li.active span { margin-left: 120px; vertical-align: top; color: #000; }
.bottom-buy ul li.active strong { color: #f62231; }

.bottom-buy dl { float: right;  margin-top: 25px; text-align: center; }
.bottom-buy dl del { display: inline-block; padding-bottom: 6px; vertical-align: bottom; margin-right: 10px; color: #ffcbcb; font-size: 20px; }
.bottom-buy dl strong { display: inline-block; vertical-align: middle; font-size: 52px; line-height: 52px; color: #fff; }
.bottom-buy dl strong b { font-size: 30px; }
.bottom-buy dl strong >span { display: inline-block; vertical-align: middle; font-size: 25px; line-height: 20px; }
.bottom-buy dl strong >span span { display: block; }
.bottom-buy dl .buybtn { width: 250px; height: 50px; margin-top: 5px; line-height: 50px; box-shadow: 0 10px 18px 2px rgb(185, 7, 6),inset 0 -3px 3px 0 rgba(121, 27, 28, 0.45); }

/*
 * footer
 */
.footer { position: relative; padding: 20px 0; background: #14151d;}

/* annotation */
.annotation {
  padding-top: 20px;
  margin-top: 40px;
}
.annotation dd,
.annotation dt {
  font-size: 12px;
  line-height: 16px;
  color: #ababab;
}

/* footer */
.footer p{  padding-top: 15px; font-size: 14px; font-weight: 600; text-align:center; color: #3c3c3c;}

.b-buy{
  background: url(../images/b-offer-bg.png) center center no-repeat;
  margin-bottom: 80px;
}
.b-title{
  font-size: 32px;
  font-family: Montserrat;
  text-align: center;
  font-weight: 600;
  color: #262626;
  margin: 90px 0 30px;
}
.b-buy .cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 330px;
  padding: 70px 110px 60px;
}
.b-buy .cont .left{
  text-align: center;
}
.b-buy .cont .left{
  text-align: center;
}
.b-buy .cont .left img{
  width: 142px;
  margin-bottom: 10px;
}
.b-buy .cont .left .num{
  display: block;
    font-size: 16px;
    font-weight: 500;
    color: #FF0E00;
}
.b-buy .cont .left .num .soldout-num{text-decoration:auto;}
.b-buy .cont .left .num .soldout-num b{font-weight: 500;}
.b-buy .cont .left .num span{
  font-size: 12px;
  font-weight: 500;
  margin-left: 8px;
  text-decoration: line-through;
  color: #232323;
}
.b-buy .cont .left p{
  font-size: 12px;
    font-family: Montserrat;
    font-weight: 400;
    color: #232323;
    opacity: 0.6;
    margin-top: 5px;
}
.b-buy .cont .center li{
  display: flex;
    align-items: center;
    padding: 12px 0;
    justify-content: space-between;
    width: 327px;
}
.b-buy .cont .center li .title{
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 500;
  flex: 1;
  margin-left: 8px;
  color: #000000;
}
.b-buy .cont .center li .mor{
  font-size: 12px;
}
.b-buy .cont .center li .mor b{
  font-weight: 500;
    color: #FF0E00;
}
.b-buy .cont .center li .mor span{
  font-size: 18px;
}
.b-buy .cont .right{
  text-align: center;
}

.soldout{
  filter: grayscale(100%);
}
.soldout::after{
  content: '';
  background: rgba(235, 235, 235, 0.8);
  position: absolute;
  position: absolute;
  z-index: 3;
}
.soldout::before{
  content: '';
  background: url(../images/soldout.png) center center no-repeat;
  position: absolute;
  z-index: 5;
  background-size: contain;
  width: 315px;
  height: 215px;
}

.banner .cont .center.soldout::after{
  width: 404px;
    top: -17px;
    left: -70px;
    height: 373px;
}
.banner .cont .center.soldout::before{
  left: 50%;
  margin:-135px -163px;
  top: 50%;
}

.paquete.soldout::after{
  width: 100%;
    top: 0;
    left: 0;
    height: 780px;
}
.paquete.soldout::before{
  display: none;
}

.b-buy .cont .center.soldout::after{
  width: 418px;
  top: -53px;
  left: -56px;
  height: 250px;
}

.b-buy .cont .center.soldout::before{
  width: 237px;
  height: 161px;
  left: 50%;
  margin: -80px -120px;
  top: 50%;
}

/* feature */
.feature {
  height: 630px;
}
.feature .feature-db {
  display: block;
  position: absolute;
  top: 116px;
  left: 217px;
}
.feature dl {
  position: absolute;
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
}
.feature dt {
  float: left;
  margin-top: 5px;
  margin-right: 12px;
}
.feature dl dd { float: left; }
.feature h3 {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 600;
}
.feature h3 strong { font-size: 18px; }
.feature p {
  color: #868686;
  font-size: 12px;
  line-height: 22px;
}
.feature dl.one {
  top: 74px;
  left: 0;
}
.feature dl.two {
  top: 56px;
  right: 0px;
  z-index: 9;
}
.feature dl.three {
  top: 285px;
  left: -52px;
}
.feature dl.four {
  bottom: 174px;
  right: -4px;
}
.feature dl.five {
  bottom: 78px;
  right: 311px;
}
.feature dl.one,
.feature dl.three,
.feature dl.five {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.feature dl.one.on,
.feature dl.three.on,
.feature dl.five.on {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.feature dl.two,
.feature dl.four {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}
.feature dl.two.on,
.feature dl.four.on {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
/* awards */
.awards {
  margin-top: 60px;
  height: 470px;
  text-align: center;
  background: url(../images/award-bg.jpg) bottom center no-repeat;
}
.awards h2 {
  font-size: 24px;
  text-transform: uppercase;
}
.awards img {
  display: block;
  margin-top: 135px;
  margin-left: 290px;
}