@charset "utf-8";

/* CSS Document */
* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 1000px; 
  font-size: 14px;
  line-height: 1.4;
  color: #000;
  font-weight: 500;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  outline: 0;
  vertical-align: baseline;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #000;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li { list-style-type: none; }
img { border: none; }
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}
.clearfix { zoom: 1; }
.fl { float: left; }
.fr { float: right; }
.wrapper {
  position: relative;
  width: 1000px;
  min-width: 1000px;
  margin: 0 auto;
  zoom: 1;
}
.all-icons { 
  display: inline-block;
  vertical-align: middle;
  text-indent: -9999px;
  background: url(../images/all-icons.png) no-repeat 0 0;
}

/* banner */
.banner {
  margin: 0 auto;
  width: 100%;
  min-width: 1000px;
  height: 649px;
  color: #fff;
  text-align: center;
  background: url(../images/bg.jpg) top center no-repeat;
  background-size: cover;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg.jpg', sizingMethod='scale');
}
.banner .logo {
  display: block;
  padding-top: 22px;
  text-align: left;
}
.banner h1 {
  margin-top: 14px;
  font-size: 44px;
  line-height: 44px;
  letter-spacing: 1px;
}
.banner .subhead {
  font-size: 22px;
  font-weight: 400;
  line-height: 44px;
}
.banner .panel { 
  position: relative; 
  margin-top: 30px;
  width: 100%;
  height: 450px;
  text-align: center;
}
.offer {
  position: absolute;
  top: 48px;
  left: 30px;
  z-index: 1;
  width: 306px;
  height: 371px;
  overflow: hidden;
  border-radius: 8px;
  background-color: #3a536a;
}
.offer.center {
  top: 0px;
  left: 330px;
  z-index: 9;
  width: 343px;
  height: 444px;
  background-color: #c10618;
  box-shadow: 0px 31px 27px 0px rgba(87, 14, 19, 0.84);
}
.offer.right { left: 664px; }
.offer .imgbox {
  position: relative;
  margin: 56px 0 0 -15px;
}
.offer.left .imgbox { margin-top: 50px; }
.offer.right .imgbox { margin-top: 86px; }
.offer.right .imgbox img {
  width: 158px;
  height: 148px;
}
.offer.center .imgbox img {
  width: 279px;
  height: 161px;
}
.offer.right .imgbox:after,
.offer.center .imgbox:after {
  content: '';
  position: absolute;
  z-index: 99;
  top: -42px;
  right: 8px;
  width: 163px;
  height: 66px;
  background: url(../images/off.png) 0 -132px no-repeat;
}
.offer.right .imgbox:after { 
  top: -58px;
  background-position: 0 -66px; 
}
.offer .price { margin-top: 10px; }
.banner .right.sold .price { margin: 0px 0 0 5px; }
.banner .offer.center.fifty .price { margin-top: 0px; }
.offer.current .price { margin-top: 10px; }
.offer del {
  padding-right: 4px;
  color: #808fa2;
  font-size: 16px;
}
.offer strong {
  font-size: 30px;
  color: #fff;
  font-weight: 500;
}
.offer.sold { background-color: #fff; }
.offer.sold .mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: url(../images/mask-bg.png) repeat;
}
.offer.sold .mask img {
  display: block;
  margin-top: 182px;
  margin-left: 90px;
}
.offer.right.sold .imgbox { margin: 84px 0 0 -10px; }
.offer.right.sold .imgbox img {
  width: 255px;
  height: 148px;
}
.offer.right.sold .imgbox:after { 
  top: -40px;
  right: -10px;
  background-position: 0 -198px; 
}
.offer.center.fifty .imgbox { margin: 70px 0 0 -42px; }
.offer.center.fifty .imgbox img {
  width: 171px;
  height: 161px;
}
.offer.center.fifty .imgbox:after { 
  top: -46px;
  background-position: 0 0px;
}
.offer.sold del { color: #616161; }
.offer.sold strong { color: #1d1204; }
.offer.current del { color: #ee7b6f; }
.people {
  font-size: 12px;
  line-height: 16px;
  color: #f9c0bc;
}
.people b { color: #fcdfdd; }
.time {
  margin-top: 14px;
  line-height: 44px;
  color: #fff;
}
.fifty .packs {
  position: relative;
  display: inline-block;
}
.fifty .time b,
.fifty .time span { 
  display: inline-block;
  font-size: 18px; 
}
.fifty .time .shadow {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  filter:alpha(opacity=0);
}
.countdown, 
.time span,
.countdown li { display: inline-block; }
.countdown li strong {
  font-size: 16px;
  font-weight: 500;
}
.countdown li.last strong {
  display: inline-block;
  width: 36px;
}

/* buybtn */
.buybtn {
  display: block;
  margin: 2px auto;
  width: 234px;
  height: 52px;
  line-height: 52px;
  color: #1d1204;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  border-radius: 3px;
  background-color: #eeb200;
}
.sold .buybtn {
  color: #ebebeb;
  cursor: default;
  background-color: #7d7a72;
}
.current .buybtn,
.giveaway .buybtn,
.footbuy .buybtn {
  margin: 4px auto 12px;
  width: 267px;
  height: 59px;
  font-size: 16px;
  line-height: 64px;
  background-color: #ffbf00;
  box-shadow: 0px 5px 27px 0px rgba(123, 2, 14, 0.84);
}
.giveaway .buybtn {
  margin: 46px auto 50px;
  box-shadow: 0px 18px 18px 0px rgba(251, 209, 160, 0.84);
}
.footbuy .buybtn { box-shadow: 0px 18px 18px 0px rgba(71, 44, 25, 0.84); }
.buybtn i {
  margin-top: -4px;
  margin-right: 4px;
  width: 19px;
  height: 15px;
  vertical-align: middle;
  background-position: 0 -96px;
}
.sold .buybtn i { background-position: 0 -111px; }
.buybtn:hover { background-color: #ffd200; }

/* intro */
.intro .intro-title {
  position: relative;
  margin-top: 60px;
  padding-bottom: 20px;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  font-weight: 400;
}
.intro .intro-title:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 464px;
  width: 73px;
  height: 4px;
  background: #f1e9dd;
}
.intro > p {
  margin: 20px auto 54px;
  text-align: center;
  font-size: 14px;
}
.intro > p img,
.intro > p span {
  display: inline-block;
  margin: 4px;
  vertical-align: middle;
}
.intro .box {
  height: 380px;
  background: url(../images/computer.png) 280px 0 no-repeat;
}
.intro .box dl {
  margin: 50px 0 20px;
  float: left;
  width: 50%;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
  -webkit-transition: opacity 1s,transform 1s ease;
          transition: opacity 1s,transform 1s ease;
}
.intro .box dl.right {
  -webkit-transform: translate(100px, 0);
          transform: translate(100px, 0);
}
.intro .box dl.on {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.intro .box dt {
  width: 50px;
  text-align: right;
}
.intro .box dd { width: 450px; }
.intro .box h3 {
  position: relative;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 16px;
  text-indent: 10px;
  font-weight: 500;
}
.intro .box h3:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 266px;
  height: 1px;
  background-color: #000;
}
.intro .box dl.right h3:before {
  left: auto;
  right: 0;
}
.intro .box p {
  padding: 6px 0 0 10px;
  line-height: 22px;
  max-width: 246px;
}
.intro .box dl.right h3 { text-indent: 220px; }
.intro .box dl.right p { padding-left: 220px; }

/* giveaway */
.giveaway {
  display: inline-block;
  margin-top: 94px;
  width: 100%;
  background-color: #f7f7f7;
}
.giveaway h2 {
  margin: -16px auto 76px;
  height: 33px;
  text-indent: -9999px;
  background: url(../images/gift-title.png) top center no-repeat;
}
.giveaway .list {
  position: relative;
  float: left;
  margin-right: 16px;
  margin-left: 24px;
  width: 310px;
}
.giveaway .list.last { margin-right: -40px; }
.giveaway .list h3 {
  margin-right: -10px;
  margin-left: 15px;
  padding-bottom: 8px;
  width: 220px;
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px solid #cfcfcf;
}
.giveaway .list h3 b { 
  padding-left: 4px;
  color: #c10618;
  font-size: 20px; 
}
.giveaway .list p {
  margin-top: 10px;
  width: 220px;
  line-height: 24px;
}
.giveaway .list i {
  margin-right: 3px;
  width: 8px;
  height: 7px;
  background-position: 0 -69px;
}
.giveaway .list span {
  display: inline-block;
  max-width: 198px;
  vertical-align: top;
}
.giveaway .mask {
  position: absolute;
  top: -24px;
  left: -24px;
  width: 304px;
  height: 326px;
  border-radius: 8px;
  border: 1px solid #e3e3e3;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.702);
}
.giveaway .mask img {
  display: block;
  margin: 120px 0 0 90px;
}

/* awards */
.awards {
  margin-bottom: 60px;
  padding: 66px 0 48px;
  line-height: 16px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.awards h2 {
  margin-bottom: 38px;
  font-size: 24px;
  font-weight: 400;
}

/* review */
.review .media dt {
  width: 122px;
  text-align: right;
}
.review .media dd {
  position: relative;
  padding: 0 50px;
  max-width: 778px;
  line-height: 22px;
  color: #4d4d4d;
}
.review .media dd:before,
.review .media dd:after {
  content: '';
  position: absolute;
  width: 42px;
  height: 31px;
  background: url(../images/quto.png) 0 0 no-repeat;
}
.review .media dd:before {
  top: -8px;
  left: -4px;
}
.review .media dd:after {
  bottom: -14px;
  right: 6px;
  background-position: 0 -31px;
}
.review .media h2 {
  margin: 12px 0 6px;
  font-weight: 600;
  font-size: 16px;
  color: #424242;
}
.review .user h2 {
  margin: 38px 0 20px;
  font-size: 24px;
  font-weight: 400;
  color: #424242;
  text-align: center;
}
.review .user .content {
  height: 204px;
  box-shadow: 0px 0px 10px 3px rgba(172,179,191,.17);
}
.review .user dl {
  padding: 0 50px;
  display: none;
}
.review .user dl.active { display: block; }
.review .user h3 {
  padding: 30px 0 10px;
  font-size: 18px;
  font-weight: 500;
}
.review .user dd {
  color: #4d4d4d;
  line-height: 22px;
}
.review .user .list li {
  position: relative;
  padding-top: 32px;
  margin: 0 15px;
  float: left;
  width: 140px;
  text-align: center;
}
.review .user .list li.first { margin-left: 58px; }
.review .user .list p {
  margin-top: 12px;
  font-size: 12px;
  line-height: 14px;
}
.review .user .list li.active:before,
.review .user .list li.active:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 36%;
  z-index: 1;
  display: block;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
}
.review .user .list li.active:before {
  top: 0px;
  left: 36%;
  z-index: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-top: 17px solid rgba(172,179,191,.17);;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

/* comparison */
.comparison { 
  margin-top: 60px;
  display:block; 
}
.comparison table {
  border:0;
  border-collapse:separate;
  border-spacing:0;
}
.comparison th { 
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  vertical-align: middle;
}
.comparison thead tr th { height: 70px; }
.comparison th.text { 
  text-align: left; 
  font-size: 18px;
  border-top: 1px solid #dcdcdc;
}
.comparison th span {
  display: block;
  color: #21222a;
  font-weight: 500;
}
.comparison tr td.virtue {
  text-align: left;
  font-weight: 500;
}
.comparison tr {
  text-align: center;
  font-size: 14px;
}
.comparison tr .spac { 
  width: 8px; 
  border-color: #fff;
}
.comparison .itema,
.comparison .itemb {
  text-align: center;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
}
.comparison th.itemb { width: 200px; }
.comparison .itema { background: #fff8f2; }
.comparison thead th.itema { background: #fff0e3; }
.comparison .itemb { background: #f9f9f9; }
.comparison td {
  height: 46px;
  font-size: 14px;
  vertical-align: middle;
}
.comparison td.icons {
  text-align: center;
  width: 50px;
}
.comparison td,
.comparison th.itemb,
.comparison th.itema { border-top: 1px solid #dcdcdc; }
.comparison th.itemb,
.comparison th.itema,
.comparison tr.last td { 
  border-bottom: 1px solid #dcdcdc; 
  color: #21222a;
}
.comparison thead th.itemb,
.comparison thead th.itema,
.comparison tr.last td.spac { border-bottom: none; }
.comparison td i {
  width: 21px;
  height: 21px;
  background-position: 0 -32px;
}
.comparison td i.orange { background-position: 0 -11px; }

/* footbuy */
.footbuy {
  display: inline-block;
  margin: 78px auto 60px;
  width: 100%;
  height: 267px;
  background: url(../images/foot-bg.jpg) top center no-repeat;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/foot-bg.jpg', sizingMethod='scale');
  background-size: cover;
}
.footbuy h2 {
  margin: -22px auto 46px;
  height: 37px;
  text-indent: -9999px;
  background: url(../images/foot-title.png) top center no-repeat;
}
.footbuy .imgbox {
  position: relative;
  margin-left: -38px;
  width: 300px;
  height: 190px;
  overflow: hidden;
}
.footbuy .imgbox img {
  position: absolute;
  top: 0;
  left: -200px;
  opacity: 0;
  filter:alpha(opacity=0);
  -webkit-transition: left ease .6s, opacity .4s;
          transition: left ease .6s, opacity .4s;
}
.footbuy .imgbox img.active {
  left: 0;
  opacity: 1;
  filter:alpha(opacity=100);
}
.footbuy ul {
  margin-left: 18px;
  width: 400px;
}
.footbuy li {
  height: 41px;
  color: #292929;
  font-size: 16px;
  line-height: 41px;
  cursor: pointer;
  background: url(../images/tag.png) 0 -127px no-repeat;
}
.footbuy li.center { margin: 22px 0 16px; }
.footbuy li strong {
  display: block;
  float: right;
  margin-right: 10px;
  font-size: 15px;
}
.footbuy li b {
  display: block;
  margin-right: 24px;
  float: right;
  width: 88px;
  text-align: center;
  font-size: 28px;
}
.footbuy li.active {
  height: 73px;
  cursor: default;
  line-height: 60px;
  background-position: 0 -54px;
}
.footbuy li.center.active { margin: 12px 0 0; }
.footbuy li.active b { color: #fff; }
.footbuy li.sold {
  cursor: default;
  color: #606060;
  background-position: 0 0px;
}
.footbuy li.center.sold {
  height: 41px;
  line-height: 41px;
}
.footbuy li.sold strong { margin-right: 6px; }
.footbuy .price {
  margin-top: 30px;
  text-align: center;
}
.footbuy .price del {
  font-size: 16px;
  line-height: 16px;
  color: #cfccca;
}
.footbuy .price strong {
  font-size: 40px;
  color: #fff;
  line-height: 16px;
  text-shadow: 1.414px 1.414px 7px rgba(19, 19, 19, 0.74);
}
.footbuy .price p { margin-bottom: 10px; }

/* service */
.service dl {
  float: left;
  width: 25%;
  text-align: center;
}
.service dl dt {
  margin: 40px auto 30px;
  line-height: 65px;
}
.service dl img { vertical-align: middle; }
.service dl dd {
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
}
.service dl h3 {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
}
.service dl span { display: block; }

.bottom {
  margin-top: 54px;
  padding: 20px 0;
  background-color: #232730;
}
/* annotation */
.annotation {
  font-size: 12px;
  line-height: 18px;
  color: #e0d3c5;
  font-weight: 400;
}

/* footer */
.footer {  
  margin-top: 12px;
  width: 100%; 
  color: #f5f1eb;
  text-align:center; 
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
} 

/* floatlayer */
.floatlayer { 
  position: fixed; 
  z-index: 10; 
  top: -70px; 
  right: 0;
  width: 262px;
  height: 66px;  
  background: url(../images/float-bg.png) no-repeat;
  visibility: hidden;
  transition: all .4s ease-out;
  /*-webkit-transition: visibility 0.4s; */
          /*transition: visibility 0.4s;  */
}
.floatlayer.on { 
  top: 12%; 
  visibility: visible; 
}
.floatlayer.active {
  top: 1%; 
  visibility: visible; 
}
.floatlayer p {
  padding-left: 48px;
  font-size: 12px;
  line-height: 20px;
  color: #282a32;
  font-weight: 700;
}
.floatlayer p.one { 
  margin-top: 14px; 
  font-size: 16px;
}
.floatlayer .close {
  position: absolute;
  top: 10px;
  right: 14px;
  z-index: 9;
  width: 18px;
  height: 19px;
  cursor: pointer;
  background-position: 0 -76px;
}

/* animation*/
.bounceout {
  -webkit-animation: bounceout 1s forwards;
          animation: bounceout 1s forwards;
}
.dissolve {
  position: absolute;
  top: -6px;
  left: 150px;
  display: block;
  width: 121px;
  height: 158px;
  opacity: 1;
  -webkit-animation: dissolve .8s forwards; 
  -webkit-animation-delay: .6s;
          animation: dissolve .8s forwards; 
          animation-delay: .6s;
}
.offer.center.fifty .dissolve img {
  width: 121px;
  height: 158px;
}
.zoomout {
  opacity: 1;
  -webkit-animation: zoomout 1s forwards;
          animation: zoomout 1s forwards; 
  
}
@-webkit-keyframes bounceout {
  0% {
    opacity: 0;
    -webkit-transform: scale(3.2);
            transform: scale(3.2);
  }
  100% { 
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes bounceout {
  0% {
    opacity: 0;
    -webkit-transform: scale(3.2);
            transform: scale(3.2);
  }
  100% { 
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes zoomout {
  0%{
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    -webkit-transform: scale(4);
    transform: scale(4);
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@keyframes zoomout {
  0%{
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    -webkit-transform: scale(4);
    transform: scale(4);
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes dissolve {
  0%{
    top: 0;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    top: -100px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@keyframes dissolve {
  0%{
   top: 0;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    top: -160px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}