@charset "utf-8";

/* CSS Document */
* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 1000px; 
  font-size: 14px;
  line-height: 1.4;
  color: #000;
  font-weight: 400;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  outline: 0;
  vertical-align: baseline;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #000;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li { list-style-type: none; }
img { border: none; }
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}
.clearfix { zoom: 1; }
.fl { float: left; }
.fr { float: right; }
.wrapper {
  position: relative;
  width: 1000px;
  min-width: 1000px;
  margin: 0 auto;
  zoom: 1;
}
.all-icons { 
  display: inline-block;
  text-indent: -9999px;
  background: url(../images/all-icons.png) no-repeat 0 0;
}

/* banner */
.banner {
  width: 100%;
  min-width: 1000px;
  height: 670px;
  text-align: center;
  background: url(../images/bg.jpg) top center no-repeat;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg.jpg', sizingMethod='scale');
  background-size: cover;
}
.banner .logo {
  display: block;
  padding-top: 18px;
  text-align: left;
}
.banner .title {
  margin-top: -16px;
  height: 135px;
  text-indent: -9999px;
  background: url(../images/title-14.png) top center no-repeat;
}
.banner .offer {
  float: left;
  margin: 66px 0 0 112px;
  width: 326px;
  height: 393px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 11px 21px 0px rgba(115, 2, 0, 0.39);
}
.banner .offer.right {
  margin: 25px 0 0 58px;
  width: 392px;
  height: 461px;
  background-color: #df3643;
  background: rgba(217,7,25,.8);
  box-shadow: 0px 12px 32px 0px rgba(132, 53, 60, 0.8);
}
.banner .offer img {
  display: block;
  margin: 50px 0 24px 22px;
}
.banner .offer.right img { margin: 30px 0 24px 4px; }
.banner .people {
  margin-top: 6px;
  font-size: 14px;
  line-height: 38px;
}
.banner .people i {
  margin-right: 2px;
  width: 20px;
  height: 12px;
  background-position: 0 -74px;
}

/* price */
.banner .offer .countdown {
  margin: 20px auto 0;
  width: 233px;
  height: 18px;
  background: url(../images/time.png) no-repeat;
}
.countdown { position: relative; }
.countdown li {
  display: inline-block;
  line-height: 10px;
  color: #fee0e0;
}
.buybox .countdown li {
  font-size: 14px;
  line-height: 22px;
  color: #550505;
}
.countdown li strong { font-size: 16px; }
.countdown li sup {
  display: block; 
  position: absolute;
  top: 4px;
  right: 38px;
  font-size: 12px; 
}
.buybox .countdown li sup { 
  top: 0px;
  right: 426px; 
}
.price strong,
.price span {
  display: inline-block;
  color: #424242;
}
.price strong { 
  font-size: 54px; 
  line-height: 60px;
}
.price span { 
  margin-left: -2px;
  text-align: left; 
}
.price b {
  display: block;
  font-size: 20px;
  line-height: 28px;
}
.price del {
  font-size: 16px;
  font-weight: 700;
  color: #999999;
}
.banner .right .price strong {
  font-size: 60px;
  line-height: 68px;
  color: #fff;
}
.banner .right .price span { color: #fff; }
.banner .right .price b { font-size: 24px; }
.banner .right .price del { 
  font-size: 18px; 
  color: #f6a3a3;
}
.footbuy .price {
  margin: 50px -20px 0;
  text-align: center;
}
.footbuy .price strong {
  line-height: 38px;
  color: #fff;
}
.footbuy .price span { margin-left: 0px; }
.footbuy .price b {
  font-size: 22px;
  color: #fff;
}
.footbuy .price del {
  font-size: 16px;
  color: #000;
}

/* buybtn */
.buybtn {
  display: block;
  margin: 0 auto;
  width: 266px;
  height: 61px;
  line-height: 56px;
  font-size: 20px;
  color: #c10310;
  border-radius: 5px;
  background-color: #ffd616;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.74);
  box-shadow: 0px 10px 18px 0px rgba(112, 9, 18, 0.81),inset 0px 6px 14.88px 1.12px rgba(255, 255, 255, 0.49),inset 0px -4px 5px 0px rgba(223, 1, 0, 0.59);
  -webkit-transition: all .2s ease-in;
          transition: all .2s ease-in;
}
.banner .left .buybtn {
  margin-top: 6px;
  width: 240px;
  height: 56px;
  color: #300303;
  font-size: 18px;
  line-height: 56px;
  border-radius: 8px;
  background: #fff;
  border: 2px solid #616161;
  text-shadow: none;
  box-shadow: none;
}
.donation .buybtn { 
  margin: 10px auto -34px; 
  box-shadow:0px 8px 14px 0px rgba(125,58,4,0.81),inset 0px 6px 14.88px 1.12px rgba(255,255,255,0.49),inset 0px -4px 5px 0px rgba(223,1,0,0.59);
}
.footbuy .buybtn { margin-top: 14px; }
.buybtn:hover,
.banner .left .buybtn:hover {
  background: #ffe116;
  box-shadow: 0px 10px 18px 0px rgba(112, 9, 18, 0.81);
}
.banner .left .buybtn:hover {
  width: 244px;
  height: 60px;
  line-height: 60px;
  border: none;
  color: #c10310;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.74);
}
.donation .buybtn:hover { box-shadow: 0px 8px 14px 0px rgba(125, 58, 4, 0.81); }

/* payments */
.payments {
  padding: 34px 0 30px;
  text-align: center;
  background-color: #fbfaf6;
}

/* feature */
.feature h2 {
  margin-top: 60px;
  font-size: 26px;
  color: #262626;
  text-align: center;
}
.feature .showcase {
  position: absolute;
  top: 183px;
  left: -15px;
  display: block;
  width: 480px;
  height: 400px;
  background: url(../images/computer.png) center no-repeat;
}
.feature .showcase .inner {
  display: inline-block;
  width: 392px;
  height: 265px;
  margin-top: 12px;
  margin-left: 41px;
  overflow: hidden;
}
.feature .showcase .inner ul {
  width: 2352px;
  transition: all .4s ease-out;
}
.feature .showcase .inner li {
  position: relative;
  float: left;
  width: 392px;
  height: 265px;
}
.feature .showcase .zoom {
  position: absolute;
  top: 0;
}
.feature .showcase .zoom li .container {
  position: absolute;
  width: 0;
  height: 0;
  -webkit-transition: all .4s ease-out;
          transition: all .4s ease-out;
}
.feature .showcase .zoom li.fun1 .container {
  top: 50px;
  left: 220px;
}
.feature .showcase .zoom li.fun2 .container {
  top: 120px;
  left: 169px;
}
.feature .showcase .zoom li.fun3 .container {
  top: 140px;
  left: 110px;
}
.feature .showcase .zoom li.fun4 .container {
  top: 140px;
  left: 110px;
}
.feature .showcase .zoom li.fun1.active .container {
  width: 273px;
  height: 117px;
  left: 180px;
  top: 160px;
}
.feature .showcase .zoom li.fun2.active .container {
  width: 272px;
  height: 113px;
  left: 188px;
  top: 62px;
}
.feature .showcase .zoom li.fun3.active .container {
  width: 286px;
  height: 206px;
  left: 210px;
  top: 48px;
}
.feature .showcase .zoom li.fun4.active .container {
  width: 286px;
  height: 206px;
  left: 86px;
  top: 48px;
}
.feature .showcase .zoom li .container img {
  width: inherit;
  height: inherit;
}
.feature .detail-list {
  float: right;
  width: 520px;
  margin-top: 38px;
  margin-right: -30px;
}
.feature .detail-list dl {
  display: block;
  margin: -6px 0;
  width: 520px;
  height: 113px;
  background: #fff;
  clear: both;
  cursor: pointer;      
}
.feature .detail-list dt {
  float: left;
  width: 112px;
}
.feature .detail-list dt i {
  display: inline-block;
  margin-top: 18px;
  margin-left: 26px;
  width: 78px;
  height: 77px;
  background-repeat: no-repeat;
  background-image: url(../images/benfits-icon.png);
}
.feature .detail-list dt i.benfits01 { background-position: -78px -231px; }
.feature .detail-list dt i.benfits02 { background-position: -78px -77px; }
.feature .detail-list dt i.benfits03 { background-position: -78px 0px; }
.feature .detail-list dt i.benfits04 { background-position: -78px -154px; }
.feature .detail-list dt i.benfits05 { background-position: -78px -308px; }
.feature .detail-list dl:hover,
.feature .detail-list dl.active { background: url(../images/btnfits-list-bg.png) left center no-repeat; }
.feature .detail-list dl:hover dt i.benfits01,
.feature .detail-list dl.active dt i.benfits01 { background-position: 0 -231px; }
.feature .detail-list dl:hover dt i.benfits03,
.feature .detail-list dl.active dt i.benfits03 { background-position: 0 0px; }
.feature .detail-list dl:hover dt i.benfits02,
.feature .detail-list dl.active dt i.benfits02 { background-position: 0 -77px; }
.feature .detail-list dl:hover dt i.benfits04,
.feature .detail-list dl.active dt i.benfits04 { background-position: 0 -154px; }
.feature .detail-list dl:hover dt i.benfits05,
.feature .detail-list dl.active dt i.benfits05 { background-position: 0 -308px; }
.feature .detail-list dd {
  display: inline-block;
  float: left;
  width: 320px;
  margin-left: 10px;
  box-sizing: border-box;
  margin-top: 24px;
}
.feature .detail-list dl.two dd { margin-top: 16px; }
.feature .detail-list dd h3 { font-size: 16px; }
.feature .detail-list dd p {
  margin-top: 6px;
  font-size: 12px;
  line-height: 16px;
  color: #797979;
  font-weight: bold;
}
.feature .detail-list .textlink {
  display: block;
  margin-left: 125px;
  margin-top: 10px;
  color: #0075e9;
  font-size: 12px;
  text-decoration: underline;
}

/* donation */
.donation { 
  margin-top: 26px;
  height: 438px;
  text-align: center;
  background-color: #fbfaf6;
}
.donation > h2 {
  height: 88px;
  text-indent: -9999px;
  background: url(../images/gift-title.jpg) top center no-repeat;
}
.donation dl {
  width: 50%;
  float: left;
  text-align: left;
  overflow: hidden;
}
.donation dl dt {
  float: left;
  margin: 50px 0 0 36px;
}
.donation dl dd {
  float: left;
  width: 270px;
  margin-left: 16px;
}
.donation dl h3 {
  margin-top: 46px;
  font-size: 20px;
  color: #424242;
}
.donation dl h3 small { 
  padding-left: 4px;
  font-size: 12px; 
}
.donation dl strong {
  padding-right: 6px;
  font-size: 20px;
  color: #e71b05;
}
.donation dl del {
  font-weight: bold;
  font-size: 18px;
  color: #bdbdbd;
}
.donation dl ul { margin-top: 14px; }
.donation dl li { margin-bottom: 9px; }
.donation dl i {
  margin-top: 4px;
  margin-right: 6px;
  width: 12px;
  height: 12px;
  vertical-align: top;
  background-position: 0 0px;
}
.donation dl span {
  display: inline-block;
  max-width: 240px;
  line-height: 16px;
  color: #424242;
}
.donation .buybox h2 {
  margin-top: 58px;
  font-size: 20px;
  color: #424242;
}

/* review */
.review {
  margin-top: 120px;
  margin-bottom: 30px;
  text-align: center;
}
.review h2 {
  font-size: 28px;
  color: #262626;
}
.review h3 {
  font-size: 16px;
  color: #8a8a8a;
}
.review h3 b { color: #df2f33; }
.review .map {
  position: relative;
  margin: 30px auto 0;
  width: 1049px;
  height: 502px;
  background: url(../images/worldmap.jpg) top center no-repeat;
}
.review .map span.recover {
  display: block;
  position: absolute;
  border-radius: 50%;
  background: #c2292c;
  border: solid #ead3d4 3px;
}
.review .map span.recover.big {
  width: 12px;
  height: 12px;
}
.review .map span.recover.middle {
  width: 8px;
  height: 8px;
}
.review .map span.recover.smail {
  width: 4px;
  height: 4px;
}
.review .map span.recover01 {
  left: 373px;
  top: 109px;
  -webkit-animation: 3s recover 1s ease-in-out infinite;
}
.review .map span.recover02 {
  left: 268px;
  top: 220px;
  -webkit-animation: 4s light 1.5s ease-in-out infinite;
}
.review .map span.recover03 {
  left: 203px;
  top: 224px;
  -webkit-animation: 5s light 1.5s ease-in-out infinite;
}
.review .map span.recover04 {
  left: 592px;
  top: 206px;
  -webkit-animation: 6s recover 1s ease-in-out infinite;
}
.review .map span.recover05 {
  left: 581px;
  top: 94px;
  -webkit-animation: 4.5s recover 1s ease-in-out infinite;
}
.review .map span.recover06 {
  left: 494px;
  top: 184px;
  -webkit-animation: 5s light 1.5s ease-in-out infinite;
}
.review .map span.recover07 {
  left: 368px;
  bottom: 110px;
  -webkit-animation: 5.5s recover 1s ease-in-out infinite;
}
.review .map span.recover08 {
  right: 453px;
  top: 227px;
  -webkit-animation: 6s light 1.5s ease-in-out infinite;
}
.review .map span.recover09 {
  left: 235px;
  top: 147px;
  -webkit-animation: 3.5s light 1.5s ease-in-out infinite;
}
.review .map span.recover10 {
  left: 595px;
  top: 247px;
  -webkit-animation: 4s recover 1s ease-in-out infinite;
}
.review .map span.recover11 {
  right: 342px;
  top: 260px;
  -webkit-animation: 4.5s recover 1.5s ease-in-out infinite;
}
.review .map span.recover12 {
  right: 290px;
  top: 236px;
  -webkit-animation: 5.5s light 1s ease-in-out infinite;
}
.review .map span.recover13 {
  left: 464px;
  top: 257px;
  -webkit-animation: 4.5s light 1.5s ease-in-out infinite;
}
.review .map span.recover14 {
  left: 564px;
  top: 367px;
  -webkit-animation: 4s recover 1.5s ease-in-out infinite;
}
.review .map span.recover15 {
  left: 561px;
  top: 226px;
  -webkit-animation: 3.5s light .5s ease-in-out infinite;
}
.review .map span.recover16 {
  left: 521px;
  top: 216px;
  -webkit-animation: 3s recover .5s ease-in-out infinite;
}
.review .map span.recover17 {
  right: 177px;
  top: 397px;
  -webkit-animation: 4s light 1.5s ease-in-out infinite;
}
.review .map span.recover18 {
  left: 581px;
  top: 216px;
  -webkit-animation: 5s recover .5s ease-in-out infinite;
}
.review .map span.recover19 {
  left: 521px;
  top: 246px;
  -webkit-animation: 6s light 1.5s ease-in-out infinite;
}
.review .map span.recover20 {
  right: 221px;
  top: 246px;
  -webkit-animation: 5.5s recover 1s ease-in-out infinite;
}
.review .map span.recover21 {
  right: 421px;
  top: 286px;
  -webkit-animation: 4.5s light 1.5s ease-in-out infinite;
}
.review .map span.recover22 {
  left: 322px;
  top: 122px;
  -webkit-animation: 4.5s recover 1.5s ease-in-out infinite;
}
.review .map dl {
  position: absolute;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(0, -30px);
          transform: translate(0, -30px);
  -webkit-transition: all ease-in-out .8s;
          transition: all ease-in-out .8s;
}
.review .map dl.on {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.review .map dl.chip {
  top: 8px;
  right: 88px;
}
.review .map dl.html-it {
  top: 78px;
  right: 55px;
}
.review .map dl.br {
  top: 306px;
  left: 346px;
}
.review .map dl.bob-bassett, 
.review .map dl.peter-stoffers {
  left: 38px;
  top: 76px;
}
.review .map dl.peter-stoffers {
  top: 146px;
  left: 3px;
}
.review .map dl dt {
  position: relative;
  z-index: 2;
  float: left;
  margin-right: 10px;
}
.review .map dl dd {
  float: left;
  margin: 5px 0 0 -60px;
  padding: 5px 20px;
  padding-left: 60px;
  border-radius: 10px;
  background: #fff;
  text-align: left;
  font-size: 12px;
  line-height: 18px;
  border: solid #e9999a 1px;   
}
.review .map dl.chip dd { 
  margin-left: -56px; 
  padding-left: 56px;
}
.review .map dl.html-it dd {
  padding: 10px;
  padding-left: 60px;
}
.review .map dd span { display: block; }
.review .map dl.bob-bassett dd, 
.review .map dl.peter-stoffers dd {
  margin-left: 0;
  padding-left: 5px;
  padding-right: 50px;
  margin-right: -50px;
}

/* comparsion */
.comparsion table {
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
}
.comparsion th {
  padding: 20px 0;
  height: 60px;
  vertical-align: middle;
  border-bottom: 1px #e4e4e4 solid;
}
.comparsion th strong {
  display: block;
  font-size: 18px;
}
.comparsion th.text {
  text-align: left;
  font-size: 22px;
  text-indent: 8px;
  border-top: solid #e4e4e4 1px;
}
.comparsion th.itema {
  color: #fff;
  background-color: #e53935;
}
.comparsion th.itemb {
  color: #fff;
  font-weight: 500;
  background-color: #565656;
}
.ccomparsion td.virtue {
  text-align: left;
  width: 610px;
  font-size: 13px\0;
}
.comparsion td.virtue img {
  vertical-align: middle;
  margin-left: 5px;
}
.comparsion td.virtue span { display: inline-block; }
.comparsion td.virtue sup {
  display: inline-block;
  font-size: 12px;
  line-height: 38px;
  vertical-align: top;
  font-weight: 600;
}
.comparsion td.virtue sup.nou { color: #45b527; }
.comparsion td.virtue sup.ame { color: #ff0000; }
.comparsion .itema {
  color: #000;
  background: #fef5f5;
  text-align: center;
  width: 168px;
}
.comparsion .itemb {
  color: #000;
  text-align: center;
  width: 168px;
}
.comparsion i { 
  width: 19px;
  height: 18px;
  vertical-align: middle;
  background-position: 0 -12px;
}
.comparsion i.red { background-position: 0 -30px }
.comparsion td.gray { background-color: #f6f6f6; }
.comparsion .space {
  width: 6px;
  border: none;
}
.comparsion td {
  height: 44px;
  line-height: 44px;
  vertical-align: middle;
  border-bottom: 1px #e4e4e4 solid;
}
.comparsion td.icons {
  width: 36px;
  text-align: left;
}
.comparsion td img { vertical-align: middle; }

/* footbuy */
.footbuy {
  margin-top: 54px;
  height: 244px;
  background: url(../images/foot-bg.jpg) top center no-repeat;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/foot-bg.jpg', sizingMethod='scale');
  background-size: cover;
}
.footbuy .imgbox {
  position: relative;
  margin-top: 20px;
  margin-left: -60px;
  width: 350px;
  height: 200px;
  overflow: hidden;
}
.footbuy .imgbox img {
  display: block;
  position: absolute;
  top: 0;
  left: -200px;
  opacity: 0;
  display: none \9;
  -webkit-transition: left ease .6s, opacity .4s;
          transition: left ease .6s, opacity .4s;
}
.footbuy .imgbox img.pc { top: 20px; }
.footbuy .imgbox img.active {
  left: 0;
  opacity: 1;
  display: block \9;
}
.footbuy .imgbox img.pc.active { left: 70px; }
.footbuy ul { margin: 60px 0 0 -60px; }
.footbuy li {
  width: 530px;
  line-height: 58px;
  text-align: left;
  cursor: pointer;
}
.footbuy li.pc { background: url(../images/line.png) bottom center no-repeat; }
.footbuy li i,
.footbuy li b,
.footbuy li strong {
  display: inline-block;
  vertical-align: middle;
}
.footbuy li i {
  visibility: hidden;
  margin: 8px 10px 0 90px;
  width: 27px;
  height: 26px;
  background-position: 0 -48px;
}
.footbuy li b {
  width: 260px;
  color: #fbb7b6;
  font-size: 16px;
}
.footbuy li strong {
  width: 125px;
  font-size: 26px;
  font-style: italic;
  color: #410f0f;
  text-align: center;
}
.footbuy li.active {
  height: 80px;
  cursor: default;
  line-height: 70px;
  background: url(../images/line-hover.png) center center no-repeat;
}
.footbuy li.active i { visibility: visible; }
.footbuy li.active b {
  font-size: 18px;
  color: #fff;
}
.footbuy li.active strong {
  height: 41px;
  text-indent: -9999px;
  background: url(../images/price.png) 22px 0 no-repeat;
}
.footbuy li.pc.active strong { background-position: 0 -41px; }

/* bottom */
.service dl {
  float: left;
  width: 25%;
  text-align: center;
}
.service dl dt {
  margin-top: 36px;
  line-height: 72px;
}
.service dl img { vertical-align: middle; }
.service dl h3 {
  margin: 22px 0 8px;
  font-size: 16px;
  line-height: 26px;
}
.service dl p {
  font-size: 12px;
  line-height: 20px;
}
.annotation {
  margin-top: 30px;
  padding-top: 10px;
  font-size: 12px;
  line-height: 12px;
  color: #898989;
  border-top: 1px solid #c9c9c9;
}
.footer {
  line-height: 40px;
  text-align: center;
}

/* animation */
@-webkit-keyframes recover {
  0%{-webkit-transform: scale(1);} 
  10%{-webkit-transform: scale(0.5);} 
  20%{-webkit-transform: scale(1.8);}
  30%{-webkit-transform: scale(0.8);} 
  40%{-webkit-transform: scale(1);}
  50%{-webkit-transform: scale(0.5);}
  60%{-webkit-transform: scale(1.5);}
  70%{-webkit-transform: scale(1);}
  80%{-webkit-transform: scale(0.5);}
  90%{-webkit-transform: scale(0.2);}
  100%{-webkit-transform: scale(1);}
}
@-webkit-keyframes light {
  0%{-webkit-transform: scale(1);} 
  20%{-webkit-transform: scale(0.5);} 
  40%{-webkit-transform: scale(1.8);}
  60%{-webkit-transform: scale(1.2);} 
  80%{-webkit-transform: scale(0.5);}
  100%{-webkit-transform: scale(1);}
}