@charset "utf-8";

/* CSS Document */
* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 1100px; 
  font-size: 14px;
  line-height: 1.4;
  color: #000;
  font-weight: 500;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  outline: 0;
  vertical-align: baseline;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #000;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li { list-style-type: none; }
img { border: none; }
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}
.clearfix { zoom: 1; }
.fl { float: left; }
.fr { float: right; }
.main {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper {
  position: relative;
  z-index: 9;
  width: 1100px;
  min-width: 1100px;
  margin: 0 auto;
  zoom: 1;
}
.all-icons { 
  display: inline-block;
  text-indent: -9999px;
  background: url(../images/all-icons.png) no-repeat 0 0;
}

/* banner */
.banner {
  position: relative;
  width: 100%;
  min-width: 1100px;
  height: 650px;
  text-align: center;
  background: #941818 url(../images/bg.jpg) top center no-repeat;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg.jpg', sizingMethod='scale');
  background-size: cover;
}
.banner .left-bg,
.banner .right-bg {
  position: absolute;
  z-index: 3;
  top: 0px;
}
.banner .left-bg { left: -30px; }
.banner .right-bg { right: 0px; }
.banner .logo {
  display: block;
  padding-top: 28px;
  width: 56px;
  text-align: left;
}
.banner .title {
  margin-top: -8px;
  height: 96px;
  text-indent: -9999px;
  background: url(../images/title.png) top center no-repeat;
}
.banner .left { 
  position: relative;
  max-width: 500px;
  margin: -16px 0 0 -22px;
}
.banner .left .balloon {
  position: absolute;
  top: 0px;
  right: -90px;
  width: 300px;
  text-align: center;
}
.banner .right {
  margin-top: 82px;
  margin-right: 52px;
  width: 540px; 
}
.banner h2 { 
  height: 32px;
  text-indent: -9999px;
  background: url(../images/banner-h2-title.png) top center no-repeat; 
}
.banner .right > p {
  margin-top: 6px;
  font-weight: 600;
  color: #b28a3d;
}
.banner .price .count { 
  margin: 26px 0 22px 0; 
  height: 97px;
  background: url(../images/count-bg.png) top center no-repeat;
}
.price { position: relative; }
.price p {
  color: #b28a3d;
  font-size: 12px;
  font-weight: 600;
}
.price p.watching { 
  padding-top: 17px;
  font-size: 16px; 
}
.price p.watching i {
  margin-right: 4px;
  width: 14px;
  height: 13px;
  background-position: 0 0px;
}
.packbox {
  display: inline-block;
  margin-top: -4px;
  margin-left: 2px;
  height: 28px;
  vertical-align: middle;
  overflow: hidden;
}
.packbox span {
  display: block;
  margin-right: 2px;
  float: left; 
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #9d1b19;
}
.packbox span.last { margin-right: 0px; }
.packbox .list { 
  display: block;
  line-height: 28px;
}
.packbox .list strong {
  display: block;
  line-height: 28px;
  font-size: 22px;
  font-weight: 600;
  color: #fef2a0; 
}
.price ul {
  margin: 0 auto;
  width: 390px;
}
.price li {
  color: #b28a3d;
  font-size: 14px;
  font-weight: 500;
}
.price li.countdown { font-size: 12px; }
.viewNum {
  display: inline-block;
  margin-left: -20px;
  width: 36px;
  text-align: right;
}
.progressbar {
  position: relative;
  margin: 8px auto 6px;
  width: 390px;
  height: 8px;
  background: #f6e88f;
  border-radius: 5px;
  border: 1px solid #c7ae34;
}
.progressbar span {
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  width: 216px;
  height: 8px;
  background-color: #bf1512;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(0deg, rgb(249,228,136) 0%, rgb(191,21,18) 100%);
  background-image:         linear-gradient(left, rgb(249,228,136) 0%, rgb(191,21,18) 100%);
  -webkit-transition: 1.5s ease-in-out;
          transition: 1.5s ease-in-out;
}
.progressbar span .reduce {
  display: inline-block;
  position: absolute;
  right: -34px;
  top: -18px;
  z-index: 5;
  opacity: 1;
  visibility: visible;
  width: 31px;
  height: 63px;
  background: url(../images/reduce.png) no-repeat;
  -webkit-transition: all .8s ease;
          transition: all .8s ease;
}
.progressbar span .reduce.zoomout {
  top: -48px;
  opacity: 0;
  visibility: hidden;
  filter: alpha(opacity=0);
}
.countdown b {
  display: inline-block;
  width: 26px;
  font-size: 18px;
  font-weight: 600;
  color: #b28a3d;
}
.countdown b.last {
  width: 20px; 
  font-size: 12px; 
  text-align: right;
}
.price p strong {
  font-size: 18px;
  color: #9d1b19;
  font-weight: 600;
}
.price p strong big { font-size: 42px; }
.price p del {
  display: inline-block;
  position: relative;
  padding-left: 4px;
  font-size: 16px;
  font-weight: 600;
  color: #b28a3d;
  text-decoration: none;
}
.price p del:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 2px;
  width: 64px;
  height: 15px;
  background: url(../images/del.png) no-repeat;
}
.price p.year {
  margin-top: 8px;
  color: #a87437;
  font-size: 12px;
  font-weight: 600;
}
.price .moneyback {
  display: block;
  position: absolute;
  right: 58px;
  bottom: 16px;
}

/* buybtn */
.buybtn {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 243px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  overflow: hidden;
  text-align: center;
  border-radius: 27px;
  letter-spacing: 1px;
  word-spacing: 1px;
  border: 2px solid #dd0c0c;
  background-color: #b20300;
  text-shadow: 1px 1.732px 2px rgba(186, 1, 1, 0.84);
  box-shadow: 0px 8px 9.5px 0.5px rgba(137, 35, 0, 0.5);
  background-image: -webkit-linear-gradient(rgb(255,38,2) 0%, rgb(178,3,0) 100%);
  background-image:         linear-gradient(rgb(255,38,2) 0%, rgb(178,3,0) 100%);
}
.bigbtn {
  width: 296px;
  font-weight: 700;
  font-size: 18px;
}
.buybtn.yellow {
  margin-top: 25px;
  margin-right: 78px;
  width: 247px;
  height: 52px;
  line-height: 52px;
  color: #b71613;
  font-weight: 700;
  background-color: #fe7a2f;
  text-shadow: none;
  letter-spacing: 0px;
  word-spacing: 0px;
  border: 0px;
  border: none;
  border-radius: 26px;
  box-shadow: 0px 10px 12px 0px rgba(141, 5, 0, 0.74);
  background-image: -webkit-linear-gradient(rgb(255,233,55) 0%, rgb(254,122,47) 100%);
  background-image:         linear-gradient(rgb(255,233,55) 0%, rgb(254,122,47) 100%);
}
.popShow .buybtn.yellow { 
  margin: -2px auto 0px; 
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 1px;
}
.buybtn:hover { 
  background-color: #fd3c3c; 
  border: 2px solid #dd0c0c;
  background-image: -webkit-linear-gradient(73deg, rgb(241,7,7) 0%, rgb(253,60,60) 100%);
  background-image:         linear-gradient(73deg, rgb(241,7,7) 0%, rgb(253,60,60) 100%);
  box-shadow: 0px 5px 18.27px 2.73px rgba(137, 35, 0, 0.5),inset -1.463px -1.364px 3px 0px rgba(255, 80, 39, 0.59),inset -2.463px 3.152px 3.92px 0.08px rgba(200, 44, 44, 0.41);
  -webkit-transition: all .3s;
          transition: all .3s;
}
.buybtn.yellow:hover {
  width: 247px;
  height: 52px;
  line-height: 52px;
  border: 0px;
  border: none;
  box-shadow: none;
  background: #ffde4e;
}

/* feature */
.feature {
  padding: 80px 0 68px;
  text-align: center;
  background: url(../images/feature-bg.jpg) right bottom no-repeat;
}
.feature h4 {
  height: 71px;
  font-size: 24px;
  font-weight: 600;
  line-height: 80px;
  color: #242424;
  background: url(../images/feature-title-bg.png) top center no-repeat;
}
.feature h2 {
  font-size: 30px;
  line-height: 45px;
  color: #242424;
}
.feature .screen { 
  margin: 112px -45px 0 32px;
  width: 500px;
}
.feature .right {
  position: relative;
  margin-top: 6px;
  width: 520px;
  height: 500px;
  background: url(../images/circle.png) 0 0 no-repeat;
}
.feature dl {
  position: absolute;
  margin-bottom: 34px;
  width: 520px;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(50px, 0);
          transform: translate(50px, 0);
  -webkit-transition: opacity 1s,transform 1s ease;
          transition: opacity 1s,transform 1s ease;
}
.feature dl.on {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.feature dl.one {
  top: 59px;
  left: 25px;
}
.feature dl.two {
  top: 164px;
  left: 68px;
}
.feature dl.three {
  top: 268px;
  left: 68px;
}
.feature dl.four {
  bottom: 16px;
  left: 39px;
}
.feature dt {
  float: left;
  margin-top: 2px;
  width: 84px;
  height: 75px;
  text-indent: -9999px;
  background: url(../images/icons.png) 0 0 no-repeat;
}
.feature dl.two dt { background-position: 0 -150px; }
.feature dl.three dt { background-position: 0 -75px; }
.feature dl.four dt { background-position: 0 -225px; }
.feature dd {
  float: left;
  margin-left: 24px;
  max-width: 408px;
}
.feature dd h3 {
  font-size: 18px;
  color: #353535;
}
.feature dl.four dd h3 { margin-top: 12px; }
.feature dd p {
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  color: #848484;
}
.feature dl.one dd h3 { margin-top: -10px; }
.feature dl.one dd p { margin-top: 6px; }
.feature dl.one.datahide dd p { margin-top: 8px; }
.feature dl.one.datahide dd h3 { margin-top: 10px; }
.feature dd b {
  display: block;
  font-size: 22px;
  color: #ff3000;
  line-height: 30px;
}
.hide { display: none !important; }

/* comparison */
.comparison {
  position: relative;
  padding: 80px 0px;
  text-align: center;
  background-color: #f6f6f6;
}
.comparison:after {
  content: '';
  position: absolute;
  top: -19px;
  left: 50%;
  margin-left: -19px;
  width: 38px;
  height: 38px;
  background: url(../images/ring.png) no-repeat;
  -webkit-animation: roate 1.5s infinite linear;
          animation: roate 1.5s infinite linear;
}
.comparison h2 {
  font-size: 30px;
  line-height: 42px;
}
.comparison .wrapper > p {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 500;
  line-height: 42px;
}
.comparison .wrapper > p i {
  margin-right: 2px;
  width: 34px;
  height: 17px;
  background-position: 0 -13px;
}
.comparison .wrapper > p i.right { 
  margin-left: 2px;
  background-position: 0 -30px; 
}
.comparison table {
  display: block;
  position: relative;
  border: 0;
  border-collapse: separate;
  border-spacing: 0px;
  text-align: center;
}
.comparison th { 
  position: relative; 
  height: 58px; 
  font-size: 22px;
}
.comparison .itema,
.comparison .itemc { 
  width: 200px; 
  text-align: left;
  text-indent: 20px;
}
.comparison .itemc {
  padding-right: 20px;
  width: 180px;
  text-align: right;
}
.comparison .itemb { 
  width: 700px; 
  font-weight: 600;
}
.comparison td {
  padding-bottom: 10px; 
  height: 40px; 
  font-size: 16px;
  vertical-align: bottom;
  border-bottom: 1px solid #ebebeb;
}
.comparison td i {
  width: 14px;
  height: 14px;
  text-align: left;
  vertical-align: bottom;
  background-position: 0 -47px;
}
.comparison td i.red { background-position: -15px -47px; }
.comparison td span {
  display: inline-block;
  padding-left: 8px;
  text-align: left;
  text-indent: 0px;
  color: #51c902;
  line-height: 12px;
  vertical-align: bottom;
}
.comparison td.itemc span { color: #d40000; }

/* centbuy */
.centbuy {
  padding: 98px 0 66px;
  text-align: center;
}
.centbuy h2 {
  position: relative;
  font-size: 30px;
}
.centbuy h2:before,
.centbuy h2:after {
  content: '';
  position: absolute;
  top: -20px;
  width: 74px;
  height: 27px;
  background: url(../images/ribbon.png) 0 -88px no-repeat;
}
.centbuy h2:before { left: 80px; }
.centbuy h2:after {
  right: 100px;
  width: 162px;
  height: 88px;
  background-position: 0 0px;
}
.centbuy .wrapper > p {
  margin-top: 5px;
  font-size: 18px;
}
.centbuy dl {
  margin: 0;
  float: left;
  width: 33.33%;
}
.centbuy dt {
  margin-top: 60px;
  margin-bottom: 20px;
  line-height: 84px;
}
.centbuy dt img { vertical-align: middle; }
.centbuy dl b {
  font-size: 38px;
  color: #dd0c0c;
  text-shadow: -3.316px 2.237px 0px rgba(118, 118, 118, 0.23);
}
.centbuy dl h4 {
  margin-top: 8px;
  height: 50px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}
.centbuy dl span {
  display: block;
  margin: 10px auto 66px;
  width: 106px;
  height: 18px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: left;
  text-indent: 6px;
  background: url(../images/sign.png) 0 0 no-repeat;
}
.centbuy dl span.green { 
  width: 82px;
  text-indent: 14px;
  background-position: 0 -18px; 
}
.centbuy .price p.year { 
  margin-top: 8px;
  color: #96949d; 
}

/* awards */
.awards {
  height: 295px;
  color: #fff;
  text-align: center;
  background: #4e4e4e url(../images/awards-bg.jpg) top center no-repeat;
}
.awards h2 {
  padding-top: 68px;
  font-size: 36px;
  font-weight: 600;
}
.awards p {
  margin-bottom: 36px;
  font-weight: 500;
  line-height: 22px;
}

/* review */
.review {
  padding-top: 100px;
  text-align: center;
}
.review h2 { font-size: 30px; }
.dg-container {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}
.dg-wrapper {
  margin: 0 auto;
  width: 640px;
  height: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 500px;
  perspective: 500px;
}
.dg-wrapper .dg-transition {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.dg-container .nav {
  position: relative;
  width: 100%;
}
.dg-container .nav span {
  position: absolute;
  top: 132px;
  width: 22px;
  height: 41px;
  display: block;
  overflow: hidden;
  cursor: pointer;
  background: url("../images/review-control.png") no-repeat;
}
.dg-container .nav .dg-prev {
  left: 0;
  background-position: 0 0;
}
.dg-container .nav .dg-prev:hover {
  background-position: 0 -41px;
}
.dg-container .nav .dg-next {
  right: 0;
  background-position: -22px 0;
}
.dg-container .nav .dg-next:hover{
  background-position: -22px -41px;
}
.inner {
  display: block;
  margin: 0 auto;
  width: 640px;
  height: 510px;
}
.content {
  position: relative;
  display: block;
  margin: 0 auto;
  padding-top: 88px;
  width: 640px;
  height: 510px;
}
.content .reviews {
  position: absolute;
  left: 0;
  top: 88px;
  display: block;
  width: 640px;
  height: 500px;
  text-align: center;
}
.content .reviews dt { margin-bottom: 70px; }
.content .reviews dt img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.content .reviews dd {
  margin-left: -120px;
  display: none;
  width: 900px;
}
.content .reviews dd h2 {
  display: inline-block;
  margin-bottom: 36px;
  font-size: 36px;
  font-weight: 500;
}
.content .reviews dd p {
  margin: 0 auto;
  max-width: 700px;
  line-height: 24px;
  color: #525252;
}
.content .reviews dd cite {
  display: inline-block;
  margin-top: 30px;
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
}
.content .reviews.dg-center dt img {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0 40px 40px rgba(92, 95, 101, 0.3);
}
.content .reviews.dg-center dd { display: block; }

.bottom {
  margin-top: 34px;
  padding: 50px 0 150px;
  color: #51525a;
  font-size: 12px;
  line-height: 16px;
  background-color: #3c3c3c;
}
/* service */
.service dl {
  padding-bottom: 22px;
  margin-bottom: 18px;
  width: 549px;
  height: 104px;
  font-weight: 600;
  text-align: center;
  overflow: hidden;
  background-color: #4f4f4f;
}
.service .fl dt { 
  float: left; 
  margin-top: 25px;
  width: 96px;
  text-align: center;
}
.service .fl dd {
  float: left;
  width: 450px;
  text-align: left;
}
.service dd h4 {
  padding: 22px 0 10px;
  font-size: 15px;
  font-weight: 600;
  color: #a8a9b0;
}
.service .fr dd h4 {
  padding-left: 20px;
  padding-bottom: 12px;
  text-align: left;
}
.service dd p {
  font-size: 12px;
  line-height: 18px;
  color: #696a71;
}
.footer dl { font-weight: 600; }
.footer p { 
  padding-top: 28px;
  font-size: 14px;
  font-weight: 600;
  text-align: center; 
}

/* backtotop */
.backtotop { 
  position: fixed; 
  z-index: 102;
  bottom: -100px;
  right: 4%;   
  width: 65px;
  height: 65px; 
  cursor: pointer;
  visibility: hidden;
  text-indent: -9999px;
  background: url(../images/backtotop.png) 0 0 repeat;
  -webkit-transition: visibility 0.4s; 
          transition: visibility 0.4s; 
}
.backtotop:hover { background-position: 0 100%; }
.backtotop.on { 
  bottom: 18%; 
  visibility: visible; 
}

/* float */
.floatlayer {
  position: fixed;
  z-index: 101;
  width: 100%;
  height: 110px;
  bottom: -120px;
  left: 0;
  background: url("../images/float-bg.jpg") bottom center no-repeat;
  visibility: hidden;
  -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
       -o-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
}
.floatlayer.on {
  bottom: 0;
  visibility: visible;
  -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
       -o-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
}
.floatlayer .wrapper > img {
  display: block;
  margin: -72px 45px 0 -25px;
}
.floatlayer .price ul {
  margin-top: 25px;
 width: 440px; 
}
.floatlayer .price li {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
.floatlayer .price .packsNum { font-size: 18px; }
.floatlayer .price li.countdown { font-size: 12px; }
.floatlayer .price li.countdown b { 
  padding-left: 2px;
  color: #fff; 
  text-align: center;
}
.floatlayer .progressbar {
  width: 448px;
  background: #e77983;
  border-color: #f6dca9;
}
.floatlayer .progressbar span {
  background-color: #ffd554;
  background-image: -webkit-linear-gradient(0deg, rgb(199,0,17) 0%, rgb(255,213,84) 100%);
  background-image:         linear-gradient(left, rgb(199,0,17) 0%, rgb(255,213,84) 100%);
}
.floatlayer .buybtn.yellow {
  margin-top: 30px;
  margin-right: 30px;
  width: 290px;
}

/* mask */
.mask,
.popShow {
  position: fixed;
  z-index: -1;
}
.mask {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background: url(../images/mask-bg.png) top center repeat;
}
.mask.on {
  z-index: 999; 
  visibility: visible; 
}
.popShow {
  z-index: 1000;
  top: 24%;
  left: 50%;
  margin-left: -380px;
  width: 834px;
  height: 426px;
  color: #000;
  text-align: center;
  background: url(../images/pop-bg.png) top center no-repeat;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate(0px,-150px);
          transform: translate(0px,-150px);
  -webkit-transition: opacity .6s,transform .6s ease;
          transition: opacity .6s,transform .6s ease;
}
.popShow.on {
  z-index: 999; 
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0px,0px);;
          transform: translate(0px,0px);;
}
.popShow .title {
  margin-top: -22px;
  height: 124px;
  text-indent: -9999px;
  background: url(../images/pop-title.png) 44px 0px no-repeat;
}
.popShow .imgbox { margin: -20px 26px 0 55px; }
.popShow .imgbox > img {
  display: block;
  width: 315px;
  height: 301px;
}
.popShow .price {
  margin-top: 45px;
  width: 250px;
  text-align: center;
}
.popShow .price p strong { color: #fff; }
.popShow .price p strong big {
  padding: 0 2px;
  font-size: 38px;
}
.popShow .price p del { color: #eab8a4; }
.popShow .price p del:after {
  width: 51px;
  height: 12px;
  background-position: 0 -15px;
}
.popShow .price p.year { color: #d99290; }

/* animation */
.banner .left .balloon.on {
  -webkit-animation: 0.7s init, 3s shake 0.7s forwards;
          animation: 0.7s init, 3s shake 0.7s forwards;
}
@-webkit-keyframes init {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1) rotatez(7deg) translate(-17px, 1px);
  }
}
@keyframes init {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1) rotatez(7deg) translate(-17px, 1px);
  }
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotatez(7deg) translate(-17px, 1px);
  }
  30% {
    -webkit-transform: rotatez(-7deg) translate(17px, 1px);
  }
  60% {
    -webkit-transform: rotatez(7deg) translate(-17px, 1px);
  }
  100% {
    -webkit-transform: rotatez(0deg) translate(0px, 0px);
  }
}
@keyframes shake {
  0% {
    transform: rotatez(7deg) translate(-17px, 1px);
  }
  30% {
    transform: rotatez(-7deg) translate(17px, 1px);
  }
  60% {
    transform: rotatez(7deg) translate(-17px, 1px);
  }
  100% {
    transform: rotatez(0deg) translate(0px, 0px);
  }
}
@-webkit-keyframes roate {
  0% { -webkit-transform: rotateZ(0deg); }
  100% { -webkit-transform: rotateZ(360deg); }
}
@keyframes roate {
  0% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(360deg); }
}