@charset "utf-8";

/* CSS Document */
* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 1100px; 
  font-size: 14px;
  line-height: 1.4;
  color: #302d3d;
  font-weight: 400;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  outline: 0;
  vertical-align: baseline;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #302d3d;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li { list-style-type: none; }
img { border: none; }
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}
.clearfix { zoom: 1; }
.fl { float: left; }
.fr { float: right; }
.main {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper {
  position: relative;
  width: 1100px;
  min-width: 1100px;
  margin: 0 auto;
  zoom: 1;
}
.all-icons { 
  display: inline-block;
  text-indent: -9999px;
  background: url(../images/all-icons.png) no-repeat 0 0;
}

/* banner */
.banner {
  width: 100%;
  min-width: 1100px;
  height: 653px;
  text-align: center;
  background: url(../images/bg.jpg) top center no-repeat;
}
.banner .logo {
  display: block;
  padding-top: 12px;
}
.banner .logo img {
  display: block;
  margin-left: 56px;
}
.banner h1 {
  margin-top: 16px;
  font-size: 44px;
  color: #65636f;
  text-transform: uppercase;
}
.banner h3 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  color: #898792;
}
.banner .left { margin: 74px 0 0 -10px; }
.banner .right {
  margin: 106px 110px 0 0;
  min-width: 470px; 
}
.banner h2 {
  margin-bottom: 64px;
  font-size: 28px;
  line-height: 24px;
}
.price p {
  position: relative;
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 24px;
}
.price p del {
  display: inline-block;
  padding-left: 76px;
}
.price p img {
  display: block;
  position: absolute;
  top: -50px;
  left: 183px;
}
.price li {
  display: inline-block;
  line-height: 24px;
  color: #7b7984;
}
.centbuy .price li {
  color: #fff;
  font-size: 16px;
}
.price li b { 
  display: inline-block;
  position: relative;
  color: #302d3d; 
  font-size: 19px;
}
.price li b > b {
  position: absolute;
  top: 0px;
  left: 0px;
}
.centbuy .price li b { 
  font-size: 18px;
  color: #fff;
}
.price li.countdown { 
  margin-left: 56px; 
  font-size: 12px;
}
.price li.countdown b { font-size: 14px; }
.price h5 { font-size: 14px; }
.progressbar {
  position: relative;
  margin: 6px auto 30px;
  width: 462px;
  height: 10px;
  border-radius: 7px;
  border: 1px solid #d4d4d4;
  background-color: #fff;
}
.progressbar span {
  position: absolute;
  left: 3px;
  top: 2px;
  display: block;
  height: 6px;
  width: 450px;
  background-color: #eda407;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-transition: 1.5s ease-in-out;
          transition: 1.5s ease-in-out;
}
.progressbar span:after {
  content: "";
  position: absolute;
  right: 0px;
  top: -5px;
  width: 2px;
  height: 16px;
  background-color: #eda407;
}
.progressbar span .reduce {
  display: block;
  position: absolute;
  right: -13px;
  top: -29px;
  z-index: 5;
  width: 31px;
  height: 63px;
  background: url(../images/reduce.png) no-repeat;
}
/* buybtn */
.buybtn {
  position: relative;
  display: block;
  margin: 0 auto 14px;
  width: 272px;
  height: 62px;
  line-height: 62px;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  background-color: #ef730e;
  text-shadow: 0px 1px 4px rgba(182, 0, 0, 0.74);
  box-shadow: -1.047px 19.973px 27px 0px rgba(239, 131, 15, 0.46);
  background-image: -webkit-linear-gradient(rgb(240,148,17) 30%, rgb(239,115,14) 100%);
  background-image:         linear-gradient(rgb(240,148,17) 30%, rgb(239,115,14) 100%);
  -webkit-transition: all .2s ease;
          transition: all .2s ease;
}
.centbuy .buybtn { box-shadow: -1.047px 19.973px 27px 0px rgba(18, 29, 115, 0.46); }
.floatlayer .buybtn {
  margin: 34px 48px 0 0;
  width: 235px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  border-radius: 6px;
}
.buybtn span { display: block; }
.buybtn:after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter:alpha(opacity=0);
  display: none \9;
  color: #fff;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}
.buybtn:hover {
  background-color: #ffae00;
  background-image: -webkit-linear-gradient(rgb(255,174,0) 60%, rgb(243,132,0) 100%);
  background-image:         linear-gradient(rgb(255,174,0) 60%, rgb(243,132,0) 100%);
}
.buybtn:hover span { 
  display: none; 
  display: block \9;
}
.buybtn:hover:after {
  opacity: 1;
  filter:alpha(opacity=100);
  display: none \9;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
                  transition: opacity 0.3s, transform 0.3s; 
}

/* flow */
.flow {
  margin-bottom: 74px;
  padding: 8px 0 40px;
  border-bottom: 1px solid #e7eaee;
  background: url(../images/flow-bg.png) 260px 22px no-repeat;
}
.flow p,
.flow h2 {
  float: left;
  color: #93919b;
  line-height: 18px;
  text-align: center;
  font-weight: 400;
}
.flow h2 {
  margin-top: 8px;
  width: 700px;
  font-size: 22px;
}
.flow p { max-width: 200px; }

/* intro */
.intro h2 {
  font-size: 32px;
  line-height: 50px;
  text-align: center;
}
.intro .panel {
  position: relative;
  height: 420px;
}
.intro .panel > img {
  display: block;
  margin-top: 154px;
  margin-left: -42px;
}
.intro dl {
  position: absolute;
}
.intro dl dd {
  float: left;
  line-height: 24px;
}
.intro dl dt {
  float: left;
  margin: 18px 18px 0 0px;
  width: 66px;
}
.intro dl h4 {
  padding-top: 15px;
  font-size: 20px; 
  color: #1e52e0;
}
.intro dl h5 { font-size: 16px; }
.intro dl p {
  padding: 8px 0 0;
  line-height: 20px;
  color: #949aaa;
}
.intro dl.first { top: -87px; left: 450px;}
.intro dl.two { top: 62px; right: -3px;}
.intro dl.three { top: 241px; right: 20px;}
.intro dl.four { bottom: -62px; right: 200px;}


/* comparison */
.comparison { position: relative; margin-top: 140px; border-top: solid #e0e0e0 1px; text-align: center;}
.comparison:after { position: absolute; content: ""; width: 94px; height: 26px; left: 0; right: 0; top: -3px; margin: auto; background: url(../images/arrow.png);}
.comparison table {
  border: 0;
  border-collapse: separate;
  border-spacing: 0px;
}
.comparison h2 { padding-top: 65px; padding-bottom: 35px; font-size: 32px;}
.comparison th { font-size: 17px; color: #fff; height: 68px; border-top-left-radius: 10px; border-top-right-radius: 10px;}
.comparison .itema { width: 273px;}
.comparison .itemb { width: 470px;}
.comparison .itemc { width: 273px;}
.comparison .space { width: 23px; border: none !important;}
.comparison th.itema { background: #7f87a1;}
.comparison th.itema span { display: block; font-size: 15px; color: #acf041;}
.comparison th.itemc { background: #416af0;}
.comparison td.itemc { background: #f0f4fa;}
.comparison td.itema { background: #f7f8fa;}
.comparison td.last { border: none; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;}

.comparison td { height: 55px; border-bottom: solid #d0d4e2 1px;}
.comparison td i { display: inline-block; vertical-align: middle; background: url(../images/all-icons.png);}
.comparison td i.pro { width: 24px; height: 18px; background-position: 0px -28px;}
.comparison td i.close { width: 17px; height: 17px; background-position: 0px -46px;}
.comparison td.itemb { text-align: left; font-size: 16px; font-weight: 700;}
.comparison td.itemb span { display: inline-block; vertical-align: middle; width: 50px; text-align: center; margin-left: 25px; margin-right: 20px;}
/* centbuy */
.centbuy {
  margin-top: 98px;
  width: 100%;
  height: 258px;
  text-align: center;
  background: url(../images/centbuy-bg.jpg) top center no-repeat;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='centbuy-bg.jpg', sizingMethod='scale');
  background-size: cover;
}
.centbuy h2 {
  padding-top: 50px;
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: 400;
  line-height: 50px;
  color: #fff;
}
.centbuy h2 b { font-size: 40px; }

/* review */
.dg-container {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}
.dg-wrapper {
  margin: 0 auto;
  width: 640px;
  height: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 500px;
  perspective: 500px;
}
.dg-wrapper .dg-transition {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.dg-container .nav {
  position: relative;
  width: 100%;
}
.dg-container .nav span {
  position: absolute;
  top: 132px;
  width: 22px;
  height: 41px;
  display: block;
  overflow: hidden;
  cursor: pointer;
  background: url("../images/review-control.png") no-repeat;
}
.dg-container .nav .dg-prev {
  left: 0;
  background-position: 0 0;
}
.dg-container .nav .dg-prev:hover {
  background-position: 0 -41px;
}
.dg-container .nav .dg-next {
  right: 0;
  background-position: -22px 0;
}
.dg-container .nav .dg-next:hover{
  background-position: -22px -41px;
}
.inner {
  display: block;
  margin: 0 auto;
  width: 640px;
  height: 510px;
}
.content {
  position: relative;
  display: block;
  margin: 0 auto;
  padding-top: 88px;
  width: 640px;
  height: 510px;
}
.content .reviews {
  position: absolute;
  left: 0;
  top: 88px;
  display: block;
  width: 640px;
  height: 500px;
  text-align: center;
}
.content .reviews dt { margin-bottom: 70px; }
.content .reviews dt img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.content .reviews dd {
  margin-left: -120px;
  display: none;
  width: 900px;
}
.content .reviews dd h2 {
  display: inline-block;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 400;
}
.content .reviews dd p {
  margin: 0 auto;
  max-width: 700px;
  line-height: 24px;
  color: #545454;
}
.content .reviews dd cite {
  display: inline-block;
  margin-top: 30px;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  color: #161723;
}
.content .reviews.dg-center dt img {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0 40px 40px rgba(92, 95, 101, 0.3);
}
.content .reviews.dg-center dd { display: block; }

/* awards */
.awards {
  width: 100%;
  height: 295px;
  color: #a2a6b0;
  text-align: center;
  background: url(../images/awards-bg.jpg) top center no-repeat;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='awards-bg.jpg', sizingMethod='scale');
  background-size: cover;
}
.awards h2 {
  padding-top: 64px;
  font-size: 36px;
}
.awards p { 
  margin-bottom: 36px;
  line-height: 22px; 
}

.bottom {
  text-align: center;
  background-color: #e9e9e9;
}
/* service */
.service dl {
  margin-top: 50px;
  float: left;
  width: 33.33%;
  text-align: center;
}
.service dt { line-height: 72px; }
.service dt img { vertical-align: middle; }
.service h4 {
  margin: 20px 0 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.service p {
  padding: 0 74px;
  font-size: 12px;
  line-height: 18px;
}

/* footer */
.footer { 
  margin-top: 26px;
  padding: 20px 0 160px;
  border-top: 1px solid #c8c8c8;
}
.footer.on { padding-bottom: 10px;}
.footer dd {
  font-size: 12px;
  line-height: 16px;
  text-align: left;
}
.footer p { padding-top: 26px; }

/* floatlayer */
.floatlayer { 
  position: fixed; 
  z-index: 10; 
  right: 0px;
  left: 0px;
  bottom: -130px; 
  width: 100%;
  min-width: 1100px; 
  height: 121px;  
  text-align: center;
  visibility: hidden; 
  background: url(../images/float-bg.png) top center no-repeat;
  -webkit-transition: all 0.4s; 
          transition: all 0.4s;  
}
.floatlayer.on { 
  bottom: 0px; 
  visibility: visible; 
}
.floatlayer img {
  display: block;
  margin: -60px 106px 0 18px;
}
.floatlayer .price { margin-top: 34px; }

/* mask */
.mask,
.mask-box {
  position: fixed;
  z-index: 999;
}
.mask {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/mask-bg.png) top center repeat;
}

.mask-box {
  z-index: 1000;
  top: 18%;
  left: 50%;
  margin-left: -322.5px;
  width: 645px;
  height: 442px;
  text-align: center;
  background: url(../images/mask-box-bg.png) top center no-repeat;
  box-shadow: 0px 18px 17px 0px rgba(50, 50, 51, 0.69);
  border-radius: 20px;
  color: #302d3d;
}
.mask-box h3 { font-size: 20px;}
.mask-box p { padding-top: 15px; font-size: 18px; color: #302d3d;}
.mask-box .img-box { display: block; width: 414px; height: 174px; margin: 0px auto; margin-top: 37px; background: url(../images/fl-img-box.png);}
.mask-box p.price { margin-top: 10px; margin-bottom: 20px; font-size: 18px;}
.mask-box p.price strong { display: inline-block; vertical-align: bottom; width: 81px; height: 24px; text-indent: -9999px; background: url(../images/price-fl.png);}