@charset "utf-8";

/* CSS Document */
* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  min-width: 1000px; 
  font-size: 14px;
  line-height: 1.4;
  color: #000;
  font-weight: 400;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  outline: 0;
  vertical-align: baseline;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #000;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li { list-style-type: none; }
img { border: none; }
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}
.clearfix { zoom: 1; }
.fl { float: left; }
.fr { float: right; }
.wrapper {
  position: relative;
  width: 1000px;
  min-width: 1000px;
  margin: 0 auto;
  zoom: 1;
}
.all-icons { 
  display: inline-block;
  text-indent: -9999px;
  background: url(../images/all-icons.png) no-repeat 0 0;
}

.main {
  position: relative;
  z-index: 900;
  width: 100%;
  height: 100%;
}
/* banner */
.banner {
  width: 100%;
  min-width: 1000px;
  height: 698px;
  background-color: #fff;
  background: url(../images/bg.jpg) top center no-repeat;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg.jpg', sizingMethod='scale');
  background-size: cover;
}
.banner .logo {
  display: block;
  padding-top: 16px;
}
.banner .title .off {
  margin: 22px 20px 0 85px;
  width: 148px;
  height: 148px;
  color: #fff;
  text-align: center;
  background: url(../images/off.png) no-repeat;
}
.banner .title .off b {
  display: block;
  padding-top: 26px;
  font-size: 12px;
  font-weight: 900;
}
.banner .title .off b.sconto { padding-top: 6px; }
.banner .title h3 {
  font-size: 36px;
  line-height: 32px;
}
.banner .title .text {
  margin-top: 40px;
  width: 640px;
  color: #fff;
  background: url(../images/title.png) 460px 68px no-repeat;
}
.banner .title .text h2 {
  font-size: 66px;
  font-weight: 900;
  line-height: 60px;
}
.banner .title .text p { 
  font-size: 22px; 
  text-indent: 60px;
}
.banner .box,
.banner .inner {
  margin: 66px 38px 0 94px;
  float: left;
  width: 376px;
  height: 371px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 23px 45px 0px rgba(243, 45, 35, 0.48);
}
.banner .box.red {
  position: relative;
  margin: 0px;
  margin-top: 30px;
  width: 384px;
  height: 412px;
  background-color: #3b2449;
  background-image: -webkit-linear-gradient(#3b2449 0%, #ed3d59 100%);
  background-image:         linear-gradient(#3b2449 0%, #ed3d59 100%);
}
.banner .imgbox {
  position: relative;
  padding-top: 28px;
  margin-bottom: 28px;
}
.banner .red .imgbox { 
  padding-top: 32px;
  margin-bottom: 22px; 
}
.banner .imgbox:after {
  content: '';
  position: absolute;
  top: 32px;
  right: 27px;
  width: 161px;
  height: 79px;
  background: url(../images/discount.png) 0 -158px no-repeat; 
}
.banner .red .imgbox:after { background-position: 0 -79px; }
.banner .reduce .imgbox:after { background-position: 0 0px; }
.banner .imgbox img {
  display: block;
  margin-left: 23px;
}
.banner .red .imgbox img { margin-left: 8px; }
.banner .imgbox .tagbox {
  position: absolute;
  top: 132px;
  right: 39px;
}
.banner .red .imgbox .tagbox { right: 23px; }
.banner .imgbox .tagbox h6 {
  margin-bottom: 6px;
  font-size: 14px;
  color: #040037;
} 
.banner .imgbox .tagbox h6.tag {
  position: relative;
  padding: 0 6px;
  color: #0d0237;
  line-height: 22px;
  background-color: #cfcfcf;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.banner .red .imgbox .tagbox h6.tag {
  color: #fff;
  background-color: #040037;
}
.banner .imgbox .tagbox h6.tag:before {
  content: '';
  position: absolute;
  top: 0px;
  left: -11px;
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-right: 11px solid #cfcfcf;
}
.banner .red .imgbox .tagbox h6.tag:before { border-right-color: #040037; }
.banner .giftbox {
  height: 37px;
  color: #fff;
  line-height: 37px;
}
.banner .giftbox i {
  margin-top: -4px;
  margin-right: 12px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-position: 0 -58px;
}
.banner .giftbox p {
  display: inline-block;
}
.banner .inner {
  margin: 0 auto;
  float: none;
}
.reducenum {
  position: absolute;
  top: -28px;
  right: -43px;
  width: 96px;
  height: 96px;
  line-height: 90px;
  font-size: 52px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  background: #ff9900;
  text-shadow: 0px 3px 6px rgba(157, 10, 3, 0.74);
  box-shadow: 0px 9px 16px 0px rgba(237, 61, 89, 0.84);
}
.floatlayer .reducenum {
  top: -10px;
  right: auto;
  left: 2px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 26px;
}
.banner .box .giftnum { 
  position: relative; 
  display: inline-block;
}
.banner .box .giftnum b { display: inline-block; }
.banner .box .shadow {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}
.banner .box .shadow.zoomout {
  opacity: 1;
  -webkit-animation: zoomout 1s .2s forwards;
          animation: zoomout 1s .2s forwards; 
}
.banner .box .dissolve,
.banner .box .numreduce {
  display: block;
  position: absolute;
  top: 136px;
  left: 104px;
  width: 115px;
  height: 102px;
  opacity: 0;
  filter: alpha(opacity=0);
  background: url(../images/dissolve.png) no-repeat;
  -webkit-animation: dissolve 0.8s forwards; 
          animation: dissolve 0.8s forwards; 
}
.banner .box .numreduce {
  top: 128px;
  left: 142px;
  width: 35px;
  height: 32px;
  background: url(../images/reduce.png) no-repeat;
  -webkit-animation: numreduce 0.8s forwards; 
          animation: numreduce 0.8s forwards; 
}
.banner .box .dissolve.first {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.blink {
  -webkit-animation: blink 2s ease-in-out 180;
          animation: blink 2s ease-in-out 180;
}

/* price */
.footbuy .price { margin-top: 50px; }
.price p {
  color: #999;
  line-height: 32px;
}
.footbuy .price p {
  font-size: 12px;
  color: #424242;
  line-height: 30px;
}
.price strong {
  font-size: 38px;
  color: #040037;
}
.price span {
  display: inline-block;
  padding-left: 4px;
  text-align: left;
  line-height: 18px;
}
.price span b {
  display: block;
  font-size: 20px;
  color: #040037;
}
.price span del {
  font-weight: 700;
  color: #999;
}
.footbuy .price del {
  padding-right: 4px;
  font-size: 22px;
  color: #808080;
}
.footbuy .price strong {
  font-size: 24px;
  font-weight: 900;
  color: #e81a13;
}
.footbuy .price strong small { font-size: 24px; }
.price p.people b { color: #232323; }
.price p.people i {
  margin-right: 6px;
  width: 18px;
  height: 13px;
  background-position: 0 -94px;
}
.buybtn {
  display: block;
  margin: 0 auto;
  width: 248px;
  height: 56px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 58px;
  border-radius: 6px;
  text-align: center;
  background-color: #ff3d00;
  border: 1px solid #ff7700;
  box-shadow: 0px 15px 18px 0px rgba(255, 81, 0, 0.55);
  background-image: -webkit-linear-gradient(rgb(255,160,0) 0%, rgb(255,61,0) 100%);
  background-image:         linear-gradient(rgb(255,160,0) 0%, rgb(255,61,0) 100%);
  -webkit-transition: all .2s;
          transition: all .2s;
}
.banner .buybtn { 
  margin: 8px auto;
  line-height: 52px;
  overflow: hidden; 
}
.banner .buybtn i {
  margin-right: 6px;
  width: 26px;
  height: 20px;
  vertical-align: middle;
  background-position: 0 -74px;
  -webkit-transform: translate3d(-20px, 3.5em, 0); 
          transform: translate3d(-20px, 3.5em, 0); 
  -webkit-transition: -webkit-transform 0.3s; 
          transition: transform 0.3s; 
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); 
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.banner .buybtn span {
  display: inline-block; 
  vertical-align: middle; 
  margin-left: -2px;
  -webkit-transform: translate3d(-16px, 0, 0);
          transform: translate3d(-16px, 0, 0); 
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s; 
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); 
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.donation .buybtn {
  margin: 35px auto 0px;
  width: 280px;
  height: 54px;
  line-height: 50px;
  font-size: 20px;
}
.footbuy .buybtn {
  margin-top: 6px;
  width: 258px;
  height: 52px;
  line-height: 48px;
  font-size: 20px;
}
.mask .buybtn {
  margin: 16px auto;
  width: 304px;
  height: 54px;
  line-height: 56px;
  font-size: 20px;
  font-weight: 900;
}
.buybtn:hover {
  background: #ff8a00;
  border-color: #ff8a00;
}
.banner .buybtn:hover {
  border-color: #ff8a00;
  background-color: #ff8a00;
  background-image: -webkit-linear-gradient(rgb(255,160,0) 0%, rgb(255,61,0) 100%);
  background-image:         linear-gradient(rgb(255,160,0) 0%, rgb(255,61,0) 100%);
}
.banner .buybtn:hover i, 
.banner .buybtn:hover span { 
  -webkit-transform: translate3d(0, 0, 0); 
          transform: translate3d(0, 0, 0); 
}
p.countdown span {
  font-weight: 700;
  color: #47264a;
}
.banner p.countdown span {
  font-size: 14px;
  color: #fff;
}
.floatlayer p.countdown { font-size: 14px; }

/* payment */
.payment {
  padding-top: 16px;
  text-align: center;
}

/* intro */
.intro { 
  margin-top: 50px; 
  text-align: center;
}
.intro h2 { font-size: 26px; }
.intro p { 
  padding: 2px 0; 
  color: #e1181c; 
  font-size: 16px;
}
.intro .panel { 
  position: relative; 
  margin-top: 136px; 
  height: 389px; 
  text-align: left; 
  background: url('../images/computer.png') center no-repeat;
}
.intro .list { position: absolute; }
.intro .list span { 
  display: inline-block; 
  width: 42px; 
  margin-right: 10px; 
  background: url(../images/icon.png) 0 0 no-repeat;
}
.intro .list span.icons01 { height: 38px;}
.intro .list span.icons02 { 
  height: 34px; 
  background-position: 0px -38px;
}
.intro .list span.icons03 { 
  height: 43px; 
  background-position: 0px -72px;
}
.intro .list span.icons04 { 
  height: 43px; 
  background-position: 0px -113px;
}
.intro .one {
  top: -70px;
  left: -12px;
}
.intro .two {
  top: -81px;
  right: 18px;
}
.intro .three {
  bottom: -26px;
  left: -12px;
}
.intro .four {
  bottom: 90px;
  right: 6px;
}
.intro .list dl { float: right;}
.intro .list dl dt { 
  font-size: 20px;
  line-height: 24px;
}
.intro .list dd {
  margin-top: 8px;
  color: #525252;
  line-height: 24px;
}
.intro .list b { 
  display: inline-block; 
  vertical-align: middle; 
  height: 15px; 
  width: 90px; 
  margin-left: 5px; 
  text-indent: -9999px; 
  background: url(../images/sup-icon.png);
}
.intro .list.three b { margin-left:0px; }
.intro .list b.neu { background-position: 0px -15px;}
.intro .list {
  opacity: 0;
  transform: translate(-200px, 0); 
  transition: opacity ease .5s, transform ease .6s;
}
.intro .one {
  transform: translate(200px, 0); 
  transition-delay: .2s;
}
.intro .two { transition-delay: .4s; }
.intro .three {
  transform: translate(0, 100px);
  transition-delay: .6s;
}
.intro .four {
  transform: translate(0, 100px);
  transition-delay: .8s;
}
.intro .active {
  transform: translate(0, 0); 
  opacity: 1;
}
/* donation */
.donation {
  margin-top: 50px;
  height: 392px;
  background: url(../images/gift-bg.png) top center no-repeat;
}
.donation h2 { display: none; }
.donation dl {
  margin-top: 124px;
  float: left;
  width: 50%;
}
.donation dt {
  float: left;
  width: 180px;
}
.donation dl.pf dt { margin-left: -30px; }
.donation dt img {
  display: block;
  margin-top: 2px;
  margin-left: 44px;
}
.donation dd {
  float: left;
  max-width: 320px;
}
.donation dl.pf dd { max-width: 340px; }
.donation h3 {
  margin-bottom: 4px;
  font-size: 16px;
}
.donation strong {
  font-size: 24px;
  color: #ed3d59;
  line-height: 32px;
}
.donation del {
  padding-left: 8px;
  font-weight: 700;
  font-size: 20px;
  color: #999;
}
.donation p {
  margin-bottom: 10px;
  line-height: 18px;
}

/* review */
.review { 
  padding: 40px 0; 
  margin-top: 25px; 
}
.review h2,
.review h3 { text-align: center;}
.review h2 { font-size: 26px;}
.review h3 { 
  margin-top: 8px;
  font-weight: 400; 
  color: #212121; 
  font-size: 16px;
}
.review h3 strong { color: #e81d16;}

.review .review-message { 
  position: relative; 
  height: 434px; 
  margin-top: 50px; 
  background: url(../images/map.jpg) no-repeat center;
  background-size: cover;
}
.review .review-message dl { 
  position: absolute; 
  width: 115px; 
  height: 101px;
}
.review .review-message dl dt { 
  position: relative; 
  height: 101px; 
  text-align: center;
}
.review .review-message dl dt .img-box { 
  position: relative; 
  z-index: 30; 
  width: 115px; 
  height: 101px; 
  cursor: pointer;
}
.review .review-message dl h4 { 
  padding-top: 30px; 
  font-size: 12px; 
  color: #d82029;
}
.review .review-message dl img {
  position: relative; 
  z-index: 5; 
  margin-top: 2px; 
  width: 38px; 
  height: 38px; 
  border-radius: 50%; 
  border: solid #d82029 2px;     
  -webkit-transition: all ease .4s;
          transition: all ease .4s;
}
.review .review-message dl .line { 
  position: absolute; 
  background: url(../images/map-line.png);
}
.review .review-message dl dd { 
  position: absolute; 
  z-index: 8; 
  left: 108px; 
  top: 5px; 
  width: 310px; 
  padding: 15px 15px;
  opacity: 0;
  filter:alpha(opacity=0); 
  border-radius: 5px; 
  color: #Fff; 
  background: #f06a65;
  background: rgba(232, 26, 19, .7); 
  box-shadow: 0px 6px 15px 0px rgba(216, 32, 41, 0.39);
  -webkit-transition: all ease .2s;
          transition: all ease .2s;
}
.review .review-message dl dd:after {
  content: ""; 
  position: absolute; 
  top: 50%; 
  left: -9px;
  margin-top: -9px;
  width: 9px; 
  height: 16px; 
  background: url(../images/arrow.png) 0 0;
}
.review .review-message dl.right dd:after {
  left: auto;
  right: -9px;
  background-position: 0 -16px;
}
.review .review-message dl .line:after,
.review .review-message dl .line:before {
  content: ""; 
  position: absolute; 
  top: 114px; 
  left: 93px;
  width: 6px; 
  height: 6px; 
  border-radius: 50%; 
  background: #d82029;    
}
.review .review-message dl .line:before { 
  width: 12px; 
  height: 12px; 
  top: 111px; 
  left: 90px; 
  background: rgba(211,50,50,.35);
}
.review .review-message dl.active dd { 
  z-index: 35; 
  opacity: 1;
  filter:alpha(opacity=100); 
}
.review .review-message dl.active h4 {
  padding-top: 0px; 
  font-size: 16px;
}
.review .review-message dl.active img { 
  width: 77px; 
  height: 77px; 
  border: solid #d82029 3px;
}
.review .review-message dl.active.wayne .line { background-position: -96px 0px;}
.review .review-message dl.active.myo .line { background-position: -251px 0px;}
.review .review-message dl.active.pcmag .line { background-position: -374px 0px;}
.review .review-message dl.active.chip .line { background-position: -473px 0px;}
.review .review-message dl.active.fabio .line { background-position: -533px 0px;}
.review .review-message dl.active.vector .line { background-position: -644px 0px;}
.review .review-message dl.active.adam .line { background-position: -62px -147px;}
.review .review-message dl.active.olnet .line { background-position: -227px -135px; }
.review .review-message dl.active.olorin .line { background-position: -382px -135px; }
.review .review-message dl.active.html .line { background-position: -518px -134px; }
.review .review-message dl.active .line:after,
.review .review-message dl.active .line:before { 
  -webkit-animation: round 1s;  
          animation: round 1s;  
}
@-webkit-keyframes round {
  from { 
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  to { 
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes round {
  from { 
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  to { 
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.review .review-message dl.red-round .line:after { background: #d82029;}
.review .review-message dl.red-round .line:before { background: rgba(211,50,50,.3);}
.review .review-message dl.wayne { 
  top: 10px; 
  left: 17px;
}
.review .review-message dl.wayne .line { 
  width: 94px; 
  height: 115px; 
  left: 54px; 
  bottom: -89px;  
}
.review .review-message dl.myo {
  top: 30px; 
  left: 164px;
}
.review .review-message dl.myo .line { 
  width: 58px; 
  height: 83px; 
  left: 53px; 
  bottom: -75px; 
  background-position: -192px 0px; 
}
.review .review-message dl.myo .line:after { 
  top: 81px; 
  left: 57px;
}
.review .review-message dl.myo .line:before { 
  top: 78px; 
  left: 54px;
}
.review .review-message dl.pcmag {
  top: 21px; 
  left: 287px;
}
.review .review-message dl.pcmag .line { 
  width: 62px; 
  height: 87px; 
  left: -7px; 
  bottom: -68px; 
  background-position: -311px 0px; 
}
.review .review-message dl.pcmag .line:after { 
  top: 83px; 
  left: -3px;
}
.review .review-message dl.pcmag .line:before { 
  top: 80px; 
  left: -6px;
}
.review .review-message dl.chip {
  top: 30px; 
  left: 401px;
}
.review .review-message dl.chip .line { 
  width: 35px; 
  height: 68px; 
  left: 55px; 
  bottom: -57px; 
  background-position: -438px 0px; 
}
.review .review-message dl.chip .line:after { 
  top: 68px; 
  left: 35px;
}
.review .review-message dl.chip .line:before { 
  top: 65px; 
  left: 32px;
}

.review .review-message dl.fabio {
  top: 19px; 
  left: 487px;
}
.review .review-message dl.fabio dd {
  top: -30px;
  left: 118px;
}
.review .review-message dl.fabio .line { 
  width: 24px;
  height: 77px; 
  left: 35px; 
  bottom: -66px; 
  background-position: -509px 0px; 
}
.review .review-message dl.fabio .line:after { 
  top: 75px; 
  left: -6px;
}
.review .review-message dl.fabio .line:before { 
  top: 72px; 
  left: -9px;
}
.review .review-message dl.vector {
  top: 60px; 
  left: 677px;
}
.review .review-message dl.vector .line { 
  width: 83px; 
  height: 79px; 
  left: 56px; 
  bottom: -69px; 
  background-position: -559px 0px; 
}
.review .review-message dl.vector .line:after { 
  top: 76px; 
  left: 78px;
}
.review .review-message dl.vector .line:before { 
  top: 73px; 
  left: 75px;
}
.review .review-message dl.vector dd {
  top: 20px;
  left: 118px;
}
.review .review-message dl.olnet dd,
.review .review-message dl.adam dd,
.review .review-message dl.olorin dd,
.review .review-message dl.html dd { 
  top: 30px; 
  left: 117px;
}
.review .review-message dl.adam dd { top: 36px; }
.review .review-message dl.olorin dd { 
  top: 10px;
  left: 120px; 
}
.review .review-message dl.right dd { left: -344px; }
.review .review-message dl.adam h4,
.review .review-message dl.olnet h4,
.review .review-message dl.olorin h4,
.review .review-message dl.html h4 { padding-top: 0px; }
.review .review-message dl.adam img,
.review .review-message dl.olnet img,
.review .review-message dl.olorin img,
.review .review-message dl.html img { margin-top: 30px; }
.review .review-message dl.adam {
  top: 294px; 
  left: 77px;
}
.review .review-message dl.adam .line { 
  width: 61px; 
  height: 85px; 
  left: 56px; 
  bottom: 71px; 
  background-position: 0px -147px; 
}
.review .review-message dl.adam .line:after { 
  top: -3px; 
  left: 63px;
}
.review .review-message dl.adam .line:before { 
  top: -6px; 
  left: 60px;
}
.review .review-message dl.olnet {
  top: 272px; 
  left: 313px;
}
.review .review-message dl.olnet .line { 
  width: 97px; 
  height: 98px; 
  left: 58px; 
  bottom: 71px; 
  background-position: -130px -135px; 
}
.review .review-message dl.olnet .line:after { 
  top: -6px; 
  left: 96px;
}
.review .review-message dl.olnet .line:before { 
  top: -9px; 
  left: 93px;
}
.review .review-message dl.olnet dd {
  right: auto;
  left: -340px;
}
.review .review-message dl.olorin {
  top: 247px; 
  left: 393px;
}
.review .review-message dl.olorin .line { 
  width: 47px; 
  height: 74px; 
  left: 58px; 
  bottom: 68px; 
  background-position: -335px -135px; 
}
.review .review-message dl.olorin .line:after { 
  top: -6px; 
  left: 47px;
}
.review .review-message dl.olorin .line:before { 
  top: -9px; 
  left: 44px;
}
.review .review-message dl.html {
  top: 277px; 
  left: 529px;
}
.review .review-message dl.html .line { 
  width: 82px; 
  height: 85px; 
  left: -22px; 
  bottom: 68px; 
  background-position: -435px -134px; 
}
.review .review-message dl.html .line:after { 
  top: -5px; 
  left: -6px;
}
.review .review-message dl.html .line:before { 
  top: -8px; 
  left: -9px;
}
.review .review-message dl.fabio.active dt .img-box { 
  position: absolute;
  top: -18px;
}

/* comparison */
.comparison { 
  margin-top: 30px; 
  display:block; 
  color: #21222a; 
}
.comparison table { 
  border: 0; 
  border-collapse: separate; 
  border-spacing: 0; 
}
.comparison th {  
  font-size: 18px; 
  border-bottom:1px #e1e1e1 solid; 
}
.comparison th .box { 
  height: 100px; 
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  background: #6b6b6b;
  border-top-left-radius: 6px; 
  border-top-right-radius: 6px;
}
.comparison th.itemb .box { 
  height: 120px; 
  margin-top: -20px;
  background: #df2f33; 
}
.comparison th .box p { padding-top: 6px; }
.comparison th.itemb .box p { padding-top: 16px; }
.comparison th .box img {
  display: block;
  margin: 14px auto 0;
}
.comparison .itema,
.comparison .itemb {
  width: 220px;
  background: #f7f7f7;
}

.comparison .itemb {
  background: #fef6f6;
}
.comparison .space { 
  width: 10px; 
  background: #fff; 
  border-color: #fff;
}
.comparison th.text {
  text-align: left; 
  font-size: 20px; 
  vertical-align: middle;
}
.comparison tr { 
  text-align: center; 
  font-size: 14px; 
}
.comparison td { 
  height: 46px; 
  vertical-align: middle; 
  border-bottom: 1px #e1e1e1 solid; 
}
.comparison td.virtue { 
  text-align:left; 
  font-size: 14px; 
  color: #21222a;
}
.comparison td i {
  width: 19px;
  height: 19px;
  background-position: 0 0px;
}
.comparison td i.red { background-position: 0 -38px; }
.comparison td i.line { background-position: 0 -19px; }
.comparison td span {
  display: inline-block;
  max-width: 380px;
  vertical-align: middle;
}
.comparison td em {
  display: inline-block;
  margin-left: 2px;
  width: 72px;
  height: 12px;
  text-indent: -9999px;
  vertical-align: middle;
  background: url(../images/nuo.png) 0 0 no-repeat;
}
.comparison td em.nuo { 
  width: 50px;
  background-position: 0 -12px; 
}

/* footbuy */
.footbuy {
  margin-top: 46px;
  width: 100%;
  min-width: 1000px;
  height: 255px;
  text-align: center;
  background-color: #fff;
  background: url(../images/footbuy-bg.jpg) top center no-repeat;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/footbuy-bg.jpg', sizingMethod='scale');
  background-size: cover;
}
.footbuy h2 {
  height: 48px;
  text-indent: -9999px;
  background: url(../images/foot-title.png) bottom center no-repeat;
}
.footbuy .imgbox {
  position: relative;
  float: left;
  margin-top: 14px;
  width: 220px;
  height: 162px;
}
.footbuy .imgbox img {
  display: block;
  position: absolute;
  top: 0;
  left: -220px;
  opacity: 0;
  display: none \9;
  -webkit-transition: all .2s;
          transition: all .2s;
}
.footbuy .imgbox img.active { 
  left: 0; 
  opacity: 1;
  display: block \9; 
}
.footbuy ul { margin: 38px 0 0 20px; }
.footbuy li {
  position: relative;
  margin-bottom: 20px;
  width: 395px;
  height: 58px;
  font-weight: bold;
  color: #fbe6e9;
  font-size: 16px;
  font-weight: 700;
  line-height: 58px;
  cursor: pointer;
  border-radius: 29px;
  background: #ed3d59;
  background: rgba(237,61,89,.45);
}
.footbuy li i {
  position: absolute;
  top: 17px;
  left: 26px;
  width: 22px;
  height: 22px;
  visibility: hidden;
  background-position: 0 -107px;
}
.footbuy li strong {
  display: block;
  position: absolute;
  top: 15px;
  right: 26px;
  width: 73px;
  height: 32px;
  text-indent: -9999px;
  background: url(../images/discount-small.png) no-repeat;
}
.footbuy li.pcs strong { background-position: 0 -32px; }
.footbuy.reduce li.pcs strong { background-position: 0 -64px; }
.footbuy li.active {
  color: #fff;
  cursor: default;
  background: #ed3d59;
  box-shadow: 0px 12px 26px 0px rgba(250, 83, 110, 0.55);
}
.footbuy li.active i { visibility: visible; }
.footbuy li.active strong { background-position: -73px 0px; }
.footbuy li.pcs.active strong { background-position: -73px -32px; }
.footbuy.reduce li.pcs.active strong { background-position: -73px -64px; }

/* annotation */
.annotation {
  padding: 20px 0;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
}
.copyright {
  padding-bottom: 20px; 
  text-align: center;
}

/* mask */
.maskbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  opacity: 0;
  display: none \9;
  width: 100%;
  height: 100%;
  background: url(../images/maskbox-bg.png) top center repeat;
}
.mask {
  position: fixed;
  z-index: -2;
  top: 0%;
  left: 50%;
  margin-top: -219.5px;
  margin-left: -276px;
  width: 552px;
  height: 439px;
  opacity: 0;
  display: none \9;
  color: #47264a;
  text-align: center;
  background: url(../images/mask-bg.png) no-repeat;
}
.mask h4,
.mask big { display: none; }
.mask h2 {
  padding-top: 156px;
  font-size: 30px;
  font-weight: 900;
}
.mask h2 b {
  font-size: 47px;
  font-weight: 900;
  color: #ed3d59;
}
.mask p {
  font-size: 18px;
  line-height: 32px;
}
.mask p b { font-size: 20px; }
.mask p.countdown {
  font-size: 16px;
}
.mask .close {
  position: absolute;
  top: 38px;
  right: 10px;
  width: 39px;
  height: 39px;
  cursor: pointer;
  text-indent: -9999px;
  background: url(../images/close.png) no-repeat;
}
.mask.active,
.maskbox.active {
  z-index: 999;
  display: block \9;
  opacity: 1;
  -webkit-transition: all .2s;
          transition: all .2s;
}
.mask.active {
  z-index: 1001;
  top: 50%;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

/* floatlayer  */
.floatlayer { 
  position: fixed;  
  z-index: 99;  
  top: -150px; 
  right: 0px; 
  height: 147px;  
  width: 283px; 
  color: #272727;
  line-height: 18px;
  font-size: 14px;
  text-align: center;
  background: url(../images/float-bg.png) no-repeat; 
  visibility: hidden; 
  -webkit-transition: visibility 0.4s ease-out; 
          transition: visibility 0.4s ease-out;  
}
.floatlayer.on { 
  top: 6%;  
  visibility: visible; 
}
.floatlayer h2 {
  margin-bottom: 2px;
  height: 28px;
  text-indent: -9999px;
  background: url(../images/float-title.png) bottom center no-repeat;
}
.floatlayer.reducend h2 {
  width: 86px;
  margin-left: 64px;
  background-position: bottom left;
}
.floatlayer h4 {
  margin-top: 18px;
  font-weight: 400;
}
.floatlayer p.countdown { color: #fff; }
.floatlayer.reducend p.countdown {
  margin: 0px;
  margin-left: 64px;
  width: 150px;
  text-align: left;
}
.floatlayer p b {
  font-size: 16px;
  color: #f34755;
}
.floatlayer .mass {
  position: absolute;
  top: -18px;
  right: 24px;
  cursor: pointer;
}
.floatlayer .close {
  position: absolute;
  top: -2px;
  right: 8px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background: url(../images/close-small.png) no-repeat;
}

/* animation */
@-webkit-keyframes dissolve {
  0%{
    top: 134px;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    top: 30px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@keyframes dissolve {
  0%{
   top: 134px;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    top: 30px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes numreduce {
  0%{
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@keyframes numreduce {
  0%{
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    transform: scale(1.5);
  }
}
@-webkit-keyframes zoomout {
  0%{
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }

  100% {
    -webkit-transform: scale(4);
    transform: scale(4);
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@keyframes zoomout {
  0%{
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }

  100% {
    -webkit-transform: scale(4);
    transform: scale(4);
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes blink {
  0% {
    background: #ff9900;
  }
  25% {
    background: #ffc940;
  }
  50% {
    background: #ff9900;
  }
  75% {
    background: #ffc940;
  }
  100% {
    background: #ff9900;
  }
}
@keyframes blink {
  0% {
    background: #ff9900;
  }
  25% {
    background: #ffc940;
  }
  50% {
    background: #ff9900;
  }
  75% {
    background: #ffc940;
  }
  100% {
    background: #ff9900;
  }
}
