@charset "utf-8";
*{ margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;}
body { min-width: 1000px; font-size: 14px; line-height:1.4; color: #000; font-family: 'Montserrat', Arial, Helvetica, sans-serif; font-weight: 500;}
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; outline: none; color: #000; text-decoration: none; cursor: pointer; }
a:hover {  text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse; border-spacing:0; }
ul,ul li { list-style-type:none;}
img { border: 0;}
.clear {display:block;height:0;overflow:hidden;clear:both;}
.clearfix:after {content:'\20';display:block;height:0;clear:both;}
.clearfix {*zoom:1;}
.hidden { display: none; }
.show { display: block; }
.wrapper { width: 1000px; height:auto; position: relative; overflow: visible; margin: 0 auto;}
.buybtn { display: block; width: 279px; height: 59px; margin: 0px auto; border-radius: 5px; font-weight: 600; text-align: center; font-size: 16px; line-height: 59px; background: #febe00;box-shadow: 0px 7px 15px 3.12px rgba(137, 0, 0, 0.4);}
.buybtn i { display: inline-block; vertical-align: middle; margin-right: 5px; width: 19px; height: 14px; background: url(../images/shop.png);}

.buybtn.border { width: 245px; height: 49px; background: #ffe4d1; box-shadow: none; line-height: 49px; border: solid #656565 2px;}
.buybtn.red { background: #c00618; color: #febe00;}
.buybtn.red i { background-position: 0px -14px;}
.buybtn:hover { background: #fedd00; box-shadow: 0px 7px 15px 3.12px rgba(137, 0, 0, 0.4);}
.buybtn.border:hover {border: solid #fedd00 2px;}
.buybtn.red:hover{background: #e2091e}

dl.price-content { margin-top: 10px; text-align: center;}
dl.price-content strong ,dl.price-content span { display: inline-block; vertical-align: middle;}
dl.price-content strong { font-size: 44px;}
dl.price-content span { text-align: left; font-size: 18px; font-weight: 600;}
dl.price-content del { display: block; color: #d27c3c; font-weight: 500; font-size: 14px; }
dl.price-content dd { text-align: center; font-size: 12px; font-weight: 700; color: #ffdfdf}


.banner .logo { display: inline-block; width: 41px; height: 14px; margin-top: 21px; background: url(../images/logo.png) no-repeat; text-indent: -9999px;}

.banner { height: 648px; background: url(../images/banner.jpg) no-repeat center; background-size: cover;}
.banner .title { height: 84px; margin-top: 15px; text-indent: -9999px; background: url(../images/title.png) no-repeat center; }
.banner .box { float: left; width: 300px; padding-right: 28px; height: 386px; margin-top: 83px; background: #ffe4d1; border-radius: 10px;}
.banner .box h3 { width: 142px; height: 42px; float: right; margin-right: 30px; margin-top: 37px; text-indent: -9999px; background: url(../images/discount.png) no-repeat center top ;}
.banner .box >span { display: block; position: relative; clear: both; width: 174px; height: 160px; margin-left: 37px; text-indent: -9999px; background: url(../images/db-box.png);}
.banner .box >span:after { position: absolute; content: ""; display: block; width: 31px; height: 32px; bottom: 14px; left: 65px; background: url(../images/pc-box.png);}


.banner .three-box { position: relative; z-index: 5; width: 379px; height: 463px; padding-right: 0px; margin-left: -29px; background: #c00618; margin-top: 26px; color: #fff; box-shadow: 0px 13px 38.7px 4.3px rgba(74, 4, 4, 0.94);}
.banner .three-box p { margin-top: 25px; text-align: center; }
.banner .three-box p img { display: inline-block; vertical-align: middle;}
.banner .three-box p strong { font-size: 18px;}
.banner .three-box p strong:last-child { display: inline-block; min-width: 40px;}
.banner .three-box .img-box { margin-left: 38px; margin-top: 24px;}
.banner .three-box dl { margin-top: 0px;}
.banner .three-box dl dt del { color: #fa8276}
.banner .three-box dl dd.last { margin-top: 10px; color: #ff998f; font-size: 12px;}
.banner .three-box dl dd.last img { display: inline-block; vertical-align: middle; margin-right: 5px;}

.banner .three-pc { margin-left: -29px; padding-left: 28px; padding-right: 0px; width: 300px;}
.banner .three-pc h3 { background-position: center -42px;}
.banner .three-pc >span:after { background-position: 0px -32px;}

.payment { height: 80px; line-height: 80px; text-align: center; background: #e9e9e9;}
.payment img { display: inline-block; vertical-align: middle;}

.feature { overflow: hidden;}
.feature h2 { margin-top: 60px; font-size: 30px; color: #262626; text-align: center;}
.feature .showcase { float: left; margin-left: -35px; margin-top: 60px;}
.feature .detail-list { float: right; margin-top: 40px; width: 475px;}
.feature .detail-list dl { margin-bottom: 40px;}
.feature .detail-list dt { float: left; width: 77px; margin-right: 10px;}
.feature .detail-list dt i { display: inline-block; width: 77px; height: 77px; background: url(../images/benfits-icon.png);}
.feature .detail-list dt i.benfits02 { background-position: 0px -77px;}
.feature .detail-list dt i.benfits03 { background-position: 0px -154px;}
.feature .detail-list dt i.benfits04 { background-position: 0px -231px;}
.feature .detail-list dd { font-size: 13px; line-height: 22px;}
.feature .detail-list dd sup { font-size: 12px;}
.feature .detail-list dd h3 { font-size: 16px;}
.feature .detail-list a { padding-left: 87px; font-weight: 600; text-decoration: underline; color: #0075e9; font-size: 12px;}

.gift-box { height: 495px; margin-top: 100px; background: #f5f5f5 url(../images/gift-bg.jpg) no-repeat center; }
.gift-box h2 { height: 86px; text-indent: -9999px;}
.gift-box .box { float: left; margin-bottom: 50px; width: 50%; margin-top: 50px;}
.gift-box .box img { float: left; margin-left: -21px; margin-right: 5px;}
.gift-box .box dl { float: left;}
.gift-box .box.last img { margin-left: 40px;}
.gift-box .box dl h3 { margin-top: 15px; font-size: 20px;}
.gift-box .box dl del { color: #797979;}
.gift-box .box dl strong { color: #e21d0e; font-size: 24px;}
.gift-box .box dl strong b { font-size: 14px;}
.gift-box .box dl dt { margin-bottom: 10px;}
.gift-box .box dl dd { position: relative; margin-bottom: 5px; padding-left: 15px; font-size: 12px; color: #797979; line-height: 18px;}
.gift-box .box dl dd:after { position: absolute; content: ""; width: 5px; height: 5px; left: 0px; top: 5px; background: #c00618; border-radius: 10px;}
.gift-box .buybtn { clear: both;}
.gift-box p { margin-top: 15px; text-align: center;}
.gift-box p strong {font-size: 18px; color: #ea292b;}

/* review */
.review{ padding: 40px 0; margin-top: 35px; }
.review h2 { text-align: center; font-size: 26px;}


.review .review-message { position: relative; height: 434px; margin-top: 30px; background: url(../images/map.jpg) no-repeat center;}
.review .review-message dl { position: absolute; width: 115px; height: 101px;}
.review .review-message dl dt { position: relative; height: 101px; text-align: center;}
.review .review-message dl dt .img-box { position: relative; z-index: 30; width: 115px; height: 101px; cursor: pointer;}
.review .review-message dl h4 { padding-top: 30px; font-size: 12px; color: #d82029}
.review .review-message dl img {position: relative; z-index: 5; width: 38px; height: 38px; margin-top: 2px; border-radius: 50%; border: solid #d82029 2px;     
  -webkit-transition: all ease .4s;
    transition: all ease .4s;
  }
.review .review-message dl .line { position: absolute; background: url(../images/line.png);}
.review .review-message dl dd { filter:alpha(opacity=0); opacity: 0; position: absolute; z-index: 8; left: 108px; top: 5px; width: 310px; padding: 15px 15px; border-radius: 5px; font-size: 12px; color: #Fff; background: rgba(232,26,19,.65); box-shadow: 0px 6px 15px 0px rgba(216, 32, 41, 0.39);   
  -webkit-transition: all ease .2s;
    transition: all ease .2s;
  }
.review .review-message dl dd:after {position: absolute; content: ""; width: 10px; height: 17px; top: 50%; left: -10px; margin-top: -9px; background: url(../images/arrow.png);}
.review .review-message dl .line:after { position: absolute; content: ""; width: 6px; height: 6px; top: 114px; left: 93px; border-radius: 50%; background: #ababab;    }
.review .review-message dl .line:before { position: absolute; content: ""; width: 12px; height: 12px; border-radius: 50%; top: 111px; left: 90px; background: rgba(171,171,171,.35);}

.review .review-message dl.active dd { z-index: 35; filter:alpha(opacity=100); opacity: 1;}
.review .review-message dl.active h4 {padding-top: 0px; font-size: 16px;}
.review .review-message dl.active img { width: 77px; height: 77px; border: solid #d82029 3px;}
.review .review-message dl.active.wayne .line { background-position: -96px 0px;}
.review .review-message dl.active.myo .line { background-position: -251px 0px;}
.review .review-message dl.active.pcmag .line { background-position: -374px 0px;}
.review .review-message dl.active.chip .line { background-position: -473px 0px;}
.review .review-message dl.active.fabio .line { background-position: -533px 0px;}
.review .review-message dl.active.vector .line { background-position: -644px 0px;}
.review .review-message dl.active.adam .line { background-position: -62px -147px;}

.review .review-message dl.active.olnet .line { background-position: -227px -135px; }
.review .review-message dl.active.olorin .line { background-position: -382px -135px; }
.review .review-message dl.active.html .line { background-position: -518px -134px; }
.review .review-message dl.active .line:after,.review .review-message dl.active .line:before {  animation: round 1s;  }
@keyframes round
{
from { 
  -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }
to { 
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

}
.review .review-message dl.red-round .line:after { background: #d82029;}
.review .review-message dl.red-round .line:before { background: rgba(211,50,50,.3);}

.review .review-message dl.wayne { top: 10px; left: 17px;}
.review .review-message dl.wayne .line { width: 94px; height: 115px; left: 54px; bottom: -89px;  }

.review .review-message dl.myo {top: 30px; left: 164px;}
.review .review-message dl.myo .line { width: 58px; height: 83px; left: 53px; bottom: -75px; background-position: -192px 0px; }
.review .review-message dl.myo .line:after { top: 81px; left: 57px;}
.review .review-message dl.myo .line:before { top: 78px; left: 54px;}

.review .review-message dl.pcmag {top: 21px; left: 287px;}

.review .review-message dl.pcmag .line { width: 62px; height: 87px; left: -7px; bottom: -68px; background-position: -311px 0px; }
.review .review-message dl.pcmag .line:after { top: 83px; left: -3px;}
.review .review-message dl.pcmag .line:before { top: 80px; left: -6px;}

.review .review-message dl.chip {top: 30px; left: 401px;}
.review .review-message dl.chip .line { width: 35px; height: 68px; left: 55px; bottom: -57px; background-position: -438px 0px; }
.review .review-message dl.chip .line:after { top: 68px; left: 35px;}
.review .review-message dl.chip .line:before { top: 65px; left: 32px;}

.review .review-message dl.fabio {top: 19px; left: 487px;}
.review .review-message dl.fabio .line { width: 24px; height: 77px; left: 35px; bottom: -66px; background-position: -509px 0px; }
.review .review-message dl.fabio .line:after { top: 75px; left: -6px;}
.review .review-message dl.fabio .line:before { top: 72px; left: -9px;}

.review .review-message dl.vector {top: 60px; left: 677px;}
.review .review-message dl.vector .line { width: 83px; height: 79px; left: 56px; bottom: -69px; background-position: -559px 0px; }
.review .review-message dl.vector .line:after { top: 76px; left: 78px;}
.review .review-message dl.vector .line:before { top: 73px; left: 75px;}

.review .review-message dl.olnet dd,.review .review-message dl.adam dd,.review .review-message dl.olorin dd,.review .review-message dl.html dd { top: 30px; left: 117px;}
.review .review-message dl.adam h4,.review .review-message dl.olnet h4,.review .review-message dl.olorin h4,.review .review-message dl.html h4 { padding-top: 0px;}
.review .review-message dl.adam img,.review .review-message dl.olnet img,.review .review-message dl.olorin img,.review .review-message dl.html img { margin-top: 30px;}


.review .review-message dl.adam {top: 294px; left: 77px;}
.review .review-message dl.adam .line { width: 61px; height: 85px; left: 56px; bottom: 71px; background-position: 0px -147px; }
.review .review-message dl.adam .line:after { top: -3px; left: 63px;}
.review .review-message dl.adam .line:before { top: -6px; left: 60px;}

.review .review-message dl.olnet {top: 272px; left: 323px;}
.review .review-message dl.olnet .line { width: 97px; height: 98px; left: 58px; bottom: 71px; background-position: -130px -135px; }
.review .review-message dl.olnet .line:after { top: -6px; left: 96px;}
.review .review-message dl.olnet .line:before { top: -9px; left: 93px;}

.review .review-message dl.olorin {top: 247px; left: 393px;}
.review .review-message dl.olorin .line { width: 47px; height: 74px; left: 58px; bottom: 68px; background-position: -335px -135px; }
.review .review-message dl.olorin .line:after { top: -6px; left: 47px;}
.review .review-message dl.olorin .line:before { top: -9px; left: 44px;}

.review .review-message dl.html {top: 277px; left: 529px;}
.review .review-message dl.html .line { width: 82px; height: 85px; left: -22px; bottom: 68px; background-position: -435px -134px; }
.review .review-message dl.html .line:after { top: -5px; left: -6px;}
.review .review-message dl.html .line:before { top: -8px; left: -9px;}

.review .review-message dl.pcmag dd { left: -335px;}
.review .review-message dl.pcmag dd:after { width: 9px; height: 16px; top: 50%; right: -9px; left: initial; margin-top: -8px; background: url(../images/right-arrow.png);}


.comparison_table { margin: 30px auto 10px; display:block; width:1000px; color: #000; font-weight: 600; }
.comparison_table table { border:0; border-collapse:separate; border-spacing:0; }
.comparison_table tr th {border-bottom:1px #ccc solid;border-top:1px #ccc solid; vertical-align: middle;}
.comparison_table thead tr th:first-of-type { text-align: left; font-size: 20px;}
.comparison_table th { padding: 25px 0px; font-size: 16px;}
.comparison_table tr td.virtue { text-align:left; width: 574px; color: #21222a;}
.comparison_table tr { text-align: center; font-size: 14px; }
.comparison_table .itema { color: #000; background: #fcfaf4; text-align: center; width: 178px; }
.comparison_table .itemb { color: #000; background-color: #f7f7f7; text-align: center; width: 178px; }
.comparison_table th.itema { background-color: #c00618; color: #fff;}
.comparison_table th.itemb { background-color: #7a7a7a; color: #fff;}
.comparison_table td { padding: 10px 0px; vertical-align: middle; border-bottom: 1px #ccc solid;}
.comparison_table td.icons { text-align: center; width: 50px; }
.comparison_table td.yellow { background-color: #f4f4f4;}
.comparison_table .space { width: 10px; border: none;}
.comparison_table td sup { display: inline-block; vertical-align: top; font-size: 12px; color: #54bb3f;}
.comparison_table td sup.nou { color: #db0a14;}

.bottomcart { margin-top: 20px; padding-top: 50px; height: 267px; background: #c00618 url(../images/bottom-buy-bg.jpg) no-repeat center bottom;}
.bottomcart h2 { height: 42px; margin-bottom: 18px; text-indent: -9999px; background: url(../images/bottom-title.png) no-repeat center;}
.bottomcart .showcase .img{ float: left; width: 267px; height: 168px; margin-top: 29px; margin-left: -34px; background: url(../images/bottom-change.png) no-repeat; transition: all .4s ease-out;}
.bottomcart .showcase .img.one-pc { background-position:-534px 0px; }
.bottomcart .showcase .img.three-pc { background-position:-267px 0px; }

.bottomcart ul { float: left; margin-top: 45px; width: 480px;}
.bottomcart ul li { height: 45px; line-height: 45px; cursor: pointer;}
.bottomcart ul li span { float: left; width: 250px; margin-left: 95px; font-size: 16px; color: #fac6c6;}
.bottomcart ul li strong { float: left; width: 115px; text-align: center; font-size: 22px; font-style: italic; color: #490007;}
.bottomcart ul li.active { background: url(../images/active.png);}
.bottomcart ul li.active span { font-size: 18px; color: #fff;}
.bottomcart ul li.active strong { margin-top: 7px; height: 39px; text-indent: -9999px; background: url(../images/bottom-discount.png) no-repeat center top;}
.bottomcart ul li.active.three-pc strong { background-position: center -39px;}
.bottomcart ul li.active.one-pc strong { background-position: center -78px;}
.bottomcart dl {float: right; margin-top: 35px;}
.bottomcart dl dt { color: #ffe508;}
.bottomcart dl dt del { color: #fac6c6;}

.footer { padding: 20px 0px; background: #f5f5f5;}
.footer .service dl{ float: left; width: 33.3%; padding-top: 20px; text-align: center;}
.footer .service dl dt { height: 68px; line-height: 68px; font-size: 16px;}
.footer .service dl dt img { display: inline-block; vertical-align: middle;}
.footer .service dl dd { margin-top: 10px; font-size: 12px;}
.footer .service dl h3 { font-size: 16px;}
/* annotation */
.annotation {
  padding-top: 20px;
  border-top: solid #c8c8c8 1px;
  margin-top: 40px;
  color: #555a5f; 
  font-size: 12px;
}

/* footer */
.footer p{  padding-top: 15px; font-size: 14px; text-align:center; }