@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 1100px; 
  font-size: 14px;
  line-height: 1.4;
  color: #323236;
  font-weight: 500;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  outline: 0;
  vertical-align: baseline;
  overflow-x: hidden;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #323236;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li { list-style-type: none; }
img { border: none; }
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}
.clearfix { zoom: 1; }
.fl { float: left; }
.fr { float: right; }
.wrapper {
  position: relative;
  width: 1100px;
  min-width: 1100px;
  margin: 0 auto;
  zoom: 1;
}
.all-icons { 
  display: inline-block;
  text-indent: -9999px;
  background: url(../images/all-icons.png) no-repeat 0 0;
}

/* banner */
.banner { 
  position: relative;
  height: 679px;
  text-align: center;
  background: url(../images/bg.jpg) top center no-repeat;
  overflow: hidden;
}
.banner .logo { 
  display: block; 
  position: absolute;
  top: 26px;
  left: 0px;
  width: 54px; 
  height: 18px; 
  text-indent: -9999px; 
  background: url(../images/logo.png) no-repeat;
}

.banner .title {
  height: 193px;
  text-indent: -9999px;
  margin-top: 13px;
  background: url(../images/title.png) top center no-repeat;
}
.banner .imgbox {
  position: relative;
  margin-top: 37px;
  width: 440px;
  margin-left: 12px;
}
.banner .imgbox > img {
  display: block;
  margin: 0;
}
.banner .msgbox {
  width: 520px;
  text-align: center;
  margin-left: 50px;
  margin-top: 10px;
}
.banner .msgbox h2 {
  margin: 52px 0 30px;
  font-size: 18px;
  font-weight: 600;
  color: #4c4b4b;
}

.discount {
  position: absolute;
  bottom: 22px;
  right: -8px;
  width: 193px;
  height: 163px;
  text-indent: -9999px;
  background: url(../images/discount.png) no-repeat;
}
.floatlayer .discount {
  bottom: -2px;
  right: 23px;
  z-index: 10;
  width: 115px;
  height: 105px;
  background: url(../images/discount-flayer.png) no-repeat;
}
.numbox { position: relative; }
.banner .numbox {
  margin: 0 auto 28px;
  width: 321px;
  height: 74px;
  color: #d42f31;
  font-weight: 600;
  line-height: 88px;
  border-radius: 2px;
  background: #fddadb;
  border: 1px solid #f48e8f;
}
.banner .numbox .numwrap-seats{ transform: translate(4px,-6px); display: inline-block;}

.floatlayer .numbox { 
  margin-top: 10px;
  margin-left: 80px; 
}
.flipNum {
  display: inline-block;
  margin-bottom: 8px;
  height: 57px;
  vertical-align: middle;
}
.banner .flipNum { margin-right: 4px; }
.floatlayer .flipNum { margin-bottom: -4px; }
.numwrap {
  float: left;
  margin: 0 1px;
  width: 52px;
  height: 57px;
  background: url(../images/num-bg.png) top center no-repeat;
}
.flipNum .listbox {
  float: left;
  margin: 3px 0px 0px 3px;
  width: 47px;
  height: 47px;
  text-align: center;
  background: #fff;
  overflow: hidden;
}

.flipNum .list { 
  display: block;
  float: left; 
  width: inherit;
  color: #d42f31;
  font-size: 24px;
  font-weight: 700;
  line-height: 47px;
}

.flipNum .list b { display: block; height: 47px;}
.change {
  color: #323236;
  font-weight: 600;
  font-size: 12px;
  margin-top: 3px;
}
.change b {
  display: inline-block;
  width: 24px;
  text-align: center;
  font-weight: 600;
}

.floatlayer .price {
  margin-top: 20px;
  margin-left: 55px;
  width: 500px;
}
.feature .price { text-align: center; }
.price li {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.price li.first { margin-right: 25px; }
.price p {
  color: #8e8e98;
  font-size: 12px;
  font-weight: 600;
}
.price strong {
  color: #323236;
  font-size: 16px;
  font-weight: 700;
}
.floatlayer .price strong { font-size: 16px; }
.price strong big { 
  font-size: 36px; 
  font-weight: 700;
}
.floatlayer .price strong big { 
  font-size: 26px; 
  font-weight: 600;
}

.price del {
  padding-left: 4px;
  color: #918f8f;
  font-size: 16px;
  font-weight: 500;
}

/* buybtn */
.buybtn {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 249px;
  height: 56px;
  color: #2e2f30;
  line-height: 56px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 56px;
  text-align: center;
  word-spacing: 1px;
  text-shadow: 0px 1px 0px rgba(251, 228, 91, 0.84);
  box-shadow: 0px 12px 18px 2px rgba(123, 25, 5, 0.47);
  background: url(../images/btn.png) no-repeat;
  background-position: 0 0;
}
.buybtn:hover{background-position: 0 -56px;}
.banner .buybtn { margin-top: 12px; }
.floatlayer .buybtn{ width: 223px; height: 50px; line-height: 50px; border-radius: 50px; background-position: 0 -2px;}
.floatlayer .buybtn:hover{background-position: 0 -58px;}
.countdown b {
	display: inline-block;
	padding-left: 4px;
	padding-right: 2px;
	font-size: 18px;
	font-weight: 600
}
.countdown b.last {
	min-width: 16px;
	font-size: 12px
}

/* intro */
.intro {
  position: relative;
  width: 100%;
  min-width: 1100px;
}
.intro h2 {
  position: relative;
  z-index: 9;
  padding: 30px 0 80px;
  width: 100%;
  font-size: 36px;
  text-align: center;
}
.intro .imgbox {
  position: relative;
  width: 500px;
}
.intro .rocket {
  display: block;
  position: absolute;
  top: 126px;
  left: 68px;
  width: 85px;
  height: 184px;
  background: url(../images/rocket.png) no-repeat;
  transform: scale(0) translate3d(0, 80px, 50px);
  transform-origin: 50% 100%;
  transition: all .6s;
}
.intro .rocket.on {
  transform: scale(1) translate3d(0, 0px, 0px);
}
.intro .msgbox {
  margin-top: 20px;
  width: 520px;
}
.intro h3 {
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 24px;
} 
.intro dd {
  margin-bottom: 34px;
  line-height: 24px;
}

/* comparison */
.compare-wrap {
  padding-bottom: 100px;
  background: url(../images/feature-bg.jpg) bottom center no-repeat;
}
.compare-wrap h2 {
  position: relative;
  margin: 48px 0 68px;
  font-size: 36px;
  text-align: center;
}
.compare-wrap h2:before {
  content: '';
  display: block;
  margin: 0 auto 24px;
  width: 14px;
  height: 43px;
  background: url(../images/arrow.png) no-repeat;
}
.compare-wrap .feature h2 span { color: #d42f31; }
.comparison table {
  position: relative;
  display: block;
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
}
.comparison table:before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 330px;
  height: 345px;
  border-radius: 10px;
  box-shadow: 0px 12px 18px 2px rgba(174, 143, 141, 0.47);
}
.comparison .itema,
.comparison .itemb { 
  position: relative;
  width: 300px;
  font-size: 16px; 
  text-align: center;
  background-color: #f6f6f6;
}
.comparison .space {
  width: 14px;
  border-color: #fff;
}
.comparison .itemb {
  width: 330px;
  background-color: #f6f2f2;
}
.comparison td { 
  height: 48px;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #e1e1e1;
}
.comparison th.text { border-bottom: 1px solid #e1e1e1; }
.comparison td.virtue {
  padding: 0 20px;
  width: 402px;
}
.comparison th.itema,
.comparison th.itemb { 
  height: 70px;
  color: #fff;
  font-weight: 500;
  background-color: #555;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.comparison th.itemb { 
  font-size: 20px;
  background-color: #c60a01; 
}
.comparison th.itemb .pro:before {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  right: -8px;
  width: 138px;
  height: 67px;
  background: url(../images/snow.png) no-repeat;
}
.comparison th.itemb .pro {
  position: relative;
  margin-top: -20px;
  padding-top: 12px;
  height: 78px;
  background-color: #c60a01;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.comparison th.itemb .pro big {
  display: block;
  font-size: 26px;
}
.comparison tfoot th.itema,
.comparison tfoot th.itemb { 
  height: 30px;
  background-color: #f6f6f6;
  border-radius: 0px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.comparison tfoot th.itemb { background-color: #f6f2f2; }
.comparison i.all-icons {
  width: 15px;
  height: 15px;
  background-position: 0 0px;
}
.comparison i.black { background-position: 0 -15px; }
.comparison i.red { background-position: 0 -30px; }

/* feature */
.feature h2 {
  margin-top: 60px;
  font-size: 32px;
  margin-bottom: 10px;
}
.review { margin-top: 100px;}
.dg-container {
	position: relative;
	width: 100%;
	height: 500px;
	overflow: hidden;
}
.dg-wrapper {
	margin: 0 auto;
	width: 640px;
	height: 500px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 500px;
	perspective: 500px
}
.dg-wrapper .dg-transition {
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out
}
.dg-container .nav {
	position: relative;
	width: 100%
}
.dg-container .nav span {
	position: absolute;
	top: 72px;
	width: 22px;
	height: 41px;
	display: block;
	overflow: hidden;
	cursor: pointer;
	background: url(../images/review-control.png) no-repeat
}
.dg-container .nav .dg-prev {
	left: 0;
	background-position: 0 0
}
.dg-container .nav .dg-prev:hover {
	background-position: 0 -41px
}
.dg-container .nav .dg-next {
	right: 0;
	background-position: -22px 0
}
.dg-container .nav .dg-next:hover {
	background-position: -22px -41px
}
.inner {
	display: block;
	margin: 0 auto;
	width: 640px;
	height: 510px
}
.content {
	position: relative;
	display: block;
	margin: 0 auto;
	padding-top: 20px;
	width: 640px;
	height: 510px
}
.content .reviews {
	position: absolute;
	left: 0;
	top: 20px;
	display: block;
	width: 640px;
	height: 500px;
	text-align: center
}
.content .reviews dt {
	margin-bottom: 70px
}
.content .reviews dt img {
	width: 130px;
	height: 130px;
	border-radius: 50%
}
.content .reviews dd {
	margin-left: -120px;
	display: none;
	width: 900px
}
.content .reviews dd h2 {
	display: inline-block;
	margin-bottom: 40px;
	font-size: 30px;
	font-weight: 600
}
.content .reviews dd p {
	margin: 0 auto;
	    max-width: 980px;
	    line-height: 26px;
	    color: #525252;
	    font-size: 14px;
	    font-weight: 600;
}
.content .reviews dd cite {
	display: inline-block;
	margin-top: 30px;
	font-style: normal;
	font-size: 20px;
	font-weight: 600
}
.content .reviews.dg-center dt img {
	-webkit-transition: all .2s;
	transition: all .2s;
	box-shadow: 0 40px 40px rgba(92,95,101,.3)
}
.content .reviews.dg-center dd {
	display: block
}

/* awards */
.awards {
  margin-top: 30px;
      padding-top: 60px;
      text-align: center;
      border-top: 1px solid #e2e2e6;
}
.awards h2 {
  margin-bottom: 36px;
  font-size: 32px;
  font-weight: 600;
}

/* footer */
.footer { 
	margin-top: 104px;
  padding: 70px 0 120px;
  color: #fe9da0;
  font-size: 12px;
  line-height: 18px;
  background-color: #dd5154;
}
.footer .service dl {
  margin-bottom: 30px;
  width: 547px;
  height: 126px;
  color: #fe898c;
  background: #b24143;
}
.footer .service h3 {
  margin: 23px 0 15px;
  color: #ffbabc;
  font-size: 14px;
  font-weight: 400;
}
.footer .service dl.left dt {
  margin-top: 25px;
  float: left;
  width: 108px;
  text-align: center;
}
.footer .service dl.left dd {
  float: left;
  width: 432px;
}
.footer .service dl.right {
  padding: 0 30px;
  width: 487px;
}
.footer .copyright {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

/* floatlayer */
.floatlayer { 
  position: fixed; 
  right: 0px;
  left: 0px;
  bottom: 0; 
  z-index: 999; 
  width: 100%;
  height: 92px;  
  text-align: center;
  visibility: hidden; 
  background: url(../images/float-bg.jpg) bottom center no-repeat;
  -webkit-transition: all 0.4s; 
          transition: all 0.4s;  
}
.floatlayer.on { 
  bottom: 0px; 
  visibility: visible; 
}
.floatlayer .imgbox {
  position: relative;
  width: 240px;
}
.floatlayer .imgbox img {
  position: relative;
  z-index: 9;
  display: block;
  margin-top: -52px;
  margin-left: -11px;
  width: 147px;
}

.mask, .mask-box {
	position: fixed;
	z-index: 999
}
.mask {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.9);
	display: block;
}
.mask-box {
	z-index: 1000;
	top: 18%;
	left: 50%;
	margin-left: -549px;
	width: 1018px;
	height: 598px;
	color: #000;
	text-align: center;
	background: url(../images/mask-box-bg.png) top center no-repeat
}
.mask-box h2 {
	display: none
}
.mask-box .left {
	margin: 135px 46px 0 192px;
}
.mask-box .left img{ width: 242px;} 
.mask-box .price h3 {
	margin-top: 149px;
	font-size: 20px
}
.mask-box .price h3 b {
	font-size: 28px;
	color: #eb1d1d
}
.mask-box .price h3 b big {
	font-size: 42px
}
.mask-box .price p b {
	padding-left: 8px;
	font-size: 12px;
	font-weight: 600;
	color: #96949d
}
.mask-box .price p.year {
	font-size: 12px;
	margin-top: 7px;
	font-weight: 100;
}
.slipUp {
	opacity: 0;
	visibility: visible;
	-webkit-animation: slipUp .5s forwards;
	animation: slipUp .5s forwards
}
@-webkit-keyframes slipUp {
0% {
opacity:0;
-webkit-transform:scale(.3)
}
100% {
opacity:1;
-webkit-transform:scale(1)
}
}
@keyframes slipUp {
0% {
opacity:0;
transform:scale(.3)
}
100% {
opacity:1;
transform:scale(1)
}
}