@charset "utf-8";

/* CSS Document */
* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 1000px; 
  font-size: 14px;
  line-height: 1.4;
  color: #3c3c3c;
  font-weight: 400;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  outline: 0;
  vertical-align: baseline;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #3c3c3c;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li { list-style-type: none; }
img { border: none; }
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}
.clearfix { zoom: 1; }
.fl { float: left; }
.fr { float: right; }
.wrapper {
  position: relative;
  width: 1000px;
  min-width: 1000px;
  margin: 0 auto;
  zoom: 1;
}
.all-icons,
.tb-icons { 
  display: inline-block;
  text-indent: -9999px;
  background: url(../images/all_icons.png) no-repeat 0 0;
}
.tb-icons { background: url(../images/tab_icons.png) no-repeat 0 0; }

/* banner */
.banner {
  margin: 0 auto;
  width: 100%;
  min-width: 1000px;
  height: 647px;
  color: #fff;
  text-align: center;
  background: url(../images/bg.jpg) top center no-repeat;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg.jpg', sizingMethod='scale');
  background-size: cover;
}
.banner .logo {
  display: block;
  padding-top: 16px;
  text-align: left;
}
.banner .title {
  margin: 18px auto 10px;
  height: 137px;
  text-indent: -9999px;
  background: url(../images/title.png) top center no-repeat;
}
.banner .offer > div {
  margin-top: 12px;
  margin-left: 28px;
  width: 453px;
  height: 398px;
  border-radius: 5px;
  background: #fff;
  background: rgba(255,255,255,.65);
  box-shadow: 4.326px 13.315px 38px 0px rgba(8, 133, 134, 0.84);
}
.banner .offer > div.right {
  margin: 0;
  width: 487px;
  height: 415px;
  background: #fff;
}
.banner .offer > div.left img { margin: 4px 0 15px; }
.banner .countdown { margin-left: 70px; }
.banner .countdown li {
  position: relative;
  float: left;
  margin: 0 5px;
  width: 65px;
  height: 73px;
  border-radius: 3px;
  background: #fff;
  background: rgba(255,255,255,.72);
}
.banner .countdown li span,
.banner .countdown li strong,
.banner .countdown li sup { display: block; }
.banner .countdown li span {
  height: 15px;
  font-size: 12px;
  line-height: 15px;
  background: #037b83;
  border-radius: 3px;
}
.banner .countdown li strong {
  color: #03575c;
  font-size: 30px;
  line-height: 58px;
}
.banner .countdown li.last strong { font-size: 22px; }
.banner .countdown li sup {
  position: absolute;
  top: 26px;
  right: 7px;
  font-size: 14px;
  color: #03575c;
}
.banner .offer h2 {
  padding: 55px 0 22px;
  font-size: 26px;
  color: #000;
}
.banner .offer .name {
  position: relative;
  font-size: 16px;
  line-height: 32px;
  color: #656a72;
}
.banner .offer .name:before,
.banner .offer .name:after {
  content: '';
  position: absolute;
  bottom: 14px;
  width: 140px;
  height: 1px;
  background: #f1eeee;
}
.banner .offer .name:before { left: 44px; }
.banner .offer .name:after { right: 44px; }
.banner .offer h3 {
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 32px;
  color: #000;
}
.banner .offer h3 i {
  margin-top: -4px;
  width: 14px;
  height: 17px;
  cursor: pointer;
  vertical-align: middle;
  background-position: 0 0;
}
.price p {
  font-weight: 700;
  font-size: 12px;
  color: #050505;
}
.price strong {
  font-size: 54px;
  color: #b20505;
}
.price strong small { font-size: 26px; }
.price del {
  padding-left: 8px;
  font-size: 18px;
  color: #949494;
}
.price p.people i {
  margin-right: 4px;
  width: 14px;
  height: 12px;
  background-position: 0 -17px;
}

/* buybtn */
.buybtn {
  margin: -4px auto 12px;
  display: block;
  width: 293px;
  height: 69px;
  color: #9d091a;
  line-height: 64px;
  font-size: 20px;
  font-weight: 900;
  overflow: hidden;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 12px 16px 0px rgba(123, 62, 8, 0.53);
  text-shadow: 0.309px 0.951px 0px rgba(252, 205, 115, 0.72);
  background: url(../images/btn.png) 0 0 no-repeat;
}
.buybtn:hover { background-position: 0 -69px; }

/* service */
.service {
  padding: 36px 0 20px;
  background-color: #fffbf1;
}
.service dl {
  float: left;
  width: 25%;
  text-align: center;
}
.service dl dt {
  height: 68px;
  line-height: 68px;
}
.service dl dt img { vertical-align: middle; }
.service dl h3 {
  margin: 15px 0 8px;
  color: #000;
  font-size: 16px;
  line-height: 26px;
}
.service dl p {
  padding: 0 20px;
  font-size: 12px;
  color: #656a72;
  line-height: 18px;
}

/* intro */
.intro {
  margin-top: 52px;
  text-align: center;
}
.intro h2 {
  font-size: 28px;
  line-height: 26px;
  color: #000;
}
.intro .panel {
  position: relative;
  margin-top: 72px;
  height: 602px;
  text-align: left;
  background: url('../images/asc-computer.png') center no-repeat;
}
.intro .list { position: absolute; }
.intro .one {
  top: 10px;
  left: 160px;
}
.intro .two {
  top: 0px;
  right: 40px;
}
.intro .three {
  bottom: 300px;
  left: 46px;
}
.intro .four {
  bottom: 306px;
  right: 36px;
}
.intro .list dd {
  margin-top: 20px;
  color: #656a72;
  line-height: 18px;
}
.intro .three dd,
.intro .four dd { margin-top: 0px; }
.intro .list img {
  display: block;
  margin-top: -120px;
  opacity: 0;
  visibility: hidden \0;
  -webkit-transition: opacity ease .5s, margin ease .6s;
          transition: opacity ease .5s, margin ease .6s;
}
.intro .two img { 
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s; 
}
.intro .three img { 
  -webkit-transition-delay: 0.4s; 
          transition-delay: 0.4s; 
}
.intro .four img { 
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s; 
}
.intro .two img { margin-right: 6px; }
.intro .list dd {
  float: left;
  opacity: 0;
  visibility: hidden \0;
  -webkit-transform: translate(-200px, 0); 
          transform: translate(-200px, 0); 
  -webkit-transition: opacity ease .5s, transform ease .6s;
          transition: opacity ease .5s, transform ease .6s;
}
.intro .one dd {
  -webkit-transform: translate(200px, 0); 
          transform: translate(200px, 0);
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}
.intro .two dd { 
  -webkit-transition-delay: 1s;
          transition-delay: 1s; 
}
.intro .three dd {
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}
.intro .four dd {
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;       
}
.intro .list dd span { display: block; }
.intro .active img { 
  margin-top: 0; 
  opacity: 1;
  visibility: visible \0;
}
.intro .active dd {
  -webkit-transform: translate(0, 0); 
          transform: translate(0, 0); 
  opacity: 1;
  visibility: visible \0;
}
.intro .circle {
  position: absolute;
  top: 88px;
  left: 400px;
  width: 25px;
  height: 25px;
  text-align: center;
  background: url('../images/circle.png') no-repeat;
}
.intro .circle img {
  display: block;
  margin: 0 auto;
  -webkit-animation: circle 2s linear 1.6s infinite;
          animation: circle 2s linear 1.6s infinite;
}
.intro .circle.sec {
  right: 250px;
  top: 106px;
  left: auto;
}
.intro .circle.third {
  top: auto;
  bottom: 346px;
  left: 278px;
}
.intro .more {
  position: absolute;
  bottom: 150px;
  display: block;
  width: 100%;
  color: #1478de;
  text-align: center;
}
.intro .more:before {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 188px;
  height: 1px;
  background-color: #1478de;
}

/* donation */
.donation {
  position: relative;
  padding: 34px 0 28px;
  margin: -38px auto 70px;
  background-color: #fcf7e9;
}
.donation h2 {
  position: absolute;
  top: -82px;
  width: 1000px;
  height: 86px;
  text-indent: -9999px;
  background: url(../images/gift-title.png) top center no-repeat;
}
.donation h3 {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 26px;
  color: #042f32;
  text-align: center;
}
.donation h3 b { 
  color: #e8610c; 
  font-size: 24px;
}
.donation dl {
  float: left;
  width: 50%;
}
.donation dl dt { margin-left: 44px; }
.donation dl.right dt { margin-left: 88px; }
.donation dl dd { margin-left: 69px; }
.donation dl.right dd { margin-left: 113px; }
.donation dl h4 {
  margin: 8px 0;
  font-size: 16px;
  line-height: 26px;
}
.donation dl h4 strong {
  padding-left: 10px;
  font-size: 22px;
  color: #f2090d;
}
.donation dl h4 del {
  font-weight: 400;
  color: #949494;
}
.donation dl li {
  color: #656a72;
  line-height: 22px;
}
.donation dl li i {
  margin-right: 6px;
  width: 13px;
  height: 11px;
  background-position: 0 -30px;
}

/* awards */
.awards {
  margin-bottom: 46px;
  padding-bottom: 46px;
  border-bottom: 2px solid #eee;
  text-align: center;
}
.awards h2 {
  margin-bottom: 32px;
  font-size: 28px;
}

/* review */
.review { padding-bottom: 50px; }
.review .content { 
  height: 240px;
  text-align: center;
 }
.review .content h3 { font-size: 34px; }
.review .content dl { display: none; }
.review .content dd { 
  margin-top: 25px; 
  font-size: 16px;
  line-height: 24px;
  color: #383838;
  font-weight: 400;
}
.review .content dl.active { display: block; }
.review ul.users {
  height: 130px;
  text-align: center;
  border-bottom: 2px solid #d2d2d2;
}
.review ul.users li {
  position: relative;
  float: left;
  width: 250px;
  height: 130px;
  cursor: pointer;
}
.review ul.users li p { 
  position: absolute;
  bottom: -70px;
  width: 100%; 
  font-size: 18px;
  font-weight: 400;
  visibility: hidden;
  transition: bottom .2s;
}
.review ul.users li.active:after {
  content: '';
  position: absolute;
  bottom: -1.5px;
  left: 67px;
  width: 118px;
  height: 3px;
  background-color: #e3100f;
}
.review ul.users li img { 
  display: inline-block; 
  margin-top: 35px; 
  width: 65px; 
  height: 65px; 
  vertical-align: middle;
  -webkit-transition: all ease .2s;
          transition: all ease .2s;
}
.review ul.users li.active p { 
  bottom: -44px; 
  visibility: visible;
}
.review ul.users li.active img { 
  margin-top: 0; 
  width: 100px; 
  height: 100px;
}

/* comparison */
.comparison {
  margin-top: 12px;
  padding-top: 37px;
  color: #333;
}
.comparison h4,
.comparison h5 {
  margin-bottom: 16px;
  font-size: 28px;
  color: #000;
}
.comparison h5 { 
  font-size: 20px;
  font-weight: 600;
}
.ctable { margin: 30px 0; }
.comparison th {
  height: 37px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  background: #3d3d3d;
  border-right: 1px solid #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.comparison th.text { 
  width: 154px;
  background: #fff; 
}
.comparison th.blue { background: #0662a3; }
.comparison th.blue p {
  margin-top: -13px;
  height: 44px;
  font-size: 14px;
  background: #0058e8;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.comparison th.blue span { padding-top: 6px; }
.comparison th span { display: block; }
.comparison td {
  padding: 0 8px;
  height: 50px;
  border-bottom: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #0058e8;
}
.comparison td.title {
  padding-left: 6px;
  width: 154px;
  text-align: left;
  font-size: 13px;
  line-height: 14px;
  color: #3d3d3d;
  border-left: 1px solid #d2d2d2;
}
.comparison td.first { border-top: 1px solid #d2d2d2; }
.comparison td i {
  width: 11px;
  height: 12px;
  background-position: 0 -12px;
}
.comparison td i.red { background-position: 0 0; }
.comparison td.gray { background: #ecf1fa; }
.comlist {
  margin-bottom: 28px;
  font-weight: 600;
  color: #333;
}
.comlist dt {
  font-size: 16px;
  color: #0058e8;
}
.comlist dt i {
  margin-right: 2px;
  width: 19px;
  height: 19px;
  background-position: 0 -24px;
}
.comlist dd {
  margin-top: 6px;
  padding-left: 24px;
  font-size: 12px;
}

/* footbuy */
.footbuy {
  margin-top: 50px;
  height: 276px;
  background: url(../images/foot-bg.jpg) top center no-repeat;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/foot-bg.jpg', sizingMethod='scale');
  background-size: cover;
}
.footbuy .imgbox {
  display: block;
  margin-top: -15px;
  margin-left: 40px;
}
.footbuy .price {
  width: 560px;
  margin-top: 20px;
  text-align: center;
}
.footbuy .countdown li {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  color: #0d5455;
}
.footbuy .countdown li strong { 
  font-size: 20px;
  color: #0d5455; 
}
.footbuy h2 {
  margin-top: 10px;
  height: 39px;
  text-indent: -9999px;
  background: url(../images/f-title.png) top center no-repeat;
}
.footbuy .price strong {
  font-size: 52px;
  color: #000;
}
.footbuy .price del { color: #006b72; }
.footbuy .price p.people { color: #024347; }
.footbuy .price p.people i { background-position: 0 -41px; }

/* annotation */
.annotation {
  padding: 32px 0 18px;
  line-height: 18px;
  font-size: 12px;
  border-bottom: 1px solid #c8c8c8;
}

/* footer */
.footer {  
  padding-bottom: 10px;
  font-weight: 700;
  text-align:center; 
  line-height: 44px;
}

/* animation */
@-webkit-keyframes circle {
  from {
    opacity: 1;
    visibility: visible \0;
    -webkit-transform: scale(0);
  }
  to {
    opacity: 0;
    visibility: hidden \0;
    -webkit-transform: scale(3);
  }
}
@keyframes circle {
  from {
    opacity: 1;
    visibility: visible \0;
    transform: scale(0);
  }
  to {
    opacity: 0;
    visibility: hidden \0;
    transform: scale(3);
  }
}