@charset "utf-8";
*{ margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;}
body { position: relative; min-width: 1000px; font-size: 14px; line-height:1; color: #000; font-family: 'Lato', Arial, Helvetica, sans-serif;}
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; outline: none; color: #000; text-decoration: none; cursor: pointer; }
a:hover {  text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse; border-spacing:0; }
ul,ul li { list-style-type:none;}
img { border: 0; display: block;}
.fl { float: left;}
.fr { float: right;}
.clear {display:block;height:0;overflow:hidden;clear:both;}
.clearfix:after {content:'\20';display:block;height:0;clear:both;}
.clearfix {*zoom:1;}
.hidden { display: none; }
.show { display: block; }
.wrapper { width: 1000px; height:auto; position: relative; overflow: visible; margin: 0 auto;}
i {display: inline-block; vertical-align: middle;  background: url(../images/icon.png);}


/*
 * buybtn
 */
.buybtn {
  display: block;
  margin: 10px auto 0;
  width: 271px;
  height: 63px;
  line-height: 63px;
  color: #f00010;
  background: url(../images/buybtn.png) 0 -65px no-repeat;
  overflow: hidden;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  box-shadow: 0 8px 14px 0 rgba(125, 58, 4, 0.4);
}
.buybtn span,
.buybtn i {   
  display: inline-block;
  vertical-align: middle;
}
.buybtn i {
  margin-right: 5px;
  width: 24px;
  height: 22px;
  background-position: 0 0;
  -webkit-transform: translate3d(-60px, 3.5em, 0); 
          transform: translate3d(-60px, 3.5em, 0); 
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.75, 0, 0.125, 1); 
          transition: transform 0.3s cubic-bezier(0.75, 0, 0.125, 1); 
}
.buybtn span {
  -webkit-transform: translate3d(-16px, 0, 0);
          transform: translate3d(-16px, 0, 0); 
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.75, 0, 0.125, 1);
          transition: transform 0.3s cubic-bezier(0.75, 0, 0.125, 1); 
}
.buybtn:hover {
  background-position: 0 -128px;
}
.buybtn:hover span,
.buybtn:hover i
 {
  -webkit-transform: translate3d(0, 0, 0); 
          transform: translate3d(0, 0, 0); 
}

/*
 * banner
 */
.banner {  height: 668px; background: url(../images/banner.jpg) no-repeat center;}
.banner .logo { position: absolute; top: 30px; left: 0; width: 59px; height: 25px; font-size: 0; background-image: url(../images/logo.png);}
.banner h1 { height: 126px; text-indent: -9999px; background: url(../images/title.png) bottom center no-repeat;}

/*
 * banner-content
 */
.banner-content{
  position: relative;
  width: 955px;
  height: 450px;
  margin: 0 auto;
  margin-top: 18px;
  background: #f4f4f4;
  border-radius: 3px;
          box-shadow: 0 18px 24px rgba(0,0,0,0.57);
  -webkit-box-shadow: 0 18px 24px rgba(0,0,0,0.57);
     -moz-box-shadow: 0 18px 24px rgba(0,0,0,0.57);
       -o-box-shadow: 0 18px 24px rgba(0,0,0,0.57);
}
.sign{
  position: absolute;
  top: -5px;
  left: -5px;
}
.banner-left{
  width: 508px;
}
.box-imf{
  padding: 14px 0 0 125px;
}
.banner-left span{
  width: 100%;
  display: block;
  font-style: italic;
  text-align: center;
  padding: 30px 0 15px 0;
}
.time{
  width: 295px;
  height: 68px;
  margin: 0 auto;
  background: url("../images/time.png") no-repeat top center;
}
.time li{
  float: left;
  text-align: center;
  width: 64px;
  margin-right: 10px;
  line-height: 82px;
  font-size: 34px;
  font-weight: 600;
  color: #434343;
}
.time li.last{
  font-size: 26px;
  width: 50px;
  margin-left: 5px;
}
.banner-right{
  width: 446px;
  height: 100%;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  background:        linear-gradient(to bottom right, #fee46b, #ffb110);
  background:-webkit-linear-gradient(to bottom right, #fee46b, #ffb110);
  text-align: center;
}
.banner-right h2{
  font-size: 20px;
  padding: 35px 0 15px 0;
}
.banner-right .decri{
  padding-bottom: 20px;
}
.banner-line{
  width: 99px;
  height: 3px;
  background: #ea8f22;
  display: block;
  margin: 0 auto;
}
.de-price{
  padding-top: 20px;
  color: #bc6f12;
  font-size: 16px;
}
.main-price{
  font-size: 18px;
  padding: 12px 0;
}
.main-price b{
  font-size: 38px;
}
.small-price{
  font-size: 16px;
  padding-bottom: 15px;
}
.buy-btn{
  width: 296px;
  height: 73px;
  margin: 22px auto 12px auto;
  display: block;
  background: url("../images/btn.png") no-repeat -1px 1px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 76px;
  text-transform: uppercase;
  border-radius: 5px;
  text-shadow: 0 2px 2px rgba(18,73,4,.5);
  box-shadow: 0 4px 8px rgba(50,23,4,.4);
  -webkit-box-shadow: 0 4px 8px rgba(50,23,4,.4);
  -moz-box-shadow: 0 4px 8px rgba(50,23,4,.4);
  -o-box-shadow: 0 4px 8px rgba(50,23,4,.4);
}
.buy-btn:hover{
  background: url("../images/btn.png") no-repeat 0 -73px;
}
.people-box{
  text-align: center;
  color: #a55900;
  font-size: 12px;
}
.people-box img{
  display: inline;
  padding-right: 5px;
}
.people-num{
  font-weight: 900;
}
.payments{
  width: 100%;
  height: 77px;
  margin-top: 15px;
  border-bottom-right-radius: 3px;
  background: linear-gradient(#696969, #505050);
}
.payments h4{
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  padding: 8px 0 5px 30px;
}
.payments img{
  padding-left: 30px;
}



/*
 * hightlight
 */
.imf-message {
  position: relative;
  margin-top: 75px;
}
.message{
  width: 100%;
}
.imf-message h2{
  font-size: 26px;
  width: 835px;
  margin: 0 auto 74px auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  font-weight: 400;
}
.imf-message .message li {
  position: absolute;
  width: 230px;
  font-size: 15px;
  color: #a3a3a3;
  font-style: italic;
  font-weight: 400;
}
.imf-message .message li p{
  line-height: 18px;
}
.imf-message .message li.one {
  text-align: right;
  left: 30px;
  top: 40px;
}

.imf-message .message li.two {
  text-align: right;
  left: 30px;
  top: 188px;
}

.imf-message .message li.three {
  right: 40px;
  top: 40px;
}

.imf-message .message li.four {
  right: 40px;
  top: 188px;
}

.imf-message .message li.active {
  color: #333;
}
.imf-message .message li h4{
  font-style: italic;
  line-height: 20px;
}
.imf-message .message li.active h4{
  font-weight: 900;
}

.imf-message .img-change {
  position: relative;
  height: 308px;
  text-align: center;
  background: url(../images/computer.png) no-repeat 240px;
}

.imf-message a {
  position: absolute;
  height: 48px;
  width: 28px;
  top: 120px;
  z-index: 10;
  cursor: pointer;
  background: url(../images/arrow.png);
}

.imf-message a.dg-prev {
  left: 0;
}

.imf-message a.dg-next {
  right: 0;
  background-position: -28px 0;
}

.imf-message .img-change .img-content {
}

.imf-message .img-change .continer {
  width: 365px;
  height: 215px;
  margin-left: 308px;
  margin-top: 14px;
  float: left;
  overflow: hidden;
}

.imf-message .img-change .content {
  position: relative;
  float: left;
  height: inherit;
}

.imf-message .list-content {
  position: absolute;
  width: 470px;
  height: 310px;
  left: 260px;
  top: 0;
  overflow: hidden;
}

.imf-message li {
  position: relative;
}

.imf-message li span {
  position: absolute;
}

.imf-message li span.icons {
  width: 135px;
  height: 135px;
  filter: alpha(opacity=0);
  z-index: 5;
  opacity: 0;
  transition: opacity ease .3s, transform ease .8s;
  -moz-transform: scale(.5, .5);
  -webkit-transform: scale(.5, .5);
  -o-transform: scale(.5, .5);
}

.imf-message li span.line {
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0)
}

.imf-message li.list01 .icons {
  top: 143px;
  left: 308px;
  background: url(../images/list-icon01.png);
}

.imf-message li.list01 .line {
  left: 14px;
  top: 66px;
  width: 306px;
  height: 150px;
  background: url(../images/list-line01.png);
  transition: all ease .5s;
  
}

.imf-message li.list01.noaml .icons {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}

.imf-message li.list01.noaml .line {
  opacity: 1;
  filter: alpha(opacity=100);
  left: 14px;
}

.imf-message li.list02 .icons {
  top: 100px;
  left: 265px;
  background: url(../images/list-icon02.png);
}

.imf-message li.list02 .line {
  left: 14px;
  top: 185px;
  width: 263px;
  height: 29px;
  background: url(../images/list-line02.png);
}

.imf-message li.list03 .icons {
  top: 100px;
  right: 70px;
  background: url(../images/list-icon03.png);
}

.imf-message li.list03 .line {
  right: 4px;
  top: 61px;
  width: 69px;
  height: 108px;
  background: url(../images/list-line03.png);
}

.imf-message li.list04 .icons {
  top: 5px;
  right: 98px;
  background: url(../images/list-icon04.png);
}

.imf-message li.list04 .line {
  right: 4px;
  top: 76px;
  width: 99px;
  height: 148px;
  background: url(../images/list-line04.png);
}

.imf-message li.active span {
}

.imf-message li.active span.icons {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}

.imf-message li.active span.line {
  opacity: 1;
  filter: alpha(opacity=100)
}
.imf-message li.active.list01 .line {
  animation: firstlist .5s;
  animation-fill-mode: forwards;
}

.imf-message li.active.list02 .line {
  animation: firstlist .5s;
  animation-fill-mode: forwards;
}

.imf-message li.active.list03 .line {
  animation: lastlist .5s;
  animation-fill-mode: forwards;
}

.imf-message li.active.list04 .line {
  animation: lastlist .5s;
  animation-fill-mode: forwards;
}

.imf-message .feature-change {
  margin-top: 50px;
  border-top: solid #e2e3e4 1px;
}

.imf-message .feature-change dl {
  border-top: solid #fff 2px;
  width: 25%;
  padding: 30px 0;
  float: left;
  text-align: center;
}

.imf-message .feature-change dl dt, .imf-message .feature-change dl dd {
  display: inline-block;
  vertical-align: middle;
}

.imf-message .feature-change dl dd {
  margin-left: 20px;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
}

.imf-message .feature-change dl.active {
  position: relative;
  border-top: solid #13c388 2px;
  background: #e7f9f3;
}

.imf-message .feature-change dl.active:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #13c388;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 1;
}


/*
 * awards
 */
.awards { margin-top: 50px;padding-bottom: 30px; border-bottom: solid #ccc 1px; text-align: center; font-size: 20px; color: #8c8c8c;}
.awards h2 {
  margin: 65px auto 10px;
  height: 45px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 28px;
  background: url(../images/awards-title.png)  top center no-repeat;
}
.awards img { margin: auto;}

.bg {
  padding-bottom: 20px;
  background: url("../images/feature-bg.jpg") bottom center no-repeat;
}
/* intro */
.intro {
  width: 100%;
  height: 720px;
  
}
.intro h2 {
  display: inline-block;
  width: 100%;
  margin-top: 72px;
  text-align: center;
  font-size: 26px;
}
.intro .interface {
  display: block;
  margin: 54px auto 5px;
}
.intro dl {
  margin-bottom: 40px;
  width: 480px;
}
.intro dl.fr { width: 460px; }
.intro dl dt {
  float: left;
  width: 62px;
}
.intro dl dd {
  float: left;
  width: 415px;
}
.intro dl.fr dd { width: 393px; }
.intro dl dd h3 {
  padding: 2px 0 10px 13px;
  font-size: 16px;
  color: #ff4d00;
  line-height: 22px;
  background: url(../images/line.png) left bottom no-repeat;
}
.intro dl.last dd h3 { font-size: 14px \0; }
.intro dl dd p {
  margin-top: 4px;
  line-height: 16px;
  padding-left: 13px;
  color: #000;
}
.intro dl a {
  display: block;
  margin-top: 16px;
  padding-left: 13px;
  font-size: 13px;
  color: #01a3f4;
  text-decoration: underline;
}


/*
 * gift-message
 */
.gift-message	{height: 279px; background: url("../images/gift-message-bg.jpg") top center no-repeat;}
.gift-message .img-box { float: left;margin-left: 75px; margin-top: 118px;}
.gift-message dl {float: left; margin-left: 8px;}
.gift-message dl dt { margin: 10px 0; font-size: 18px; font-weight: 700;}
.gift-message dl dd { line-height: 22px; color: #424242;}
.gift-message dl dd i { display: inline-block; width: 16px; height: 12px; margin-right: 10px; background-position: -18px -45px;}

.gift-message .right-message { float: left; width: 440px; height: 141px; margin-top: 75px; margin-left: 25px}
.gift-message .right-message h3 { margin-top: 48px; margin-bottom: 8px; font-size: 16px;}
.gift-message .right-message p { font-weight: 700; color: #424242; line-height: 24px; font-size: 14px;}

.between-buy { height: 204px; text-align: center; background: url(../images/between-buy-bg.jpg) no-repeat center;}
.between-buy p.price { padding-top: 48px; font-size: 16px; color: #fff;}
.between-buy p.price strong { font-size: 30px;}
.between-buy p.last { margin-top: 10px; font-size: 13px; color: #fff; font-weight: 700;}
.between-buy p.last i {width: 15px; height: 10px; margin-top: -3px; margin-right: 10px; background-position: 0 -58px;}


/* user */
.user{
  height: 591px;
  background: url(../images/user-bg.jpg) top center no-repeat;
  background-size: cover;
}
.user h2 {
  padding-top: 50px;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  font-weight: 400;
}
.user h2 span { display: block; }
.user h2 .buy-num{
  color: #1ac87d;
  font-size: 24px;
}
.user-list{ margin-top: 90px; }
.user-list li{
  position: relative;
  width: 378px;
  height: 330px;
  background: #fff;
  border-radius: 5px;
  margin-left: 65px;
  margin-right: 53px;
}
.user-list li img{
  position: absolute;
  top: -55px;
  left: 140px;
}
.user-list li h4{
  padding: 60px 0 20px 0;
  text-align: center;
  font-size: 16px;
}
.user-list li p{
  padding: 0 28px;
  text-align: center;
  font-size: 15px;
  color: #969696;
  line-height: 24px;
}



/* comparison */
.comparison { margin-top: 100px; }
.comparison table {
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
}
.comparison th {
  padding-bottom: 14px;
  font-weight: 600;
  font-size: 17px;
  color: #a5aeb1;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
}
.comparison th.itema { color: #313131; font-size: 14px;}
.comparison th.itema span{
  display: inline-block !important;
}
.comparison th span{ display: block; }
.comparison th.text {
  text-align: left;
  font-size: 24px;
  color: #000;
  vertical-align: middle;
}
.comparison th .price{
  margin-top: 8px;
  font-size: 14px;
  color: #434343;
}
.comparison th .price span{
  display: inline-block !important;
  font-size: 16px;
  color: #e70811;
}
.comparison tr td.virtue {
  text-align: left;
  font-size: 16px;
  width: 600px;
  color: #000;
}
.comparison tr td.virtue.first sup { 
  margin-left: 4px;
  margin-right: -40px; 
}
.comparison tr sup {
  display: inline-block;
  position: relative;
  vertical-align: top;
  color: #ec6359;
  font-size: 8px;
  font-weight: 400;
  width: 64px;
  height: 12px;
  line-height: 12px;
  border-radius: 6px;
  text-align: center;
  border: 1px solid #ec6359;
}
.comparison tr sup.novo { 
  width: 38px;
  color: #17ba17; 
  border-color: #17ba17;
}
.comparison tr sup.mr { margin-right: -20px; }
.comparison tr sup.threex:after {
  content: '3x';
  display: block;
  position: absolute;
  top: 0px;
  right: -20px;
  font-size: 14px;
  color: #ec6359;
}
.comparison tr sup.twox:after { content: '2x'; }
.comparison tr sup.fivex:after { content: '5x'; }
.comparison .itemb { 
  text-align: center;
  width: 180px; 
}
.comparison .itema { 
  text-align: center;
  width: 180px; 
}
.comparison td {
  height: 60px;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
}
.comparison td.icons {
  text-align: left;
  width: 40px;
}
.comparison tr i {
  width: 22px;
  height: 16px;
  background-position: 0 -12px;
  background-image: url(../images/all_icons.png);
}
.comparison tr i.orange { background-position: 0 -28px; }
.comparison tr i.circle { 
  width: 6px;
  height: 6px;
  background-position: 0 -45px; 
}

.comparison tfoot th strong{
  display: block;
  margin-top: 14px;
}

.comparison .buybtn {margin-bottom: 10px;width: 144px;height: 36px;line-height: 36px;font-size: 14px;border-radius: 3px;box-shadow: none;background-position: 0 -194px;}
.comparison .buybtn:hover { background-position: 0 -230px;}

/*
 * annotation
 */
.annotation { width:998px; margin: auto; padding: 25px 0; font-size: 12px; font-weight: 700; line-height: 18px; color: #585858; text-align: left;}
.annotation dt { font-size: 12px; display: inline-block; }
.copyright{ display: block; height:30px; width: 100%; text-align: center; font-weight: 700; line-height:30px; color: #000;}

.fl-bg { position: absolute; width: 100%; height: 1246px; bottom: 0px; left: 0; z-index: -1;}

/*
 * service
 */
.service{
  padding: 50px 0 23px 0;
}
.service li{
  float: left;
  width: 33.33%;
  text-align: center;
  font-size: 16px;
}
.service li img{
  display: inline-block;
  padding-top: 20px;
}

/*footer*/
.footer { 
  padding-top: 20px; 
  border-top: 1px #ccc solid;
}
.note {
  line-height: 14px;
  font-size: 12px;
  color: #757575;
}
.copyright {
  padding: 30px 0 40px 0;
  text-align: center;
  color: #000;
}
