@charset "utf-8";

/* CSS Document */
* {
  position: relative;
  margin: 0;
  padding: 0;
}
body {
  min-width: 1100px; 
  font-size: 14px;
  line-height: 1.4;
  color: #000;
  font-weight: 600;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  outline: 0;
  vertical-align: baseline;
  background: #fafafa;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #000;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li { list-style-type: none; }
img { border: none; }
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}
.clearfix { zoom: 1; }
.fl { float: left; }
.fr { float: right; }
.wrapper {
  position: relative;
  width: 1100px;
  min-width: 1100px;
  margin: 0 auto;
  zoom: 1;
}
.all-icons { 
  display: inline-block;
  text-indent: -9999px;
  vertical-align: middle;
  background: url(../images/all-icons.png) no-repeat 0 0;
}

/* banner */
.banner {
  height: 644px;
  background: url(../images/bg.jpg) top center no-repeat;
}
.banner .wrapper { padding-top: 16px; }
.banner .logo {
  display: block;
  width: 33px;
}
.banner .title {
  margin: 22px 0 54px;
  color: #fff;
  text-align: center;
}
.banner .title h1 {
  font-size: 24px;
  font-weight: 600;
}
.banner .title p {
  color: #fa2941;
  font-size: 18px;
  font-weight: 500;
}
.banner .title p b {
  font-size: 24px;
  font-weight: 800;
}
.banner .offer {
  margin: 0 auto;
  width: 985px;
}
.banner .offer .left > img {
  display: block;
  margin-top: 80px;
  margin-left: 25px;
}
.banner .offer .right {
  margin-right: 28px;
  width: 600px;
}
.banner .curvebox { position: relative; }
.banner .curvebox span {
  display: block;
  position: absolute;
  color: #3e3e3e;
  font-size: 12px;
  font-weight: 500;
}
.banner .curvebox span.one {
  top: 16px;
  left: 16px;
}
.banner .curvebox span.two {
  top: 16px;
  left: 166px;
}
.banner .curvebox span.three {
  top: 13px;
  left: 292px;
  color: #f83f43;
  font-size: 14px;
  font-weight: 700;
}
.banner .curvebox span.three i {
  content: '';
  display: inline-block;
  margin: 3px 1px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #f83f43;
}
.banner .curvebox span.four {
  top: 16px;
  right: 16px;
}
.banner .curvebox span em,
.banner .curvebox span i {
  font-style: normal;
  text-decoration: none;
}
.banner .offer h2 {
  padding: 26px 0;
  font-size: 20px;
  font-weight: 600;
}
.price li {
  float: left;
  margin-top: 28px;
  margin-left: 80px;
  color: #3e3e3e;
  font-size: 12px;
  font-weight: 500;
}
.price li.last { 
  margin-top: 24px;
  margin-left: 48px; 
}
.price li p {
  color: #000;
  font-size: 16px;
}
.price li p b {
  font-size: 20px;
  font-weight: 600;
}

/* buybtn */
.buybtn {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 50px;
  color: #fff8dc;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border-radius: 25px;
  background-color: #e22528;
  box-shadow: 0 12px 13px 0 rgba(252, 78, 56, 0.3);
}
.comparison .buybtn {
  margin: 4px auto 8px;
  width: 198px;
  height: 34px;
  font-size: 14px;
  line-height: 34px;
  border-radius: 17px;
}
.floatlayer .buybtn {
  margin: 6px auto;
  width: 231px;
  height: 47px;
  line-height: 47px;
}
.buybtn i {
  margin-top: -3px;
  margin-right: 14px;
  width: 19px;
  height: 12px;
  background-position: 0 0;
}
.comparison .buybtn i,
.floatlayer .buybtn i { margin-right: 10px; }
.buybtn:hover {
  width: 246px;
  height: 46px;
  line-height: 46px;
  border: 2px solid #e5352f;
  background-color: #fe523a;
  background-image: -webkit-linear-gradient(90deg, rgb(254,82,58) 1%, rgb(236,46,45) 100%);
  background-image:         linear-gradient(90deg, rgb(254,82,58) 1%, rgb(236,46,45) 100%);
}
.comparison .buybtn:hover {
  width: 194px;
  height: 30px;
  line-height: 30px;
}
.floatlayer .buybtn:hover {
  width: 228px;
  height: 43px;
  line-height: 43px;
}

/*
 * feature
 */
.feature {
  min-width: 1100px;
  height: 590px;
  margin-top: 80px;
  text-align: center;
  background: url("../images/feature-bg.jpg?t=323") center no-repeat;
}
.feature h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}
.feature h3 {
  margin-top: 20px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  color: #585858;
}
.feature h3 strong {
  color: #fa2941;
}
.feature .scan {
  display: block;
  position: absolute;
  top: 203px;
  left: 392px;
  z-index: 9;
}
.feature .content {
  margin-top: 95px;
}
.feature .content dl {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(-140px, 0);
  transform: translate(-140px, 0);
  -webkit-transition: -webkit-transform .4s ease, opacity .6s ease;
  transition: transform .4s ease, opacity .6s ease;
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}
.feature .content dl.on {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.feature .content dl dt {
  float: left;
  width: 64px;
  height: 55px;
  background: url("../images/feature-icons.png") no-repeat;
}
.feature .content dl dd {
  float: left;
  margin-left: 10px;
  text-align: left;
}
.feature .content dl dd h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}
.feature .content dl dd p {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: #848484;
}
.feature .content dl.one {
  top: 20px;
  left: 44px;
}
.feature .content dl.one dt {
  background-position: 0 0;
}
.feature .content dl.two {
  top: 205px;
  left: 118px;
  -webkit-transform: translate(140px, 0);
  transform: translate(140px, 0);
}
.feature .content dl.two.on {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.feature .content dl.two dt {
  background-position: 0 -110px;
}
.feature .content dl.three {
  top: 20px;
  right: -50px;
}
.feature .content dl.three dt {
  background-position: 0 -55px;
}
.feature .content dl.four {
  top: 205px;
  right: 90px;
}
.feature .content dl.four dt {
  background-position: 0 -165px;
}
.feature .update {
  display: none;
}
.feature .update .content {
  margin-top: 52px;
}
.feature .update .content dl dt {
  width: 16px;
  background-position: 0 -220px;
}
.feature .update .content dl.top dt {
  width: 50px;
  height: 46px;
  font-size: 52px;
  font-weight: 600;
  line-height: 46px;
  color: #fa2941;
  background: none;
}
.feature .update .content dl.top dd {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
}
.feature .update .content dl.top dd sup {
  font-size: 14px;
  font-weight: 700;
  color: #fa2941;
}
.feature .update .content dl.five {
  top: 0;
  left: 72px;
}
.feature .update .content dl.six {
  top: 0;
  right: -72px;
}
.feature .update .content dl.one {
  top: 118px;
  left: 30px;
}
.feature .update .content dl.two {
  top: 262px;
  left: 50px;
}
.feature .update .content dl.three {
  top: 118px;
  right: -48px;
}
.feature .update .content dl.four {
  top: 262px;
  right: 40px;
}
/*
 * comparison
 */
.comparison h2 {
  margin: 30px 0 40px 0;
  color: #232323;
  font-size: 25px;
  font-size: 24px \0;
  font-weight: 600;
  text-align: center;
}
.comparison table {
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
  font-weight: 600;
}
.comparison .itema,
.comparison .itemc {
  width: 180px;
  text-align: center;
}
.comparison .space {
  width: 1px;
}
.comparison td {
  height: 48px;
  text-align: center;
  vertical-align: middle;
  border-bottom: solid 1px #d7d7d7;
}
.comparison td.itema {
  color: #3e3f40;
  background: #f3f3f3;
}
.comparison td.itemc {
  color: #f43741;
  font-weight: 700;
  background: #fbf4f5;
}
.comparison td.icons {
  width: 50px;
  text-align: center;
}
.comparison td.virtue {
  width: 689px;
  color: #21222a;
  font-size: 15px;
  font-size: 14px \0;
  text-align: left;
}
.comparison td i {
  width: 16px;
  height: 17px;
  background-position: 0 -12px;
}
.comparison td i.red {
  background-position: 0 -29px;
}
.comparison td i.black {
  background-position: 0 -46px;
}
.comparison th {
  vertical-align: bottom;
  border-bottom: 3px solid #ea292b;
}
.comparison th.itemc span {
  color: #feefab;
}
.comparison th .pro {
  width: 180px;
  height: 50px;
  color: #fff;
  font-size: 17px;
  font-size: 16px\0;
  font-weight: 600;
  line-height: 50px;
  background: #f0393f;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.comparison th .free {
  width: 180px;
  height: 40px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  background: #1e2124;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.comparison tfoot th {
  height: 110px;
  padding-top: 6px;
  vertical-align: top;
  border-color: #eaeaea;
}
.comparison tfoot p {
  padding: 6px 0 0 0;
  color: #f43741;
  font-size: 12px;
  font-weight: 500;
}
.comparison tfoot p strong {
  font-weight: 500;
}
.comparison tfoot p b {
  color: #232323;
  font-size: 18px;
  font-weight: 600;
}
.comparison tfoot p del {
  color: #515151;
  font-size: 12px;
  font-weight: 600;
}
.comparison.sold tfoot .itemc {
  position: relative;
}
.comparison.sold tfoot .itemc p b {
  color: #bebebe;
}
.comparison.sold tfoot .itemc p del {
  color: #cbcbcb;
}
.comparison .buybtn.other {
  z-index: 9;
  margin: 2px auto 4px;
  width: 150px;
  height: 34px;
  font-size: 14px;
  line-height: 34px;
  border-radius: 17px;
}
.comparison .buybtn.other:hover {
  width: 150px;
  height: 34px;
  line-height: 34px;
  border: 0;
}
.comparison .countdown b {
  display: inline-block;
  width: 18px;
  color: #fa2941;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}
.countdown {
  color: #fa2941;
  font-size: 12px;
}
.countdown b {
  display: inline-block;
  width: 18px;
  color: #fa2941;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}
/*
 * review
 */
.review {
  padding: 40px 0;
  margin-top: 35px;
}
.review h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 66px;
  color: #212121;
}
.review .review-message {
  width: 1000px;
  height: 434px;
  margin: 30px auto 0;
  background: url(../images/map.png) no-repeat center;
}
.review .review-message dl {
  position: absolute;
  width: 115px;
  height: 101px;
}
.review .review-message dl dt {
  position: relative;
  height: 101px;
  text-align: center;
}
.review .review-message dl dt .img-box {
  position: relative;
  z-index: 30;
  width: 115px;
  height: 101px;
  cursor: pointer;
}
.review .review-message dl h4 {
  padding-top: 30px;
  font-size: 12px;
  font-weight: 500;
  color: #d82029;
}
.review .review-message dl img {
  position: relative;
  z-index: 5;
  width: 38px;
  height: 38px;
  margin-top: 2px;
  border-radius: 50%;
  border: solid #d82029 2px;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
}
.review .review-message dl .line {
  position: absolute;
  background: url(../images/line.png);
}
.review .review-message dl .line:after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 114px;
  left: 93px;
  border-radius: 50%;
  background: #ababab;
}
.review .review-message dl .line:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 111px;
  left: 90px;
  background: rgba(171, 171, 171, 0.35);
}
.review .review-message dl dd {
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  z-index: 8;
  left: 108px;
  top: 5px;
  width: 310px;
  padding: 15px 15px;
  border-radius: 5px;
  font-size: 12px;
  color: #fff;
  background: rgba(232, 26, 19, 0.65);
  box-shadow: 0 6px 15px 0 rgba(216, 32, 41, 0.39);
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}
.review .review-message dl dd:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 17px;
  top: 50%;
  left: -10px;
  margin-top: -9px;
  background: url(../images/arrow.png);
}
.review .review-message dl.active dd {
  z-index: 35;
  filter: alpha(opacity=100);
  opacity: 1;
}
.review .review-message dl.active h4 {
  padding-top: 0;
  font-size: 16px;
  font-weight: 600;
}
.review .review-message dl.active img {
  width: 77px;
  height: 77px;
  border: solid #d82029 3px;
}
.review .review-message dl.active.wayne .line {
  background-position: -96px 0;
}
.review .review-message dl.active.myo .line {
  background-position: -251px 0;
}
.review .review-message dl.active.pcmag .line {
  background-position: -374px 0;
}
.review .review-message dl.active.chip .line {
  background-position: -473px 0;
}
.review .review-message dl.active.fabio .line {
  background-position: -533px 0;
}
.review .review-message dl.active.vector .line {
  background-position: -644px 0;
}
.review .review-message dl.active.adam .line {
  background-position: -62px -147px;
}
.review .review-message dl.active.olnet .line {
  background-position: -227px -135px;
}
.review .review-message dl.active.olorin .line {
  background-position: -382px -135px;
}
.review .review-message dl.active.html .line {
  background-position: -518px -134px;
}
.review .review-message dl.red-round .line:before {
  background: rgba(211, 50, 50, 0.3);
}
.review .review-message dl.wayne {
  top: 12px;
  left: -5px;
}
.review .review-message dl.wayne .line {
  width: 94px;
  height: 115px;
  left: 54px;
  bottom: -89px;
}
.review .review-message dl.myo {
  top: 38px;
  left: 134px;
}
.review .review-message dl.myo .line {
  width: 58px;
  height: 83px;
  left: 53px;
  bottom: -75px;
  background-position: -192px 0;
}
.review .review-message dl.myo .line:after {
  top: 81px;
  left: 57px;
}
.review .review-message dl.myo .line:before {
  top: 78px;
  left: 54px;
}
.review .review-message dl.pcmag {
  top: 32px;
  left: 268px;
}
.review .review-message dl.pcmag .line {
  width: 62px;
  height: 87px;
  left: -7px;
  bottom: -68px;
  background-position: -311px 0;
}
.review .review-message dl.pcmag .line:after {
  top: 83px;
  left: -3px;
}
.review .review-message dl.pcmag .line:before {
  top: 80px;
  left: -6px;
}
.review .review-message dl.pcmag dd {
  left: -335px;
}
.review .review-message dl.pcmag dd:after {
  width: 9px;
  height: 16px;
  top: 50%;
  right: -9px;
  left: initial;
  margin-top: -8px;
  background: url(../images/right-arrow.png);
}
.review .review-message dl.chip {
  top: 28px;
  left: 386px;
}
.review .review-message dl.chip .line {
  width: 34px;
  height: 68px;
  left: 55px;
  bottom: -57px;
  background-position: -438px 0;
}
.review .review-message dl.chip .line:after {
  top: 68px;
  left: 35px;
}
.review .review-message dl.chip .line:before {
  top: 65px;
  left: 32px;
}
.review .review-message dl.fabio {
  top: 39px;
  left: 462px;
}
.review .review-message dl.fabio .line {
  width: 24px;
  height: 77px;
  left: 35px;
  bottom: -66px;
  background-position: -509px 0;
}
.review .review-message dl.fabio .line:after {
  top: 75px;
  left: -6px;
}
.review .review-message dl.fabio .line:before {
  top: 72px;
  left: -9px;
}
.review .review-message dl.vector {
  top: 55px;
  left: 675px;
}
.review .review-message dl.vector .line {
  width: 83px;
  height: 79px;
  left: 56px;
  bottom: -69px;
  background-position: -559px 0;
}
.review .review-message dl.vector .line:after {
  top: 76px;
  left: 78px;
}
.review .review-message dl.vector .line:before {
  top: 73px;
  left: 75px;
}
.review .review-message dl.adam {
  top: 274px;
  left: 44px;
}
.review .review-message dl.adam .line {
  width: 61px;
  height: 85px;
  left: 56px;
  bottom: 71px;
  background-position: 0 -147px;
}
.review .review-message dl.adam .line:after {
  top: -3px;
  left: 63px;
}
.review .review-message dl.adam .line:before {
  top: -6px;
  left: 60px;
}
.review .review-message dl.olnet {
  top: 273px;
  left: 304px;
}
.review .review-message dl.olnet .line {
  width: 97px;
  height: 98px;
  left: 58px;
  bottom: 71px;
  background-position: -130px -135px;
}
.review .review-message dl.olnet .line:after {
  top: -6px;
  left: 96px;
}
.review .review-message dl.olnet .line:before {
  top: -9px;
  left: 93px;
}
.review .review-message dl.olorin {
  top: 252px;
  left: 373px;
}
.review .review-message dl.olorin .line {
  width: 47px;
  height: 74px;
  left: 58px;
  bottom: 68px;
  background-position: -335px -135px;
}
.review .review-message dl.olorin .line:after {
  top: -6px;
  left: 47px;
}
.review .review-message dl.olorin .line:before {
  top: -9px;
  left: 44px;
}
.review .review-message dl.html {
  top: 275px;
  left: 520px;
}
.review .review-message dl.html .line {
  width: 82px;
  height: 85px;
  left: -22px;
  bottom: 68px;
  background-position: -435px -134px;
}
.review .review-message dl.html .line:after {
  top: -5px;
  left: -6px;
}
.review .review-message dl.html .line:before {
  top: -8px;
  left: -9px;
}
.review .review-message dl.active .line:after,
.review .review-message dl.active .line:before {
  animation: round 1s;
}
@keyframes round {
  from {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }
  to {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.review .review-message dl.red-round .line:after {
  background: #d82029;
}
.review .review-message dl.olnet dd,
.review .review-message dl.adam dd,
.review .review-message dl.olorin dd,
.review .review-message dl.html dd {
  top: 30px;
  left: 117px;
}
.review .review-message dl.adam h4,
.review .review-message dl.olnet h4,
.review .review-message dl.olorin h4,
.review .review-message dl.html h4 {
  padding-top: 0;
}
.review .review-message dl.adam img,
.review .review-message dl.olnet img,
.review .review-message dl.olorin img,
.review .review-message dl.html img {
  margin-top: 30px;
}

/* awards */
.awards {
  margin-top: 40px;
  height: 295px;
  color: #aeb5c1;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  background: url(../images/awards-bg.jpg) top center no-repeat;
}
.awards h2 {
  padding: 58px 0 32px;
  font-size: 36px;
  font-weight: 600;
}
.awards p {
  margin-bottom: 40px;
}

/* service */
.service dl {
  margin: 46px 0 30px;
  width: 549px;
  height: 126px;
  background-color: #eeeeed;
}
.service dl.fr {
  padding: 0 21px;
  width: 507px;
}
.service dl.fl dt {
  float: left;
  margin: 27px 16px 0 26px;
  width: 72px;
}
.service dl.fl dd {
  float: left;
  width: 430px;
}
.service h3 {
  padding-top: 14px;
  margin-bottom: 10px;
  color: #848484;
  font-size: 14px;
  font-weight: 600;
}
.service p {
  color: #848484;
  font-size: 12px;
  line-height: 18px;
}

/* note */
.note,
.copyright {
  color: #8f8f8f;
  font-size: 12px;
}
.copyright {
  margin-top: 48px;
  padding: 18px 0 140px;
  text-align: center;
  border-top: 1px solid #e3e3e3;
}

/*
 * floatlayer
 */
.floatlayer {
  position: fixed;
  z-index: 100;
  bottom: -130px;
  height: 120px;
  width: 100%;
  visibility: hidden;
  background: url(../images/float-bg.jpg) top center no-repeat;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.floatlayer.on {
  bottom: 0;
  visibility: visible;
}
.floatlayer .left {
  margin-left: -8px;
}
.floatlayer .left > img {
  display: block;
  margin: -44px 0 0;
}
.floatlayer h2 {
  margin-top: 26px;
  margin-left: 10px;
  width: 440px;
  color: #f8f8f8;
  font-size: 46px;
  font-weight: 600;
  text-align: center;
}
.floatlayer .price {
  margin: 14px -26px 0 0;
  text-align: center;
}
.floatlayer .price p {
  font-size: 12px;
  color: #e22528;
}
.floatlayer .price p strong {
  font-size: 12px;
  font-weight: 600;
}
.floatlayer h3 {
  padding-left: 30px;
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.floatlayer.sold .left > img {
  margin: -40px 0 0 50px;
}
.floatlayer.sold h2 {
  width: 480px;
}
.floatlayer.sold .price {
  margin-top: 28px;
}
.floatlayer .price p.countdown,
.floatlayer .price p.countdown b {
  font-size: 14px;
}

