@charset "utf-8";
/* CSS Document */
* {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  min-width: 1100px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #101010;
  outline: 0;
  vertical-align: baseline;
  text-align: center;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #000;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li {
  list-style-type: none;
}
img {
  border: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.wrapper {
  position: relative;
  width: 1100px;
  min-width: 1100px;
  margin: 0 auto;
  zoom: 1;
}
/*
 * banner
 */
.banner {
  min-width: 1100px;
  height: 650px;
  background: url("../images/banner-bg.jpg") top center no-repeat;
}
.banner .logo {
  position: absolute;
  top: 27px;
  left: 0;
  width: 42px;
  height: 13px;
  z-index: 9;
  text-indent: -9999px;
  background: url("../images/logo.png") center no-repeat;
}
.banner h1 {
  height: 186px;
  text-indent: -9999px;
  background: url("../images/banner-title.png") center no-repeat;
}
.banner ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.banner ul li {
  position: absolute;
  top: 186px;
  left: 125px;
  width: 412px;
  height: 452px;
  background-image: url("../images/message-bg.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.banner ul li .box {
  margin: 42px 0 0 100px;
  width: 265px;
  height: 206px;
  text-indent: -9999px;
  background-image: url("../images/imf-box.png");
  background-position: -290px 0;
  background-repeat: no-repeat;
}
.banner ul li.saleout {
  left: 112px;
  width: 425px;
  height: 466px;
  background-position: 0 -484px;
}
.banner ul li.saleout .box {
  margin: 6px 0 0 90px;
  width: 290px;
  height: 217px;
  background-position: 0 0;
}
.banner ul li.last {
  top: 159px;
  left: 562px;
  width: 453px;
  height: 484px;
  background-position: -412px 0;
}
.banner ul li.last .box {
  margin: 5px 0 0 62px;
  width: 344px;
  height: 220px;
  text-indent: -9999px;
  background-position: 0 -217px;
}
.banner ul li.last.saleout {
  width: 418px;
  height: 445px;
  background-position: -425px -484px;
}
.banner ul li.last.saleout .box {
  margin: 55px 0 0 49px;
  width: 313px;
  height: 205px;
  background-position: -344px -217px;
}
.banner ul li .termine {
  display: block;
  position: absolute;
  top: 10px;
  left: 23px;
  width: 374px;
  height: 402px;
  background: url("../images/termine-bg.png") center no-repeat;
}
.banner ul li .termine:after {
  content: '';
  display: block;
  position: absolute;
  top: 165px;
  left: 100px;
  width: 213px;
  height: 106px;
  background: url("../images/termine.png") center no-repeat;
  -webkit-animation: show .85s ease 1;
  animation: show .85s ease 1;
}
@keyframes show {
  0% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*
 * countdown
 */
.countdown {
  width: 320px;
  height: 53px;
  margin: 2px 0 0 80px;
  padding-left: 39px;
  font-size: 12px;
  line-height: 53px;
  text-align: left;
  background-image: url("../images/timer-bg.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.countdown span {
  font-size: 14px;
}
.countdown strong {
  display: inline-block;
  margin-left: 15px;
  margin-left: 13px\0;
  font-size: 20px;
  font-weight: 700;
}
.countdown.prev {
  width: 300px;
  height: 49px;
  margin: 0 0 0 76px;
  padding-left: 45px;
  line-height: 49px;
  background-position: 0 -53px;
}
.countdown.prev strong {
  margin-left: 12px;
  font-size: 16px;
}
.countdown.bottom {
  display: inline-block;
  margin: 20px auto 0;
  padding: 0;
  height: 32px;
  width: 100%;
  line-height: 32px;
  text-align: center;
  text-decoration: underline;
  font-size: 12px;
  font-weight: 700;
  background: none;
}
.countdown.bottom strong {
  margin: 0;
  font-size: 16px;
  display: inline;
}
/*
 * price
 */
.price {
  height: 34px;
  margin: 16px 0 0 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
}
.price.small {
  margin: 10px 0 0 0;
}
.price strong {
  display: inline-block;
  font-size: 42px;
  text-indent: 30px;
}
.price sup {
  display: inline-block;
  top: -12px;
}
.price del {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #4e4e4e;
  top: -2px;
  left: -29px;
}
/*
 * buybtn
 */
.buybtn {
  display: block;
  width: 210px;
  height: 50px;
  margin: 10px auto 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 46px;
  color: #1c1c1c;
  border: 2px solid #1c1c1c;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: none;
}
.buybtn.yellow {
  width: 220px;
  border: 0;
  color: #0a0a0a;
  line-height: 50px;
  background: #ffd800;
  background: -webkit-linear-gradient(#ffd800 0%, #f27d00 100%);
  background: linear-gradient(#ffd800 0%, #f27d00 100%);
  -webkit-box-shadow: 0 6px 10px rgba(32, 32, 32, 0.46);
  -moz-box-shadow: 0 6px 10px rgba(32, 32, 32, 0.46);
  box-shadow: 0 6px 10px rgba(32, 32, 32, 0.46);
}
.buybtn:hover,
.buybtn.yellow:hover {
  border: 0;
  color: #0a0a0a;
  line-height: 50px;
  background: #fbbf00;
  background: -webkit-linear-gradient(#fbbf00 0%, #fbbf00 100%);
  background: linear-gradient(#fbbf00 0%, #fbbf00 100%);
  -webkit-box-shadow: 0 6px 10px rgba(32, 32, 32, 0.46);
  -moz-box-shadow: 0 6px 10px rgba(32, 32, 32, 0.46);
  box-shadow: 0 6px 10px rgba(32, 32, 32, 0.46);
}
.buybtn.saleout {
  color: #dadada;
  background: #d5d5d5;
  background: -webkit-linear-gradient(#d5d5d5 0%, #6f6f6f 100%);
  background: linear-gradient(#d5d5d5 0%, #6f6f6f 100%);
  -webkit-box-shadow: 0 6px 6px rgba(87, 87, 87, 0.39);
  -moz-box-shadow: 0 6px 6px rgba(87, 87, 87, 0.39);
  box-shadow: 0 6px 6px rgba(87, 87, 87, 0.39);
  cursor: default;
}
/*
 * payment
 */
.payment {
  min-width: 1100px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: #f0eeeb;
  overflow: hidden;
}
.payment img {
  display: inline-block;
  vertical-align: middle;
}
/*
 * intro
 */
/* intro */
.intro { 
  position: relative; 
  margin: 55px auto;
}
.intro-h2 {
  margin-top: 60px;
  font-size: 38px;
  text-align: center;
}
.intro-p {
  margin-top: -3px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.intro .cont li {
  position: absolute;
  z-index: 10;
  width: 310px;
  font-size: 14px;
  color: #757575;
  font-style: italic;
  font-weight: 400;
  text-align: left;
}
.intro .cont li h5 {
  margin-bottom: 3px;
  margin-right: -80px;
  width: 350px;
  font-size: 18px;
}
.intro .cont li.three h5 { font-size: 16px; }
.intro .cont li.one h5 { font-size: 16px; }
.intro .cont li p {
  padding-left: 50px;
  line-height: 16px;
}
.intro .cont li p span { display: block; }
.intro .cont li i {
  display: inline-block;
  margin-right: 9px;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  background: url('../images/i_icons.png') 0 0 no-repeat;
}
.intro .cont li.one { 
  top: -18px; 
  left: 0px; 
}
.intro .cont li.two { 
  top: -6px;
  right: 6px; 
}
.intro .cont li.three { 
  top: 152px; 
  left: 0px; 
}
.intro .cont li.four { 
  top: 168px;
  right: 6px; 
}
.intro .cont li.two i { background-position: 0 -40px; }
.intro .cont li.three i { background-position: 0 -80px; }
.intro .cont li.four i { background-position: 0 -120px; }
.intro .imgcont {
  position: relative;
  height: 300px;
  text-align: center;
  background: url('../images/computer.png') 278px no-repeat;
}
.intro .img-change {
  position: absolute;
  margin: 11px 0 0 346px;
  width: 365px; 
  height: 215px;
  overflow: hidden;
  pointer-events: none;
}
.intro .img-change img {
  position: absolute;
  top: 0;
  display: block;
  left: -365px;
}
.intro .img-change img.active { 
  left: 0;
  -webkit-animation: leftchange .5s forwards;
          animation: leftchange .5s forwards;
}
.intro .img-glass {
  position: relative;
  height: inherit;
}
.intro .img-glass li {
  position: absolute;
  top: 9px;
  left: 300px; 
  width: 311px;
  height: 209px;
  opacity: 0; 
  filter:alpha(opacity=0);
  background: url('../images/list-line01.png') no-repeat;
  -webkit-transition: all ease .5s;
          transition: all ease .5s;
}
.intro .img-glass li.two {
  top: 6px;
  left: 600px;
  width: 73px;
  height: 159px;
  background: url('../images/list-line02.png') no-repeat;
}
.intro .img-glass li.three {
  top: 177px;
  width: 268px;
  height: 8px;
  background: url('../images/list-line03.png') no-repeat;
}
.intro .img-glass li.four {
  top: 80px;
  left: 514px;
  width: 102px;
  height: 111px;
  background: url('../images/list-line04.png') no-repeat;
}
.intro .img-glass li > img {
  display: block;
  position: absolute;
  top: 143px; 
  left: 304px;
  opacity: 0;
  filter:alpha(opacity=0);  
  -webkit-transition: opacity ease .3s .2s,-webkit-transform ease .8s;
          transition: opacity ease .3s .2s,-webkit-transform ease .8s;
  -webkit-transform: scale(.5,.5);
          transform: scale(.5,.5);
}
.intro .img-glass li.two > img {
  top: 90px; 
  left: -132px;
}
.intro .img-glass li.three > img {
  top: -76px; 
  left: 260px;
}
.intro .img-glass li.four > img {
  top: -60px; 
  left: -132px;
}
.intro .cont li.active { 
  color: #000;
  cursor: pointer;
}
.intro .cont li.active i { background-position: -40px 0; }
.intro .cont li.two.active i { background-position: -40px -40px; }
.intro .cont li.three.active i { background-position: -40px -80px; }
.intro .cont li.four.active i { background-position: -40px -120px; }
.intro .img-glass li.active {
  left: 272px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.intro .img-glass li.two.active { left: 693px; }
.intro .img-glass li.four.active { left: 662px; }
.intro .img-glass li.active > img {
 opacity: 1; 
 filter: alpha(opacity=100);
 -webkit-transform: scale(1,1);
         transform: scale(1,1);
}

/* donation */
.donation {
  position: relative;
  margin-top: 100px;
  height: 637px; 
  text-align: center;
  background: url(../images/gift-bg.png) center top no-repeat;
}
.donation h2 {
  height: 108px; 
  text-indent: -9999px;
  background: url(../images/gift-title.png) center bottom no-repeat; 
}
.donation dl { 
  float: left;
  margin-top: 80px;
  width: 33.3%;
}
.donation dl dt { 
  width: 215px; 
  margin: 0px auto; 
  padding-bottom: 10px; 
  border-bottom: solid #ccc 1px; 
  font-size: 12px;
}
.donation dl dt strong,
.donation dl dt del { 
  font-size: 16px; 
  color: #ea292b;
}
.donation dl dt del { color: #999; }
.donation dl dd { 
  padding: 10px; 
  line-height: 20px; 
  color: #424242; 
  font-weight: 700;
}
.donation .buybtn {
  margin-top: 55px;
  width: 260px;
  height: 64px;
  font-size: 18px;
  line-height: 64px;
}
.donation .buybtn:hover {
  line-height: 64px;
}
.donation .termine {
  display: block;
  position: absolute;
  bottom: 80px;
  left: 50%;
  margin-left: -130px;
  width: 282px;
  height: 84px;
  background: url("../images/termine02.png") center no-repeat;
  -webkit-animation: show .85s ease 1;
  animation: show .85s ease 1;
}


/* awards */
.awards {
  margin-top: 76px;
  text-align: center;
}
.awards h2 {
  margin-bottom: 40px;
  height: 40px;
  line-height: 40px;
  font-weight: 400;
  font-size: 20px;
  background: url(../images/award-title.png) top center no-repeat;
}

/* review */
.review{
  padding-bottom: 120px;
  margin-top: 66px;
}
.review .content { 
  height: 265px;
  text-align: center;
 }
.review .content h3 { 
  font-size: 36px;
  font-weight: 400;
  color: #212121;
}
.review .content dl { display: none; }
.review .content dd {
  padding: 0 40px; 
  margin-top: 25px; 
  line-height: 20px;
  color: #757575;
}
.review .content dd h4 {
  padding: 0 40px;
  color: #212121;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.review .content dl.active { display: block; }
.review ul.users {
  height: 130px;
  text-align: center;
  border-bottom: 2px solid #d2d2d2;
}
.review ul.users li {
  position: relative;
  display: inline-block;
  width: 33%;
  height: 130px;
  cursor: pointer;
}
.review ul.users li.two { margin: 0 170px; }
.review ul.users li p { 
  position: absolute;
  bottom: -70px;
  width: 100%; 
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  visibility: hidden;
  transition: bottom .2s;
}
.review ul.users li.active:after {
  content: '';
  position: absolute;
  bottom: -1.5px;
  left: 106px;
  width: 118px;
  height: 3px;
  background-color: #e80d1e;
}
.review ul.users li img { 
  display: inline-block; 
  margin-top: 35px; 
  width: 65px; 
  height: 65px; 
  vertical-align: middle;
  -webkit-transition: all ease .2s;
          transition: all ease .2s;
}
.review ul.users li.active p { 
  bottom: -44px; 
  visibility: visible;
}
.review ul.users li.active img { 
  margin-top: 0; 
  width: 100px; 
  height: 100px;
}

/* comparison */
.comparison table {
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
}
.comparison .itema,
.comparison .itemb {
  width: 188px;
  text-align: center;
  background: #f5f5f5;
}
.comparison .itema { background: #fef4f4;}
.comparison thead th.itema,
.comparison thead th.itemb { 
  color: #fff;
  background: #8c8c8c; 
}
.comparison thead th.itema { background: #e42423; }
.comparison .space { 
  width: 4px; 
  background: #fff; 
  border: none;
}
.comparison th { 
  height: 80px; 
  font-size: 16px; 
  vertical-align: middle;
  border-top: 1px #dcdcdc solid;
  border-bottom: 1px #dcdcdc solid; 
}
.comparison th span { display: block; }
.comparison th.text {
  font-size: 22px;
  text-align: left;
}
.comparison td {
  height: 44px; 
  vertical-align: middle; 
  border-bottom: 1px #dcdcdc solid;
}
.comparison td.icons {
  text-align: center; 
  width: 50px;
}
.comparison td.virtue { 
  padding-left: 6px;
  font-size: 16px;
  text-align: left;  
}    
.comparison th strong { font-size: 16px; }
.comparison td i {
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 14px;
  text-indent: -9999px;
  background: url(../images/tab-icons.png);
  background-position: 0 -14px;
}
.comparison td sup { font-size: 12px; color: #0eae3f;}
.comparison td sup.red { color: #e10707;}

.comparison td i.red { background-position: 0px 0px; }


/*
 * bottombuy
 */
.bottombuy {
  min-width: 1100px;
  height: 231px;
  margin: 58px 0 0 0;
  background: url("../images/bottombuy-bg.jpg") top center no-repeat;
}
.bottombuy .box {
  width: 330px;
  margin: 27px 0 0 16px;
  overflow-x: hidden;
}
.bottombuy .box ul {
  width: 660px;
  height: 201px;
}
.bottombuy .box ul li {
  display: block;
  width: 330px;
  height: inherit;
  float: left;
  background-image: url("../images/bottombuy-box.png");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}
.bottombuy .box ul li.second {
  background-position: -330px 0;
}
.bottombuy .box ul li.active {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}
.bottombuy .middle {
  margin: 74px 0 0 -45px;
}
.bottombuy .middle .select {
  width: 501px;
  height: 80px;
}
.bottombuy .middle .select li {
  position: absolute;
  left: 0;
  width: 501px;
  height: 40px;
  padding-left: 94px;
  font-size: 17.6px;
  line-height: 40px;
  text-align: left;
  color: #740f0f;
  background-image: url("../images/selection.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
}
.bottombuy .middle .select li i {
  display: inline-block;
  width: 26px;
  height: 28px;
  margin-right: 16px;
  background-image: url("../images/selection.png");
  background-position: 0 -162px;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.bottombuy .middle .select li span {
  display: inline-block;
  text-indent: -9999px;
  width: 58px;
  height: 25px;
  margin-left: 20px;
  background-image: url("../images/selection.png");
  background-position: -296px -190px;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.bottombuy .middle .select li.second {
  top: 40px;
}
.bottombuy .middle .select li.second span {
  background-position: -238px -190px;
}
.bottombuy .middle .select li.active {
  z-index: 9;
  top: -6px;
  height: 61px;
  font-size: 19.5px;
  color: #fff;
  background-position: 0 -40px;
}
.bottombuy .middle .select li.active i {
  background-position: -26px -162px;
}
.bottombuy .middle .select li.active span {
  position: absolute;
  top: -9px;
  right: -22px;
  width: 119px;
  height: 71px;
  margin: 0;
  background-position: -119px -190px;
}
.bottombuy .middle .select li.active.second {
  top: 33px;
  line-height: 61px;
  background-position: 0 -101px;
}
.bottombuy .middle .select li.active.second span {
  top: 0;
  right: 128px;
  background-position: 0 -190px;
}
.bottombuy .middle.saleout:after {
  content: '';
  display: block;
  position: absolute;
  top: -24px;
  left: 0;
  width: 100%;
  height: 64px;
  background: url("../images/termine03.png") top center no-repeat;
  -webkit-animation: show .85s ease 1;
  animation: show .85s ease 1;
}
.bottombuy .another {
  margin: 54px 30px 0 0;
}
.bottombuy .another .price {
  color: #fff54a;
}
.bottombuy .another .price del {
  color: #fcaeae;
}
.bottombuy .another .buybtn {
  width: 210px;
}
/*
 *ã€€service
 */
.bottom {
  min-width: 1100px;
  background-color: #f5f5f5;
}
.service dl {
  margin-top: 28px;
  float: left;
  width: 24%;
  color: #424242;
  text-align: center;
}
.service dl.two { width: 26%; }
.service dl dt {
  margin-bottom: 28px;
  line-height: 73px;
}
.service dl dt > img { vertical-align: middle; }
.service dl dd {
  padding: 0 16px;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
}
.service dl h3 {
  margin-bottom: 12px;
  font-size: 16px;
}
/* annotation */
.annotation {
  padding-top: 12px;
  padding-left: 20px;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
  text-align: left;
  border-top: 1px solid #e0e0e0;
}
/* footer */
.footer {
  padding: 10px 0 30px;
  display: block;
  width: 100%;
  text-align: center;
}

/* animation */
@-webkit-keyframes leftchange {
  0% { left: 365px; }
  100% { left: 0; }
}
@keyframes leftchange {
  0% { left: 365px; }
  100% { left: 0; }
}
