@charset "utf-8";
/* CSS Document */
* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 1000px;
  font-size: 14px;
  line-height: 1.4;
  color: #262626;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  outline: 0;
  vertical-align: baseline;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #000;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li {
  list-style-type: none;
}
img {
  border: none;
}
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.wrapper {
  position: relative;
  width: 1100px;
  min-width: 1100px;
  margin: 0 auto;
  zoom: 1;
}
#ghost {
  width: 0;
  height: 0;
  display: none;
}
.all-icons {
  display: inline-block;
  vertical-align: middle;
  text-indent: -9999px;
  background: url(../images/all_icons.png) no-repeat 0 0;
}
.banner {
  position: relative;
  overflow: hidden;
  height: 720px;
  min-width: 1000px;
  background: url(../images/banner.jpg) no-repeat center top;
}
.banner .logo {
  position: absolute;
  display: block;
  top: 42px;
  width: 47px;
  height: 16px;
  z-index: 2;
  text-indent: -9999px;
  background: url(../images/logo.png) center center no-repeat;
}
.banner h1 {
  padding-top: 40px;
  height: 79px;
  text-indent: -9999px;
  background: url(../images/title.png) no-repeat center bottom;
}
.banner h2 {
  margin-top: -5px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  text-shadow: 0 5px 4px rgba(147, 0, 0, 0.4);
}
.banner .defalut-exceed {
  position: relative;
  z-index: 2;
  float: left;
  width: 340px;
  height: 360px;
  margin-top: 119px;
  margin-left: -1px;
  background: url(../images/default-exceed.png);
}
.banner .sold-box {
  position: relative;
  z-index: 2;
  float: left;
  width: 440px;
  height: 460px;
  margin-top: 47px;
  background: #fefcb3;
  background-image: -moz-linear-gradient(56deg, #ffcc44 0%, #feffa6 100%);
  background-image: -webkit-linear-gradient(56deg, #ffcc44 0%, #feffa6 100%);
  background-image: -ms-linear-gradient(56deg, #ffcc44 0%, #feffa6 100%);
  box-shadow: 0 18px 76px 4px rgba(61, 47, 31, 0.42);
  text-align: center;
  color: #8f4324;
}
.banner .sold-box h3 {
  height: 75px;
  line-height: 75px;
  font-size: 14px;
  background: url(../images/data-bg.png) no-repeat bottom;
}
.banner .sold-box h3 strong {
  font-size: 20px;
  font-weight: 600;
}
.banner .sold-box h3 strong:last-child {
  display: inline-block;
  width: 25px;
  font-size: 14px;
}
.banner .sold-box h3 .num {
  display: inline-block;
  position: relative;
  font-size: 18px;
}
.banner .sold-box h3 .num .popup-font {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.banner .sold-box h3 .num .popup-font.zoomout {
  animation: zoomout 1s;
  animation-fill-mode: forwards;
}
.banner .sold-box .img-box {
  position: relative;
  height: 210px;
  line-height: 210px;
}
.banner .sold-box .img-box span {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url(../images/active-bg.png);
}
.banner .sold-box .img-box .three-img {
  width: 420px;
  height: 191px;
  transition: all ease 0.4s;
}
.banner .sold-box .img-box .one-img {
  width: 376px;
  height: 199px;
  opacity: 0;
  filter: alpha(opacity=0);
  background-position: 0px -191px;
  -webkit-transform: translate(-30px, 0px);
  -moz-transform: translate(-30px, 0px);
  -ms-transform: translate(-30px, 0px);
  transform: translate(-30px, 0px);
  transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  transition: all ease 0.4s;
}
.banner .sold-box .img-box.one-box .three-img {
  -webkit-transform: translate(-30px, 0px);
  -moz-transform: translate(-30px, 0px);
  -ms-transform: translate(-30px, 0px);
  transform: translate(-30px, 0px);
  opacity: 0;
  filter: alpha(opacity=0);
}
.banner .sold-box .img-box.one-box .one-img {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
.banner .sold-box dl dt {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner .sold-box dl dt strong {
  font-size: 36px;
  color: #ff5501;
}
.banner .sold-box dl dd {
  font-size: 12px;
}
.banner .sold-box dl dd .button {
  margin-bottom: 10px;
}
.banner .one-pc-box {
  position: relative;
  z-index: 2;
  float: left;
  width: 320px;
  height: 360px;
  margin-top: 119px;
  background: #fbeac0;
  text-align: center;
  color: #a7684e;
  font-size: 18px;
}
.banner .one-pc-box .img-box {
  position: relative;
  height: 235px;
  line-height: 235px;
}
.banner .one-pc-box .img-box span {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url(../images/right-box.png);
}
.banner .one-pc-box .img-box span.one-img {
  width: 312px;
  height: 174px;
  margin-left: -20px;
  transition: all ease 0.4s;
}
.banner .one-pc-box .img-box span.three-img {
  width: 294px;
  height: 177px;
  background-position: 0px -174px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(-30px, 0px);
  -moz-transform: translate(-30px, 0px);
  -ms-transform: translate(-30px, 0px);
  transform: translate(-30px, 0px);
  transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  transition: all ease 0.4s;
}
.banner .one-pc-box dl dt {
  margin-bottom: 5px;
  font-weight: 600;
}
.banner .one-pc-box:after,
.banner .one-pc-box:before {
  position: absolute;
  content: "";
  z-index: 4;
  transition-delay: 0.4s;
  -webkit-transition-delay: 1s;
  transition: all ease 1s;
}
.banner .one-pc-box:before {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  background: rgba(248, 231, 207, 0.6);
}
.banner .one-pc-box:after {
  width: 174px;
  height: 62px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  background: url(../images/exceed.png) no-repeat;
}
.banner .one-pc-box .button {
  position: relative;
  z-index: 99;
  text-shadow: none;
  box-shadow: none;
}
.banner .one-pc-box.default {
  background: #f8f3f2;
}
.banner .one-pc-box.default:before {
  opacity: 1;
  filter: alpha(opacity=100);
}
.banner .one-pc-box.default:after {
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
}
.banner .one-pc-box.default .img-box .one-img {
  -webkit-transform: translate(-30px, 0px);
  -moz-transform: translate(-30px, 0px);
  -ms-transform: translate(-30px, 0px);
  transform: translate(-30px, 0px);
  opacity: 0;
  filter: alpha(opacity=0);
}
.banner .one-pc-box.default .img-box .three-img {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
.banner .one-pc-box.default dl dt {
  color: #4f483f;
  font-size: 16px;
}
.banner .one-pc-box.default dl dt strong {
  font-size: 30px;
}
.banner .one-pc-box.default dl dd .button {
  z-index: 1;
  background: #625b55;
  color: #bfb8bb;
}
.banner > span {
  position: absolute;
  display: block;
  top: -40px;
}
.banner > span.snow {
  width: 51px;
  height: 51px;
  background: url(../images/snow.png);
}
.banner > span.round.round-large {
  width: 15px;
  height: 15px;
  opacity: 0.6;
}
.banner > span.round {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
}
.banner > span.round.round-clarity {
  width: 10px;
  height: 10px;
  opacity: 0.8;
}
.banner > span.round.round-smail {
  width: 8px;
  height: 8px;
  opacity: 0.5;
}
.banner > span.snow.snow-clarity {
  width: 47px;
  height: 47px;
  background-position: 0 -51px;
}
.banner > span.snow.snow-smail {
  width: 21px;
  height: 21px;
  background-position: 0 -98px;
}
.banner > span.list01 {
  left: 3%;
  -webkit-animation: 11s fall 1s ease-in-out infinite;
}
.banner > span.list02 {
  left: 6%;
  -webkit-animation: 12s drop 2s ease-in-out infinite;
}
.banner > span.list03 {
  left: 9%;
  -webkit-animation: 13s dropt 3s ease-in-out infinite;
}
.banner > span.list04 {
  left: 11%;
  -webkit-animation: 14s down 3.5s ease-in-out infinite;
}
.banner > span.list05 {
  left: 14%;
  -webkit-animation: 11s drop 2s ease-in-out infinite;
}
.banner > span.list06 {
  left: 17%;
  -webkit-animation: 12s fall 1s ease-in-out infinite;
}
.banner > span.list07 {
  left: 20%;
  -webkit-animation: 13s dropt 3s ease-in-out infinite;
}
.banner > span.list15 {
  left: 25%;
  -webkit-animation: 14s down 3.5s ease-in-out infinite;
}
.banner > span.list16 {
  left: 30%;
  -webkit-animation: 11s drop 2s ease-in-out infinite;
}
.banner > span.list17 {
  left: 33%;
  -webkit-animation: 12s fall 1s ease-in-out infinite;
}
.banner > span.list18 {
  left: 35%;
  -webkit-animation: 13s dropt 3s ease-in-out infinite;
}
.banner > span.list23 {
  left: 7%;
  -webkit-animation: 14s fall 1s ease-in-out infinite;
}
.banner > span.list24 {
  left: 9%;
  -webkit-animation: 11s down 3s ease-in-out infinite;
}
.banner > span.list08 {
  right: 3%;
  -webkit-animation: 14s down 2s ease-in-out infinite;
}
.banner > span.list09 {
  right: 6%;
  -webkit-animation: 11s drop 2s ease-in-out infinite;
}
.banner > span.list10 {
  right: 9%;
  -webkit-animation: 12s dropt 3s ease-in-out infinite;
}
.banner > span.list11 {
  right: 11%;
  -webkit-animation: 13s fall 1s ease-in-out infinite;
}
.banner > span.list12 {
  right: 13%;
  -webkit-animation: 12s drop 2s ease-in-out infinite;
}
.banner > span.list13 {
  right: 15%;
  -webkit-animation: 14s down 3s ease-in-out infinite;
}
.banner > span.list14 {
  right: 17%;
  -webkit-animation: 12s fall 1s ease-in-out infinite;
}
.banner > span.list19 {
  right: 20%;
  -webkit-animation: 12s fall 1s ease-in-out infinite;
}
.banner > span.list20 {
  right: 25%;
  -webkit-animation: 12s drop 2s ease-in-out infinite;
}
.banner > span.list21 {
  right: 30%;
  -webkit-animation: 13s down 3s ease-in-out infinite;
}
.banner > span.list22 {
  right: 33%;
  -webkit-animation: 12s fall 1s ease-in-out infinite;
}
.banner > span.list25 {
  right: 7%;
  -webkit-animation: 11s down 1s ease-in-out infinite;
}
.banner > span.list26 {
  right: 9%;
  -webkit-animation: 14s dropt 3s ease-in-out infinite;
}
@-webkit-keyframes fall {
  0% {
    top: -50px;
  }
  75% {
    top: 800px;
  }
  100% {
    top: 800px;
  }
}
@-webkit-keyframes drop {
  0% {
    top: -50px;
  }
  80% {
    top: 800px;
  }
  100% {
    top: 800px;
  }
}
@-webkit-keyframes dropt {
  0% {
    top: -50px;
  }
  85% {
    top: 800px;
  }
  100% {
    top: 800px;
  }
}
@-webkit-keyframes down {
  0% {
    top: -50px;
  }
  90% {
    top: 800px;
  }
  100% {
    top: 800px;
  }
}
.button {
  display: block;
  width: 256px;
  height: 57px;
  line-height: 57px;
  margin: 0 auto;
  color: #fbda75;
  border-radius: 3px;
  font-size: 16px;
  text-transform: uppercase;
  background: #eb4a12;
  background-image: -moz-linear-gradient(-90deg, #ff9102 0%, #eb4a12 100%);
  background-image: -webkit-linear-gradient(-90deg, #ff9102 0%, #eb4a12 100%);
  background-image: -ms-linear-gradient(-90deg, #ff9102 0%, #eb4a12 100%);
  box-shadow: 0 12px 18px 2px rgba(137, 35, 0, 0.4);
  text-shadow: 0 2px 4px rgba(172, 5, 5, 0.4);
}
.button:hover {
  background: #ff9102;
  background-image: -moz-linear-gradient(-90deg, #eb4a12 0%, #ff9102 100%);
  background-image: -webkit-linear-gradient(-90deg, #eb4a12 0%, #ff9102 100%);
  background-image: -ms-linear-gradient(-90deg, #eb4a12 0%, #ff9102 100%);
}
.button span {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 20px;
  margin-right: 10px;
  background: url(../images/all_icons.png);
  background-position: 0px -79px;
}
.button.button-top-lag {
  position: relative;
  width: 289px;
  height: 60px;
  line-height: 60px;
  font-weight: 500;
}
.button.btn-mid-lag {
  width: 299px;
  height: 60px;
  background-color: #c00618;
  font-size: 16px;
  line-height: 60px;
  text-align: center;
  box-shadow: 0 14px 13.92px 2.08px rgba(137, 0, 0, 0.22);
}
.button.button-btm-lag {
  position: relative;
  width: 289px;
  height: 60px;
  line-height: 60px;
  font-weight: 500;
}
.button.button-btm-lag:after {
  position: absolute;
  content: "";
  width: 304px;
  height: 26px;
  left: -7px;
  top: -6px;
  background: url(../images/btn-snow.png);
}
.payments {
  display: block;
  height: 98px;
  box-sizing: border-box;
  border-bottom: 1px #ede3e2 solid;
}
.benfits {
  display: block;
  position: relative;
  height: 870px;
  background: url(../images/benfits-bg.jpg) no-repeat center bottom;
}
.benfits h2 {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
  font-size: 36px;
  text-align: center;
  font-weight: 600;
}
.benfits .showcase {
  position: absolute;
  top: 263px;
  left: 0;
  display: block;
  width: 555px;
  height: 408px;
}
.benfits .showcase .inner {
  display: inline-block;
  width: 555px;
  height: 378px;
  margin-top: 7px;
  overflow: hidden;
}
.benfits .showcase .inner ul {
  width: 2775px;
  transition: all 0.4s ease-out;
}
.benfits .showcase .inner ul li {
  position: relative;
  float: left;
  width: 555px;
  height: 378px;
}
.benfits .showcase .zoom {
  position: absolute;
  top: 0;
}
.benfits .showcase .zoom li .container {
  position: absolute;
  transition: all 0.4s ease-out;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  transform: scale(0, 0);
}
.benfits .showcase .zoom li .container img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.benfits .showcase .zoom li.active .container {
  width: 521px;
  height: 327px;
  left: 17px;
  top: 35px;
  transform: scale(1, 1);
  background: rgba(4, 11, 34, 0.85);
  border: solid #3f4971 1px;
  box-shadow: 0 6px 29px 0 rgba(0, 0, 0, 0.4);
}
.benfits .showcase .list-icon {
  margin-top: 15px;
  text-align: center;
}
.benfits .showcase .list-icon li {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 10px;
  border-radius: 50%;
  background: #d9d9d9;
  cursor: pointer;
}
.benfits .showcase .list-icon li.active {
  background: #df2f33;
}
.benfits .detail-list {
  float: right;
  width: 525px;
  margin-top: 56px;
}
.benfits .detail-list dl {
  display: block;
  margin: 10px 0;
  width: 525px;
  height: 113px;
  background: #fff;
  clear: both;
  cursor: pointer;
}
.benfits .detail-list dl:hover,
.benfits .detail-list dl.active {
  background: url(../images/btnfits-list-bg.png) left center no-repeat;
}
.benfits .detail-list dl:hover dt i.benfits01,
.benfits .detail-list dl.active dt i.benfits01 {
  background-position: -77px 0;
}
.benfits .detail-list dl:hover dt i.benfits02,
.benfits .detail-list dl.active dt i.benfits02 {
  background-position: -77px -77px;
}
.benfits .detail-list dl:hover dt i.benfits03,
.benfits .detail-list dl.active dt i.benfits03 {
  background-position: -77px -154px;
}
.benfits .detail-list dl:hover dt i.benfits04,
.benfits .detail-list dl.active dt i.benfits04 {
  background-position: -77px -231px;
}
.benfits .detail-list dl dt {
  float: left;
  width: 112px;
}
.benfits .detail-list dl dt i {
  display: inline-block;
  margin-top: 18px;
  margin-left: 26px;
  width: 77px;
  height: 77px;
  background-repeat: no-repeat;
  background-image: url(../images/benfits-icon.png);
}
.benfits .detail-list dl dt i.benfits01 {
  background-position: 0 0;
}
.benfits .detail-list dl dt i.benfits02 {
  background-position: 0 -77px;
}
.benfits .detail-list dl dt i.benfits03 {
  background-position: 0 -154px;
}
.benfits .detail-list dl dt i.benfits04 {
  background-position: 0 -231px;
}
.benfits .detail-list dl dd {
  display: inline-block;
  float: right;
  width: 400px;
  box-sizing: border-box;
  margin-top: 14px;
}
.benfits .detail-list dl dd h3 {
  font-size: 16px;
}
.benfits .detail-list dl dd p {
  width: 410px;
  font-size: 12px;
  line-height: 22px;
  color: #797979;
}
.benfits .detail-list .textlink {
  display: inline-block;
  margin-left: 125px;
  color: #0075e9;
  font-size: 12px;
  font-weight: 600;
  text-decoration: underline;
}
.gifts {
  position: relative;
  height: 586px;
  background: url(../images/gift-bg.jpg) no-repeat center;
  min-width: 1000px;
}
.gifts h2 {
  height: 108px;
  margin-top: -12px;
  text-indent: -9999px;
  background: url(../images/h2-title.png) no-repeat center;
}
.gifts .gift-list dl {
  float: left;
  width: 33.3%;
  margin-top: 23px;
  text-align: center;
}
.gifts .gift-list dl dt span {
  display: block;
  height: 181px;
  background: url(../images/pf-box.png) no-repeat center top;
}
.gifts .gift-list dl dt strong {
  font-size: 16px;
}
.gifts .gift-list dl dd {
  color: #797979;
}
.gifts .gift-list dl dd b {
  color: #e21d0e;
}
.gifts .gift-list dl dd b span {
  font-size: 24px;
}
.gifts .gift-list dl dd p {
  margin-top: 10px;
  font-size: 12px;
}
.gifts .gift-list dl.iu dt span {
  background: url(../images/iu-box.png) no-repeat center top;
}
.gifts .gift-list dl.sd dt span {
  background: url(../images/sd-box.png) no-repeat center top;
}
.gifts .gift-list dl.exceed {
  position: relative;
}
.gifts .gift-list dl.exceed dt strong {
  color: #b2a593;
}
.gifts .gift-list dl.exceed dd {
  color: #b2a593;
}
.gifts .gift-list dl.exceed dd b {
  color: #b2a593;
}
.gifts .gift-list dl.exceed.sd dt span,
.gifts .gift-list dl.exceed.iu dt span {
  background-position: center -181px;
}
.gifts .gift-list dl.exceed:after {
  position: absolute;
  content: "";
  width: 128px;
  height: 49px;
  left: 120px;
  top: 110px;
  background: url(../images/exceed.png) no-repeat;
}
.gifts .button {
  margin: 0 auto;
  margin-top: 38px;
}
/* reviews*/
.reviews {
  min-height: 800px;
  box-sizing: border-box;
  background: #f4f4f4 url(../images/worldmap.jpg) no-repeat center bottom;
  padding-top: 54px;
}
.reviews h2 {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
}
.reviews h2 + p {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  color: #8a8a8a;
  font-size: 16px;
}
.reviews .message {
  width: 1140px;
  padding: 20px 0;
  margin-left: -20px;
  margin-bottom: 50px;
  background: #ececec;
  text-align: center;
}
.reviews .message li {
  float: left;
  width: 25%;
}
.reviews .message li strong {
  display: block;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
}
.reviews .message li strong:after {
  position: absolute;
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #ee0000;
}
.reviews .message li p {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: #8a8a8a;
}
.reviews .message li p b {
  color: #000;
}
.reviews .map {
  position: relative;
  display: block;
  height: 500px;
}
.reviews .map dl {
  position: absolute;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.reviews .map dl dt {
  position: relative;
  z-index: 2;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(-30px, 0px);
  -moz-transform: translate(-30px, 0px);
  -ms-transform: translate(-30px, 0px);
  transform: translate(-30px, 0px);
  transition: all ease-in-out 0.5s;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
}
.reviews .map dl dd {
  position: relative;
  float: left;
  margin-left: -60px;
  padding: 5px;
  padding-left: 60px;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
}
.reviews .map dl dd strong {
  display: block;
  margin-bottom: 5px;
}
.reviews .map dl dd strong,
.reviews .map dl dd p {
  position: relative;
  z-index: 5;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(-30px, 0px);
  -moz-transform: translate(-30px, 0px);
  -ms-transform: translate(-30px, 0px);
  transform: translate(-30px, 0px);
  transition: all ease-in-out 0.5s;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
}
.reviews .map dl dd span {
  position: absolute;
  width: 29px;
  height: 64px;
  left: 10px;
  background: url(../images/arrow.png);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(0px, -30px);
  -moz-transform: translate(0px, -30px);
  -ms-transform: translate(0px, -30px);
  transform: translate(0px, -30px);
  transition: all ease-in-out 0.5s;
}
.reviews .map dl dd span:after {
  position: absolute;
  content: "";
  height: 0;
  width: 1px;
  left: 20px;
  bottom: 64px;
  background: #fd6262;
  transition: height ease-in-out 0.5s;
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
}
.reviews .map dl.on dd {
  background: rgba(246, 246, 246, 0.7);
}
.reviews .map dl.on dd span {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
.reviews .map dl.on strong,
.reviews .map dl.on p,
.reviews .map dl.on dt {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
.reviews .map dl.on.tradotto-da-tedesco span:after {
  height: 220px;
  bottom: 64px;
}
.reviews .map dl.on.html-it dd span:after {
  height: 125px;
}
.reviews .map dl.on.baixaki dd span:after {
  height: 65px;
}
.reviews .map dl.on.charles-r-widick dd span:after {
  height: 216px;
}
.reviews .map dl.on.cnet dd span:after {
  height: 173px;
}
.reviews .map dl.tradotto-da-tedesco {
  bottom: 394px;
  right: 94px;
}
.reviews .map dl.tradotto-da-tedesco span {
  bottom: -221px;
}
.reviews .map dl.html-it {
  bottom: 250px;
  left: 538px;
}
.reviews .map dl.html-it dd {
  margin-top: 10px;
}
.reviews .map dl.html-it dd span {
  bottom: -102px;
}
.reviews .map dl.baixaki {
  bottom: 70px;
  left: 222px;
}
.reviews .map dl.baixaki dd span {
  bottom: -76px;
}
.reviews .map dl.charles-r-widick {
  left: 73px;
  bottom: 425px;
}
.reviews .map dl.charles-r-widick dd span {
  bottom: -264px;
}
.reviews .map dl.cnet {
  bottom: 319px;
  left: 179px;
}
.reviews .map dl.cnet dd span {
  bottom: -189px;
}
.reviews .map .recover {
  position: absolute;
  border-radius: 50%;
  background: #ee0000;
  border: solid #ead3d4 2px;
}
.reviews .map .recover.big {
  width: 8px;
  height: 8px;
}
.reviews .map .recover.middle {
  width: 6px;
  height: 6px;
}
.reviews .map .recover.smail {
  width: 4px;
  height: 4px;
}
.reviews .map .recover.recover01 {
  left: 47px;
  bottom: 148px;
  -webkit-animation: 3s recover 1s ease-in-out infinite;
}
.reviews .map .recover.recover02 {
  left: 87px;
  bottom: 171px;
  -webkit-animation: 4s light 1.5s ease-in-out infinite;
}
.reviews .map .recover.recover03 {
  left: 101px;
  bottom: 146px;
  -webkit-animation: 5s light 1.5s ease-in-out infinite;
}
.reviews .map .recover.recover04 {
  left: 100px;
  bottom: 178px;
  -webkit-animation: 6s recover 1s ease-in-out infinite;
}
.reviews .map .recover.recover05 {
  left: 156px;
  bottom: 190px;
  -webkit-animation: 4.5s recover 1s ease-in-out infinite;
}
.reviews .map .recover.recover06 {
  left: 222px;
  bottom: 210px;
  -webkit-animation: 5s light 1.5s ease-in-out infinite;
}
.reviews .map .recover.recover07 {
  right: 186px;
  bottom: 212px;
  -webkit-animation: 5.5s recover 1s ease-in-out infinite;
}
.reviews .map .recover.recover08 {
  left: 248px;
  bottom: 191px;
  -webkit-animation: 6s light 1.5s ease-in-out infinite;
}
.reviews .map .recover.recover09 {
  left: 468px;
  bottom: 171px;
  -webkit-animation: 3.5s light 1.5s ease-in-out infinite;
}
.reviews .map .recover.recover10 {
  left: 511px;
  bottom: 192px;
  -webkit-animation: 4s recover 1s ease-in-out infinite;
}
.reviews .map .recover.recover11 {
  left: 490px;
  bottom: 229px;
  -webkit-animation: 4.5s recover 1.5s ease-in-out infinite;
}
.reviews .map .recover.recover12 {
  left: 529px;
  bottom: 205px;
  -webkit-animation: 5.5s light 1s ease-in-out infinite;
}
.reviews .map .recover.recover13 {
  left: 578px;
  bottom: 202px;
  -webkit-animation: 4.5s light 1.5s ease-in-out infinite;
}
.reviews .map .recover.recover14 {
  left: 589px;
  bottom: 164px;
  -webkit-animation: 4s recover 1.5s ease-in-out infinite;
}
.reviews .map .recover.recover15 {
  right: 489px;
  bottom: 178px;
  -webkit-animation: 3.5s light 0.5s ease-in-out infinite;
}
.reviews .map .recover.recover16 {
  right: 499px;
  bottom: 209px;
  -webkit-animation: 3s recover 0.5s ease-in-out infinite;
}
.reviews .map .recover.recover17 {
  right: 202px;
  bottom: 252px;
  -webkit-animation: 4s light 1.5s ease-in-out infinite;
}
.reviews .map .recover.recover18 {
  right: 93px;
  bottom: 178px;
  -webkit-animation: 5s recover 0.5s ease-in-out infinite;
}
.reviews .map .recover.recover19 {
  right: 160px;
  bottom: 93px;
  -webkit-animation: 6s light 1.5s ease-in-out infinite;
}
.reviews .map .recover.recover20 {
  right: 202px;
  bottom: 151px;
  -webkit-animation: 5.5s recover 1s ease-in-out infinite;
}
.reviews .map .recover.recover21 {
  right: 391px;
  top: 286px;
  -webkit-animation: 4.5s light 1.5s ease-in-out infinite;
}
.reviews .map .recover.recover22 {
  left: 205px;
  bottom: 263px;
}
.reviews .map .recover.recover23 {
  right: 447px;
  bottom: 15px;
}
.reviews .map .recover.recover24 {
  right: 175px;
  bottom: 207px;
}
.reviews .map .recover.recover25 {
  left: 198px;
  bottom: 59px;
}
.reviews .map .recover.recover26 {
  right: 176px;
  bottom: 209px;
}
.compare {
  margin-top: 70px;
}
.compare table {
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
}
.compare table thead th {
  height: 80px;
  font-size: 16px;
  vertical-align: bottom;
  border-bottom: 1px solid #dcdcdc;
}
.compare table thead th.itema .box {
  height: 85px;
  padding-top: 15px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: #df2f33;
  color: #fff;
}
.compare table thead th.itema .box span {
  display: block;
  width: 27px;
  height: 27px;
  margin: 5px auto;
  background: url(../images/all_icons.png);
  background-position: -43px -104px;
}
.compare table thead th.itemb .box {
  width: 100%;
  height: 65px;
  padding-top: 15px;
  font-size: 12px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: #f4f4f4;
}
.compare table thead th.itemb .box span {
  display: block;
  width: 20px;
  height: 19px;
  margin: 5px auto;
  background: url(../images/all_icons.png);
  background-position: 0px -106px;
}
.compare table thead .text {
  text-align: center;
  font-size: 28px;
  line-height: 120px;
  font-weight: 500;
  color: #b7b6b6;
}
.compare table thead span {
  display: block;
  margin-top: 5px;
  color: #fff;
}
.compare table thead strong {
  color: #fff;
}
.compare table tr {
  text-align: center;
  font-size: 14px;
}
.compare table tr > td {
  height: 39px;
  font-size: 14px;
  vertical-align: middle;
  border-bottom: 1px solid #dcdcdc;
}
.compare table tr > td.virtue {
  text-align: left;
  width: 708px;
  text-indent: 30px;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.1px;
}
.compare table tr > td.virtue span {
  margin-left: 8px;
  width: 79px;
  height: 12px;
  background-position: 0 -20px;
}
.compare table tr > td.virtue span.nuo {
  width: 52px;
  background-position: 0 -52px;
}
.compare table tr > td.virtue span.ra {
  width: 179px;
  background-position: 0 -37px;
}
.compare table tr > td.itema {
  background: #fff;
  border-bottom: solid #dcdcdc 1px;
}
.compare table tr > td.itemb {
  background: #f4f4f4;
}
.compare table tr > td.itema,
.compare table tr > td.itemb {
  color: #000;
  text-align: center;
  width: 182px;
}
.compare table tr > td.radius {
  position: relative;
  border-bottom: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.compare table tr > td.radius .shadow {
  position: absolute;
  display: block;
  width: 187px;
  height: 540px;
  border-radius: 5px;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 53.01px 3.99px rgba(0, 0, 0, 0.2);
}
.compare table tr > td i {
  width: 15px;
  height: 15px;
  background-position: -16px -2px;
}
.compare table tr > td i.close {
  width: 10px;
  height: 10px;
  background-position: -38px -5px;
}
.compare table tr > td i.red {
  background-position: -56px -2px;
}
.bottomcart {
  display: block;
  height: 252px;
  background: url(../images/bottom-banner.jpg) no-repeat center top;
  margin-top: 105px;
}
.bottomcart h2 {
  position: absolute;
  width: 100%;
  height: 53px;
  top: -26px;
  text-indent: -9999px;
  background: url(../images/bottom-title.png) no-repeat center;
}
.bottomcart .showcase {
  float: left;
  width: 278px;
  height: 191px;
  margin-left: -43px;
  margin-top: 37px;
}
.bottomcart .showcase .img {
  display: block;
  width: 278px;
  height: 191px;
  background: url(../images/bottom-box.png);
  transition: all 0.4s ease-out;
}
.bottomcart .showcase .img.one-pc {
  background-position: -278px 0px;
}
.bottomcart .selection {
  float: left;
  display: block;
  width: 521px;
  margin-top: 54px;
  background: url(../images/bottom-content.png) no-repeat center top;
}
.bottomcart .selection ul {
  margin-top: 45px;
}
.bottomcart .selection ul li {
  cursor: pointer;
  height: 45px;
  line-height: 45px;
  padding-left: 30px;
}
.bottomcart .selection ul li i,
.bottomcart .selection ul li strong {
  display: inline-block;
  vertical-align: middle;
  background: url(../images/selection.png);
}
.bottomcart .selection ul li i {
  opacity: 0;
  filter: alpha(opacity=0);
  width: 29px;
  height: 28px;
  margin-left: 25px;
  background-position: 0px -102px;
}
.bottomcart .selection ul li span {
  display: inline-block;
  width: 220px;
  margin-left: 25px;
  color: #fac6c6;
}
.bottomcart .selection ul li strong {
  width: 90px;
  height: 40px;
  margin-top: 3px;
  text-indent: -9999px;
}
.bottomcart .selection ul li.active {
  background: url(../images/selection.png);
  background-position: 0px -45px;
}
.bottomcart .selection ul li.active i {
  opacity: 1;
  filter: alpha(opacity=100);
}
.bottomcart .selection ul li.active span {
  font-size: 18px;
  color: #fff;
}
.bottomcart .selection ul li.active.three-pc strong {
  background-position: -31px -90px;
}
.bottomcart .selection ul li.active.one-pc strong {
  background-position: -121px -90px;
}
.bottomcart .selection ul li.default {
  position: relative;
  cursor: default;
}
.bottomcart .selection ul li.default:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 45px;
  left: 0;
  background: url(../images/selection.png) no-repeat center;
  background-position: 0 0;
}
.bottomcart .selection ul li.default i {
  opacity: 1;
  filter: alpha(opacity=100);
  width: 59px;
  height: 19px;
  margin-left: 9px;
  background-position: -413px -102px;
}
.bottomcart .selection ul li.default span {
  margin-left: 14px;
}
.bottomcart .selection ul li.three-pc strong {
  background-position: -211px -90px;
}
.bottomcart .selection ul li.one-pc strong {
  background-position: -301px -90px;
}
.bottomcart .btnarea {
  float: right;
  width: 290px;
  margin-right: 30px;
  margin-top: 60px;
  text-align: center;
}
.bottomcart .btnarea dt {
  font-size: 12px;
  color: #f2b4b4;
}
.bottomcart .btnarea dt del {
  font-size: 16px;
  color: #fff;
}
.bottomcart .btnarea dt strong {
  color: #ffe508;
  font-size: 16px;
}
.bottomcart .btnarea dt strong b {
  font-size: 34px;
}
/* payment */
.service {
  display: block;
  padding-top: 20px;
  height: 190px;
  margin-top: 70px;
}
.service dl {
  float: left;
  width: 245px;
  text-align: center;
  margin-right: 40px;
}
.service dl.last {
  margin-right: 0;
}
.service dl dt {
  height: 72px;
  line-height: 72px;
  margin-bottom: 10px;
}
.service dl dt img {
  display: inline-block;
  vertical-align: middle;
}
.service dl dd {
  font-size: 12px;
  color: #959595;
}
.service dl dd strong {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
/* footer */
.footer .annotation {
  display: block;
  padding-top: 20px;
  font-size: 12px;
  border-top: solid #c8c8c8 1px;
  color: #959595;
}
.footer .copyright {
  text-align: center;
  padding: 15px 0;
  color: #cfcfcf;
}
@-webkit-keyframes recover {
  0% {
    -webkit-transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.5);
  }
  20% {
    -webkit-transform: scale(1.8);
  }
  30% {
    -webkit-transform: scale(0.8);
  }
  40% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.5);
  }
  60% {
    -webkit-transform: scale(1.5);
  }
  70% {
    -webkit-transform: scale(1);
  }
  80% {
    -webkit-transform: scale(0.5);
  }
  90% {
    -webkit-transform: scale(0.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes light {
  0% {
    -webkit-transform: scale(1);
  }
  20% {
    -webkit-transform: scale(0.5);
  }
  40% {
    -webkit-transform: scale(1.8);
  }
  60% {
    -webkit-transform: scale(1.2);
  }
  80% {
    -webkit-transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes zoomout {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    -webkit-transform: scale(4);
    -ms-transform: scale(4);
    transform: scale(4);
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
/*# sourceMappingURL=style.css.map */