* {	margin:0;padding:0;}
img {border:0;}
body {font-size: 14px; font-family:'Open Sans', Arial, Helvetica, sans-serif; font-weight: 400; color: #000;}
li {list-style:none;}
a{color: #006699;text-decoration: none;}
a:hover{text-decoration: none;}
.clearfix:after,.wrapper:after {clear:both;display:block;height:0;font-size:0;content:".";visibility:hidden;}
.clearfix{zoom:1;}
.left{ float: left;}
.right{ float: right;}
.hidden{display: none;}
.wrapper{ width: 1000px; margin:0 auto;zoom:1;}

.buybtn{ display: block; margin: 0px auto; width: 280px; height: 62px; line-height: 62px; border-radius: 40px; color: #fff; font-weight: 600;
	background: #fc5332; font-size: 22px;
  background-image: -webkit-linear-gradient(-90deg, #f50816 0%, #fc5332 100%);
  background-image:         linear-gradient(-90deg, #f50816 0%, #fc5332 100%);
  box-shadow: 0px 10px 13.05px 1.95px rgba(244, 45, 40, 0.45);
  transition: background 0.5s;
 }
.buybtn:hover{
	background: #f50816;
  background-image: -webkit-linear-gradient(180deg, #f50816 0%, #f50816 100%);
  background-image:         linear-gradient(180deg, #f50816 0%, #f50816 100%);
}

.banner{ height: 757px; background: url("../images/bg.jpg") center top no-repeat;}
.banner>.wrapper{ position: relative;}
.banner .logo{ display: block; padding-top: 18px; width: 53px;}
.banner h1 { margin-top: -9px; margin-bottom: -18px; height: 124px; background: url(../images/title.png) 186px 0px no-repeat; text-indent: -9999px;}
.banner h2 { text-align: center; font-size: 16px; font-weight: 400; color:#f2f022; line-height: 34px; }
.banner h2 span { display: inline-block;vertical-align: middle;}
.banner h2 span.hurry { width: 251px; height: 34px; text-indent: -9999px; background: url(../images/date-title.png) top center no-repeat; }
.banner h2 span.time { margin-top: -6px; min-width: 181px; height: 23px; line-height: 23px; background: url(../images/time.png) no-repeat; }
.banner h2 strong { font-weight: 600; font-size: 20px;}
.banner h2 strong.last { font-size: 16px; }

.banner .container{ width: 770px; margin: 0 auto; margin-top: 20px; text-align: center;}

.banner .container dl.left{ margin-left: 12px; width: 315px; height: 496px; margin-top: 40px; background-color: #f8f6f1; border: solid #ebe5d5 1px;
}
.banner .container dl.right{ margin-right: 10px; position: relative; width: 396px; height: 546px; background-color: #fff; border: solid #ebe5d5 1px;}
.banner .container dl dt{ font-size: 20px; font-weight: 600; background: url(../images/one-year-bg.png); color: #3c3c3c; line-height: 32px; padding: 15px 0;}
.banner .container dl .first{ padding: 18px 0 10px;}
.banner .container dl dd span{ font-size: 24px; color: #3c3c3c; font-weight: 600;}
.banner .container dl dd span strong{ font-size: 36px;}
.banner .container dl dd.last{ padding-top: 22px;}
.banner .container dl .last p{ font-size: 12px; text-align: left; line-height: 22px; padding-left: 78px;}
.banner .container dl .last p img{ margin-right: 8px;}

.banner .container dl.left .first{ padding-top: 25px; padding-bottom: 5px;}
.banner .container dl.left .buybtn{ width: 231px; height: 51px; margin-top: 5px; line-height: 51px; font-size: 18px;}
.banner .container dl.right .last{ padding-top: 17px;}

.banner .container .right dt { font-size: 20px; color: #222; line-height: 30px; background: url(../images/three-year-bg.png);}
.banner .container .right dd.first img { display: block; margin: 0px auto;}
.banner .container .right dt span { display: block; color: #222; }
.banner .container .right dd span strong{ font-size: 44px;}
.banner .container .right dd del { font-size: 16px; color: #3c3c3c;}
.banner .container .right span,.banner .container .right del,.banner .container .right b,.banner .container .right strong,.foot-banner dl dt strong{ color: #ea3235;}
.banner .container .right .last {padding-left: 35px;}
.banner .container .right .last strong{font-size: 15px;}
.banner .container .right .buybtn { margin-top: 5px;}
.banner .container .right .last p del{ color: #434343;}
.banner .container .left .last p.no{ color: #909090;}
.banner .container .right .last p strong { font-weight: 600;}
.banner .container .right .last del { font-size: 14px;}

.product{padding: 56px 0 62px; color: #fff; }
.product h2{ height: 47px; line-height: 47px; background: url("../images/bg-h2.png") no-repeat center; margin-bottom: 61px; text-align: center; font-weight: 400;}
.product .wrapper{width:1007px; height: 285px; background: url("../images/bg-product.png") no-repeat;}
.product .left{ width: 570px;}
.product .left dt img{ margin-top: -15px; float: left; margin-right: 5px;}
.product .right{ width: 415px;}
.product .right dt img{ margin-top: 4px; float: left; margin-right: 20px;}
.product dl dt{ height: 112px; margin-bottom: 7px;}
.product dl dt strong{ float: left; font-weight: 400; padding-top: 40px; font-size: 22px;}
.product dl dd{ font-size: 14px;line-height: 36px;}
.product dl dd img{ margin-right: 13px;}
.product dl.left dd{ padding-left: 82px;}
.product dl.right { color: #000;}
.product dl.right dt{ margin-bottom: 10px;}
.product dl.right dt strong{ padding-top: 60px;}
.product dl.right dd img { margin-right: 8px;}

.awards{height: 212px; text-align: center; border-bottom: solid #ebebeb 2px;}
.awards  dt{ font-size: 20px; font-weight:400; color: #737373; padding: 60px 0 20px;}

.windows{line-height: 36px;font-size: 12px; color: #737373;text-align: center;padding: 60px 0 55px;}
.windows img{vertical-align: middle; margin-right: 10px;}

.foot-banner{height: 337px; text-align: center; background: url("../images/bottom-bg.jpg") no-repeat center;}
.foot-banner h2 { padding: 44px 0px 10px 0px; text-align: center; font-size: 24px; font-weight: 400; }
.foot-banner h2 strong { color: #ea3235; font-weight: 600;}
.foot-banner .smail-gift { float: left; margin-left: 100px; margin-top: 5px;}
.foot-banner dl { float: right; width: 505px; height: 150px; padding-top: 15px; margin-right: 20px; text-align: center; }
.foot-banner dl dt { font-size: 16px; color: #3c3c3c; }
.foot-banner dl dt strong { font-size: 44px; }
.foot-banner dl dt b { font-size: 24px;}
.foot-banner dl .buybtn { margin-bottom: 10px;}
.foot-banner dl dd { margin-bottom: 16px; line-height: 20px; font-size: 14px; font-weight: 600; color: #4c4c4c;}
.foot-banner dl dd img { display: inline-block; vertical-align: top; margin-right: 5px;}

.annotation{font-size: 12px; font-weight: 400;line-height: 24px;padding-top: 36px;}
.copyright{text-align: center;padding: 25px 0 72px;}
