* {	margin:0;padding:0;-webkit-text-size-adjust:none;}
img {border:0;}
body {font-family:Arial, Helvetica, sans-serif;font-size:13px;color:#333;background:#fff;}
li {list-style:none;}
.clear {clear:both;height:0;border:0;font-size:0;}
a{color:#006699;}
a:hover{color:#028bcf;}
.mt5{margin-top:5px;}
.ml10{margin-left:10px;}
.mb10{margin-bottom:10px;}
.right{float:right;}
.center{text-align:center;}
.red{color:#cc0000;}
.brownyellow{color: #cc0000;}
.del{text-decoration:line-through;}
.f11{font-size:11px; color:#666;}
.bf14{font-weight:bold; font-size:14px ;}
.bf16{font-weight:bold; font-size:16px ;}
h2{font-size:20px; line-height:26px;}
h3{font-size:16px; line-height:24px; margin:0 0 5px 0;}
.cyellow{color:#ff9900;}
#lang { float:right; }
#lang { position:relative; width:175px; height:20px; overflow:hidden; margin-right:40px; }
#google_translate_element { position:absolute; right:0; top:-4px; }
#google_translate_element select { font-size:11px; width:160px; }
.iconsale{width:99px; height:66px; display:block; background:url(../img/icon_sale.png); position:absolute; right: -18px; top: -17px;}
.iconfree{width:63px; height:42px; display:block; background:url(../img/icon_free.png); position:absolute; right: -15px; top: -12px;}

.price{ position:relative;}
.price em{ width:55px; height:2px; display:block; background:#cc0000; position:relative; top:-9px; left:32px;}
#main{width:1060px; margin:0 auto; background: #690203 url(../img/bg.jpg) center top no-repeat; padding:0 0 10px 0; }
#main .head{width:1060px; height: 100px; display:inline-block; background:url(../img/head.jpg) 0 0 no-repeat; position:relative;}
#main .head .logo{ width:95px; height:45px; position:absolute; top:20px; left:40px;}
#main .head .logo a{ display:block; width:95px; height:45px;}
#main .head .valid{color:#fff; position: absolute; bottom: 70px; right: 40px;}
#main .head .giftbox{width: 135px; height: 135px; display: block; position: absolute; right: 165px; bottom: 12px;}
#main .head .countdown{width: 295px;position: absolute;top: 18px;left: 729px;}
#main .head .countdown span{ font-size: 36px;font-weight:bold;color: #7b0303; line-height: 60px;}
#main .head .countdown span.day{}
#main .head .countdown span.hor{ margin-left: 26px; }
#main .head .countdown span.min{ margin-left: 26px; }
#main .head .countdown span.sec{ margin-left: 26px; }
#main .head .countdown span.minsec{margin-left: 10px; color:#fff; letter-spacing: 0; font-size: 24px; }
#main .mbody{ width: 976px; margin:0 auto; background:#fff;}

#main h1{color: #cc0000; font-size: 30px; font-family:"Open Sans"; text-align: center;font-weight: normal;line-height: 56px;}
#main h1 span{font-size: 60px;}

#main .intro{background: url(../img/box_bg.png) center center repeat-x; height: 400px; position: relative;}

#main .intro .boxgroup{width: 275px; height: 275px; display: block; float: left; margin-top: 10px; margin-left: 56px;}

#main .intro .bound{width: 540px; height: 260px; float: right; margin-top:20px; margin-right: 46px;}
#main .intro .bound h3{font-size: 17px; line-height: 22px;font-weight: normal;display: block;margin: 20px 0;}
#main .intro .bound dl{width: 170px; float: left;margin-top: 15px; margin-right: 10px;text-align: center;}
#main .intro .bound dl dt{text-align: center;margin-bottom: 5px;}
#main .intro .bound dd strong{display: inline-block;line-height: 26px;}
#main .intro .bound dd img{margin-left: 3px;}

#main .comprestab{ width:796px; height: 440px; display: block; padding-top: 80px; margin:0 auto; margin-bottom: 20px; background: url(../img/comprestab.png) center top no-repeat; position: relative; }

.totlenum{position: absolute; right: 250px; top: 24px; font-size: 34px; color: #da4300; text-align: right; font-family: "Open Sans";}
.compress{width: 680px; margin:0 auto;}
.compress td{text-align: center; font-size: 16px;}
.compress td.lists{line-height: 38px; position:relative;}
.compress .c_yellow{color: #ff6600; font-size: 24px;}
.compress .icon_free{width: 25px; height: 11px; display: block; background: url(../img/icon_free.jpg) center top no-repeat; position: absolute; right:30px; top:0;}
.compress sup{color: #ff6600;}
.compress a{text-decoration: none;}
.compress .itema_head{font-size: 22px; height: 32px; line-height: 32px; display: inline-block; margin-top:20px; font-family: tahoma; color: #fff; }
.compress .itemb_head{font-size: 26px; font-family: tahoma; color: #da4300; font-weight: bold;}
.compress .itema_price{font-size: 22px; line-height: 26px; display: inline-block; margin-bottom: 10px; color: #fff; }
.compress .itemb_price{font-size: 26px;line-height: 50px; color: #da4300; font-weight: bold; }
.compress .itema_price em,.compress .itemb_price em{font-size: 16px;}

.btna{width: 206px; height: 48px; display:block; margin: 0 auto; margin-bottom: 20px; color: #fff; line-height: 48px; font-size: 20px; font-weight: bold; text-indent: 40px; text-decoration: none; background: url(../img/btna.png) center top no-repeat;}
.btna:hover{color: #fff; text-decoration: none; background-position: 0 -48px;}

.btnb{width: 226px; height: 48px; display:block; margin: 0 auto; margin-bottom: 20px; color: #fff; line-height: 48px; font-size: 20px; font-weight: bold; text-indent: 40px; text-decoration: none; background: url(../img/btnb.png) center top no-repeat; position: relative;}
.btnb:hover{color: #fff; text-decoration: none; background-position: center -48px;}
.btnb span{width: 38px; height: 38px; display: block; background: url(../img/iconb.png) center center no-repeat; position: absolute; right: -10px; bottom: -10px;}


.checkbtn{width:238px; height:49px; display:block; font-size:18px; line-height:46px; text-transform:uppercase; color:#fff; text-align:center; text-decoration:none; text-shadow:0 -1px 0 #000; background:url(../img/checkbtn.png) 0 0 no-repeat;}
.checkbtn:hover{background-position:0 -60px; color:#fff;}

.awards{ /*border-top: 1px solid #CCCCCC;*/ margin: 30px 20px 0; padding-top: 20px;}

#main .footer{ display: block; height: 20px; width: 1060px;}


.usersaying{margin: 20px 10px; padding:0 8px;}
.usersaying .boxa{width:47%; float:left; margin:30px 0 0;}
.usersaying .boxb{width:47%; float:right; margin:30px 0 0;}
.usersaying h3{margin-bottom:23px;}
.usersaying .user{float:left; color:#666; width:105px;}
.usersaying .user dt{margin-bottom:12px;}
.usersaying .user dd{line-height:20px; font-size:13px;}

.usersaying .quit{ width:330px; float:right;}
.usersaying .quit dt{float:left; display:block; width:24px; height:20px; margin-right:8px;}
.usersaying .quit dd{margin-left:32px; height:auto; font-size:13px; line-height:20px;}

#main .comparison_table{margin: 35px 20px 10px 20px;}
#main .comparison_table p{font-size: 16px; font-weight: bold; line-height: 22px;}
#main .comparison_table table{}

#main .comparison_table table {border:0; border-collapse:separate; border-spacing:0 ;}

#main .comparison_table thead tr th{border-bottom:2px #fd6b00 solid; height: 60px; font-size: 15px;} 

#main .comparison_table tfoot th{ height: 100px; font-weight: normal; font-size: 14px;border-bottom:2px #fd6b00 solid;}
#main .comparison_table tfoot th span{font-weight: bold;}

#main .comparison_table tr td.virtue{ text-align:left; width: 400px;}
#main .comparison_table tr{text-align: center; font-size: 16px;}
#main .comparison_table .itema{color: #000; background: #fbfae9; text-align: center;width: 180px;}
#main .comparison_table .itemb{color: #000; background: #eef7ec; text-align: center;width: 180px;}
#main .comparison_table td{height: 54px; vertical-align: middle; border-bottom: 1px #ccc solid;}
#main .comparison_table td.icons{text-align: center; padding:0 10px;width: 50px;}
#main .comparison_table th.awards{text-align: center;}
#main .comparison_table td.buyarea{position:relative;}
#main .comparison_table .discount{width: 63px;height: 63px; display: block;background: url(../img/discount.png) 0 0 no-repeat; position: absolute; z-index: 10; margin-top: -10px; margin-left: 180px;/* top:-10px; right: -10px;*/}

.tbbuybtn{width: 150px; height: 34px; display: block; margin: 10px auto 0; line-height: 34px; font-size: 18px; color: #fff; text-decoration: none; background: #ff9204; text-shadow:0 1px 0 #a86003;}
.tbbuybtn:hover{background: #fda82c; text-decoration: none; color: #fff;}


.mlink{height:30px; text-align:center; margin-top:15px;}

.floatlayer{height:80px; width:975px; padding:10px 42px; background:#eaffea; border:1px #7bad51 solid; position:fixed; bottom:0; display:none;z-index: 10;}
.floatlayer .moneyback{width:600px; height:65px; padding-left:70px; padding-top:12px; margin-top:10px; margin-left:10px;float:left;font-size:11px; line-height:18px; color:#666; background:url(../img/moneyback-s.png) 0 0 no-repeat;}
.floatlayer .btn{width:250px; float:right; margin-right:10px;}
.floatlayer .btn span{width:238px; display:inline-block; text-align:center;font-weight: bold;}
.floatlayer .btn .countdown{/* */ text-align: center;}
.floatlayer .btn .countdown span{width: inherit;}

.aboutdetail{font-size: 11px; color: #999; margin:0 20px;}