@charset "utf-8";
/* CSS Document */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
a,
span,
strong,
b,
small,
i {
  position: relative;
}
body {
  min-width: 1200px;
  font-size: 14px;
  line-height: 1.4;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  vertical-align: baseline;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #333;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li {
  list-style-type: none;
}
img {
  border: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  clear: both;
  zoom: 1;
}
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.wrapper {
  position: relative;
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
  zoom: 1;
}
.all-icons {
  display: inline-block;
  text-indent: -9999px;
  vertical-align: middle;
  background: url("../images/all-icons.png") no-repeat;
}
.countdown {
  font-size: 13px;
  font-weight: 600;
  line-height: 22px;
}
.countdown strong,
.countdown span,
.countdown b {
  display: inline-block;
}
.countdown strong,
.countdown span {
  color: #e4273b;
}
.countdown strong,
.countdown b {
  font-size: 18px;
  font-weight: 600;
}
.countdown strong {
  width: 22px;
}
.countdown strong.last {
  width: 15px;
  font-size: 13px;
}
.countdown#countdown2 {
  width: 407px;
  height: 40px;
  margin: 40px auto 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 34px;
  text-align: center;
  background: url("../images/timer.png?") center no-repeat;
  color: #fff;
}
.countdown#countdown2 em {
  display: block;
  position: absolute;
  top: -28px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: #000;
}
.countdown#countdown2 strong {
  color: #fff;
  font-weight: 500;
  width: 18px;
}
.price {
  height: 30px;
  font-size: 12px;
  line-height: 36px;
}
.price b {
  font-size: 32px;
  font-weight: 600;
  color: #ee3044;
}
.price del {
  font-size: 15px;
  color: #666;
}
.buybtn {
  display: block;
  width: 260px;
  height: 50px;
  margin: 13px auto 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.5px;
  border: 1px solid;
  border-color: #696969 #333 #696969 #333;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0 -1px 0 #c9c9c9, 0 -1px 0 #c9c9c9 inset;
  box-shadow: 0 -1px 0 #c9c9c9, 0 -1px 0 #c9c9c9 inset;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.buybtn i {
  width: 19px;
  height: 13px;
  margin-right: 5px;
  margin-top: -2px;
  background-position: 0 -21px;
}
.buybtn small {
  display: inline-block;
  font-size: 12px;
  color: #666;
}
.buybtn:hover {
  color: #fff;
  border: 3px solid #ff6d5b;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 15px 30px rgba(246, 55, 43, 0.4);
  box-shadow: 0 15px 30px rgba(246, 55, 43, 0.4);
  background: #ff3c3c;
  background: -webkit-linear-gradient(top, #de0215 0%, #ff3c3c 100%);
  background: linear-gradient(to bottom, #de0215 0%, #ff3c3c 100%);
}
.buybtn:hover i {
  background-position: -19px -21px;
}
.buybtn:hover small {
  color: #fff;
}
.buybtn.red {
  width: 266px;
  height: 56px;
  margin: 9px auto 0;
  border: 3px solid #ff6d5b;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 15px 30px rgba(246, 55, 43, 0.4);
  box-shadow: 0 15px 30px rgba(246, 55, 43, 0.4);
  background: #de0215;
  background: -webkit-linear-gradient(bottom, #de0215 0%, #ff3c3c 100%);
  background: linear-gradient(to top, #de0215 0%, #ff3c3c 100%);
  color: #fff;
}
.buybtn.red i {
  background-position: -19px -21px;
}
.buybtn.red small {
  color: #ffced2;
}
.buybtn.red:hover {
  background: #ff3c3c;
  background: -webkit-linear-gradient(top, #de0215 0%, #ff3c3c 100%);
  background: linear-gradient(to bottom, #de0215 0%, #ff3c3c 100%);
}
.float {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1200px;
  height: 118px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.float .float-content {
  width: 100%;
  height: 118px;
  overflow-y: hidden;
  background: url("../images/float-fold-bg.png") top center no-repeat;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.float.unfold {
  height: 100%;
  background: url("../images/stratum.png") \0;
  background-color: rgba(0, 0, 0, 0.73);
}
.float.unfold .float-content {
  height: 601px;
  background: url("../images/float-unfold-bg.png?") top center no-repeat;
}
.float .fold-message dl.fl {
  margin: 17px 0 0 148px;
}
.float .fold-message dl.fl dt {
  width: 257px;
  height: 25px;
  margin: 0 auto;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: url("../images/float-dl-bg.png?") center no-repeat;
}
.float .fold-message dl.fl dd {
  font-size: 18px;
  line-height: 40px;
}
.float .fold-message dl.fl dd b {
  font-size: 22px;
  font-weight: 700;
  color: #018268;
}
.float .fold-message dl.fr {
  margin: 17px 255px 0 0;
}
.float .fold-message dl.fr dd a {
  display: block;
  width: 210px;
  height: 36px;
  margin: 2px auto 0;
  line-height: 30px;
  text-align: center;
}
.float .unfold-message {
  display: none;
  padding-top: 10px;
  text-align: center;
}
.float .unfold-message > p {
  height: 34px;
  margin-top: 30px;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  color: #000;
  letter-spacing: 0.5px;
}
.float .unfold-message > p b {
  font-weight: 700;
  color: #208f78;
}
.float .unfold-message ul {
  width: 850px;
  margin: 26px 0 0 200px;
}
.float .unfold-message ul li {
  float: left;
  padding-left: 0;
  margin-right: 30px;
  line-height: 36px;
  text-align: left;
}
.float .unfold-message ul li span {
  z-index: 1;
}
.float .unfold-message ul li:before {
  content: '01';
  display: inline-block;
  position: absolute;
  top: -8px;
  left: 25px;
  font-size: 66px;
  font-weight: 600;
  font-style: italic;
  line-height: 48px;
  color: rgba(247, 74, 71, 0.15);
}
.float .unfold-message ul li:after {
  content: '';
  display: inline-block;
  margin-left: 30px;
  width: 40px;
  height: 36px;
  vertical-align: middle;
  background: url("../images/arrow.png") center no-repeat;
}
.float .unfold-message ul li.second:before {
  content: '02' !important;
}
.float .unfold-message ul li.last:before {
  content: '03' !important;
}
.float .unfold-message ul li.last:after {
  display: none;
}
.float .unfold-message .gift {
  width: 1000px;
  height: 362px;
  margin: 24px auto 0;
  padding-top: 105px;
}
.float .unfold-message .gift dl {
  float: left;
  width: 33.33%;
}
.float .unfold-message .gift dl dt img {
  display: block;
  margin: 0 auto;
}
.float .unfold-message .gift dl dd h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  color: #333;
}
.float .unfold-message .gift dl dd del {
  display: block;
  font-weight: 600;
  line-height: 18px;
  color: #666;
}
.float .unfold-message .gift dl dd p {
  margin-top: 13px;
  font-size: 12px;
  line-height: 16px;
  color: #333;
}
.float.soldout .fold-message dl.fr {
  margin: 35px 255px 0 0;
}
.float.soldout .fold-message dl.fr dd a.learnmore {
  background: #959595 !important;
  border-color: #959595 !important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  cursor: default;
}
.float.soldout:after {
  z-index: 1;
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  right: 434px;
  width: 180px;
  height: 83px;
  background: url("../images/expired.png") center no-repeat;
  -webkit-animation: show 0.3s ease;
  animation: show 0.3s ease;
}
.banner {
  min-width: 1200px;
  height: 1118px;
  background: #da323c url("../images/banner-bg.jpg") top center no-repeat;
}
.banner h1 {
  height: 495px;
  text-indent: -9999px;
  background: url("../images/title.png") bottom center no-repeat;
}
.banner .content {
  width: 1200px;
  height: 500px;
  margin: 8px auto 0;
  background-color: #fff;
  border: 1px solid #f4bf8a;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 20px 30px 3px rgba(123, 0, 4, 0.6);
  box-shadow: 0 20px 30px 3px rgba(123, 0, 4, 0.6);
}
.banner .content h2 {
  height: 54px;
  margin-top: -27px;
  text-indent: -9999px;
  background: url("../images/title-80off.png") center no-repeat;
}
.banner .content .bundle {
  display: block;
  margin: -27px 0 0 20px;
}
.banner .content .message {
  margin: 16px 0 0 77px;
}
.banner .content .message > p {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #818181;
}
.banner .content .message ul li {
  padding-left: 26px;
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 20px;
  color: #666;
}
.banner .content .message ul li strong {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.banner .content .message ul li:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 18px;
  background: url("../images/arrow02.png") center no-repeat;
}
.banner .content .message .buyarea {
  margin: 36px 0 0 0;
}
.banner .content .message .buyarea dl {
  float: left;
  margin-right: 17px;
  text-align: center;
}
.banner .content:hover .bundle {
  -webkit-animation: sharkUp 1s linear 1;
  animation: sharkUp 1s linear 1;
}
.offer h2 {
  height: 56px;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
.offer h2 b {
  font-size: 70px;
  font-weight: 900;
  color: #ffc871;
}
.offer .content > dl {
  width: 672px;
  height: 553px;
  padding: 37px 0 0;
  margin-bottom: 25px;
  background: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 20px 2px rgba(0, 53, 42, 0.5);
  box-shadow: 0 5px 20px 2px rgba(0, 53, 42, 0.5);
}
.offer .content > dl > dt {
  display: inline-block;
}
.offer .content > dl > dt img {
  display: block;
  margin: 0 auto;
}
.offer .content > dl > dt:after {
  content: '';
  display: block;
  position: absolute;
  top: 22px;
  right: -58px;
  width: 94px;
  height: 104px;
  background: url("../images/tag-70off.png") center no-repeat;
}
.offer .content > dl dd.text {
  margin-bottom: 34px;
  letter-spacing: -0.5px;
}
.offer .content > dl dd.text h3 {
  margin-bottom: 3px;
  font-size: 24px;
  font-weight: 500;
  line-height: 54px;
}
.offer .content > dl dd.text p {
  font-size: 16px;
  line-height: 24px;
}
.offer .content > dl dd.buyarea {
  width: 560px;
  margin: auto;
}
.offer .content > dl dd.buyarea > dl {
  float: left;
  width: 50%;
  text-align: center;
}
.offer .content > dl dd.buyarea > dl .buybtn {
  margin: 20px auto 0;
}
.offer .content > dl dd.buyarea > dl .buybtn.red {
  margin: 15px auto 0;
}
.offer .content > dl.asc > dt:after {
  top: 23px;
  right: -51px;
}
.offer .content > dl.mac > dt:after {
  top: 7.5px;
}
.offer .content > dl.iu > dt:after {
  top: 26px;
}
.offer .content > dl:hover > dt:after {
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-animation: sharkRight 1s linear 1;
  animation: sharkRight 1s linear 1;
}
.offer.offer70 {
  min-width: 1200px;
  min-height: 870px;
  padding-top: 102px;
  padding-bottom: 45px;
  text-align: center;
  overflow-x: hidden;
  background: url("../images/offer70-bg.jpg") top center no-repeat;
}
.offer.offer70 .content {
  width: 1370px;
  margin: 68px 0 0 -85px;
}
.offer.offer70 .content dl.mac .buybtn small {
  margin-left: -5px;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.offer.offer75 {
  min-width: 1200px;
  min-height: 840px;
  padding-top: 115px;
  text-align: center;
  overflow-x: hidden;
  background: #e1373e url("../images/offer75-bg.jpg") top center no-repeat;
}
.offer.offer75 .content {
  width: 1244px;
  margin: 90px 0 0 -22px;
}
.offer.offer75 .content > dl {
  width: 396px;
  height: 500px;
  padding: 78px 12px 0;
  background: #fff;
  -webkit-box-shadow: 0 8px 13px 0.78px rgba(15, 24, 32, 0.19);
  box-shadow: 0 8px 13px 0.78px rgba(15, 24, 32, 0.19);
}
.offer.offer75 .content > dl > dt img {
  margin: 0 0 0 43px;
}
.offer.offer75 .content > dl > dt:after {
  display: none;
}
.offer.offer75 .content > dl dd.text {
  margin-top: 6px;
}
.offer.offer75 .content > dl dd.text h3 {
  font-size: 18.67px;
}
.offer.offer75 .content > dl dd.text p {
  font-size: 13.11px;
  line-height: 16.39px;
}
.offer.offer75 .content > dl dd.buyarea {
  width: 100%;
}
.offer.offer75 .content > dl dd.buyarea > dl {
  float: left;
  width: 50%;
  text-align: center;
}
.offer.offer75 .content > dl dd.buyarea > dl .price b {
  font-size: 26.22px;
}
.offer.offer75 .content > dl dd.buyarea > dl .price del {
  font-size: 12.29px;
}
.offer.offer75 .content > dl dd.buyarea > dl .buybtn {
  width: 164px;
  height: 42px;
  font-size: 13.15px;
  line-height: 40px;
  margin: 15px auto 0;
}
.offer.offer75 .content > dl dd.buyarea > dl .buybtn small {
  margin-left: -3px;
  -webkit-transform: scale(0.82);
  -ms-transform: scale(0.82);
  -o-transform: scale(0.82);
  transform: scale(0.82);
}
.offer.offer75 .content > dl dd.buyarea > dl .buybtn i {
  margin-right: 0;
  -webkit-transform: scale(0.82);
  -ms-transform: scale(0.82);
  -o-transform: scale(0.82);
  transform: scale(0.82);
}
.offer.offer75 .content > dl dd.buyarea > dl .buybtn.red {
  width: 170px;
  height: 48px;
  margin: 10px auto 0;
}
.offer.offer75 .content > dl:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -17px;
  left: 50%;
  width: 109px;
  height: 65px;
  margin-left: -55px;
  background: url("../images/offer75-tag.png") center no-repeat;
}
.offer.offer75 .content > dl.second {
  margin: 0 28px;
}
.review {
  min-width: 1200px;
  padding: 100px 0;
  text-align: center;
  background: #fff;
}
.review .review-content {
  height: 240px;
}
.review .review-content dl {
  display: none;
  padding: 0 50px;
}
.review .review-content dl h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 46px;
  margin-bottom: 40px;
}
.review .review-content dl h4,
.review .review-content dl p {
  line-height: 30px;
}
.review .review-content dl h4 {
  font-size: 18px;
  font-weight: 600;
}
.review .review-content dl p {
  font-size: 14px;
}
.review .review-content dl.active {
  display: block;
}
.review ul {
  width: 80%;
  margin: 50px auto 0;
}
.review ul li {
  float: left;
  width: 25%;
  cursor: pointer;
}
.review ul li img {
  display: block;
  margin: 0 auto;
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  -o-transform: scale(0.66);
  transform: scale(0.66);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.review ul li cite {
  display: block;
  margin-top: 32px;
  font-size: 18px;
  font-style: normal;
  line-height: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.review ul li.active img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.review ul li.active cite {
  font-size: 22px;
  font-weight: 600;
}
.review .arrow {
  display: inline-block;
  position: absolute;
  top: 260px;
  left: 111px;
  margin-left: 120px;
  width: 18px;
  height: 15px;
  background: url("../images/arrow03.png") center no-repeat;
}
.service {
  min-width: 1200px;
  padding: 80px 0;
  text-align: center;
  background: #ececec;
}
.service .payment {
  font-size: 26px;
  font-weight: 600;
  line-height: 72px;
  color: #181f25;
}
.service .payment img {
  display: inline-block;
  margin-left: 78px;
  vertical-align: middle;
}
.service dl {
  float: left;
  width: 25%;
  margin-top: 38px;
}
.service dl dt img {
  display: block;
  margin: 0 auto;
}
.service dl dd h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin: 40px 0 15px 0;
}
.service dl dd p {
  font-size: 13px;
  line-height: 18px;
  color: #555;
}
.footer {
  min-width: 1200px;
  height: 160px;
  padding-top: 15px;
  background-color: #181f25;
  line-height: 30px;
  color: #aaa;
}
.footer .copyright {
  text-align: center;
}
.coupon {
  display: none;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/stratum.png") \0;
  background-color: rgba(0, 0, 0, 0.73);
}
.coupon .info {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 764px;
  height: 500px;
  padding-top: 205px;
  padding-left: 395px;
  margin-left: -382px;
  margin-top: -250px;
  text-align: center;
  background: url("../images/info-bg.png?") center no-repeat;
}
.coupon .info .info-content {
  width: 295px;
}
.coupon .info .close {
  display: block;
  position: absolute;
  top: 50px;
  right: 24px;
  width: 30px;
  height: 30px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}
.coupon .info h2 {
  height: 25px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background: url("../images/info-h2-bg.png") center no-repeat;
}
.coupon .info p {
  margin-top: 10px;
  font-size: 15px;
  line-height: 30px;
  color: #000;
}
.coupon .info p b {
  font-size: 24px;
  color: #ff373e;
}
.coupon .info .shop {
  display: block;
  margin: 33px auto 0;
  font-size: 18px;
  font-weight: 600;
}
.coupon .mail {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1136px;
  height: 537px;
  margin-top: -268px;
  margin-left: -568px;
  text-align: center;
  background: url("../images/mail-bg.png?") center no-repeat;
}
.coupon .mail .content {
  float: right;
  width: 694px;
  padding-top: 110px;
  margin-right: 15px;
}
.coupon .mail .content h2 {
  margin-top: 50px;
  font-size: 28px;
  font-weight: 700;
  line-height: 44px;
}
.coupon .mail .content h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.coupon .mail .content h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  margin: 10px 0 60px 0;
}
.coupon .mail .content h4 b {
  font-weight: 700;
  color: #ee3333;
}
.coupon .mail .content p {
  margin-top: 24px;
  line-height: 24px;
}
.coupon .mail .content p b {
  font-size: 18px;
  font-weight: 600;
  color: #e43232;
}
.coupon .mail .content form {
  width: 320px;
  margin: 45px auto 0;
}
.coupon .mail .content form input {
  display: block;
  width: 100%;
  height: 50px;
  font-size: 16px;
  text-align: center;
  color: #6b6b6b;
  outline: none;
  border: none;
  background-color: #d7d7d7;
}
.coupon .mail .content form input:focus {
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}
.coupon .mail .content form button {
  display: block;
  width: 188px;
  height: 40px;
  margin: 28px auto 0;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  color: #fff;
  background-color: #101418;
  cursor: pointer;
}
.coupon .mail .content form button i {
  width: 16px;
  height: 15px;
  margin-right: 5px;
  vertical-align: text-top;
  background-position: -21px 0;
}
.coupon .mail .content em {
  margin-top: 18px;
  display: block;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  color: #666;
}
.coupon .mail .content em small {
  font-size: 12px;
}
.coupon .mail .close {
  display: block;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.3);
}
.nav {
  z-index: 998;
  position: fixed;
  top: -252px;
  right: 0;
  width: 185px;
  height: 244px;
  padding-top: 108px;
  padding-left: 25px;
  text-align: left;
  background: url("../images/nav-bg.png") center no-repeat;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav.on {
  top: 118px;
}
.nav a {
  display: block;
  width: 160px;
  height: 34px;
  margin-bottom: 11px;
  padding-left: 13px;
  font-size: 12px;
  font-weight: 500;
  line-height: 32px;
  color: #6b6b6b;
  border: 1px solid #f2d7d9;
  background: #fff;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav a:hover,
.nav a.active {
  font-size: 12px;
  font-weight: 700;
  color: #e1373e;
  background: #ffe0e0;
}
.nav a.active:before {
  content: '';
  display: block;
  position: absolute;
  top: 13px;
  left: -22px;
  width: 18px;
  height: 9px;
  background: url("../images/arrow06.png") center no-repeat;
}
@keyframes show {
  from {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  to {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@keyframes shark {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}
@keyframes shark2 {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(50%, 0);
    -ms-transform: translate(50%, 0);
    -o-transform: translate(50%, 0);
    transform: translate(50%, 0);
  }
}
@keyframes sharkRight {
  0%,
  20%,
  40%,
  50%,
  60%,
  80%,
  100% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  10%,
  50% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  30% {
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}
@keyframes sharkUp {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* pop-up */
.pop-up {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100001;
  width: 100%;
  height: 100%;
  background: url(../images/pop.png) repeat;
}
.pop-main {
  position: relative;
  width: 100%;
  height: 100%;
}
.pop-box {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -108px;
  margin-left: -289px;
  width: 578px;
  height: 216px;
  border: 1px solid #faf0bf;
  background-color: #fff;
}
.pop-box h2,
.pop-box p {
  margin: 0 auto;
  width: 410px;
  text-align: left;
}
.pop-box h2 {
  padding: 32px 0 10px;
  font-size: 22px;
  color: #e50403;
}
.pop-box p {
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 22px;
  color: #010007;
}
/*# sourceMappingURL=style.css.map */