@charset "utf-8";
*{ margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;}
body { min-width: 1000px; font-size: 14px; line-height:1; color: #000; font-family: 'Lato', Arial, Helvetica, sans-serif;}
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; outline: none; color: #000; text-decoration: none; cursor: pointer; }
a:hover {  text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse; border-spacing:0; }
ul,ul li { list-style-type:none;}
img { border: 0; display: block;}
.fl { float: left;}
.fr { float: right;}
.clear {display:block;height:0;overflow:hidden;clear:both;}
.clearfix:after {content:'\20';display:block;height:0;clear:both;}
.clearfix {*zoom:1;}
.hidden { display: none; }
.show { display: block; }
.wrapper { width: 1000px; height:auto; position: relative; overflow: visible; margin: 0 auto;}
i {display: inline-block; vertical-align: middle;  background: url(../images/icon.png);}


/*
 * buybtn
 */
.buybtn {
  display: block;
  margin: 10px auto 0;
  width: 271px;
  height: 63px;
  line-height: 63px;
  color: #f00010;
  background: url(../images/buybtn.png) 0 -65px no-repeat;
  overflow: hidden;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  box-shadow: 0 8px 14px 0 rgba(125, 58, 4, 0.4);
}
.buybtn span,
.buybtn i {   
  display: inline-block;
  vertical-align: middle;
}
.buybtn i {
  margin-right: 5px;
  width: 24px;
  height: 22px;
  background-position: 0 0;
  -webkit-transform: translate3d(-60px, 3.5em, 0); 
          transform: translate3d(-60px, 3.5em, 0); 
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.75, 0, 0.125, 1); 
          transition: transform 0.3s cubic-bezier(0.75, 0, 0.125, 1); 
}
.buybtn span {
  -webkit-transform: translate3d(-16px, 0, 0);
          transform: translate3d(-16px, 0, 0); 
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.75, 0, 0.125, 1);
          transition: transform 0.3s cubic-bezier(0.75, 0, 0.125, 1); 
}
.buybtn:hover {
  background-position: 0 -128px;
}
.buybtn:hover span,
.buybtn:hover i
 {
  -webkit-transform: translate3d(0, 0, 0); 
          transform: translate3d(0, 0, 0); 
}

/*
 * banner
 */
.banner {  height: 670px; background: url(../images/banner.jpg) no-repeat top center;}
.banner .logo { position: absolute; top: 46px; left: 0; width: 59px; height: 25px; z-index: 9; font-size: 0; background-image: url(../images/logo.png);}
.banner h1 { padding-top: 9px; height: 135px; text-indent: -9999px; background: url(../images/title.png) bottom center no-repeat;}

/*
 * banner-content
 */
.banner-content{
  position: relative;
  width: 955px;
  height: 450px;
  margin: 30px auto 0;
  background: #f4f4f4;
  border-radius: 3px;
          box-shadow: 0 18px 24px rgba(47,46,46,0.57);
  -webkit-box-shadow: 0 18px 24px rgba(47,46,46,0.57);
     -moz-box-shadow: 0 18px 24px rgba(47,46,46,0.57);
       -o-box-shadow: 0 18px 24px rgba(47,46,46,0.57);
}
.sign{
  position: absolute;
  top: -5px;
  left: -5px;
}
.banner-left{
  width: 508px;
}
.box-imf{
  padding: 14px 0 0 125px;
}
.banner-left span{
  width: 100%;
  display: block;
  font-style: italic;
  text-align: center;
  padding: 30px 0 15px 0;
}
.time{
  width: 295px;
  height: 68px;
  margin: 0 auto;
  background: url("../images/time.png") no-repeat top center;
}
.time li{
  float: left;
  text-align: center;
  width: 64px;
  margin-right: 10px;
  line-height: 82px;
  font-size: 34px;
  font-weight: 600;
  color: #434343;
}
.time li.last{
  font-size: 26px;
  width: 50px;
  margin-left: 5px;
}
.banner-right{
  width: 446px;
  height: 100%;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  background:        linear-gradient(to bottom right, #fee46b, #ffb110);
  background:-webkit-linear-gradient(to bottom right, #fee46b, #ffb110);
  text-align: center;
}
.banner-right h2{
  font-size: 20px;
  padding: 35px 0 15px 0;
}
.banner-right .decri{
  font-size: 18px;
  padding-bottom: 15px;
}
.banner-line{
  width: 99px;
  height: 3px;
  background: #ea8f22;
  display: block;
  margin: 0 auto;
}
.de-price{
  padding-top: 20px;
  color: #bc6f12;
  font-size: 16px;
}
.main-price{
  font-size: 18px;
  padding: 12px 0;
}
.main-price b{
  font-size: 38px;
}
.small-price{
  font-size: 16px;
  padding-bottom: 15px;
}
.buy-btn{
  width: 296px;
  height: 73px;
  margin: 22px auto 12px auto;
  display: block;
  background: url("../images/btn.png") no-repeat -1px 1px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 76px;
  text-transform: uppercase;
  border-radius: 5px;
  text-shadow: 0 2px 2px rgba(18,73,4,.5);
  box-shadow: 0 4px 8px rgba(50,23,4,.4);
  -webkit-box-shadow: 0 4px 8px rgba(50,23,4,.4);
  -moz-box-shadow: 0 4px 8px rgba(50,23,4,.4);
  -o-box-shadow: 0 4px 8px rgba(50,23,4,.4);
}
.buy-btn:hover{
  background: url("../images/btn.png") no-repeat 0 -73px;
}
.people-box{
  text-align: center;
  color: #a55900;
  font-size: 12px;
}
.people-box img{
  display: inline;
  padding-right: 5px;
}
.people-num{
  font-weight: 900;
}
.payments{
  width: 100%;
  height: 77px;
  margin-top: 15px;
  border-bottom-right-radius: 3px;
  background: linear-gradient(#696969, #505050);
}
.payments h4{
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  padding: 8px 0 5px 30px;
}
.payments img{
  padding-left: 30px;
}



/*
 * hightlight
 */
.imf-message {
  position: relative;
  margin-top: 75px;
}
.message{
  width: 100%;
}
.imf-message h2{
  font-size: 26px;
  width: 835px;
  margin: 0 auto 74px auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  font-weight: 400;
}
.imf-message .message li {
  position: absolute;
  width: 230px;
  font-size: 15px;
  color: #a3a3a3;
  font-style: italic;
  font-weight: 400;
}
.imf-message .message li p{
  line-height: 18px;
}
.imf-message .message li.one {
  text-align: right;
  left: 30px;
  top: 40px;
}

.imf-message .message li.two {
  text-align: right;
  left: 30px;
  top: 188px;
}

.imf-message .message li.three {
  right: 40px;
  top: 40px;
}

.imf-message .message li.four {
  right: 40px;
  top: 188px;
}

.imf-message .message li.active {
  color: #333;
}
.imf-message .message li h4{
  font-style: italic;
  line-height: 20px;
}
.imf-message .message li.active h4{
  font-weight: 900;
}

.imf-message .img-change {
  position: relative;
  height: 308px;
  text-align: center;
  background: url(../images/computer.png) no-repeat 240px;
}

.imf-message a {
  position: absolute;
  height: 48px;
  width: 28px;
  top: 120px;
  z-index: 10;
  cursor: pointer;
  background: url(../images/arrow.png);
}

.imf-message a.dg-prev {
  left: 0;
}

.imf-message a.dg-next {
  right: 0;
  background-position: -28px 0;
}

.imf-message .img-change .img-content {
}

.imf-message .img-change .continer {
  width: 365px;
  height: 215px;
  margin-left: 308px;
  margin-top: 14px;
  float: left;
  overflow: hidden;
}

.imf-message .img-change .content {
  position: relative;
  float: left;
  height: inherit;
}

.imf-message .list-content {
  position: absolute;
  width: 470px;
  height: 310px;
  left: 260px;
  top: 0;
  overflow: hidden;
}

.imf-message li {
  position: relative;
}

.imf-message li span {
  position: absolute;
}

.imf-message li span.icons {
  width: 135px;
  height: 135px;
  filter: alpha(opacity=0);
  z-index: 5;
  opacity: 0;
  transition: opacity ease .3s, transform ease .8s;
  -moz-transform: scale(.5, .5);
  -webkit-transform: scale(.5, .5);
  -o-transform: scale(.5, .5);
}

.imf-message li span.line {
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0)
}

.imf-message li.list01 .icons {
  top: 143px;
  left: 308px;
  background: url(../images/list-icon01.png);
}

.imf-message li.list01 .line {
  left: 14px;
  top: 66px;
  width: 306px;
  height: 150px;
  background: url(../images/list-line01.png);
  transition: all ease .5s;
  
}

.imf-message li.list01.noaml .icons {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}

.imf-message li.list01.noaml .line {
  opacity: 1;
  filter: alpha(opacity=100);
  left: 14px;
}

.imf-message li.list02 .icons {
  top: 100px;
  left: 265px;
  background: url(../images/list-icon02.png);
}

.imf-message li.list02 .line {
  left: 14px;
  top: 185px;
  width: 263px;
  height: 29px;
  background: url(../images/list-line02.png);
}

.imf-message li.list03 .icons {
  top: 100px;
  right: 70px;
  background: url(../images/list-icon03.png);
}

.imf-message li.list03 .line {
  right: 4px;
  top: 61px;
  width: 69px;
  height: 108px;
  background: url(../images/list-line03.png);
}

.imf-message li.list04 .icons {
  top: 5px;
  right: 98px;
  background: url(../images/list-icon04.png);
}

.imf-message li.list04 .line {
  right: 4px;
  top: 76px;
  width: 99px;
  height: 148px;
  background: url(../images/list-line04.png);
}

.imf-message li.active span {
}

.imf-message li.active span.icons {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}

.imf-message li.active span.line {
  opacity: 1;
  filter: alpha(opacity=100)
}
.imf-message li.active.list01 .line {
  animation: firstlist .5s;
  animation-fill-mode: forwards;
}

.imf-message li.active.list02 .line {
  animation: firstlist .5s;
  animation-fill-mode: forwards;
}

.imf-message li.active.list03 .line {
  animation: lastlist .5s;
  animation-fill-mode: forwards;
}

.imf-message li.active.list04 .line {
  animation: lastlist .5s;
  animation-fill-mode: forwards;
}

.imf-message .feature-change {
  margin-top: 50px;
  border-top: solid #e2e3e4 1px;
}

.imf-message .feature-change dl {
  border-top: solid #fff 2px;
  width: 25%;
  padding: 30px 0;
  float: left;
  text-align: center;
}

.imf-message .feature-change dl dt, .imf-message .feature-change dl dd {
  display: inline-block;
  vertical-align: middle;
}

.imf-message .feature-change dl dd {
  margin-left: 20px;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
}

.imf-message .feature-change dl.active {
  position: relative;
  border-top: solid #13c388 2px;
  background: #e7f9f3;
}

.imf-message .feature-change dl.active:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #13c388;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 1;
}


/*
 * awards
 */
.awards { margin-top: 50px;margin-bottom: 50px; text-align: center; font-size: 20px; color: #8c8c8c;}
.awards h2 { margin-bottom: 30px;}
.awards img { margin: auto;}



/*
 * gift-message
 */
.gift-message	{height: 250px; margin-top: 35px; background: url("../images/gift-message-bg.jpg") top center no-repeat; }
.gift-message .img-box { float: left;margin-top: 47px;margin-left: 83px}
.gift-message dl {float: left; margin-left: 8px;}
.gift-message dl dt { margin: 10px 0; font-size: 18px; font-weight: 700;}
.gift-message dl dd { line-height: 22px; color: #424242;}
.gift-message dl dd i { display: inline-block; width: 16px; height: 12px; margin-right: 10px; background-position: -18px -45px;}

.gift-message .right-message { float: left; width: 536px; height: 141px; margin-left: 158px}
.gift-message .right-message .img-box { margin-top: 63px; margin-left: 0; margin-right: 16px;}
.gift-message .right-message h3 { margin-top: 69px; margin-bottom: 8px;}
.gift-message .right-message p { font-weight: 700; color: #424242; line-height: 24px; font-size: 12px;}

.between-buy { height: 204px; text-align: center; background: url(../images/between-buy-bg.jpg) no-repeat center;}
.between-buy p.price { padding-top: 48px; font-size: 16px; color: #fff;}
.between-buy p.price strong { font-size: 30px;}
.between-buy p.last { margin-top: 10px; font-size: 13px; color: #fff; font-weight: 700;}
.between-buy p.last i {width: 15px; height: 10px; margin-top: -3px; margin-right: 10px; background-position: 0 -58px;}



/*
 * review
 */
.review {
  margin: 90px auto 70px;
  text-align: center;
}
.review h2 {
  font-size: 26px;
  font-weight: 400;
  line-height: 35px;
}
.review h2 span {
  font-size: 26px;
  font-weight: 700;
  color: #07b279;
}
.review dl {
  float: left;
  margin-top: 131px;
  margin-left: 66px;
  text-align: center;
  width: 380px;
  height: 344px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 24px rgba(216,194,190,.44);
}
.review dl.david {
  float: right;
  margin-left: 0;
  margin-right: 66px;
}
.review dl dt { margin: -66px 0 16px; }
.review dl dt img { display: inline-block; border-radius: 50%;
  box-shadow: 0 2px 21px 0 rgba(211, 211, 211, 0.75);
}

.review dl dd {
  padding: 0 60px;
}
.review dl h3 { font-size: 18px; }
.review dl p {
  margin: 15px 0;
  font-size: 16px;
  color: #676767;
  line-height: 22px;
}



/*
 * comparison
 */
.comparison {
  margin-top: 100px;
  display: block;
}
.comparison img{
  display: inline-block;
}
.comparison table {
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
}

.comparison thead th {
  font-weight: 700;
  vertical-align: middle;
}

.comparison th.itemb,
.comparison th.itema,
.comparison th.itemc{
  color: #fff;
  line-height: 17px;
}
.comparison th.itema span,
.comparison th.itemc span{
  display: block;
  font-size: 12px;
  font-weight: 400;
}
.comparison th.itemb {
  background: #7d7d7d;
}

.comparison th.itema {
  background: rgb(67, 67, 67);
}

.comparison thead tr th {
  height: 70px;
}
.comparison tfoot th{
  border-bottom: 1px solid #dbdbdb;
}
.comparison thead .text {
  text-align: left;
  font-size: 22px;
  font-weight: 400;
  color: #000;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-indent: 19px;
}

.comparison thead th strong {
  display: block;
  color: #fff;
  font-weight: 600;
}

.comparison tr td.virtue {
  padding-right: 20px;
  text-align: left;
  width: 520px;
}

.comparison tr .spac {
  width: 10px;
  border-color: #fff;
}

.comparison tr sup {
  display: inline-block;
  vertical-align: top;
  color: #89b82c;
  font-size: 12px;
  font-weight: 600;
}

.comparison tr sup.nuovo {
  color: #ed292a;
}

.comparison .itema,
.comparison .itemb {
  text-align: center;
  width: 180px;
}

.comparison .itembg {
  background: #f6f6f6;
  color: #7d7d7d;
}
.comparison .itembgc{
  background: #f2f2f2;
}
.comparison .itema {
  background: #fbf3f3;
}
.comparison .itemc {
  background: #c90404;
}
.comparison td {
  height: 54px;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
}

.comparison td.icons {
  text-align: center;
  width: 50px;
}
.comparison tfoot tr{
  height: 130px;
}
.comparison td.iteme,
.comparison td.itemf,
.comparison td.itemg{
  line-height: 17px;
  text-align: center;
  font-weight: 700;
}
.comparison td.iteme span,
.comparison td.itemf span,
.comparison td.itemg span{
  display: block;
  font-size: 12px;
  padding-top: 10px;
}
.comparison td.itemg{
  color: #ff0001;
  font-size: 18px;
}
.comparison td.itemg del{
  color: #575757;
  font-size: 14px;
  padding-left: 5px;
}
.comparison td.itemf{
  font-size: 18px;
}
.comparison tfoot td.itema,
.comparison tfoot td.itemb {
  font-weight: 700;
  line-height: 20px;
  color: #313131;
}
.comparison tfoot td.itema b {
  font-weight: 900;
  color: #f00010;
}
.comparison .buybtn {
  margin-bottom: 10px;
  width: 144px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  border-radius: 3px;
  box-shadow: none;
  background-position: 0 -194px;
  text-transform: capitalize;
}
.comparison .buybtn:hover {
  background-position: 0 -230px;
}



/*
 * annotation
 */
.annotation { width:998px; margin: auto; padding: 25px 0; font-size: 12px; font-weight: 700; line-height: 18px; color: #585858; text-align: left;}
.annotation dt { font-size: 12px; display: inline-block; }
.copyright{ display: block; height:30px; width: 100%; text-align: center; font-weight: 700; line-height:30px; color: #000;}


/*
 * service
 */
.service{
  padding: 50px 0 23px 0;
}
.service li{
  float: left;
  width: 33.33%;
  text-align: center;
}
.service li img{
  display: inline-block;
  padding-top: 20px;
}



/*
 * footer
 */
.footer {
  height: 160px;
  background-color: #f4f4f4;
}
.container {
  width: 100%;
  background: url("../images/container-bg.jpg") center bottom no-repeat;
}
