@charset "utf-8";
/* CSS Document */
* {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  min-width: 1100px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #000;
  outline: 0;
  vertical-align: baseline;
  text-align: center;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #000;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li {
  list-style-type: none;
}
img {
  border: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.wrapper {
  position: relative;
  width: 1100px;
  min-width: 1100px;
  margin: 0 auto;
  zoom: 1;
}
.all-icons {
  display: inline-block;
  text-indent: -9999px;
  background-image: url("../images/all-icons.png");
}

/*
 * banner
 */
.banner {
  min-width: 1100px;
  height: 650px;
  background: url("../images/banner-bg.jpg") top center no-repeat;
}
.banner .logo {
  position: absolute;
  top: 27px;
  left: 0;
  width: 42px;
  height: 13px;
  z-index: 9;
  text-indent: -9999px;
  background: url("../images/logo.png") center no-repeat;
}
.banner h1 {
  height: 186px;
  text-indent: -9999px;
  background: url("../images/banner-title.png") center no-repeat;
}
.banner ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.banner ul li {
  position: absolute;
  top: 186px;
  left: 125px;
  width: 412px;
  height: 452px;
  background-image: url("../images/message-bg.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.banner ul li .box {
  margin: 42px 0 0 100px;
  width: 279px;
  height: 206px;
  text-indent: -9999px;
  background-image: url("../images/imf-box.png");
  background-position: -304px 0;
  background-repeat: no-repeat;
}
.banner ul li.saleout {
  left: 112px;
  width: 425px;
  height: 466px;
  background-position: 0 -484px;
}
.banner ul li.saleout .box {
  margin: 6px 0 0 90px;
  width: 304px;
  height: 217px;
  background-position: 0 0;
}
.banner ul li.last {
  top: 159px;
  left: 562px;
  width: 453px;
  height: 484px;
  background-position: -412px 0;
}
.banner ul li.last .box {
  margin: 5px 0 0 62px;
  width: 350px;
  height: 220px;
  text-indent: -9999px;
  background-position: 0 -217px;
}
.banner ul li.last.saleout {
  width: 418px;
  height: 445px;
  background-position: -425px -484px;
}
.banner ul li.last.saleout .box {
  margin: 55px 0 0 42px;
  width: 334px;
  height: 212px;
  background-position: -350px -217px;
}
.banner ul li .termine {
  display: block;
  position: absolute;
  top: 10px;
  left: 23px;
  width: 374px;
  height: 402px;
  background: url("../images/termine-bg.png") center no-repeat;
}
.banner ul li .termine:after {
  content: '';
  display: block;
  position: absolute;
  top: 165px;
  left: 100px;
  width: 213px;
  height: 106px;
  background: url("../images/termine.png") center no-repeat;
  -webkit-animation: show .85s ease 1;
  animation: show .85s ease 1;
}
@keyframes show {
  0% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*
 * countdown
 */
.countdown {
  width: 320px;
  height: 53px;
  margin: 2px 0 0 80px;
  padding-left: 35px;
  font-size: 12px;
  line-height: 53px;
  text-align: left;
  background-image: url("../images/timer-bg.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.countdown span {
  font-size: 14px;
}
.countdown strong {
  display: inline-block;
  margin-left: 15px;
  margin-left: 13px\0;
  font-size: 20px;
  font-weight: 700;
}
.countdown.prev {
  width: 300px;
  height: 49px;
  margin: 0 0 0 76px;
  padding-left: 38px;
  line-height: 49px;
  background-position: 0 -53px;
}
.countdown.prev strong {
  margin-left: 12px;
  font-size: 16px;
}
.countdown.bottom {
  display: inline-block;
  margin: 20px auto 0;
  padding: 0;
  height: 32px;
  width: 100%;
  line-height: 32px;
  text-align: center;
  text-decoration: underline;
  font-size: 12px;
  font-weight: 700;
  background: none;
}
.countdown.bottom strong {
  margin: 0;
  font-size: 16px;
  display: inline;
}

/*
 * price
 */
.price {
  height: 34px;
  margin: 16px 0 0 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
}
.price.small {
  margin: 10px 0 0 0;
}
.price strong {
  display: inline-block;
  font-size: 42px;
  text-indent: 30px;
}
.price sup {
  display: inline-block;
  top: -12px;
}
.price del {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #4e4e4e;
  top: -2px;
  left: -29px;
}

/*
 * buybtn
 */
.buybtn {
  display: block;
  width: 210px;
  height: 50px;
  margin: 10px auto 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 46px;
  color: #1c1c1c;
  border: 2px solid #1c1c1c;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: none;
}
.buybtn.yellow {
  width: 220px;
  border: 0;
  color: #0a0a0a;
  line-height: 50px;
  background: #ffd800;
  background: -webkit-linear-gradient(#ffd800 0%, #f27d00 100%);
  background: linear-gradient(#ffd800 0%, #f27d00 100%);
  -webkit-box-shadow: 0 6px 10px rgba(32, 32, 32, 0.46);
  -moz-box-shadow: 0 6px 10px rgba(32, 32, 32, 0.46);
  box-shadow: 0 6px 10px rgba(32, 32, 32, 0.46);
}
.buybtn:hover,
.buybtn.yellow:hover {
  border: 0;
  color: #0a0a0a;
  line-height: 50px;
  background: #fbbf00;
  background: -webkit-linear-gradient(#fbbf00 0%, #fbbf00 100%);
  background: linear-gradient(#fbbf00 0%, #fbbf00 100%);
  -webkit-box-shadow: 0 6px 10px rgba(32, 32, 32, 0.46);
  -moz-box-shadow: 0 6px 10px rgba(32, 32, 32, 0.46);
  box-shadow: 0 6px 10px rgba(32, 32, 32, 0.46);
}
.buybtn.saleout {
  color: #dadada;
  background: #d5d5d5;
  background: -webkit-linear-gradient(#d5d5d5 0%, #6f6f6f 100%);
  background: linear-gradient(#d5d5d5 0%, #6f6f6f 100%);
  -webkit-box-shadow: 0 6px 6px rgba(87, 87, 87, 0.39);
  -moz-box-shadow: 0 6px 6px rgba(87, 87, 87, 0.39);
  box-shadow: 0 6px 6px rgba(87, 87, 87, 0.39);
  cursor: default;
}

/*
 * payment
 */
.payment {
  min-width: 1100px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: #f0eeeb;
  overflow: hidden;
}
.payment img {
  display: inline-block;
  vertical-align: middle;
}

/*
 * intro
 */
.intro { 
  position: relative; 
  margin: 55px auto;
}
.intro-h2 {
  margin-top: 60px;
  font-size: 38px;
  text-align: center;
}
.intro-p {
  margin-top: -3px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.intro .cont li {
  position: absolute;
  z-index: 10;
  width: 310px;
  font-size: 14px;
  color: #757575;
  font-style: italic;
  font-weight: 400;
  text-align: left;
}
.intro .cont li h5 {
  margin-bottom: 3px;
  margin-right: -80px;
  width: 350px;
  font-size: 18px;
}
.intro .cont li.three h5 { font-size: 16px; }
.intro .cont li.one h5 { font-size: 16px; }
.intro .cont li p {
  padding-left: 50px;
  line-height: 16px;
}
.intro .cont li p span { display: block; }
.intro .cont li i {
  display: inline-block;
  margin-right: 9px;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  background: url('../images/i_icons.png') 0 0 no-repeat;
}
.intro .cont li.one { 
  top: -18px; 
  left: 0;
}
.intro .cont li.two { 
  top: -6px;
  right: 6px; 
}
.intro .cont li.three { 
  top: 152px; 
  left: 0;
}
.intro .cont li.four { 
  top: 168px;
  right: 6px; 
}
.intro .cont li.two i { background-position: 0 -40px; }
.intro .cont li.three i { background-position: 0 -80px; }
.intro .cont li.four i { background-position: 0 -120px; }
.intro .imgcont {
  position: relative;
  height: 300px;
  text-align: center;
  background: url('../images/computer.png') 278px no-repeat;
}
.intro .img-change {
  position: absolute;
  margin: 11px 0 0 346px;
  width: 365px; 
  height: 215px;
  overflow: hidden;
  pointer-events: none;
}
.intro .img-change img {
  position: absolute;
  top: 0;
  display: block;
  left: -365px;
}
.intro .img-change img.active { 
  left: 0;
  -webkit-animation: leftchange .5s forwards;
          animation: leftchange .5s forwards;
}
.intro .img-glass {
  position: relative;
  height: inherit;
}
.intro .img-glass li {
  position: absolute;
  top: 9px;
  left: 300px; 
  width: 311px;
  height: 209px;
  opacity: 0; 
  filter:alpha(opacity=0);
  background: url('../images/list-line01.png') no-repeat;
  -webkit-transition: all ease .5s;
          transition: all ease .5s;
}
.intro .img-glass li.two {
  top: 6px;
  left: 600px;
  width: 73px;
  height: 159px;
  background: url('../images/list-line02.png') no-repeat;
}
.intro .img-glass li.three {
  top: 177px;
  width: 268px;
  height: 8px;
  background: url('../images/list-line03.png') no-repeat;
}
.intro .img-glass li.four {
  top: 80px;
  left: 514px;
  width: 102px;
  height: 111px;
  background: url('../images/list-line04.png') no-repeat;
}
.intro .img-glass li > img {
  display: block;
  position: absolute;
  top: 143px; 
  left: 304px;
  opacity: 0;
  filter:alpha(opacity=0);  
  -webkit-transition: opacity ease .3s .2s,-webkit-transform ease .8s;
          transition: opacity ease .3s .2s,-webkit-transform ease .8s;
  -webkit-transform: scale(.5,.5);
          transform: scale(.5,.5);
}
.intro .img-glass li.two > img {
  top: 90px; 
  left: -132px;
}
.intro .img-glass li.three > img {
  top: -76px; 
  left: 260px;
}
.intro .img-glass li.four > img {
  top: -60px; 
  left: -132px;
}
.intro .cont li.active { 
  color: #000;
  cursor: pointer;
}
.intro .cont li.active i { background-position: -40px 0; }
.intro .cont li.two.active i { background-position: -40px -40px; }
.intro .cont li.three.active i { background-position: -40px -80px; }
.intro .cont li.four.active i { background-position: -40px -120px; }
.intro .img-glass li.active {
  left: 272px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.intro .img-glass li.two.active { left: 693px; }
.intro .img-glass li.four.active { left: 662px; }
.intro .img-glass li.active > img {
 opacity: 1; 
 filter: alpha(opacity=100);
 -webkit-transform: scale(1,1);
         transform: scale(1,1);
}

/*
 * donation
 */
.donation {
  position: relative;
  margin-top: 100px;
  height: 637px; 
  text-align: center;
  background: url(../images/gift-bg.jpg) center top no-repeat;
}
.donation h2 {
  height: 125px;
  text-indent: -9999px;
  background: url(../images/gift-title.png) center bottom no-repeat; 
}
.donation .wrapper > div {
  width: 880px;
  margin: 0 auto;
}
.donation dl { 
  float: left;
  margin-top: 68px;
  width: 50%;
}
.donation dl dt { 
  width: 215px; 
  margin: 0 auto;
  padding-bottom: 10px; 
  border-bottom: solid #ccc 1px; 
  font-size: 12px;
}
.donation dl dt strong,
.donation dl dt del { 
  font-size: 16px; 
  color: #ea292b;
}
.donation dl dt del { color: #999; }
.donation dl dd { 
  padding: 10px; 
  line-height: 20px; 
  color: #424242; 
  font-weight: 700;
}
.donation .buybtn {
  margin-top: 20px;
  width: 260px;
  height: 64px;
  font-size: 18px;
  line-height: 64px;
}
.donation .buybtn:hover {
  line-height: 64px;
}
.donation .termine {
  display: block;
  position: absolute;
  bottom: 80px;
  left: 50%;
  margin-left: -130px;
  width: 282px;
  height: 84px;
  background: url("../images/termine02.png") center no-repeat;
  -webkit-animation: show .85s ease 1;
  animation: show .85s ease 1;
}


/*
 * awards
 */
.awards {
  margin-top: 76px;
  text-align: center;
}
.awards h2 {
  margin-bottom: 16px;
  height: 40px;
  line-height: 40px;
  font-size: 26px;
  color: #1c1e23;
}

/*
 * review
 */
.review {
  width: 1050px;
  margin: 70px auto 0;
  text-align: center;
}
.review h2 {
  font-size: 26px;
  line-height: 24px;
  color: #1c1e23;
}
.review .map {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: 502px;
  background: url(../images/worldmap.jpg) top center no-repeat;
}
.review .map span {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.review .map span.recover {
  display: block;
  position: absolute;
  border-radius: 50%;
  background: #f46739;
  border: solid #ead3d4 3px;
}
.review .map span.recover.big {
  width: 12px;
  height: 12px;
}
.review .map span.recover.middle {
  width: 8px;
  height: 8px;
}
.review .map span.recover.smail {
  width: 4px;
  height: 4px;
}
.review .map span.recover01 {
  left: 358px;
  top: 109px;
  -webkit-animation: 3s recover 1s ease-in-out infinite;
}
.review .map span.recover02 {
  left: 248px;
  top: 224px;
  -webkit-animation: 4s light 1.5s ease-in-out infinite;
}
.review .map span.recover03 {
  left: 228px;
  top: 224px;
  -webkit-animation: 5s light 1.5s ease-in-out infinite;
}
.review .map span.recover04 {
  left: 617px;
  top: 206px;
  -webkit-animation: 6s recover 1s ease-in-out infinite;
}
.review .map span.recover05 {
  left: 606px;
  top: 94px;
  -webkit-animation: 4.5s recover 1s ease-in-out infinite;
}
.review .map span.recover06 {
  left: 516px;
  top: 199px;
  -webkit-animation: 5s light 1.5s ease-in-out infinite;
}
.review .map span.recover07 {
  left: 331px;
  bottom: 104px;
  -webkit-animation: 5.5s recover 1s ease-in-out infinite;
}
.review .map span.recover08 {
  right: 453px;
  top: 227px;
  -webkit-animation: 6s light 1.5s ease-in-out infinite;
}
.review .map span.recover09 {
  left: 280px;
  top: 147px;
  -webkit-animation: 3.5s light 1.5s ease-in-out infinite;
}
.review .map span.recover10 {
  left: 620px;
  top: 247px;
  -webkit-animation: 4s recover 1s ease-in-out infinite;
}
.review .map span.recover11 {
  right: 367px;
  top: 260px;
  -webkit-animation: 4.5s recover 1.5s ease-in-out infinite;
}
.review .map span.recover12 {
  right: 310px;
  top: 227px;
  -webkit-animation: 5.5s light 1s ease-in-out infinite;
}
.review .map span.recover13 {
  left: 489px;
  top: 257px;
  -webkit-animation: 4.5s light 1.5s ease-in-out infinite;
}
.review .map span.recover14 {
  left: 589px;
  top: 367px;
  -webkit-animation: 4s recover 1.5s ease-in-out infinite;
}
.review .map span.recover15 {
  left: 561px;
  top: 226px;
  -webkit-animation: 3.5s light .5s ease-in-out infinite;
}
.review .map span.recover16 {
  left: 546px;
  top: 216px;
  -webkit-animation: 3s recover .5s ease-in-out infinite;
}
.review .map span.recover17 {
  right: 202px;
  top: 397px;
  -webkit-animation: 4s light 1.5s ease-in-out infinite;
}
.review .map span.recover18 {
  left: 606px;
  top: 216px;
  -webkit-animation: 5s recover .5s ease-in-out infinite;
}
.review .map span.recover19 {
  left: 546px;
  top: 246px;
  -webkit-animation: 6s light 1.5s ease-in-out infinite;
}
.review .map span.recover20 {
  right: 246px;
  top: 246px;
  -webkit-animation: 5.5s recover 1s ease-in-out infinite;
}
.review .map span.recover21 {
  right: 421px;
  top: 286px;
  -webkit-animation: 4.5s light 1.5s ease-in-out infinite;
}
.review .map span.recover22 {
  left: 347px;
  top: 122px;
  -webkit-animation: 4.5s recover 1.5s ease-in-out infinite;
}
.review .map dl {
  position: absolute;
  font-size: 12px;
  line-height: 16px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(0, -30px);
  transform: translate(0, -30px);
  -webkit-transition: all ease-in-out .8s;
  transition: all ease-in-out .8s;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.review .map dl.on {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.review .map dl.chip {
  top: 6px;
  right: 6px;
}
.review .map dl.chip dd {
  width: 441px;
  margin-left: -56px;
  padding-left: 56px;
}
.review .map dl.bob-bassett dd {
  width: 312px;
}
.review .map dl.peter-stoffers dd {
  width: 326px;
}
.review .map dl.html-it {
  top: 120px;
  right: 64px;
}
.review .map dl.html-it dd {
  width: 466px;
  margin-left: -44px;
  padding: 10px 10px 10px 50px;
}
.review .map dl.html-it dt {
  margin-top: 4px;
}
.review .map dl.br {
  top: 270px;
  left: 295px;
}
.review .map dl.peter-stoffers {
  top: 145px;
  left: -65px;
}
.review .map dl dt {
  position: relative;
  z-index: 2;
  float: left;
  margin-right: 10px;
}
.review .map dl dd {
  float: left;
  margin: 5px 0 0 -60px;
  padding: 5px 5px 5px 60px;
  border-radius: 10px;
  background: #fff;
  text-align: left;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: #000;
  border: solid #f0511d 1px;
}
.review .map dl.bob-bassett dd {
  margin-right: -40px;
}
.review .map dd span {
  display: block;
}
.review .map dl.bob-bassett {
  left: 65px;
  top: 35px;
}
.review .map dl.bob-bassett dd,
.review .map dl.peter-stoffers dd {
  margin-left: 0;
  padding-left: 10px;
  padding-right: 50px;
  margin-right: -40px;
}
@-webkit-keyframes recover{
  0%{-webkit-transform: scale(1);}
  10%{-webkit-transform: scale(0.5);}
  20%{-webkit-transform: scale(1.8);}
  30%{-webkit-transform: scale(0.8);}
  40%{-webkit-transform: scale(1);}
  50%{-webkit-transform: scale(0.5);}
  60%{-webkit-transform: scale(1.5);}
  70%{-webkit-transform: scale(1);}
  80%{-webkit-transform: scale(0.5);}
  90%{-webkit-transform: scale(0.2);}
  100%{-webkit-transform: scale(1);}
}
@keyframes recover {
  0%{-webkit-transform: scale(1);}
  10%{-webkit-transform: scale(0.5);}
  20%{-webkit-transform: scale(1.8);}
  30%{-webkit-transform: scale(0.8);}
  40%{-webkit-transform: scale(1);}
  50%{-webkit-transform: scale(0.5);}
  60%{-webkit-transform: scale(1.5);}
  70%{-webkit-transform: scale(1);}
  80%{-webkit-transform: scale(0.5);}
  90%{-webkit-transform: scale(0.2);}
  100%{-webkit-transform: scale(1);}
}
@-webkit-keyframes light{
  0%{-webkit-transform: scale(1);}
  20%{-webkit-transform: scale(0.5);}
  40%{-webkit-transform: scale(1.8);}
  60%{-webkit-transform: scale(1.2);}
  80%{-webkit-transform: scale(0.5);}
  100%{-webkit-transform: scale(1);}
}
@keyframes light {
  0%{-webkit-transform: scale(1);}
  20%{-webkit-transform: scale(0.5);}
  40%{-webkit-transform: scale(1.8);}
  60%{-webkit-transform: scale(1.2);}
  80%{-webkit-transform: scale(0.5);}
  100%{-webkit-transform: scale(1);}
}

/*
 * comparison
 */
.comparison {
  text-align: left;
}
.comparison table {
  width: 1000px;
  margin: auto;
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
}
.comparison th {
  padding: 0;
  height: 100px;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
}
.comparison th.title {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  vertical-align: middle;
}
.comparison th span {
  margin-top: 10px;
  display: block;
}
.comparison th.itempro {
  background-color: #f0511d;
  font-size: 16px;
  vertical-align: top;
}
.comparison th.itempro p {
  margin-top: -26px;
  width: 200px;
  height: 30px;
  background-color: #f0511d;
}
.comparison th.itemfree {
  background-color: #a6a6a6;
}
.comparison td {
  height: 44px;
  font-size: 13px;
  font-weight: 700;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
}
.comparison td.icons {
  width: 40px;
  text-align: center;
  vertical-align: middle;
}
.comparison td span {
  display: inline-block;
  max-width: 494px;
}
.comparison td em {
  display: inline-block;
  margin-left: 7px;
  margin-right: -50px;
  width: 72px;
  height: 12px;
  text-indent: -9999px;
  vertical-align: middle;
  background: url(../images/tab-icons.png) 0 0 no-repeat;
}
.comparison td em.nuovo {
  width: 50px;
  height: 10px;
  background-position: 0 -12px;
}
.comparison td span.right {
  white-space: nowrap;
}
.comparison td i {
  display: inline-block;
  width: 15px;
  height: 15px;
  text-indent: -9999px;
  vertical-align: middle;
  background-position: 0 -49px;
}
.comparison td i.red {
  background-position: 0 -64px;
}
.comparison td i.circle {
  width: 9px;
  height: 9px;
  background-position: 0 -40px;
}
.comparison .itemfree {
  background-color: #f7f7f7;
}
.comparison .itempro {
  background-color: #fcf8f2;
  border-color: #f8d9d9;
}
.comparison .space {
  width: 8px;
  border-color: #fff;
}
.comparison .itemfree,
.comparison .itempro {
  width: 200px;
  color: #fff;
  text-align: center;
}
.comparison th.itemfree,
.comparison th.itempro,
.comparison th.itempro p {
  font-weight: 700;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}


/*
 * bottombuy
 */
.bottombuy {
  min-width: 1100px;
  height: 231px;
  margin: 58px 0 0 0;
  background: url("../images/bottombuy-bg.jpg") top center no-repeat;
}
.bottombuy .box {
  width: 330px;
  margin: 20px 0 0 16px;
  overflow-x: hidden;
}
.bottombuy .box ul {
  width: 660px;
  height: 201px;
}
.bottombuy .box ul li {
  display: block;
  width: 330px;
  height: inherit;
  float: left;
  background-image: url("../images/bottombuy-box.png");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}
.bottombuy .box ul li.second {
  background-position: -330px 0;
}
.bottombuy .box ul li.active {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}
.bottombuy .middle {
  margin: 74px 0 0 -45px;
}
.bottombuy .middle .select {
  width: 501px;
  height: 80px;
}
.bottombuy .middle .select li {
  position: absolute;
  left: 0;
  width: 501px;
  height: 40px;
  padding-left: 94px;
  font-size: 17.6px;
  line-height: 40px;
  text-align: left;
  color: #740f0f;
  background-image: url("../images/selection.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
}
.bottombuy .middle .select li i {
  display: inline-block;
  width: 26px;
  height: 28px;
  margin-right: 16px;
  background-image: url("../images/selection.png");
  background-position: 0 -162px;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.bottombuy .middle .select li span {
  display: inline-block;
  text-indent: -9999px;
  width: 58px;
  height: 25px;
  margin-left: 20px;
  background-image: url("../images/selection.png");
  background-position: -296px -190px;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.bottombuy .middle .select li.second {
  top: 40px;
}
.bottombuy .middle .select li.second span {
  background-position: -238px -190px;
}
.bottombuy .middle .select li.active {
  z-index: 9;
  top: -6px;
  height: 61px;
  font-size: 19.5px;
  color: #fff;
  background-position: 0 -40px;
}
.bottombuy .middle .select li.active i {
  background-position: -26px -162px;
}
.bottombuy .middle .select li.active span {
  position: absolute;
  top: -9px;
  right: -22px;
  width: 119px;
  height: 71px;
  margin: 0;
  background-position: -119px -190px;
}
.bottombuy .middle .select li.active.second {
  top: 33px;
  line-height: 61px;
  background-position: 0 -101px;
}
.bottombuy .middle .select li.active.second span {
  top: 0;
  right: 105px;
  background-position: 0 -190px;
}
.bottombuy .middle.saleout:after {
  content: '';
  display: block;
  position: absolute;
  top: -24px;
  left: 0;
  width: 100%;
  height: 64px;
  background: url("../images/termine03.png") top center no-repeat;
  -webkit-animation: show .85s ease 1;
  animation: show .85s ease 1;
}
.bottombuy .another {
  margin: 54px 30px 0 0;
}
.bottombuy .another .price {
  color: #fff54a;
}
.bottombuy .another .price del {
  color: #fcaeae;
}
.bottombuy .another .buybtn {
  width: 210px;
}


.annotation {
  margin: auto;
  padding: 14px 0 20px;
  font-size: 12px;
  line-height: 18px;
  color: #898989;
  text-align: left;
  border-top: 1px solid #c9c9c9;
}
.copyright {
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
}
/*
 * service
 */
.service {
  margin-top: 40px;
}
.service dl {
  margin: 14px 0 48px;
  float: left;
  width: 25%;
  text-align: center;
}
.service dt {
  line-height: 57px;
}
.service dt img {
  vertical-align: middle;
}
.service h3 {
  margin: 14px 0 5px;
  font-size: 16px;
  line-height: 26px;
  color: #424242;
}
.service p {
  font-size: 12px;
  line-height: 18px;
  color: #7a7a7a;
}


/* animation */
@-webkit-keyframes leftchange {
  0% { left: 365px; }
  100% { left: 0; }
}
@keyframes leftchange {
  0% { left: 365px; }
  100% { left: 0; }
}
