@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 1100px; 
  font-size: 14px;
  line-height: 1.4;
  color: #000;
  font-weight: 500;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  outline: 0;
  vertical-align: baseline;
  overflow-x: hidden;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #000;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li { list-style-type: none; }
img { border: none; }
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}
.clearfix { zoom: 1; }
.fl { float: left; }
.fr { float: right; }
.main {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper {
  position: relative;
  width: 1100px;
  min-width: 1100px;
  margin: 0 auto;
  zoom: 1;
}
.all-icons { 
  display: inline-block;
  text-indent: -9999px;
  background: url(../images/all-icons.png) no-repeat 0 0;
}

/* banner */
.banner { 
  height: 632px;
  text-align: center;
  background: url(../images/bg.jpg) top center no-repeat;
}
.banner .logo { 
  display: block; 
  position: absolute;
  top: 42px;
  left: 0px;
  width: 56px; 
  height: 18px; 
  text-indent: -9999px; 
  background: url(../images/logo.png) no-repeat;
}
.banner .title {
  position: relative;
  margin: 0 auto;
  width: 860px;
}
.banner .title .left {
  margin-top: 20px;
  width: 180px;
}
.banner .title .right {
  margin-top: 64px;
  width: 650px;
  text-align: left;
  font-style: italic;
  text-transform: uppercase;
}
.banner .title .only {
  display: block;
  width: 190px;
  height: 21px;
  text-indent: -9999px;
  background: url(../images/only-tag.png) no-repeat;
}
.banner .title h1 {
  color: #fff;
  font-size: 48px;
  line-height: 60px;
}
.banner .title h5 {
  padding-left: 42px;
  margin-top: 4px;
  color: #fcd418;
  font-size: 14px;
}
.discount {
  position: absolute;
  top: 34px;
  right: -34px;
  width: 140px;
  height: 70px;
  text-indent: -9999px;
  background: url(../images/discount-7.png) no-repeat;
}
.discount.soldout {
  background: url(../images/discount.png) no-repeat;
}
.banner .chart {
  position: relative;
  margin: 18px 0 30px;
  height: 249px;
  background: url(../images/chart-bg.png) top center no-repeat;
}
.banner .chartbox {
  position: absolute;
  width: 101px;
  height: 61px;
  background: url(../images/chart01.png) no-repeat;
  background-size: 101px;
}
.banner .chartbox.big {
  width: 121px;
  height: 70px;
  background-size: 121px;
}
.banner .chartbox.center {
  width: 144px;
  height: 114px;
  background: url(../images/chart02.png) no-repeat;
  background-size: 144px;
}
.banner .chartbox span {
  display: block;
  padding-top: 2px;
  color: #fff;
  color: rgba(255,255,255,.7);
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}
.banner .chartbox.big span { padding-top: 8px; }
.banner .chartbox.center span {
  padding-top: 6px;
  color: #000;
  text-transform: uppercase;
}
.banner .chartbox b { display: block; }
.banner .chartbox.big b { font-size: 14px; }
.banner .chartbox.center b {
  margin-top: 22px;
  color: #fffc11;
  font-size: 14px;
}
.banner .chartbox.center big { font-size: 36px; }
.banner .chartbox.one {
  top: 12px;
  left: 100px;
}
.banner .chartbox.two {
  top: 42px;
  left: 244px;
}
.banner .chartbox.three {
  top: 32px;
  left: 464px;
}
.banner .chartbox.four {
  top: 42px;
  right: 268px;
}
.banner .chartbox.five {
  top: -8px;
  right: 50px;
}
.banner .numbox { margin: 0 24px 0 208px; }
.numbox { position: relative; }
.flipNum {
  margin-bottom: 8px;
  height: 44px;
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #555;
}
.floatlayer .flipNum { margin-top: 12px; }
.floatlayer .flipNum,
.floatlayer .flipNum .listbox { border-color: #c8c8c8; }
.flipNum .listbox {
  float: left;
  width: 60px;
  height: 46px;
  text-align: center;
  border-right: 1px solid #555;
}
.flipNum .listbox.last {
  border: 0px;
  border: none;
}
.flipNum .list { 
  display: block;
  float: left; 
  width: inherit;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 46px;
}
.numbox.soldout .flipNum .list { color: #858284; }
.floatlayer .flipNum .list { color: #313131; }
.flipNum .list b { display: block; }
.change {
  color: #dfdfdf;
  font-weight: 600;
}
.floatlayer .change {
  position: absolute;
  bottom: -16px;
  left: -16px;
  width: 270px;
  color: #313131;
  font-size: 12px;
}
.change b {
  display: inline-block;
  width: 24px;
  text-align: center;
}
.floatlayer .change b.userNum {
  width: 30px; 
  text-align: right;
}
.btnbox { position: relative; }
.btnbox:after {
  content: '';
  position: absolute;
  top: 0px;
  right: -90px;
  width: 72px;
  height: 72px;
  background: url(../images/moneyback-black.png) no-repeat;
}
.btnbox p {
  margin-top: 6px;
  color: #858284;
  font-size: 12px;
  font-weight: 600;
}
.floatlayer .price { 
  margin-top: 22px;
  margin-left: 68px;
  text-align: center; 
}
.feature .price {
  margin-top: 10px;
  text-align: center;
  opacity: 0; 
  filter: alpha(opacity=0); 
}
.price p {
  color: #686767;
  font-size: 12px;
}
.price strong {
  color: #d81e0c;
  font-size: 20px;
}
.feature .price strong { font-size: 18px; }
.feature .price strong big { font-size: 50px; }
.price del {
  display: inline-block;
  padding-left: 6px;
  color: #7f7f7f;
  font-size: 12px;
  font-weight: 700;
}
.feature .price del { font-size: 18px; }
.banner .price .change {
  color: #d1d1d1;
  font-size: 14px;
}

/* buybtn */
.buybtn {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 308px;
  height: 64px;
  color: #fff;
  line-height: 64px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 6px;
  border: 2px solid #ff0000;
  background-color: #b40000;
  box-shadow: 0px 15px 33.25px 1.75px rgba(13, 4, 8, 0.4);
  background-image: -webkit-linear-gradient(rgb(255,63,25) 0%, rgb(180,0,0) 100%);
  background-image:         linear-gradient(rgb(255,63,25) 0%, rgb(180,0,0) 100%);
  -webkit-transition: all .2s ease;
          transition: all .2s ease;
}
.floatlayer .buybtn {
  margin-top: 20px;
  margin-right: 84px;
  width: 308px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  box-shadow: none;
}
.feature .buybtn { margin: -6px auto 14px; }
.buybtn small { font-size: 16px; }
.buybtn:hover {
  background-color: #ff3f19;
  background-image: -webkit-linear-gradient(rgb(180,0,0) 0%, rgb(255,63,25) 100%);
  background-image:         linear-gradient(rgb(180,0,0) 0%, rgb(255,63,25) 100%);
}

/* intro */
.intro {
  min-height: 795px;
  padding-bottom: 80px;
  background: url(../images/intro-bg.jpg) bottom center no-repeat;
}
.intro h2 {
  padding: 110px 0 44px;
  font-size: 38px;
  text-align: center;
}
.intro .left {
  position: relative;
  width: 630px;
}
.intro .left img {
  display: block;
  margin: 0px 0 0 -26px;
}
.intro .left .besom {
  position: absolute;
  left: 140px;
  bottom: 4px;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: left .6s, opacity .6s;
          transition: left .6s, opacity .6s;
}
.intro .left .besom.on {
  left: 0px;
  opacity: 1;
  visibility: visible;
}
.intro .left .scan { 
  position: absolute; 
  top: 190px;
  left: 252px; 
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.intro .right {
  margin-top: 110px;
  width: 466px;
}
.intro .right li {
  margin-bottom: 30px;
  white-space: nowrap;
}
.intro .right i {
  margin-right: 13px;
  width: 27px;
  height: 8px;
  vertical-align: middle;
  background-position: 0 0;
}
.intro .right span {
  display: inline-block;
  margin-right: -20px;
  max-width: 446px;
  color: #1c1c1c;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  vertical-align: middle;
}
.intro .right span b { color: #d81e0c; }

/* enjoy */
.enjoy {
  min-height: 784px;
  background: url(../images/enjoy-bg.jpg) bottom center no-repeat;
}
.enjoy h2,
.enjoy h3 {
  margin-top: 140px;
  font-size: 34px;
}
.enjoy h2 { 
  margin-top: 0px;
  margin-bottom: 66px;
  font-size: 50px; 
}
.enjoy h2 b { color: #d81e0c; }
.enjoy .left { width: 600px; }
.enjoy .right {
  position: relative;
  margin-top: 138px;
  width: 500px;
  -webkit-perspective: 500;
          perspective: 500;
}
.enjoy .right img {
  display: block;
  margin: 0 -40px 0 0;
}
.enjoy .right img.forbid {
  position: absolute;
  bottom: -20px;
  left: 120px;
  margin: 0;
  opacity: 0;
  -webkit-transform: scale(.8);
          transform: scale(.8);
  -webkit-transition: all .8s ease-out;
          transition: all .8s ease-out;
}
.enjoy .right img.forbid.on {
  left: 0;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.enjoy li {
  margin-bottom: 16px;
  color: #1c1c1c;
  font-size: 16px;
  font-weight: 600;
}
.enjoy li i {
  margin-right: 10px;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  background-position: 0 -8px;
}
.enjoy li span {
  display: inline-block;
  max-width: 552px;
  line-height: 22px;
  vertical-align: middle;
}

/* feature */
.feature {
  padding-bottom: 114px;
  text-align: center;
  background: #ededed;
}
.feature h2 {
  padding: 68px 0 78px;
  font-size: 38px;
}
.feature h2 span {
  color: #d81e0c;
}
.feature .container > div {
  float: left;
  width: 275px;
}
.feature dl {
  width: 226px;
  height: 217px;
  margin: 0 auto;
  padding: 0 25px;
  background: url(../images/f-box-bg.png) no-repeat;
  background-size: 100% 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
  -webkit-transition: -webkit-transform .6s, opacity .6s;
          transition: transform .6s, opacity .6s;
}
.feature dl.on {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0px);
          transform: translate(0, 0px);
}
.feature dl dt {
  margin-top: -12px;
}
.feature dl dt > span {
  display: block;
  margin: 0 auto;
  width: 63px;
  height: 70px;
}
.feature dl dt > span.icon01 {
  background: url("../images/f-icons01.png") center no-repeat;
}
.feature dl dt > span.icon02 {
  background: url("../images/f-icons02.png") center no-repeat;
}
.feature dl dt > span.icon03 {
  background: url("../images/f-icons03.png") center no-repeat;
}
.feature dl dt > span.icon04 {
  background: url("../images/f-icons04.png") center no-repeat;
}
.feature dl dt > span.icon05 {
  background: url("../images/f-icons05.png") center no-repeat;
}
.feature dl dt > span.icon06 {
  background: url("../images/f-icons06.png") center no-repeat;
}
.feature dl dd h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #367af9;
  font-size: 20px;
  font-weight: 800;
}
.feature dl dd h3 small {
  padding-left: 2px;
  font-size: 14px;
  font-weight: 500;
  vertical-align: top;
}
.feature dl dd p {
  padding: 0 20px;
  color: #000;
  line-height: 24px;
}

/* review-wrap */
.review-wrap {
  min-height: 642px;
  background: url(../images/review-bg.jpg) top center no-repeat;
}
.review-wrap h2 {
  padding-top: 84px;
  margin-bottom: 54px;
  color: #010101;
  font-size: 38px;
  text-align: center;
}
.present dl {
  position: relative;
  float: left;
  width: 33.33%;
  text-align: center;
}
.present dl.center:before,
.present dl.center:after {
  content: '';
  display: block;
  position: absolute;
  top: -16px;
  width: 2px;
  height: 107px;
  border-radius: 4px;
  background-color: #dcdcdc;
}
.present dl.center:before {
  left: 38px;
}
.present dl.center:after {
  right: -40px;
}
.present dt,
.present dd {
  display: inline-block;
  padding-right: 16px;
  width: 42%;
  text-align: right;
  vertical-align: middle;
}
.present dd {
  width: 46%;
  color: #4a4a4a;
  font-size: 16px;
  text-align: left;
  line-height: 28px;
}
.present h4 {
  color: #c60b02;
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
}

/* review */
.review { 
  padding: 110px 0 0;
  position: relative;
}
.review h2 { position: relative; font-size: 36px; text-align: center; }
.review h2 span { position: relative; display: inline-block; z-index: 2;}
.review h2:after { position: absolute; content: ""; width: 65px; height: 57px; left: 16px; top: -20px; z-index: 1; background: url(../images/commit.png);}
.dg-container { 
  position: relative;
  width: 100%;
  z-index: 99;
}
.dg-wrapper .dg-transition { 
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; 
}
.dg-container .nav {
  position: relative;
  width: inherit;
}
.dg-container .nav span {
  position: absolute;
  top: 312px;
  width: 15px;
  height: 28px;
  display: block;
  overflow: hidden;
  cursor: pointer;
  background: url("../images/review-control.png") no-repeat;
}
.dg-container .nav .dg-prev {
  left: 60px;
  background-position: 0 0;
  z-index: 5;
}
.dg-container .nav .dg-prev:hover {
  background-position: 0 -28px;
}
.dg-container .nav .dg-next {
  right: 60px;
  background-position: -15px 0;
}
.dg-container .nav .dg-next:hover{
  background-position: -15px -28px;
}
.content { 
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%; 
  height: 177px;
  text-align: center;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(83, 83, 83, 0.24);
}
.content:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  left: 542px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;      
}
.content .reviews { display: none;}
.content .reviews h2 { 
  padding-top: 24px;
  margin-bottom: 8px;
  font-size: 22px; 
  color: #302d3d; 
  font-weight: 600;
}
.content .reviews dd {
  color: #545454; 
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}
.content .reviews dd p { 
  padding: 0 80px; 
  opacity: 0;
  transform: scale(.8);
  transition: opacity .6s, transform .8s;
}
.content .reviews.active dd p.on {
  opacity: 1;
  transform: scale(1);
}
.content .reviews cite {
  position: absolute;
  bottom: -58px;
  width: 100%;
  display: block; 
  color: #000;
  font-style: normal; 
  font-size: 20px; 
  font-weight: 500;
}
.review ul { position: relative; width: 683px; line-height: 240px; height: 240px; margin: 80px auto 0px; overflow: hidden; text-align: center}
.review ul li { position: absolute; height: 130px; display: inline-block; vertical-align: middle; opacity: 0.3; filter:alpha(opacity=0); transform: scale(0.7);
   -webkit-transition: all .5s;  
   transition: all .5s;
}
.review ul li.first { left: 0px;}
.review ul li.two { left: 91px;}
.review ul li.three { left: 182px;  }
.review ul li img { border-radius: 50%; }
.review ul li.active { left:283px; transform: scale(1); opacity: 1; filter:alpha(opacity=100); z-index: 10;}
.review ul li.active img{ width: 130px; height: 130px; border: solid #fff 6px; box-shadow: 0 40px 40px rgba(92, 95, 101, 0.3); }
.review ul li.four { left: 384px;  }
.review ul li.five { left: 475px;  }
.review ul li {left: 566px;}
.content .reviews.active{ display: block;}

/* awards */
.awards {
  padding: 52px 0 66px;
  color: #2e2e2e;
  text-align: center;
  background-color: #e4e4e4;
}
.awards h2 {
  font-size: 32px;
  font-weight: 600;
}
.awards p { 
  margin-bottom: 36px;
  line-height: 22px;
  font-weight: 600;
}

/* footer */
.footer { 
  padding: 70px 0 120px;
  color: #676767;
  font-size: 12px;
  line-height: 18px;
  background-color: #2a2a2a;
}
.footer .service dl {
  margin-bottom: 30px;
  width: 547px;
  height: 126px;
  color: #929292;
  background: #181818;
}
.footer .service h3 {
  margin: 23px 0 15px;
  font-size: 14px;
  font-weight: 400;
}
.footer .service dl.left dt {
  margin-top: 25px;
  float: left;
  width: 108px;
  text-align: center;
}
.footer .service dl.left dd {
  float: left;
  width: 432px;
}
.footer .service dl.right {
  padding: 0 30px;
  width: 487px;
}
.footer .copyright {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

/* floatlayer */
.floatlayer { 
  position: fixed; 
  right: 0px;
  left: 0px;
  bottom: -120px; 
  z-index: 999; 
  width: 100%;
  height: 90px;  
  text-align: center;
  visibility: hidden; 
  background: url(../images/float-bg.jpg) top center no-repeat;
  -webkit-transition: all 0.4s; 
          transition: all 0.4s;  
}
.floatlayer.on { 
  bottom: 0px; 
  visibility: visible; 
}
.floatlayer .imgbox {
  position: relative;
  width: 220px;
}
.floatlayer .imgbox img {
  position: relative;
  z-index: 9;
  display: block;
  margin-top: -28px;
  margin-left: -30px;
  width: 120px;
}
.floatlayer .discount {
  top: 24px;
  right: 44px;
  z-index: 1;
  width: 95px;
  height: 48px;
  background-size: 95px;
}
.floatlayer .discount:before {
  content: '';
  position: absolute;
  top: 0;
  left: -2px;
  width: 14px;
  height: 30px;
  background: #e82323;
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
}