@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0; }
body { font-size: 14px; line-height:1.4; color: #282c31; font-family: "Montserrat", Arial, Helvetica, sans-serif; outline:0; vertical-align:baseline; font-weight: 500; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; color: #4f4f4f; outline: none; text-decoration: none; cursor: pointer; }
a:hover { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse; border-spacing:0; }
ul,ul li { list-style-type:none; }
.clear { display:block; height:0; overflow:hidden; clear:both; }
.clearfix:after { content:'\20'; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }
.hidden { display: none; }
.show { display: block; } 
.wrapper {width: 1000px; position: relative; height: inherit; margin:0 auto; }
i { display: inline-block; background: url(../images/icons.png);}

.buybtn { display: block; width: 305px; height: 60px; line-height: 60px; border-radius: 35px; font-size: 18px; color: #fff; font-weight: 600; text-shadow: -1.035px 3.864px 6px rgba(198, 0, 0, 0.4); text-align: center; background: rgb(255,46,46); 
  background-image: -moz-linear-gradient( 66deg, rgb(255,46,46) 0%, rgb(255,119,66) 100%);
  background-image: -webkit-linear-gradient( 66deg, rgb(255,46,46) 0%, rgb(255,119,66) 100%);
  background-image: -ms-linear-gradient( 66deg, rgb(255,46,46) 0%, rgb(255,119,66) 100%);
  box-shadow: -1.22px 10px 18px 0px rgba(255, 130, 81, 0.71);
}
.buybtn:hover { background: rgb(255,85,46);
  background-image: -moz-linear-gradient( 66deg, rgb(255,85,46) 0%, rgb(255,137,66) 100%);
  background-image: -webkit-linear-gradient( 66deg, rgb(255,85,46) 0%, rgb(255,137,66) 100%);
  background-image: -ms-linear-gradient( 66deg, rgb(255,85,46) 0%, rgb(255,137,66) 100%);

}

.banner { position: relative; height: 650px; background: url(../images/banner.jpg) no-repeat center;}
.banner:after { position: absolute; content: ""; width: 100%; height: 465px; top: 0; left: 0px; background: url(../images/sale.png) no-repeat center;}
.banner .logo { position: absolute; z-index: 5; display: block; top: 41px; left: 0px; width: 38px; height: 14px; background: url(../images/logo.png); text-indent: -9999px;}

.banner h1 { padding-top: 50px; text-align: center; color: #6f7b8c; text-transform: uppercase; font-size: 18px; font-weight: 500;}
.banner h1 span { display: block; margin-bottom: 10px; font-weight: 600; font-size: 20px; word-spacing:8px; letter-spacing: 10px;}
.banner h1 strong { display: block; margin-top: 20px; height: 82px; text-indent: -9999px; background: url(../images/title.png) no-repeat center;}
.banner p.date { text-align: center; font-weight: 600;}
.banner p.date span { font-weight: 500;}
.banner p.date strong.last { display: inline-block; min-width: 30px;}
.banner p.date img { display: inline-block; vertical-align: middle;}
.banner .content { width: 804px; height: 283px; margin-left: 149px; margin-top: 64px; background: url(../images/content-bg.png) no-repeat center;}
.banner .content .img-box { float: left; margin-left: -226px; margin-top: -46px;}
.banner .content dl { float: left; margin-top: 45px; margin-left: 75px;}
.banner .content dl h2 { margin-bottom: 5px; font-size: 22px; color: #282c31;}
.banner .content dl dt { color: #6f7b8c;}
.banner .content dl dd { margin-top: 5px;}
.banner .content dl dd strong { font-size: 40px;}
.banner .content dl dd b { font-size: 24px;}
.banner .content dl dd del { font-size: 16px; color: #6f7b8c;}

.payment { height: 70px; line-height: 70px; text-align: center; background-color: #e8f1fc;}
.payment img { display: inline-block; vertical-align: middle;}

.introduce { margin-top: 70px; text-align: center;}
.introduce h2 { font-size: 28px;}
.introduce li { float: left; width: 215px; margin-top: 60px; margin-right: 46px;}
.introduce li h3 { position: relative; margin-top: 10px; height: 16px; text-indent: -9999px; background: url(../images/introduce-title.png) no-repeat center 0px ;}
.introduce li h3:after { position: absolute; content: ""; display: block; width: 32px; height: 3px; left: 50%; margin-left: -16px; bottom: -20px; background: #e7edf4;}
.introduce li strong { display: block; margin-top: 35px; margin-bottom: 5px; font-size: 16px; white-space:nowrap;}
.introduce li p { font-size: 12px; color: #606873; line-height: 20px;}
.introduce li.last { margin-right: 0px;}
.introduce li.last h3 { background-position: center -48px;}
.introduce li.faster-2 h3 { background-position: center -32px;}
.introduce li.faster-3 h3 { background-position: center -16px;}



/*review*/
.review-box {
	height: 230px;
}
.review-bg{
	background: #f7f7f7;

}
.reviews {
	display: none;
	text-align: center;
}
.reviews{
	display:none;
	text-align:center;
}
.reviews h2{
	font-size:36px;
	padding: 70px 0 10px 0;
}
.reviews h3{
	display:inline-block;
	padding:10px 0;
	line-height: 24px;
	font-size:20px;
}
.reviews p{
	color:#383838;
	line-height:24px;
}
.reviews.active{display:block}
.handle{
	display:block;
	height:126px;
	margin-top:50px;
	margin-bottom:100px;
	border-bottom:3px #e8e9ed solid;
}
.handle li{
	float:left;
	width:14%;
	/* margin-right:62.5px; */
	text-align:center;
	cursor:pointer;
}
/* .handle li.last{margin-right:0;} */
.handle li .badge{
	height:130px;
	display:block;
	margin-bottom:15px;
}
.badge img{
	width:66px;
	height:66px;
	margin: 34px auto 22px auto;
	transition:.2s ease-in-out;
	-webkit-transition:.2s ease-in-out;
	-moz-transition:.2s ease-in-out;
	-o-transition:.2s ease-in-out;
}
.handle li.active .badge img {
	width: 100px;
	height: 100px;
	margin-top: 0;
}
.badge span{
	width:120px;
	height:3px;
	display:block;
	margin:0 auto;
	background:#fe4d4d;
}
.handle li strong{
	color:#404852;
	display:none;
	font-size: 16px;
	font-weight: 500;
}
.handle li span{
	font-size:12px;
	display:none;
}
.badge span{background:#fe4d4d}
.handle li.active strong,
.handle li.active span
{
	display:block;
}

.awards{
	height: 290px;
	background: url(../images/award-bg.jpg) no-repeat center;
	color: #404852;
	text-align: center;
}
.awards h2{
	font-size: 36px;
	padding: 55px 0 14px;
}
.awards span{
	padding-bottom: 42px; 
	display: block;
}
.awards p a { display: inline-block; margin: 0px 10px; border: none;}
.awards p a img { border: none;}

.compar-tab {
	margin: 70px auto 10px;
	display: block;
}
.compar-tab h2 { margin-bottom: 10px; text-align: center; font-size: 22px;}
.compar-tab table {
	border: 0;
	border-collapse: 0;
	border-spacing: 0;
}
.compar-tab table thead th {
	border-bottom: 1px #dcdcdc solid;
	border-top: 1px #dcdcdc solid;
	font-size: 12px;
	height: 100px;
	background: #fff !important;
}
.compar-tab table thead th p { font-size: 16px;}
.compar-tab table thead th.text { border-top: none; background: url(../images/arrow.png) no-repeat center top !important;}
.compar-tab table thead th.item-pro{ color: #ff7049}
.compar-tab table tfoot th { height: 105px; border-bottom: 1px #dcdcdc solid; font-size: 12px;}
.compar-tab table tfoot th .buybtn { width: 182px; height: 43px; margin: 0px auto; line-height: 43px; font: 16px;}
.compar-tab table tfoot th del { color: #6f7b8c; font-size: 14px;}
.compar-tab table tfoot th strong { font-size: 24px;}

.compar-tab table tr {
	text-align: center;
}
.compar-tab table tr .circle { display: block; margin: 0px auto; width: 10px; height: 10px; border-radius: 50%; background: #cbd4e2;}
.compar-tab table tr td {
	vertical-align: middle;
	padding: 10px 0px;
}
.compar-tab table tr td {
	height: 40px;
	border-bottom: 1px #e1e2e5 solid;
}
.compar-tab table tr td.text {
	text-align: center;
	width: 430px;
	font-size: 13px;
}

.compar-tab table .item-free,
.compar-tab table .item-pro {
	width: 270px;
}
.compar-tab table .item-free {
	background: #eff6ff;
	border-bottom: 1px #e4e4e4 solid;
}
.compar-tab table .item-pro {
	background: #fff8f0;
}
.compar-tab table .space {
	width: 10px;
	border-top: 1px #fff solid;
	border-bottom: 1px #fff solid;
}


/*footer*/
.additional-info {
	margin-top: 25px;
	padding-bottom: 25px;
}
.additional-info dl {
	float: left;
	width: 230px;
	margin-right: 155px;
	text-align: center;
}
.additional-info dl.last {
	margin-right: 0;
}
.additional-info dl dt {
	height: 90px;
	line-height: 90px;
	
}
.additional-info dl dt img{
	display: inline-block;
	vertical-align: middle;
}
.additional-info dl dd {
	font-size: 12px;
	line-height: 18px;
	color: #6f7b8c;
}
.additional-info dl dd strong {
	display: inline-block;
	font-size: 16px;
	margin-bottom: 10px;
	color: #282c31;
}
.copyright {
	padding: 20px 0;
	background: #313541;
	text-align: center;
	color: #6f7b8c;
}

.float { position: fixed; width: 100%; top: -180px; left: 0; height: 170px; z-index: 99; background: url(../images/fl-bg.jpg) no-repeat center;
  box-shadow: 0px 5px 11.04px 0.96px rgba(132, 132, 132, 0.2);
  visibility: hidden;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.float.on { visibility: visible; top: 0px;}
.float .img-box { float: left; margin-top: 16px; margin-left: 28px;}
.float .left-message { float: left; margin-left: 30px; margin-top: 50px;}
.float .left-message h2 { font-size: 22px;}
.float .left-message h2 strong { font-size: 34px; color: #fe614e;}
.float .left-message p { font-weight: 600; line-height: 21px;}
.float .left-message p img { display: inline-block; vertical-align: middle;}
.float .left-message p span { display: inline-block; vertical-align: middle; width: 178px; height: 21px; margin-left: 10px; text-align: center; font-weight: 500; background: #ffe4d4; border-radius: 10px; border: solid #f4e3d7 1px;}
.float .left-message p span strong.last { display: inline-block; min-width: 30px;}
.float dl { float: right; margin-right: 10px; margin-top: 20px; text-align: center;}
.float dl dt strong { font-size: 40px;}
.float dl dt strong b { font-size: 24px;}
.float dl dt del { font-size: 16px; color: #6f7b8c;}
.float dl dd .buybtn { width: 218px; height: 54px; line-height: 54px;}