@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 1200px;
  font-size: 14px;
  line-height: 1.4;
  color: #000;
  font-weight: 400;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  outline: 0;
  vertical-align: baseline;
  overflow-x: hidden;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #000;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li {
  list-style-type: none;
}
img {
  border: none;
}
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.wrapper {
  position: relative;
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
  zoom: 1;
}
.all-icons {
  display: inline-block;
  text-indent: -9999px;
  background: url(../images/all-icons.png) 0 0 no-repeat;
}

/* banner */
.banner {
  position: relative;
  height: 814px;
  text-align: center;
  background: url(../images/bg.jpg?t=33) center top no-repeat;
}
.banner .wrapper {
  height: inherit;
}
.banner .logo {
  display: block;
  position: absolute;
  top: 20px;
  left: 0px;
  width: 99px;
  height: 41px;
  text-indent: -9999px;
  background: url(../images/logo.png?t=43) no-repeat;
}
.banner .title {
  padding-top: 114px;
  background: url(../images/title.png?t=43) center 55px no-repeat;
}
.banner h1 {
  display: none;
}
.banner h2 {
  color: #e0e0e0;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}
.banner .offer {
  position: relative;
  float: left;
  margin: 136px 0 0 56px;
  width: 400px;
  height: 367px;
  border-radius: 32px;
  background: #fffdfa;
  box-shadow: 0px 2px 18px 0px rgba(179, 14, 20, 0.3);
}
.banner .big {
  margin: 74px 0 0 100px;
  width: 544px;
  height: 450px;
  border: 6px solid #ffc529;
}
.banner .big:before {
  content: "";
  display: block;
  position: absolute;
  top: -6px;
  left: -6px;
  z-index: 0;
  width: 556px;
  height: 462px;
  background: url(../images/line.png) no-repeat;
}
.banner .imgbox > img {
  display: block;
  margin: 22px 0 0 140px;
  width: 124px;
}
.banner .big .imgbox {
  position: relative;
  z-index: 1;
  margin-top: 52px;
  width: 100%;
  height: 176px;
}
.banner .big .imgbox > img {
  position: absolute;
  top: 0px;
  left: 104px;
  z-index: 2;
  margin: 0;
  width: 147px;
}
.banner .giftbox {
  position: absolute;
  top: 42px;
  left: 186px;
  z-index: 3;
  width: 260px;
  height: 150px;
}
.banner .giftbox span,
.banner .giftbox img {
  display: block;
  position: absolute;
}
.banner .giftbox .gift-bg {
  top: 0px;
  left: 0;
  z-index: 1;
  width: 257px;
  height: 144px;
  background: url(../images/giftbox.png) no-repeat;
}
.banner .giftbox .gift-line,
.footbuy .gift-line {
  display: block;
  position: absolute;
  bottom: 50px;
  left: 18px;
  z-index: 3;
  width: 217px;
  height: 18px;
  background: url(../images/gift-line01.png) no-repeat;
}
.footbuy .gift-line {
  bottom: 100px;
  left: 102px;
  z-index: 5;
}
.banner .giftbox .gift-line.two {
  bottom: 20px;
  left: 64px;
  width: 18px;
  height: 128px;
  background: url(../images/gift-line02.png) no-repeat;
}
.footbuy.sold .gift-line {
  display: none;
}
.banner .giftbox .gift-flower,
.footbuy .gift-flower {
  display: block;
  position: absolute;
  z-index: 4;
  bottom: 24px;
  left: 48px;
  width: 54px;
  height: 56px;
  background: url(../images/gift-flower.png) no-repeat;
}
.footbuy .gift-flower {
  bottom: 74px;
  left: 108px;
  z-index: 6;
}
.footbuy.sold .gift-flower {
  bottom: 178px;
  left: 88px;
  width: 77px;
  height: 51px;
  background: url(../images/gift-flower-small.png) no-repeat;
}
.banner .giftbox img {
  top: 0;
  left: 26px;
  z-index: 0;
  width: 128px;
}
.banner .giftbox img.sd {
  left: 66px;
}
.banner .giftbox img.pf {
  left: 104px;
}

.banner .tag,
.footbuy .tag {
  display: inline-block;
  margin: 8px 0 3px;
  padding: 0 12px;
  height: 26px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  line-height: 26px;
  border-radius: 13px;
  background: #fe4243;
}
.footbuy .tag {
  display: inline-block;
  padding: 0 16px;
  position: absolute;
  left: 70px;
  bottom: 30px;
  z-index: 8;
  height: 24px;
  line-height: 24px;
  border-radius: 12px;
}
.footbuy.sold .tag {
  left: 36px;
  padding: 0 8px;
  bottom: 28px;
  height: 22px;
  line-height: 22px;
}
.banner .big .tag {
  margin-top: 14px;
}
.banner .tag span,
.footbuy .tag span {
  font-weight: 300;
}

.discount {
  display: block;
  position: absolute;
  top: 0px;
  right: 20px;
  z-index: 2;
  width: 99px;
  height: 128px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 160px;
  background: url(../images/discount.png) no-repeat;
  background-size: 99px;
}
.banner .big .discount {
  right: 10px;
  width: 116px;
  height: 151px;
  font-size: 20px;
  line-height: 190px;
  background-size: 116px;
}
.discount em {
  line-height: 20px;
  font-style: normal;
}
.discount big {
  font-size: 35px;
}
.banner .big .discount big {
  font-size: 44px;
}
.countdown {
  position: absolute;
  top: -32px;
  right: 0px;
  left: 0px;
  z-index: 106;
  margin: 0 auto;
  width: 304px;
  height: 64px;
  font-size: 16px;
  font-weight: 600;
  line-height: 64px;
  border-radius: 32px;
  background: #ffc529;
}
.countdown span {
  display: inline-block;
  padding-right: 4px;
  font-size: 18px;
  text-transform: uppercase;
}
.countdown b {
  display: inline-block;
  padding-left: 8px;
  width: 32px;
  color: #de0000;
  font-size: 24px;
  font-weight: 600;
  text-align: right;
}

/* price */
.price p {
  color: #666;
  font-size: 16px;
}
.banner .price {
  position: relative;
}
.banner .price p {
  font-size: 14px;
}
.price strong {
  color: #e30405;
  font-size: 32px;
  font-weight: 600;
}
.banner .big .price strong {
  font-size: 48px;
}
.price strong small {
  font-size: 20px;
}
.banner .big .price strong small {
  font-size: 24px;
}
.price del {
  display: inline-block;
  padding-left: 6px;
  color: #888;
  font-size: 16px;
  font-weight: 300;
}
.banner .big .price del {
  font-size: 20px;
}

/* mask */
.mask {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 101;
  width: inherit;
  height: inherit;
  border-radius: 3px;
  background: url(../images/mask-bg.png) repeat;
}
.banner .mask {
  top: -6px;
  left: -6px;
  width: 556px;
  height: 462px;
  border-radius: 32px;
}
.sold-word {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 102;
  width: 158px;
  height: 158px;
  text-indent: -9999px;
  background: url(../images/sold-word.png) no-repeat;
}
.banner .sold-word {
  top: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.gifts .sold-word {
  top: 112px;
  left: auto;
  right: 298px;
  width: 120px;
  height: 120px;
  background: url(../images/sold-word-small.png) no-repeat;
}
.changelist .sold-word {
  top: -30px;
  left: 148px;
  width: 112px;
  height: 74px;
  background-size: 112px;
}

/* buybtn */
.buybtn {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 252px;
  height: 54px;
  color: #fff;
  line-height: 52px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 3px;
  text-align: center;
  background: #f96f00;
  transition: all 0.3s ease;
}
.buybtn.empty {
  width: 248px;
  height: 50px;
  color: #ff6000;
  line-height: 50px;
  background: #fffdfa;
  border: 2px solid #ff6000;
}
.banner .buybtn {
  margin: 0px auto 8px;
}
.footbuy .buybtn {
  margin-left: 66px;
  margin-top: 40px;
}
.footbuy.sold .buybtn {
  /* margin-right: 160px; */
}
.buybtn:hover,
.buybtn.empty:hover {
  background: #f94c00;
  box-shadow: 0px 8px 22px 0px rgba(250, 87, 0, 0.4);
}
.buybtn.empty:hover {
  color: #fff;
  background: #f94c00;
}
.gifts.sold .buybtn,
.gifts.sold .buybtn:hover {
  cursor: default;
  background: #ddd;
  box-shadow: none;
}
.footbuy .buybtn:hover {
  box-shadow: 0px 8px 35px 0px rgba(143, 50, 0, 0.4);
}

/* service */
.service {
  padding: 44px 0 64px;
  background: url(../images/service-line.png) center bottom no-repeat;
}
.service dl {
  padding-right: 56px;
  float: left;
  text-align: center;
}
.service dl.first {
  padding: 0 132px;
}
.service dl.last {
  padding-right: 0;
}
.service dt {
  margin-bottom: 10px;
  line-height: 64px;
}
.service dl.first dt {
  margin-bottom: 0;
  line-height: 0;
}
.service dt img {
  display: inline-block;
  vertical-align: middle;
}
.service dd {
  color: #333;
  font-size: 16px;
}

/* feature */
.feature {
  margin-top: 78px;
  height: 823px;
  text-align: center;
  background: url(../images/feature-bg.jpg) center top no-repeat;
}
.feature h2 {
  padding: 10px 0 15px;
  font-size: 32px;
  font-weight: 600;
}
.feature .wrapper > p {
  color: #666;
  font-size: 18px;
}
.feature-screen {
  position: relative;
  margin: 28px 0 0 -120px;
  width: 510px;
  height: 458px;
  background: url(../images/feature-screen-bg.png) no-repeat;
}
.feature-list {
  position: relative;
  width: 510px;
  height: 458px;
}
.feature-screen:before {
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  left: -23px;
  z-index: 3;
  width: 545px;
  height: 490px;
  background: url(../images/red-line.png) no-repeat;
}
.feature-list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: inherit;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease;
}
.feature-list.on {
  z-index: 1;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease;
}
.feature-list img {
  display: block;
  margin: 0;
}
.feature-screen-small {
  display: block;
  position: absolute;
  opacity: 0;
  z-index: 4;
  visibility: hidden;
  transform: scale(0);
  transition: opacity 0.4s 0.3s cubic-bezier(0.63, 0.64, 0.3, 1),
    transform 0.4s 0.3s cubic-bezier(0.63, 0.64, 0.3, 1);
}
.feature-screen-small.one {
  top: 105px;
  left: 218px;
}
.feature-screen-small.two {
  top: 76px;
  left: 108px;
}
.feature-list.on .feature-screen-small {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.feature-tab {
  margin-top: 90px;
  width: 720px;
}
.feature-tab dl {
  position: relative;
  float: left;
  margin: 0 120px 32px 0;
  width: 300px;
  min-height: 270px;
  text-align: center;
  cursor: pointer;
}
.feature-tab dl:before {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  left: -44px;
  z-index: 0;
  padding: 20px 0;
  width: 388px;
  height: 270px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.08);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}
.feature-tab dl.two,
.feature-tab dl.four {
  margin-right: 0;
}
.feature-tab dt {
  line-height: 73px;
}
.feature-tab dt > img {
  display: inline-block;
  vertical-align: middle;
}
.feature-tab h3 {
  padding: 18px 0 24px;
  font-size: 18px;
}
.feature-tab p {
  color: #888;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}
.feature-tab dt,
.feature-tab dd {
  position: relative;
  z-index: 1;
}
.feature-tab dl.on:before {
  opacity: 1;
  visibility: visible;
}

/* gifts */
.gifts {
  margin: 0px 0;
  height: 800px;
  text-align: center;
  background: url(../images/gift-bg.png) center top no-repeat;
}
.gifts h2 {
  padding: 94px 0 60px;
  font-size: 32px;
  font-weight: 600;
}
.gifts dl {
  float: left;
  width: 338px;
  text-align: center;
}
.gifts dl.first {
  margin-right: 92px;
}
.gifts dl.last {
  float: right;
}
.gifts dl dt {
  position: relative;
}
.gifts dl dt:before,
.gifts dl dt:after,
.review .reviews dt:before {
  content: "";
  display: block;
  position: absolute;
  width: 62px;
  height: 46px;
  /* background: url(../images/cap.png) no-repeat; */
}
.gifts dl dt:before {
  top: -16px;
  left: 86px;
}
.gifts dl dt:after {
  left: 66px;
  bottom: -4px;
  width: 86px;
  height: 95px;
  background: url(../images/tree.png) no-repeat;
}
.gifts h4 {
  padding: 30px 0 10px;
  font-size: 18px;
  font-weight: 600;
}
.gifts dl dd p {
  position: relative;
  padding-left: 10px;
  color: #888;
  line-height: 24px;
  text-align: left;
}
.gifts dl dd p:before {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 0px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #888;
}
.gifts h3 {
  padding: 50px 0 24px;
  color: #666;
  font-size: 24px;
  font-weight: 600;
}
.gifts .price {
  position: relative;
}
.gifts .price p {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 24px;
}
.gifts .price strong {
  font-size: 34px;
}
.gifts .price strong small {
  font-size: 28px;
}
.gifts .price p span {
  display: inline-block;
  margin-top: -3px;
  margin-left: 4px;
  padding: 0 6px;
  height: 22px;
  color: #333;
  font-size: 14px;
  line-height: 22px;
  border-radius: 6px;
  background: #ffe0b8;
  vertical-align: middle;
}
.gifts.sold .price p,
.gifts.sold .price p strong,
.gifts.sold .price p span {
  color: #888;
}
.gifts.sold .price p span {
  background: #ddd;
}

/* awards */
.awards {
  text-align: center;
}
.awards h2 {
  padding-bottom: 38px;
  font-size: 32px;
  font-weight: 600;
}

/* footbuy */
.footbuy {
  margin-top: 116px;
  height: 329px;
  background: url(../images/footbuy-bg.jpg) center top no-repeat;
}
.footbuy h2 {
  padding: 40px 0 18px;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}
.footbuy .imglist {
  position: relative;
  margin-left: 130px;
  width: 330px;
  height: 240px;
}
.footbuy.sold .imglist {
  margin-left: 176px;
  width: 150px;
}
.footbuy .imglist:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 28px;
  left: -48px;
  z-index: 7;
  width: 104px;
  height: 136px;
  background: url(../images/discount-small.png) no-repeat;
}
.footbuy .imglist > img {
  display: block;
  position: absolute;
}
.footbuy .imglist > img.asc {
  top: 0;
  left: 0;
  z-index: 1;
}
.footbuy .imglist > img.iu,
.footbuy .imglist > img.sd,
.footbuy .imglist > img.pf {
  top: 38px;
  left: 84px;
  z-index: 2;
  width: 140px;
}
.footbuy .imglist > img.sd {
  top: 38px;
  left: 140px;
  z-index: 3;
  width: 140px;
}
.footbuy .imglist > img.pf {
  top: 38px;
  left: 190px;
  z-index: 4;
  width: 140px;
}
.footbuy .gift-font {
  display: block;
  position: absolute;
  top: 119px;
  left: 180px;
  z-index: 10;
  color: #fff;
  font-size: 16px;
}
.footbuy.sold .imglist > img.iu,
.footbuy.sold .imglist > img.sd,
.footbuy.sold .imglist > img.pf,
.footbuy.sold .gift-font,
.footbuy.sold .imglist:before,
.footbuy.sold .changelist h3 {
  display: none;
}
.changelist {
  margin: 18px 0 0 78px;
  text-align: center;
}
.footbuy.sold .changelist {
  margin: 26px 0 0 112px;
}
.changeprice {
  position: relative;
  padding: 0 38px;
  height: 97px;
  background: #fff;
  border: 2px solid #d9a664;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.changeprice:before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: -65px;
  width: 65px;
  height: 101px;
  background: url(../images/changelist-tag.png) no-repeat;
}
.changeprice p {
  color: #333;
  font-size: 16px;
  line-height: 26px;
}
.changeprice .price {
  padding-top: 24px;
}
.footbuy.sold .changeprice .price {
  padding-top: 38px;
}
.changeprice .price strong {
  font-size: 56px;
  font-weight: 700;
}
.changeprice .price strong small {
  font-size: 24px;
}
.changeprice .price del {
  color: #000;
  font-size: 18px;
}
.changelist h3 {
  padding-top: 12px;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

/* footer */
.footer {
  padding: 20px 0 30px;
  font-size: 12px;
  line-height: 24px;
}
.copyright {
  padding-top: 20px;
  color: #8b8b8b;
  font-weight: 600;
  text-align: center;
}

/* animation */
@keyframes nextmove {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10%, 0);
    transform: translate(-10%, 0);
  }
}
@keyframes prevmove {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10%, 0);
    transform: translate(10%, 0);
  }
}

/* comparison */
.comparison {
  position: relative;
  padding-top: 45px;
  height: 745px;
}
.comparison:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 679px;
  bottom: -450px;
  z-index: -1;
  background: url(../images/compare-bg.jpg) bottom center no-repeat;
}

.comparison h4,
.comparison h5 {
  margin-bottom: 16px;
  font-size: 26px;
  color: #2d3666;
}
.comparison h5 {
  font-size: 18px;
  font-weight: 600;
}
.ctable {
  margin: 30px 0;
}
.comparison th {
  height: 37px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  background: #3d3d3d;
  border-right: 1px solid #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.comparison th.text {
  width: 164px;
  background: #fff;
}
.comparison th.blue {
  background: #0662a3;
}
.comparison th.blue p {
  margin-top: -13px;
  height: 44px;
  font-size: 14px;
  background: #0058e8;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.comparison th.blue span {
  padding-top: 6px;
}
.comparison th span {
  display: block;
}
.comparison td {
  padding: 0 8px;
  height: 50px;
  border-bottom: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: #0058e8;
}
.comparison td.title {
  padding-left: 6px;
  width: 164px;
  text-align: left;
  font-size: 12px;
  line-height: 14px;
  color: #2d3666;
  border-left: 1px solid #d2d2d2;
}
.comparison td.first {
  border-top: 1px solid #d2d2d2;
}
.tb-icons {
  display: inline-block;
  text-indent: -9999px;
  background: url(../images/tab_icons.png) no-repeat 0 0;
}
.comparison td i {
  width: 11px;
  height: 12px;
  background-position: 0 -12px;
}
.comparison td i.red {
  background-position: 0 0;
}
.comparison td.gray {
  background: #ecf1fa;
}
.comlist {
  margin-bottom: 28px;
  font-weight: 600;
  color: #2d3666;
}
.comlist dt {
  font-size: 16px;
  color: #0058e8;
}
.comlist dt i {
  margin-right: 2px;
  width: 19px;
  height: 19px;
  background-position: 0 -24px;
}
.comlist dd {
  margin-top: 6px;
  padding-left: 24px;
  font-size: 12px;
}

/* review */
.review {
  padding-top: 30px;
  height: 560px;
  background: url(../images/review-bg.jpg) top center no-repeat;
}
.review .content {
  height: 290px;
  color: #2d3666;
  text-align: center;
}
.review .content h3 {
  margin-bottom: 25px;
  padding-top: 24px;
  height: 62px;
  color: #fff;
  font-size: 24px;
  /* background: url(../images/review-title.png) bottom center no-repeat; */
}
.review .content dl {
  display: none;
}
.review .content dd {
  margin-top: 25px;
  padding: 0 80px;
  color: #6f799e;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}
.review .content dd h4 {
  color: #2d3666;
  font-size: 16px;
  line-height: 28px;
}
.review .content dl.active {
  display: block;
}
.review ul.users {
  height: 130px;
  text-align: center;
  border-bottom: 2px solid #d2d2d2;
}
.review ul.users li {
  position: relative;
  float: left;
  width: 250px;
  height: 130px;
  cursor: pointer;
}
.review ul.users li p {
  position: absolute;
  bottom: -70px;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  visibility: hidden;
  transition: bottom 0.2s;
}
.review ul.users li.active:after {
  content: "";
  position: absolute;
  bottom: -1.5px;
  left: 67px;
  width: 118px;
  height: 3px;
  background-color: #ff7301;
}
.review ul.users li img {
  display: inline-block;
  margin-top: 35px;
  width: 65px;
  height: 65px;
  vertical-align: middle;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.review ul.users li.active p {
  bottom: -44px;
  visibility: visible;
}
.review ul.users li.active img {
  margin-top: 0;
  width: 100px;
  height: 100px;
}
