@charset "utf-8";
/* CSS Document */
*{
	margin:0; padding:0;
}
body {
	min-width: 1000px;
	font-size: 14px;
	line-height:1.4;
	color: #262626;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	outline:0;
	vertical-align:baseline;
}
a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	color: #000;
	outline: none;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration:none;
}
del {
	text-decoration:line-through;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
ul,ul li{
	list-style-type:none;
}
img{
	border: none;
}

@content-width: 1100px;

.clearfix:after{
	clear:both;
	display:block;
	height:0;
	font-size:0;
	content:"";
	visibility:hidden;
}
.clearfix{
	zoom:1;
}
.wrapper{
	position: relative;
	width: @content-width;
	min-width: @content-width;
	margin:0 auto;
	zoom:1;
}

// mixedin
#gradient{
	.horizontal(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
		background-image: -webkit-linear-gradient(left, @start-color @start-percent, @end-color @end-percent); // Safari 5.1-6, Chrome 10+
		background-image: -o-linear-gradient(left, @start-color @start-percent, @end-color @end-percent); // Opera 12
		background-image: linear-gradient(to right, @start-color @start-percent, @end-color @end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
		background-repeat: repeat-x;
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb(@start-color),argb(@end-color))); // IE9 and down
	}

	// Vertical gradient, from top to bottom
	//
	// Creates two color stops, start and end, by specifying a color and position for each color stop.
	// Color stops are not available in IE9 and below.
	.vertical(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
		background-image: -webkit-linear-gradient(top, @start-color @start-percent, @end-color @end-percent);  // Safari 5.1-6, Chrome 10+
		background-image: -o-linear-gradient(top, @start-color @start-percent, @end-color @end-percent);  // Opera 12
		background-image: linear-gradient(to bottom, @start-color @start-percent, @end-color @end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
		background-repeat: repeat-x;
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@start-color),argb(@end-color))); // IE9 and down
	}

	.directional(@start-color: #555; @end-color: #333; @deg: 45deg) {
		background-repeat: repeat-x;
		background-image: -webkit-linear-gradient(@deg, @start-color, @end-color); // Safari 5.1-6, Chrome 10+
		background-image: -o-linear-gradient(@deg, @start-color, @end-color); // Opera 12
		background-image: linear-gradient(@deg, @start-color, @end-color); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
	}
	.horizontal-three-colors(@start-color: #00b3ee; @mid-color: #7a43b6; @color-stop: 50%; @end-color: #c3325f) {
		background-image: -webkit-linear-gradient(left, @start-color, @mid-color @color-stop, @end-color);
		background-image: -o-linear-gradient(left, @start-color, @mid-color @color-stop, @end-color);
		background-image: linear-gradient(to right, @start-color, @mid-color @color-stop, @end-color);
		background-repeat: no-repeat;
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb(@start-color),argb(@end-color))); // IE9 and down, gets no color-stop at all for proper fallback
	}
}
.box-shadow(@shadow) {
	-webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
					box-shadow: @shadow;
}

// Box sizing
.box-sizing(@boxmodel) {
	-webkit-box-sizing: @boxmodel;
		 -moz-box-sizing: @boxmodel;
					box-sizing: @boxmodel;
}
// transition;
.transition(@timer){
	transition: @timer ease-in-out;
}
.scale(@ratio) {
	-webkit-transform: scale(@ratio);
			-ms-transform: scale(@ratio); // IE9 only
			 -o-transform: scale(@ratio);
					transform: scale(@ratio);
}
// Opacity

.opacity(@opacity) {
	opacity: @opacity;
	// IE8 filter
	@opacity-ie: (@opacity * 100);
	filter: ~"alpha(opacity=@{opacity-ie})";
}
// translate
.translate(@x; @y) {
	-webkit-transform: translate(@x, @y);
			-ms-transform: translate(@x, @y); // IE9 only
			 -o-transform: translate(@x, @y);
					transform: translate(@x, @y);
}
.rotate(@degrees) {
	-webkit-transform: rotate(@degrees);
			-ms-transform: rotate(@degrees); // IE9 only
			 -o-transform: rotate(@degrees);
					transform: rotate(@degrees);
}
// end mixed in
#ghost{
	width: 0;
	height: 0;
	display: none;
}
.all-icons {  
	display: inline-block; 
	vertical-align: middle; 
	text-indent: -9999px; 
	background: url(../images/all_icons.png) no-repeat 0 0;
}
.banner{
	position: relative;
	overflow: hidden;
	height: 720px;
	min-width: 1000px;
	background: url(../images/banner.jpg)  no-repeat center top;
	.logo{
		position: absolute;
		display: block;
		top: 42px;
		width: 47px;
		height: 16px;
		z-index: 2;
		text-indent: -9999px;
		background: url(../images/logo.png) center center no-repeat;
	}
	h1 {
		padding-top: 40px;
		height: 79px;
		text-indent: -9999px;
		background: url(../images/title.png) no-repeat center bottom;
	}
	h2 {
		margin-top: -5px;
		text-align: center;
		color: #fff;
		font-size: 18px;
  	text-shadow: 0px 5px 4px rgba(147, 0, 0, 0.4);
	}
	.defalut-exceed {
		position: relative;
		z-index: 2;
		float: left;
		width: 340px;
		height: 360px;
		margin-top: 119px;
		margin-left: -1px;
		background: url(../images/default-exceed.png);
	}
	.sold-box {
		position: relative;
		z-index: 2;
		float: left;
		width: 440px;
		height: 460px;
		margin-top: 47px;
		background: #fefcb3;
	  background-image: -moz-linear-gradient( 56deg, rgb(255,204,68) 0%, rgb(254,255,166) 100%);
	  background-image: -webkit-linear-gradient( 56deg, rgb(255,204,68) 0%, rgb(254,255,166) 100%);
	  background-image: -ms-linear-gradient( 56deg, rgb(255,204,68) 0%, rgb(254,255,166) 100%);
	  box-shadow: 0px 18px 76px 4px rgba(61, 47, 31, 0.42);
		text-align: center;
		color: #8f4324;
  	h3 {
  		height: 75px;
  		line-height: 75px;
  		font-size: 14px;
  		background: url(../images/data-bg.png) no-repeat bottom;
  		strong {
  			font-size: 20px;
  			font-weight: 500;
  			&:last-child {
  				display: inline-block;
  				width: 40px;
  			}
  		}
  		.num {
  			display: inline-block;
  			position: relative;
  			font-size: 18px;
  			.popup-font {
  				position: absolute;
  				left: 0px;
  				top: 0px;
  				.opacity(0);
  				&.zoomout {    
					   animation:zoomout 1s; 
					   animation-fill-mode: forwards;
					}
  			}
  		}
  	}
  	.img-box {
  		position: relative;
  		height: 210px;
  		line-height: 210px;
  		span {
  			position: absolute;
  			display: block;
  			left: 0px;
  			right: 0px;
  			top: 0px;
  			bottom: 0px;
  			margin: auto;
  			background: url(../images/active-bg.png);
  		}
  		.three-img {
  			width: 405px;
  			height: 191px;
  			transition: all ease .4s;
  		}
  		.one-img {
  			width: 355px;
  			height: 191px;
  			 .opacity(0); 
  			 background-position: 0px -191px;
			   -webkit-transform: translate(-30px, 0px);
			  -moz-transform: translate(-30px, 0px);
			  -ms-transform: translate(-30px, 0px);
			  transform: translate(-30px, 0px);
			  transition-delay: .4s;
			  -webkit-transition-delay: .4s;
  			transition: all ease .4s;
  		}
  		&.one-box {
  			.three-img {
				  -webkit-transform: translate(-30px, 0px);
				  -moz-transform: translate(-30px, 0px);
				  -ms-transform: translate(-30px, 0px);
				  transform: translate(-30px, 0px);
				  .opacity(0);
  			}
  			.one-img {
  				 .opacity(1);
  				 -webkit-transform: translate(0px, 0px);
				  -moz-transform: translate(0px, 0px);
				  -ms-transform: translate(0px, 0px);
				  transform: translate(0px, 0px);
  			}
  			.dissolve {
  				position: absolute;
  				left: -109px;
  				width: 163px;
  				height: 193px;
  				.opacity(0);
  				background: url(../images/dissolve.png);
  				animation:dissolve 0.8s; 
					animation-fill-mode: forwards;
  			}
  		}
  	}
  	dl {
  		dt {
  			font-size: 16px;
  			font-weight: 500;
  			text-transform: uppercase;
  			strong {
	  			font-size: 36px;
	  			color: #ff5501;
	  		}
  		}
  		dd {
  			font-size: 12px;
  			.button {
  				margin-bottom: 10px;
  			}
  		}
  	}
	}
	.one-pc-box {
		position: relative;
		z-index: 2;
		float: left;
		width: 320px;
		height: 360px;
		margin-top: 119px;
		background: #fbeac0;
		text-align: center;
		color: #a7684e;
		font-size: 18px;
		.img-box {
			position: relative;
			height: 235px;
			line-height: 235px;
			span {
				position: absolute;
				content: "";
				display: block;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				background: url(../images/right-box.png);
				&.one-img {
					width: 308px;
					height: 171px;
					margin-left: -25px;
					transition: all ease .4s;
				}
				&.three-img {
					width: 262px;
					height: 176px;
					background-position: 0px -176px;
					.opacity(0);
					-webkit-transform: translate(-30px, 0px);
				  -moz-transform: translate(-30px, 0px);
				  -ms-transform: translate(-30px, 0px);
				  transform: translate(-30px, 0px);
				  transition-delay: .4s;
				  -webkit-transition-delay: .4s;
	  			transition: all ease .4s;
				}
			}
		}
		dl {
			dt {
				margin-bottom: 5px;
			}
		}
		&:after,&:before  {
			position: absolute;
			content: "";
			z-index: 4;
			transition-delay: .4s;
			-webkit-transition-delay: 1s;
	  	transition: all ease 1s;
		}
		&:before{
			width: 100%;
			height: 100%;
			left: 0px;
			top: 0;
			.opacity(0);
			background: rgba(248,231,207,.6);
		}
		&:after  {
			width: 174px;
			height: 62px;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			margin: auto;
			transform:scale(0,0);
			-webkit-transform:scale(0,0);
			background: url(../images/exceed.png) no-repeat;
		}
		.button {
			position: relative;
    	z-index: 99;
    	text-shadow: none;
    	box-shadow: none;
		}
		&.default {
			background: #f8f3f2;
			&:before {
				.opacity(1);
			}
			&:after {
				transform:scale(1,1);
				-webkit-transform:scale(1,1);
			}
			.img-box {
				.one-img {
			  -webkit-transform: translate(-30px, 0px);
			  -moz-transform: translate(-30px, 0px);
			  -ms-transform: translate(-30px, 0px);
			  transform: translate(-30px, 0px);
			  .opacity(0);
  			}
  			.three-img {
  				 .opacity(1);
  				 -webkit-transform: translate(0px, 0px);
				  -moz-transform: translate(0px, 0px);
				  -ms-transform: translate(0px, 0px);
				  transform: translate(0px, 0px);
  			}
			}
			dl {
				dt {
					color: #4f483f;
					font-size: 16px;
					strong {
						font-size: 30px;
					}
				}
				dd {
					.button {
						z-index: 1;
						background:#625b55;
						color: #bfb8bb;
					}
				}
			}
		}
	}

}

.banner >span {
  position: absolute;
  display: block;
  top: -40px;
}
.banner >span.snow {
  width: 51px;
  height: 51px;
  background: url(../images/snow.png);
}
.banner >span.round.round-large { width: 15px; height: 15px; opacity: 0.6}
.banner >span.round { width: 12px; height: 12px; border-radius: 50%; background: #fff;}
.banner >span.round.round-clarity { width: 10px; height: 10px;  opacity: 0.8}
.banner >span.round.round-smail { width: 8px; height: 8px; opacity: 0.5}

.banner >span.snow.snow-clarity { width: 47px; height: 47px; background-position: 0 -51px;}
.banner >span.snow.snow-smail { width: 21px; height: 21px; background-position: 0 -98px;}

.banner >span.list01 { left: 3%; -webkit-animation: 11s fall 1s ease-in-out infinite;}
.banner >span.list02 { left: 6%; -webkit-animation: 12s drop 2s ease-in-out infinite;}
.banner >span.list03 { left: 9%; -webkit-animation: 13s dropt 3s ease-in-out infinite;}
.banner >span.list04 { left: 11%;-webkit-animation: 14s down 3.5s ease-in-out infinite; }
.banner >span.list05 { left: 14%; -webkit-animation: 11s drop 2s ease-in-out infinite;}
.banner >span.list06 { left: 17%; -webkit-animation: 12s fall 1s ease-in-out infinite;}
.banner >span.list07{ left: 20%;  -webkit-animation: 13s dropt 3s ease-in-out infinite;}
.banner >span.list15 { left: 25%;-webkit-animation: 14s down 3.5s ease-in-out infinite; }
.banner >span.list16 { left: 30%; -webkit-animation: 11s drop 2s ease-in-out infinite;}
.banner >span.list17 { left: 33%; -webkit-animation: 12s fall 1s ease-in-out infinite;}
.banner >span.list18{ left: 35%;  -webkit-animation: 13s dropt 3s ease-in-out infinite;}
.banner >span.list23 { left: 7%; -webkit-animation: 14s fall 1s ease-in-out infinite;}
.banner >span.list24{ left: 9%;  -webkit-animation: 11s down 3s ease-in-out infinite;}




.banner >span.list08 { right: 3%; -webkit-animation: 14s down 2s ease-in-out infinite;}
.banner >span.list09 { right: 6%; -webkit-animation: 11s drop 2s ease-in-out infinite;}
.banner >span.list10 { right: 9%; -webkit-animation: 12s dropt 3s ease-in-out infinite;}
.banner >span.list11 { right: 11%; -webkit-animation: 13s fall 1s ease-in-out infinite;}
.banner >span.list12 { right: 13%; -webkit-animation: 12s drop 2s ease-in-out infinite;}
.banner >span.list13 { right: 15%; -webkit-animation: 14s down 3s ease-in-out infinite;}
.banner >span.list14{ right: 17%; -webkit-animation: 12s fall 1s ease-in-out infinite;}
.banner >span.list19 { right: 20%; -webkit-animation: 12s fall 1s ease-in-out infinite;}
.banner >span.list20 { right: 25%; -webkit-animation: 12s drop 2s ease-in-out infinite;}
.banner >span.list21 { right: 30%; -webkit-animation: 13s down 3s ease-in-out infinite;}
.banner >span.list22{ right: 33%; -webkit-animation: 12s fall 1s ease-in-out infinite;}
.banner >span.list25 { right: 7%; -webkit-animation: 11s down 1s ease-in-out infinite;}
.banner >span.list26{ right: 9%;  -webkit-animation: 14s dropt 3s ease-in-out infinite;}





@-webkit-keyframes fall{
  0%{top: -50px;     }
  75% { top: 800px;}
  100%{top: 800px; }
}
@-webkit-keyframes drop{
  0%{top: -50px;     }
  80% { top: 800px;}
  100%{top: 800px; }
}
@-webkit-keyframes dropt{
  0%{top: -50px;     }
  85% { top: 800px;}
  100%{top: 800px; }
}
@-webkit-keyframes down{
  0%{top: -50px;     }
  90% { top: 800px;}
  100%{top: 800px; }
}


.button{
	display: block;
	width: 256px;
	height: 57px;
	line-height: 57px;
	margin: 0px auto;
	color: #fbda75;
	border-radius: 3px;
	font-size: 16px;
	text-transform: uppercase;
	background: rgb(235,74,18);
  background-image: -moz-linear-gradient( -90deg, rgb(255,145,2) 0%, rgb(235,74,18) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(255,145,2) 0%, rgb(235,74,18) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(255,145,2) 0%, rgb(235,74,18) 100%);
  box-shadow: 0px 12px 18px 2px rgba(137, 35, 0, 0.4);
  text-shadow: 0px 2px 4px rgba(172, 5, 5, 0.4);
	&:hover {
		background: rgb(255,145,2);
	  background-image: -moz-linear-gradient( -90deg, rgb(235,74,18) 0%, rgb(255,145,2) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(235,74,18) 0%, rgb(255,145,2) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(235,74,18) 0%, rgb(255,145,2) 100%);
	}
  span {
  	display: inline-block;
  	vertical-align: middle;
  	width: 25px;
  	height: 20px;
  	margin-right: 10px;
  	background: url(../images/all_icons.png);
  	background-position: 0px -79px;
  }
	&.button-top-lag{
		position: relative;
		width: 289px;
		height: 60px;
		line-height: 60px;
		font-weight: 500;
	}
	&.btn-mid-lag{
		width: 299px;
		height: 60px;
		background-color: #c00618;
		font-size: 16px;
		line-height: 60px;
		text-align: center;
    box-shadow: 0px 14px 13.92px 2.08px rgba(137, 0, 0, 0.22);
	}
	&.button-btm-lag{
		position: relative;
		width: 289px;
		height: 60px;
		line-height: 60px;
		font-weight: 500;
		&:after {
			position: absolute;
			content: "";
			width: 304px;
			height: 26px;
			left: -7px;
			top: -6px;
			background: url(../images/btn-snow.png);
		}
	}
}
.payments{
	display: block;
	height: 98px;
	box-sizing: border-box;
	border-bottom: 1px #ede3e2 solid;
}

.benfits{
	display: block;
	position: relative;
	height: 870px;
	background: url(../images/benfits-bg.jpg) no-repeat center bottom;
	h2{
		display: inline-block;
		width: 100%;
		margin-top: 50px;
		font-size: 36px;
		text-align: center;
		font-weight: 500;
	}
	.showcase{
		position: absolute;
		top: 263px;
		left: 0px;
		display: block;
		width: 555px;
		height: 408px;
		.inner{
			display: inline-block;
			width: 555px;
			height: 378px;
			margin-top: 7px;
			overflow: hidden;			
			ul{
				width: 555px * 5;
				transition: all 0.4s ease-out;
				li{
					position: relative;
					float: left;
					width: 555px;
					height: 378px;										
				}
			}
		}
		.zoom{
			position: absolute;
			top: 0;
			li{
				// display: none;
				.container{
					position: absolute;
					transition: all 0.4s ease-out;
					width: 0;
					height: 0;
					top: 0px;
					left: 0px;
					transform:scale(0,0);
					img{
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						margin: auto;
					}
				}
				&.active {
					.container{
						width: 521px;
						height: 327px;
						left: 17px;
						top: 35px;
						transform:scale(1,1);
						background: rgba(4,11,34,.85);
						border: solid #3f4971 1px;
  					box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.4);


					}
				}
			}
		}
		.list-icon {
			margin-top: 15px;
			text-align: center;
			li {
				display: inline-block;
				width: 8px;
				height: 8px;
				margin-left: 10px;
				border-radius: 50%;
				background: #d9d9d9;
				cursor: pointer;
				&.active {
					background: #df2f33;
				}
			}
		}
	}
	.detail-list{
		float: right;
		width: 525px;
		margin-top: 56px;
		dl{
			display: block;
			margin: 10px 0;
			width: 525px;
			height: 113px;
			background: #fff;
			clear: both;
			cursor: pointer;
			&:hover,&.active{
				background: url(../images/btnfits-list-bg.png) left center no-repeat;
				dt{
					i{
						&.benfits01{
							background-position: -77px 0;
						}
						&.benfits02{
							background-position: -77px -77px;
						}
						&.benfits03{
							background-position: -77px -154px;
						}
						&.benfits04{
							background-position: -77px -231px;
						}
					}
				}
			}
			dt{
				float: left;
				width: 112px;
				i{
					display: inline-block;
					margin-top: 18px;
					margin-left: 26px;
					width: 77px;
					height: 77px;
					background-repeat: no-repeat;
					background-image: url(../images/benfits-icon.png);
					&.benfits01{
						background-position: 0 0;
					}
					&.benfits02{
						background-position: 0 -77px;
					}
					&.benfits03{
						background-position: 0 -154px;
					}
					&.benfits04{
						background-position: 0 -231px;
					}
				}
			}
			dd{
				display: inline-block;
				float: right;
				width: 400px;
				box-sizing: border-box;
				margin-top: 14px;
				h3{
					font-size: 16px;
				}
				p{
					width: 410px;
					font-size: 12px;
					line-height: 22px;
					color: #797979;
				}
			}
		}
		.textlink{
			display: inline-block;
			margin-left: 125px;
			color: #0075e9;
			font-size: 12px;
			text-decoration: underline;
		}
	}
}

.gifts{
	position: relative;
	height: 586px;
	background: url(../images/gift-bg.jpg) no-repeat center;
	min-width: 1000px;
	h2{
		height: 106px;
		margin-top: -10px;
		text-indent: -9999px;
		background: url(../images/h2-title.png) no-repeat center;
	}
	.gift-list{
		dl {
			float: left;
			width: 33.3%;
			margin-top: 23px;
			text-align: center;
			dt {
				span {
					display: block;
					height: 181px;
					background: url(../images/iu-box.png) no-repeat center top;
				}
				strong {
					font-size: 16px;
				}
			}
			dd {
				color: #797979;
				b {
					color: #e21d0e;
					span {
						font-size: 24px;
					}
				}
				p {
					margin-top: 10px;
					font-size: 12px;
				}
			}
			&.pf {
				dt {
					span {
						background: url(../images/pf-box.png) no-repeat center top;
					}
				}
			}
			&.sd {
				dt {
					span {
						background: url(../images/sd-box.png) no-repeat center top;
					}
				}
			}
			&.exceed {
				position: relative;
				dt {
					strong {
						color: #b2a593;
					}
				}
				dd {
					color: #b2a593;
					b {
						color: #b2a593;
					}
				}
				&.sd,&.pf {
					dt {
						span {
							background-position: center -181px ;
						}
					}
				}
				&:after {
					position: absolute;
					content: "";
					width: 174px;
					height: 62px;
					left: 107px;
					top: 102px;
					background: url(../images/exceed.png) no-repeat;
				}
			}
		}
	}
	.button{
		margin: 0 auto;
		margin-top: 38px;
	}
}
/* reviews*/
.reviews{
	min-height: 800px;
	box-sizing: border-box;
	background: #f4f4f4 url(../images/worldmap.jpg) no-repeat center bottom;
	padding-top: 54px;
	h2{
		display: inline-block;
		width: 100%;
		text-align: center;
		font-size: 32px;
		margin-bottom: 10px;
		+ p{
			display: inline-block;
			width: 100%;
			margin-bottom: 20px;
			text-align: center;
			color: #8a8a8a;
			font-size: 16px;
		}
	}
	.message {
		width: 1140px;
		padding: 20px 0px;
		margin-left: -20px;
		margin-bottom: 50px;
		background: #ececec;
		text-align: center;
		li {
			float: left;
			width: 25%;
			strong {
				display: block;
				position: relative;
				padding-bottom: 10px;
				margin-bottom: 10px;
				font-size: 24px;
				font-weight: 500;
				&:after {
					position: absolute;
					content: "";
					display: block;
					width: 25px;
					height: 2px;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					background: #ee0000;
				}
			}
			p {
				font-size: 12px;
				line-height: 20px;
				font-weight: 500;
				color: #8a8a8a;
				b {
					color: #000;
				}
			}
		}
	}
	.map{
		position: relative;
		display: block;
		height: 500px;
		dl {
			position: absolute;
			font-size: 12px;
			font-weight: 400;
			line-height: 16px;
			dt {
				position: relative;
				z-index: 2;
				float: left;
				margin-right: 10px;
				margin-top: 5px;
				.opacity(0);
				-webkit-transform: translate(-30px, 0px);
			  -moz-transform: translate(-30px, 0px);
			  -ms-transform: translate(-30px, 0px);
			  transform: translate(-30px, 0px);
				transition: all ease-in-out .5s;
				transition-delay:1s;
				-webkit-transition-delay:1s;
			}
			dd {
				position: relative;
				float: left;
				margin-left: -60px;
				padding: 5px;
				padding-left: 60px;
				transition-delay:1s;
					-webkit-transition-delay:1s;
				strong {
					display: block;
					margin-bottom: 5px;
				}
				strong,p {
					position: relative;
					z-index: 5;
					.opacity(0);
					-webkit-transform: translate(-30px, 0px);
				  -moz-transform: translate(-30px, 0px);
				  -ms-transform: translate(-30px, 0px);
				  transform: translate(-30px, 0px);
					transition: all ease-in-out .5s;
					transition-delay:1s;
					-webkit-transition-delay:1s;
				}
				span {
					position: absolute;
					width: 29px;
					height: 64px;
					left: 10px;
					background: url(../images/arrow.png);
					.opacity(0);
					-webkit-transform: translate(0px, -30px);
				  -moz-transform: translate(0px, -30px);
				  -ms-transform: translate(0px, -30px);
				  transform: translate(0px, -30px);
					transition: all ease-in-out .5s;
					&:after {
						position: absolute;
						content: "";
						height: 0px;
						width: 1px;
						left: 20px;
						bottom: 64px;
						background: #fd6262;
						transition: height ease-in-out .5s;
						transition-delay:.5s;
					 -webkit-transition-delay:.5s;
					}
				}
			}
			&.on {
				dd {
					background: rgba(246,246,246,.7);
					span {
						.opacity(1);
						-webkit-transform: translate(0px, 0px);
					  -moz-transform: translate(0px, 0px);
					  -ms-transform: translate(0px, 0px);
					  transform: translate(0px, 0px);
					}
				}
				strong,p,dt{
					.opacity(1);
					-webkit-transform: translate(0px, 0px);
				  -moz-transform: translate(0px, 0px);
				  -ms-transform: translate(0px, 0px);
				  transform: translate(0px, 0px);
				}
				&.tradotto-da-tedesco {
					span {
						&:after {
							height: 220px;
							bottom: 64px;
						}
					}
				}
				&.html-it {
					dd {
						span {
							&:after {
								height: 125px;
							}
						}
					}
				}
				&.baixaki {
					dd {
						span {
							&:after {
								height: 65px;
							}
						}
					}
				}
				&.charles-r-widick {
					dd {
						span {
							&:after {
								height: 216px;
							}
						}
					}
				}
				&.cnet  {
					dd {
						span {
							&:after {
								height: 173px;
							}
						}
					}
				}
			}
			&.tradotto-da-tedesco {
				bottom: 394px;
				right: 94px;
				span {
					bottom: -221px;
				}
			}
			&.html-it {
				bottom: 250px;
				left: 538px;
				dd {
					margin-top: 10px;
					span {
						bottom: -102px;
					}
				}
			}
			&.baixaki {
				bottom: 70px;
				left: 222px;
				dd {
					span {
						bottom: -76px;
					}
				}
			}
			&.charles-r-widick {
				left: 73px;
				bottom: 425px;
				dd {
					span {
						bottom: -264px;
					}
				}
			}
			&.cnet  {
				bottom: 319px;
				left: 179px;
				dd {
					span {
						bottom: -189px;
					}
				}
			}
		}
		.recover {
			position: absolute;
			border-radius: 50%;
			background: #ee0000;
			border: solid #ead3d4 2px;
			&.big {
				width: 8px;
				height: 8px;
			}
			&.middle {
				width: 6px;
				height: 6px;
			}
			&.smail {
				width: 4px;
				height: 4px;
			}
			&.recover01 {
				left: 47px;
				bottom: 148px;
				-webkit-animation: 3s recover 1s ease-in-out infinite;
			}
			&.recover02 {
				left: 87px;
				bottom: 171px;
				-webkit-animation: 4s light 1.5s ease-in-out infinite;
			}
			&.recover03 {
				left: 101px;
				bottom: 146px;
				-webkit-animation: 5s light 1.5s ease-in-out infinite;
			}
			&.recover04 {
				left: 100px;
				bottom: 178px;
				-webkit-animation: 6s recover 1s ease-in-out infinite;
			}
			&.recover05 {
				left: 156px;
				bottom: 190px;
				-webkit-animation: 4.5s recover 1s ease-in-out infinite;
			}
			&.recover06 {
				left: 222px;
				bottom: 210px;
				-webkit-animation: 5s light 1.5s ease-in-out infinite;
			}
			&.recover07 {
				right: 186px;
				bottom: 212px;
				-webkit-animation: 5.5s recover 1s ease-in-out infinite;
			}
			&.recover08 {
				left: 248px;
				bottom: 191px;
				-webkit-animation: 6s light 1.5s ease-in-out infinite;
			}
			&.recover09 {
				left: 468px;
				bottom: 171px;
				-webkit-animation: 3.5s light 1.5s ease-in-out infinite;
			}
			&.recover10 {
				left: 511px;
				bottom: 192px;
				-webkit-animation: 4s recover 1s ease-in-out infinite;
			}
			&.recover11 {
				left: 490px;
				bottom: 229px;
				-webkit-animation: 4.5s recover 1.5s ease-in-out infinite;
			}
			&.recover12 {
				left: 529px;
				bottom: 205px;
				-webkit-animation: 5.5s light 1s ease-in-out infinite;
			}
			&.recover13 {
				left: 578px;
				bottom: 202px;
				-webkit-animation: 4.5s light 1.5s ease-in-out infinite;
			}
			&.recover14 {
				left: 589px;
				bottom: 164px;
				-webkit-animation: 4s recover 1.5s ease-in-out infinite;
			}
			&.recover15 {
				right: 489px;
				bottom: 178px;
				-webkit-animation: 3.5s light 0.5s ease-in-out infinite;
			}
			&.recover16 {
				right: 499px;
				bottom: 209px;
				-webkit-animation: 3s recover 0.5s ease-in-out infinite;
			}
			&.recover17 {
				right: 202px;
				bottom: 252px;
				-webkit-animation: 4s light 1.5s ease-in-out infinite;
			}
			&.recover18 {
				right: 93px;
				bottom: 178px;
				-webkit-animation: 5s recover 0.5s ease-in-out infinite;
			}
			&.recover19 {
				right: 160px;
				bottom: 93px;
				-webkit-animation: 6s light 1.5s ease-in-out infinite;
			}
			&.recover20 {
				right: 202px;
				bottom: 151px;
				-webkit-animation: 5.5s recover 1s ease-in-out infinite;
			}
			&.recover21 {
				right: 391px;
				top: 286px;
				-webkit-animation: 4.5s light 1.5s ease-in-out infinite;
			}
			&.recover22 {
				left: 205px;
				bottom: 263px;
			}
			&.recover23 {
				right: 447px;
				bottom: 15px;
			}
			&.recover24 {
				right: 175px;
				bottom: 207px;
			}
			&.recover25 {
				left: 198px;
				bottom: 59px;
			}
			&.recover26 {
				right: 176px;
				bottom: 209px;
			}
		}
	}
}

.compare{
	margin-top: 70px;
	table { 
		border:0; 
		border-collapse:separate; 
		border-spacing:0;
		thead{
			th { 
				height: 80px; 
				font-size: 16px; 
				vertical-align: bottom;
				border-bottom: 1px solid #dcdcdc;
				&.itema { 
					.box {
						height: 85px;
						padding-top: 15px;
						border-top-right-radius: 5px;
						border-top-left-radius: 5px;
						background: #df2f33;
						color: #fff;
						span {
							display: block;
							width: 27px;
							height: 27px;
							margin: 5px auto;
							background: url(../images/all_icons.png);
							background-position: -43px -104px;
						}
					}
				}
				&.itemb { 
					.box {
						width: 100%;
						height: 65px;
						padding-top: 15px;
						font-size: 12px;
						border-top-right-radius: 5px;
						border-top-left-radius: 5px;
						background: #f4f4f4;
						span {
							display: block;
							width: 20px;
							height: 19px;
							margin: 5px auto;
							background: url(../images/all_icons.png);
							background-position: 0px -106px;
						}
					}
				}
			}
			.text { 
				text-align: center;  
				font-size: 28px; 
				line-height: 120px;
				font-weight: 500;
				color: #b7b6b6;
				
			}
			span { 
				display: block; 
				margin-top: 5px;
				color: #fff;
			}
			strong { 
				color: #fff;
			}
		}
		tr{
			text-align: center; 
			font-size: 14px;			
			> td{
				height: 39px; 
				font-size: 14px; 
				vertical-align: middle; 
				border-bottom: 1px solid #dcdcdc;
				&.virtue { 
					text-align: left; 
					width: 708px;
					text-indent: 30px;
					color: #000;
					font-weight: 500;
					font-size: 14px;
					span {
						margin-left: 8px; 
						width: 79px; 
						height: 12px; 
						background-position: 0 -20px;
						&.nuo { 
							width: 52px; 
							background-position: 0 -52px; 
						}
						&.ra {
							width: 172px;
							background-position: 0 -37px; 
						}
					}
				}
				&.itema{
					background: #fff;
					border-bottom: solid #dcdcdc 1px;
				}
				&.itemb{
					background: #f4f4f4;
				}
				&.itema,
				&.itemb{
					color: #000; text-align: center; width: 182px;
				}
				&.radius {
					position: relative;
					border-bottom: none;
					border-bottom-right-radius: 5px;
					border-bottom-left-radius: 5px;
					.shadow {
						position: absolute;
						display: block;
						width: 187px;
						height: 540px;
						border-radius: 5px;
						right: 0px;
						bottom: 0px;
  					box-shadow: 0px 0px 53.01px 3.99px rgba(0, 0, 0, 0.2);
					}
				}
				i {
					width: 15px; 
					height: 15px; 
					background-position: -16px -2px;
					&.close {
						width: 10px;
						height: 10px;
						background-position: -38px -5px;
					}
					&.red { 
						background-position: -56px -2px; 
					}
				}
			}
		}
	}
}

.bottomcart{
	display: block;
	height: 252px;
	background: url(../images/bottom-banner.jpg) no-repeat center top;
	margin-top: 105px;
	h2 {
		position: absolute;
		width: 100%;
		height: 53px;
		top: -26px;
		text-indent: -9999px;
		background: url(../images/bottom-title.png) no-repeat center;
	}
	.showcase{
		float: left;
		width: 278px;
		height: 191px;
		margin-left: -43px;
		margin-top: 37px;
		.img {
			display: block;
			width: 278px;
			height: 191px;
			background: url(../images/bottom-box.png);
			transition: all 0.4s ease-out;
			&.one-pc {
				background-position: -278px -0px;
			}
		}
	}
	.selection{
		float: left;
		display: block;
		width: 521px;
		margin-top: 54px;
		background: url(../images/bottom-content.png) no-repeat center top;
		ul{
			margin-top: 45px;
			li{
				cursor: pointer;
				height: 45px;
				line-height: 45px;
				padding-left: 30px;
				i,strong {
					display: inline-block;
					vertical-align: middle;
					background: url(../images/selection.png);
				}
				i {
					.opacity(0);
					width: 29px;
					height: 28px;
					margin-left: 25px;
					background-position: 0px -102px;
				}
				span {
					display: inline-block;
					width: 220px;
					margin-left: 25px;
					
					color: #fac6c6;
				}
				strong {
					width: 90px;
					height: 40px;
					margin-top: 3px;
					text-indent: -9999px;
				}
				&.active {
					background: url(../images/selection.png);
					background-position: 0px -45px;
					i {
						.opacity(1);
					}
					span {
						font-size: 18px;
						color: #fff;
					}
					&.three-pc {
						strong {
							background-position: -31px -90px;
						}
					}
					&.one-pc  {
						strong {
							background-position: -121px -90px;
						}
					}
				}
				&.default {
					position: relative;
					cursor: default;
					&:after {
						position: absolute;
						content: "";
						width: 100%;
						height: 45px;
						left: 0px;
						background: url(../images/selection.png) no-repeat center;
					  background-position: 0px 0px;
					}
					i {
						.opacity(1);
						width: 59px;
						height: 19px;
						margin-left: 9px;
						background-position: -413px -102px;
					}
					span {
						margin-left: 14px;
					}
				}
				&.three-pc  {
					strong {
						background-position: -211px -90px;
					}
				}
				&.one-pc  {
					strong {
						background-position: -301px -90px;
					}
				}
			}
		}
	}
	.btnarea{
		float: right;
		width: 290px;
		margin-right: 30px;
		margin-top: 60px;
		text-align: center;
		dt{
			font-size: 12px;
			color: #f2b4b4;
			del{
				font-size: 16px;
				color: #fff;
			}
			strong{
				color: #ffe508;
				font-size: 16px;
				b {
					font-size: 34px;
				}
			}
		}
	}

}

/* payment */
.service { 
	display: block;
	padding-top: 20px;
	height: 190px;
	margin-top: 70px;
	dl { 
		float: left; 
		width: 245px; 
		text-align: center;
		margin-right: 40px;
		&.last{
			margin-right: 0;
		}
		dt {
			height: 72px; 
			line-height: 72px; 
			margin-bottom: 10px;
			img { 
				display: inline-block; 
				vertical-align: middle;
			}
		}
		dd{
			font-size: 12px; 
			color: #959595;
			strong {
				display: block; 
				margin-bottom: 10px; 
				font-size: 16px;
				font-weight: 500;
				color: #000;
			}
		}
	}
}
/* footer */



.footer {  
	.annotation { 
		display: block;
		padding-top: 20px;
		font-size: 12px;
		border-top: solid #c8c8c8 1px;
	}
	.copyright { text-align: center; padding: 15px 0px;}
}


.float {  
	position: fixed; 
	display: block;
	z-index: 10;  
	top: -100px;  
	right: 20px; 
	height: 95px;  
	width: 233px; 
	visibility: hidden;
	transition: all 0.4s ease-out;
	background: url(../images/float-bg.png) center no-repeat;
	&.on {  
		top: 12%;  
		visibility: visible; 
	}
	dl{
		display: inline-block;
		float: left;
		margin-top: 8px;
		margin-left: 32px;
		dt{
			font-weight: 500;
			font-size: 14px;
		}
		dd {
			line-height: 25px;
			font-size: 12px;
			&.last {
				margin-top: 5px;
				padding-top: 5px;
				border-top: solid #ddd 1px;
				color: #959595;
			}
		}
	}
	.close{
		display: block;
		float: right;
		width: 9px;
		height: 9px;
		margin-top: 5px;
		margin-right: 6px;
		text-indent: -9999px;
		background: url(../images/close.png);
	}
}
@-webkit-keyframes recover{
  0%{-webkit-transform: scale(1);} 
  10%{-webkit-transform: scale(0.5);} 
  20%{-webkit-transform: scale(1.8);}
  30%{-webkit-transform: scale(0.8);} 
  40%{-webkit-transform: scale(1);}
  50%{-webkit-transform: scale(0.5);}
  60%{-webkit-transform: scale(1.5);}
  70%{-webkit-transform: scale(1);}
  80%{-webkit-transform: scale(0.5);}
  90%{-webkit-transform: scale(0.2);}
  100%{-webkit-transform: scale(1);}
}
@-webkit-keyframes light{
  0%{-webkit-transform: scale(1);} 
  20%{-webkit-transform: scale(0.5);} 
  40%{-webkit-transform: scale(1.8);}
  60%{-webkit-transform: scale(1.2);} 
  80%{-webkit-transform: scale(0.5);}
  100%{-webkit-transform: scale(1);}
}
@keyframes zoomout
{
  0%{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }

  100% {
       -webkit-transform: scale(4);
    -ms-transform: scale(4);
    transform: scale(4);
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@keyframes dissolve
{
  0%{
   top: 0;
    opacity: 1;
    filter: alpha(opacity=100);
  }

  100% {
    top: -100px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}