Dear customer,<br><br>

Thank you for your order. Here we prepared you a super gift pack, which contains three PC utilities: Smart Defrag, IObit Uninstaller, and Protected Folder.<br><br>

Please check the details here:<br>
1. Smart Defrag 6 PRO:<br>
Download link: <a href="http://update.iobit.com/dl/smart-defrag-setup.exe">http://update.iobit.com/dl/smart-defrag-setup.exe</a><br>
License code: 31105-2E7BE-D8F40-2DDD1<br><br>

2. IObit Uninstaller 8 PRO:<br>
Download link: <a href="http://update.iobit.com/dl/iobituninstaller.exe">http://update.iobit.com/dl/iobituninstaller.exe</a><br>
License code: 06216-2C532-7F5E7-D0CE1<br><br>

3. Protected Folder:<br>
Download link: <a href="http://update.iobit.com/dl/PF-Setup.exe">http://update.iobit.com/dl/PF-Setup.exe</a><br>
License code: BDBCB-10A58-DA4F8-3D1B1<br><br>

If you have any further question, please feel free to contact <a href="mailto:tickets@iobit.com">tickets@iobit.com</a>.<br><br>

Best Regards,<br>
IObit<br>