* {	margin:0;padding:0;}
img {border:0;}
body {font-size: 14px; font-family: 'Open Sans', sans-serif; font-weight: 600; color: #000;}
li {list-style:none;}
a{color: #006699;text-decoration: none;}
a:hover{text-decoration: none;}
.clearfix:after,.wrapper:after {clear:both;display:block;height:0;font-size:0;content:".";visibility:hidden;}
.clearfix{zoom:1;}
.left{ float: left;}
.right{ float: right;}
.hidden{display: none;}
.wrapper{ width: 1100px; margin:0 auto;zoom:1;}

.buybtn{
  display: block;
  margin: 0 auto;
  width: 244px;
  height: 52px;
  line-height: 48px;
  border-radius: 40px;
  border: 3px solid #ff6d5b;
  color: #fff8dc;
	background: #fc5332; font-size: 22px;
  background-image: -moz-linear-gradient( 90deg, rgb(234,41,43) 0%, rgb(255,83,59) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(234,41,43) 0%, rgb(255,83,59) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(234,41,43) 0%, rgb(248,41,19) 100%);
  box-shadow: 0 5px 10px .5px rgba(246, 55, 43, .4), inset 0.105px -5.999px 4.62px 1.38px rgba(223, 0, 0, 0.4),inset 0 9px 9.7px 0.3px rgba(255, 76, 76, 0.4);
  text-shadow: 0 1px 3px rgba(127, 7, 6, 1);
  transition: background 0.5s;
 }
.buybtn:hover {
  width: 250px;
  height: 58px;
  line-height: 54px;
}
.buybtn:hover,
.buybtn.small:hover {
  border: 0;
	background: #f50816;
  box-shadow: 0 10px 10px .5px rgba(246, 55, 43, .4);
  background-image: -moz-linear-gradient( 180deg, rgb(216,11,0) 0%, rgb(252,60,49) 100%);
  background-image: -webkit-linear-gradient( 180deg, rgb(216,11,0) 0%, rgb(252,60,49) 100%);
  background-image: -ms-linear-gradient( 180deg, rgb(216,11,0) 0%, rgb(252,60,49) 100%);
}
.buybtn.small {
  width: 230px;
  border: 0;
  background: #e5a24b;
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-image: -moz-linear-gradient( 180deg, #e5a24b 0%, #e5a24b 100%);
  background-image: -webkit-linear-gradient( 180deg, #e5a24b 0%, #e5a24b 100%);
  background-image: -ms-linear-gradient( 180deg, #e5a24b 0%, #e5a24b 100%);
}

.banner{ position: relative; min-width: 1000px; height: 769px; background: url("../images/bg.jpg") center top no-repeat;}
.banner>.wrapper{ position: relative;}
.banner .logo{ display: block; padding-top: 18px; width: 53px;}
.banner h1 { margin-top: 18px; height: 167px; background: url(../images/title.png) no-repeat center; text-indent: -9999px;}
.banner h2 { margin-top: -88px; text-align: center; font-size: 15.3px; color:#fff; line-height: 24px;}
.banner h2:before,
.banner h2:after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 26px;
  margin: 0 12px;
  background: url("../images/shotline.png") center center no-repeat;
}
.banner h2 span { display: inline-block; vertical-align: top;}
.banner h2 span.hurry { font-size: 20px;font-weight: 700;}
.banner h2 strong { font-size: 18px;display: inline-block;width: 26px;}
.banner h2 strong.first,
.banner h2 b { font-size: 20px;}
.banner h2 strong.first { width: 30px;}
.banner h2 strong.last { font-size: 15.3px;}


.banner .container{ width: 770px; margin: 20px auto 0; text-align: center;}

.banner .container dl.left{ margin-left: 12px; width: 315px; height: 496px; margin-top: 40px; background-color: #fbeac0; border: solid #ebe5d5 1px;}

.banner .container dl.right{ margin-right: 10px; position: relative; width: 396px; height: 546px; background: rgb(255,204,68);
  background-image: -moz-linear-gradient( 56deg, rgb(255,204,68) 0%, rgb(254,255,166) 100%);
  background-image: -webkit-linear-gradient( 56deg, rgb(255,204,68) 0%, rgb(254,255,166) 100%);
  background-image: -ms-linear-gradient( 56deg, rgb(255,204,68) 0%, rgb(254,255,166) 100%);
  box-shadow: 0 10px 9.7px 0.3px rgba(61, 47, 31, 0.3);
}
.banner .container dl dt{ font-size: 20px; background: url(../images/one-year-bg.png) no-repeat center bottom; color: #3c3c3c; line-height: 32px; padding: 15px 0 7px 0;}
.banner .container dl .first{ padding: 18px 0 10px;}
.banner .container dl dd > del { display: inline-block; margin-left: 5px;}
.banner .container dl dd span{ font-size: 24px; color: #3c3c3c; font-weight: 700;}
.banner .container dl dd span strong{ font-size: 36px;}
.banner .container dl dd.last{ padding-top: 22px;}
.banner .container dl .last p{ font-size: 12px; text-align: left; line-height: 22px; padding-left: 40px;}
.banner .container dl .last p img{ margin-right: 6px;}

.banner .container dl.left dt { color: #662525; }
.banner .container dl.left .first{ padding-top: 25px; padding-bottom: 5px;}
.banner .container dl.left .buybtn{ width: 231px; height: 51px; margin-top: 5px; line-height: 51px; font-size: 18px;}
.banner .container dl.right .last{ padding-top: 17px;}

.banner .container .right dt { font-size: 20px; color: #222; line-height: 30px; background: url(../images/three-year-bg.png) no-repeat center bottom;}
.banner .container .right dd.first img { display: block; margin-left: -30px;}
.banner .container .right dt span { display: block; color: #222; }
.banner .container .right dd span strong{ font-size: 44px;}
.banner .container .right dd del { font-size: 16px; color: #3c3c3c;}
.banner .container .right span,
.banner .container .right del,
.banner .container .right b,
.banner .container .right strong,
.foot-banner dl dt strong{ color: #ea3235;}
.banner .container .right .last {padding-left: 35px;}
.banner .container .right .last strong{font-size: 15px;}
.banner .container .right .buybtn { margin-top: 5px;}
.banner .container .right .last p del{ color: #434343;}
.banner .container .left .last p.no{ color: #626262;}
.banner .container .right .last p strong { font-weight: 700;}
.banner .container .right .last del { font-size: 14px;}

.product{padding: 56px 0 0; }
.product h2{ height: 47px; line-height: 47px; color: #fff;  background: url("../images/bg-h2.png") no-repeat center; margin-bottom: 61px; text-align: center; font-weight: 400;}
.product .wrapper{height: 337px; background: url("../images/bg-product.png?t=121") no-repeat;}
.product .left{ width: 570px;}
.product .left dt img{ margin-top: -15px; float: left; margin-right: 5px; margin-left: 9px;}
.product .right{ width: 460px;}
.product .right dt img{ margin-top: 4px; float: left; margin-right: 20px;}
.product dl dt{ height: 112px; margin-bottom: 19px;}
.product dl dt strong{ float: left; font-weight: 400; padding-top: 40px; font-size: 22px;}
.product dl dd{ font-size: 14px;font-weight: 400;line-height: 30px;letter-spacing: -.3px;}
.product  dl.right dd { line-height: 22px; }
.product dl dd.lineheight22 { line-height: 22px;margin: 3px 0;}
.product dl dd img{ margin-right: 13px;}
.product dl.left dd{ padding-left: 40px;}
.product dl.right { color: #000; margin-right: 10px;}
.product dl.right dt{ margin-bottom: 20px;}
.product dl.right dt strong{ padding-top: 60px;}
.product dl.right dd img { margin-right: 8px;}

/* payments */
.paymanets {
  height: 102px;
  margin-top: 37px;
}
.paymanets dl {
  width: 547px;
  height: 102px;
  padding: 17px 0 0 10px;
  text-align: left;
  color: #c9b5b4;
  background: rgba(227,198,198,.3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.paymanets dl dt {
  font-size: 14px;
  font-weight: 700;
  color: #a18b8a;
}
.paymanets dl dd {
  font-size: 12px;
  line-height: 22px;
}
.paymanets dl dd h3 {
  padding-left: 5px;
  line-height: 18px;
  color: #a18b8a;
}
.paymanets dl dd p {
  margin-top: 6px;
  padding-left: 7px;
  line-height: 18px;
}
.paymanets dl.right {
  padding: 17px 0 0 17px;
}
.paymanets dl.right dd {
  margin-top: 10px;
}

/* awards */
.awards {
  position: relative;
  display: block;
  margin-top: 60px;
  text-align: center;
}
.awards h2 {
  font-size: 30px;
  line-height: 24px;
  color: #484848;
}
.awards img {
  display: block;
  margin: 44px auto 0;
}


.windows{line-height: 36px;font-size: 12px; color: #737373;text-align: center;padding: 60px 0 55px;}
.windows img{vertical-align: middle; margin-right: 10px;}

.foot-banner{height: 270px; display: inline-block; width: 100%; text-align: center; background: url("../images/bottom-bg.jpg") no-repeat center;}
.foot-banner h2 { height: 55px; margin-top: 6px; background: url(../images/h2-title.png) no-repeat center; text-indent: -9999px;  }
.foot-banner h2 strong { color: #ea3235;}
.foot-banner .smail-gift { float: left; margin-left: 100px; margin-top: 12px;}
.foot-banner dl { float: right; width: 505px; height: 150px; padding-top: 5px; margin-right: 65px; text-align: center; }
.foot-banner dl dt { font-size: 16px; color: #fdc1c1; }
.foot-banner dl dt strong { font-size: 44px; color: #fff; }
.foot-banner dl dt b { font-size: 24px;}
.foot-banner dl .buybtn {
  margin-bottom: 10px;
  width: 260px;
  height: 60px;
  font-size: 22px;
  font-weight: 700;
  line-height: 60px;
  background: #ffff00;
  color: #9a0a0a;
  text-shadow: 1px 0 0 rgba(249, 246, 6, .72);
  border: 0;
  border-radius: 29px;
  background-image: -moz-linear-gradient( 90deg, #fe8900 0%, #ffde00 100% );
  background-image: -webkit-linear-gradient( 90deg, #fe8900 0%, #ffde00 100%  );
  background-image: -ms-linear-gradient( 90deg, #fe8900 0%, #ffde00 100%  );
  box-shadow: 0 10px 10px .5px rgba(160, 34, 35, 0.48),inset 0 3px 8px 0 rgba(255, 92, 0, 0.35);
}
.foot-banner dl .buybtn:hover {
  color: #2c0406;
  background: #ffc202;
  background-image: -moz-linear-gradient( -90deg, rgb(255,178,2) 0%, rgb(255,234,0) 50%, rgb(255,164,0) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(255,178,2) 0%, rgb(255,234,0) 50%, rgb(255,164,0) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(255,178,2) 0%, rgb(255,234,0) 50%, rgb(255,164,0) 100%);
}

.foot-banner dl dd { margin-bottom: 16px; line-height: 20px; font-size: 14px; font-weight: 700; color: #ffc2c2;}
.foot-banner dl dd img { display: inline-block; vertical-align: top; margin-right: 5px;}

.annotation{margin-top: 30px;padding-top: 20px;font-size: 12px; font-weight: 400;line-height: 24px;border-top: 1px solid #eeeeee;}
.copyright{text-align: center;padding: 25px 0;}
