@charset "utf-8";

/* CSS Document */
* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 1100px; 
  font-size: 14px;
  line-height: 1.4;
  color: #efeff1;
  font-weight: 500;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  outline: 0;
  vertical-align: baseline;
  background: #20202c;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #efeff1;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li { list-style-type: none; }
img { border: none; }
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}
.clearfix { zoom: 1; }
.fl { float: left; }
.fr { float: right; }
.wrapper {
  position: relative;
  width: 1100px;
  min-width: 1100px;
  margin: 0 auto;
  zoom: 1;
}
.all-icons { 
  display: inline-block;
  text-indent: -9999px;
  vertical-align: middle;
  background: url(../images/all-icons.png) 0 0 no-repeat;
}

/* banner */
.banner {
  height: 842px;
  text-align: center;
  background: url(../images/bg.jpg) top center no-repeat;
}
.banner .wrapper { padding-top: 32px; }
.banner .logo {
  display: block;
  width: 35px;
}
.banner h1 {
  margin: 36px auto 66px;
  height: 45px;
  text-indent: -9999px;
  background: url(../images/title.png) top center no-repeat;
}
.banner .left {
  position: relative;
  margin-left: -102px;
  width: 480px;
}
.discount {
  display: block;
  position: absolute;
  left: 164px;
  bottom: 90px;
  width: 143px;
  height: 180px;
  opacity: 0;
  visibility: hidden;
  text-indent: -9999px;
  background: url(../images/discount.png) no-repeat;
  -webkit-transition: opacity .4s, bottom .4s ease;
          transition: opacity .4s, bottom .4s ease;
}
.floatlayer .discount {
  left: 60px;
  bottom: -26px;
  width: 68px;
  height: 85px;
  background-size: 68px;
}
.discount.on {
  bottom: 34px;
  opacity: 1;
  visibility: visible;
}
.floatlayer .discount.on { bottom: 14px; }
.banner .right {
  width: 540px;
  text-align: left;
}
.banner .right h2 {
  margin: 70px 0 3px;
  font-size: 32px;
  font-weight: 600;
}
.banner .right > p {
  position: relative;
  color: #00d769;
  font-size: 14px;
}
.banner .right > p:before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0px;
  width: 27px;
  height: 5px;
  background-color: #00d769;
}
.payment img {
  margin: 86px 0 0 178px;
  text-align: left;
}

/* price */
.banner .price { margin-top: 54px; }
.price li {
  float: left;
  width: 50%;
}
.feature .price li { width: 48%; }
.price li.first { width: 33%; }
.banner.sold .price li.first { width: 40%; }
.feature .price li.first { width: 22%; }
.feature.sold .price li.first { 
  margin-top: 10px;
  width: 36%; 
}
.price strong {
  position: relative;
  display: inline-block;
  color: #fe8300;
  font-size: 22px;
}
.price strong big { font-size: 58px; }
.price sup {
  display: block;
  position: absolute;
  top: 10px;
  right: 12px;
  color: #515161;
  font-size: 20px;
  font-weight: 600;
}
.price del {
  padding-left: 4px;
  color: #5b5f73;
  font-size: 18px;
}
.feature .price { margin-top: 24px; }
.price p {
  color: #fff;
  font-size: 14px;
}
.floatlayer .price p,
.floatlayer .price sup { color: #848491; }
.price { position: relative; }
.banner.sold .price p.change {
  position: absolute;
  bottom: -58px;
  left: 0px;
}
.banner.sold .price p.change span,
.floatlayer .three p span,
.feature p.change b { color: #ff922b; }
.feature p.change { 
  margin-top: 16px; 
}
.feature .price p { margin-top: -10px; }
.floatlayer .viewNum {
  display: inline-block;
  width: 30px;
  text-align: right;
}
.price p b {
  display: inline-block;
  margin-left: -10px;
  width: 34px;
  color: #ff922b;
  font-size: 16px;
  text-align: right;
}
.feature .price p b,
.floatlayer .price p b {
  margin: 0;
  width: 30px;
  text-align: center;
}
.price .reduceNum {
  margin-bottom: 8px;
  height: 48px;
  overflow: hidden;
}
.floatlayer .price .reduceNum { margin: 22px 106px 10px 72px; }
.price .reduceNum .listbox {
  float: left;
  margin-right: 2px;
  width: 36px;
  height: 46px;
  text-align: center;
  border-radius: 4px;
  background: #30303e;
  border: 1px solid #373748;
  background: rgba(48,48,62,.5);
}
.floatlayer .price .reduceNum .listbox {
  color: #fff;
  background-color: #2b2f41;
}
.floatlayer .price .reduceNum .listbox:nth-child(3),
.floatlayer .price .reduceNum .listbox:last-child { color: #fe8300; }
.price .reduceNum .list { 
  float: left; 
  width: 36px;
  font-size: 24px;
  font-weight: 600;
  line-height: 46px;
}
.price .reduceNum .list b { display: block; }
.banner.sold .price .reduceNum .listbox { color: #7a7a8d; }

/* buybtn */
.buybtn {
  display: block;
  margin: 0 auto;
  width: 259px;
  height: 64px;
  color: #21212b;
  font-size: 18px;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
  border-radius: 2px;
  background-color: #fe7e00;
  box-shadow: 8px 13.856px 16px 0px rgba(0, 0, 0, 0.68);
  background-image: -webkit-linear-gradient(rgb(255,204,0) 0%, rgb(254,126,0) 100%);
  background-image:         linear-gradient(rgb(255,204,0) 0%, rgb(254,126,0) 100%);
  -webkit-transition: all .2s ease;
          transition: all .2s ease;
}
.banner .buybtn { margin-top: 80px; }
.banner.sold .buybtn { 
  margin-top: 80px; 
  margin-left: -20px;
}
.feature .buybtn { margin-top: 24px; }
.floatlayer .buybtn { 
  margin-top: 32px; 
  box-shadow: 8px 13.856px 16px 0px rgba(49, 36, 12, 0.48);
}
.floatlayer.sold .buybtn { margin: 32px 0 6px; }
.buybtn:hover { 
  background-color: #ffb72b; 
  background-image: -webkit-linear-gradient(rgb(254,155,0) 0%, rgb(255,222,0) 100%);
  background-image:         linear-gradient(rgb(254,155,0) 0%, rgb(255,222,0) 100%);
}

/* iumouse */
.iumouse {
  height: 46px;
  background: url(../images/mouse-bg.png) no-repeat;
}
/* intro */
.intro {
  min-height: 999px;
  background: url(../images/intro-bg.jpg) center 290px no-repeat;
}
.intro h2 {
  padding: 54px 0 60px;
  font-size: 34px;
  font-weight: 600;
  text-align: center;
}
.intro h3 {
  position: relative;
  margin: 14px 0 44px;
  font-size: 22px;
}
.intro h3 b {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 5px solid #00d769;
}
.intro .left { 
  margin-left: 100px;
  width: 400px; 
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(-140px, 0px);
          transform: translate(-140px, 0px);
  -webkit-transition: opacity .6s, -webkit-transform .6s ease;
          transition: opacity .6s,transform .6s ease;
}
.intro .right { 
  margin-right: 0px;
  width: 600px; 
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(140px, 0px);
          transform: translate(140px, 0px);
  -webkit-transition: opacity .6s, -webkit-transform .6s ease;
          transition: opacity .6s,transform .6s ease;
}
.intro dl { margin-bottom: 53px; }
.intro h4 {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 600;
}
.intro h4 span {
  display: inline-block;
  padding: 0 2px;
  margin-left: 2px;
  height: 17px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ff8802;
  text-shadow: 0.707px 0.707px 1.96px rgba(169, 89, 0, 0.95);
}
.intro h4 span em {
  display: inline-block;
  font-style: normal;
  -webkit-transform: scale(.94);
          transform: scale(.94);
}
.intro dd {
  color: #6e727d;
  font-weight: 600;
  line-height: 22px;
}
.intro .two .right dd { color: #7a938c; }
.intro .two .left {
  margin: 66px -14px 0 0px;
  width: 550px;
}
.intro .two .right {
  margin-right: 0px;
  margin-left: 40px;
  width: 480px;
}
.intro .two .left,
.intro .two .right { 
  -webkit-transform: translate(0px, 140px);
          transform: translate(0px, 140px);
}
.intro .one .on,
.intro .two .on {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

/* feature */
.feature { padding-bottom: 80px; }
.feature .iumouse { margin-top: 40px; }
.feature h2 {
  padding: 50px 0 68px;
  font-size: 34px;
  font-weight: 600;
  text-align: center;
}
.feature .left {
  position: relative;
  margin: 60px -88px 0 -160px;
  width: 818px;
  height: 479px;
  background: url(../images/shadow.png) no-repeat; 
}
.feature .left img {
  display: block;
  position: absolute;
  top: 44px;
  left: 124px;
  -webkit-transition: top .6s ease;
          transition: top .6s ease;
}
.feature .left img.on { top: -18px; }
.feature .right { 
  margin-right: -120px;
  width: 600px; 
}
.feature-list li {
  color: #878796;
  font-weight: 600;
  line-height: 38px;
}
.feature-list li.three { margin: 10px 0; }
.feature-list li.three span {
  display: inline-block;
  width: 550px;
  vertical-align: middle;
}
.feature-list li.three {
  line-height: 22px;
}
.feature-list i {
  margin-right: 30px;
  width: 15px;
  height: 15px;
  background-position: 0 0;
}
.feature-list li sup {
  display: inline-block;
  margin-right: -50px;
  color: #fe8300;
  font-size: 12px;
  font-weight: 500;
  -webkit-transform: scale(.8);
          transform: scale(.8);
}
.feature-list li sup.green { color: #00d568; }

/* review */
.review { background: url(../images/green-line.png) left top no-repeat; }
.review h2 {
  position: relative;
  padding: 126px 0 36px 266px;
  font-size: 34px;
}
.review h2:before {
  content: '';
  position: absolute;
  top: 134px;
  left: 652px;
  width: 96px;
  height: 103px;
  background: url(../images/green-arrow.png) no-repeat;
}
.review .box {
  position: relative;
  margin-bottom: -80px;
  width: 1100px;
  height: 300px;
  overflow: hidden;
}
.review .box .relist { 
  position: absolute; 
  z-index: 9;
}
.review dl {
  float: left;
  width: 1100px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(1100px, 0px);
          transform: translate(1100px, 0px);
  -webkit-transition: -webkit-transform .3s, opacity .3s ease;
          transition: transform .3s, opacity .3s ease;
}
.review dl.on {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.review dt {
  float: left;
  margin: 32px 50px 0 48px;
  width: 170px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  background: url(../images/head-icons-bg.png) center center no-repeat;
}
.review dt img { vertical-align: middle; }
.review dd {
  float: left;
  width: 760px;
}
.review h3 {
  margin: 24px 0 12px;
  font-size: 26px;
  font-weight: 600;
}
.review p {
  color: #878796;
  font-weight: 600;
  line-height: 24px;
}
.review h4 {
  margin-top: 16px;
  color: #00d769;
  font-size: 14px;
}
.review span {
  display: block;
  position: absolute;
  top: 286px;
  z-index: 10;
  width: 49px;
  height: 49px;
  cursor: pointer;
  text-indent: -9999px;
  background: url(../images/arrow.png) 0 -49px no-repeat;
}
.review span.prev { left: -58px; }
.review span.next {
  right: -58px;
  background-position: 0 0px;
}

/* service */
.service {
  height: 435px;
  text-align: center;
  background: url(../images/awards-bg.jpg) top center no-repeat;
}
.service h2 {
  padding: 146px 0 38px;
  font-size: 28px;
  font-weight: 600;
}
.service .imgbox {
  position: relative;
  margin: 0 -64px;
  width: 1224px;
  height: 130px;
  line-height: 130px;
  background: #1b1b23;
  border-radius: 66px;
  border: 1px solid #3f3f4d;
  background: rgba(15,15,21,.62);
}
.service .imgbox:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 2px;
  background-color: #00d568;
}
.service .imgbox img { vertical-align: middle; }

/* bottom */
.bottom {
  padding: 20px 0 166px;
  color: #424557;
  background-color: #181820;
}
.bottom.sold { padding-bottom: 88px; }
.annotation {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
}
.annotation dd { padding-right: 40px; }
.copyright {
  padding-top: 14px;
  text-align: center;
  font-weight: 600;
}

/* floatlayer */
.floatlayer { 
  position: fixed; 
  z-index: 10; 
  width: 100%; 
  bottom: -130px; 
  height: 119px; 
  visibility: hidden; 
  background: url(../images/float-bg.png) top center no-repeat; 
  -webkit-transition: all 0.4s; 
          transition: all 0.4s;  
}
.floatlayer .imgbox {
  position: relative;
  margin: -44px 0 0 66px;
  width: 181px;
}
.floatlayer.sold .imgbox { margin-left: 56px; }
.floatlayer .imgbox img {
  display: block;
  width: 181px;
}
.floatlayer.on { 
  bottom: 0; 
  visibility: visible; 
}
.floatlayer .price { width: 780px; }
.floatlayer.sold .one p {
  padding: 52px 0px 0 20px;
  color: #30303e;
  font-size: 14px;
  font-weight: 600;
}
.floatlayer .two { margin: 30px 32px 0 10px; }
.floatlayer.sold .two { margin: 30px 12px 0 16px; }
.floatlayer .three { text-align: center; }
.floatlayer .three p { font-size: 12px; }
.floatlayer.sold .three { margin-right: -60px; }

/* mouse */
.mouse {
  position: relative;
  top: -18px;
  margin: 0 auto;
  width: 19px;
  height: 27px;
  background: url(../images/mouse.png) no-repeat;
  -webkit-animation: nudgeMouse 5s ease-out infinite;
          animation: nudgeMouse 5s ease-out infinite;
}
.mouse:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.mouse:after {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #545466;
  -webkit-animation: trackBallSlide 5s linear infinite;
          animation: trackBallSlide 5s linear infinite;
}
@-webkit-keyframes trackBallSlide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-6px);
            transform: scale(1) translateY(-6px);
  }
  6% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  14% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(4px);
            transform: scale(0.4) translateY(4px);
  }
  15%, 19% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-6px);
            transform: scale(0.4) translateY(-6px);
  }
  28%, 29.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-2px);
            transform: scale(1) translateY(-2px);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-2px);
            transform: scale(1) translateY(-2px);
  }
  36% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  44% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(4px);
            transform: scale(0.4) translateY(4px);
  }
  45%, 49% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-2px);
            transform: scale(0.4) translateY(-2px);
  }
  58%, 59.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-2px);
            transform: scale(1) translateY(-2px);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-2px);
            transform: scale(1) translateY(-2px);
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  74% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(4px);
            transform: scale(0.4) translateY(4px);
  }
  75%, 79% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-2px);
            transform: scale(0.4) translateY(-2px);
  }
  88%, 100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-2px);
            transform: scale(1) translateY(-2px);
  }
}
@keyframes trackBallSlide {
  0% {
      opacity: 1;
      -webkit-transform: scale(1) translateY(-6px);
              transform: scale(1) translateY(-6px);
    }
    6% {
      opacity: 1;
      -webkit-transform: scale(0.9) translateY(5px);
              transform: scale(0.9) translateY(5px);
    }
    14% {
      opacity: 0;
      -webkit-transform: scale(0.4) translateY(4px);
              transform: scale(0.4) translateY(4px);
    }
    15%, 19% {
      opacity: 0;
      -webkit-transform: scale(0.4) translateY(-6px);
              transform: scale(0.4) translateY(-6px);
    }
    28%, 29.99% {
      opacity: 1;
      -webkit-transform: scale(1) translateY(-2px);
              transform: scale(1) translateY(-2px);
    }
    30% {
      opacity: 1;
      -webkit-transform: scale(1) translateY(-2px);
              transform: scale(1) translateY(-2px);
    }
    36% {
      opacity: 1;
      -webkit-transform: scale(0.9) translateY(5px);
              transform: scale(0.9) translateY(5px);
    }
    44% {
      opacity: 0;
      -webkit-transform: scale(0.4) translateY(4px);
              transform: scale(0.4) translateY(4px);
    }
    45%, 49% {
      opacity: 0;
      -webkit-transform: scale(0.4) translateY(-2px);
              transform: scale(0.4) translateY(-2px);
    }
    58%, 59.99% {
      opacity: 1;
      -webkit-transform: scale(1) translateY(-2px);
              transform: scale(1) translateY(-2px);
    }
    60% {
      opacity: 1;
      -webkit-transform: scale(1) translateY(-2px);
              transform: scale(1) translateY(-2px);
    }
    66% {
      opacity: 1;
      -webkit-transform: scale(0.9) translateY(5px);
              transform: scale(0.9) translateY(5px);
    }
    74% {
      opacity: 0;
      -webkit-transform: scale(0.4) translateY(4px);
              transform: scale(0.4) translateY(4px);
    }
    75%, 79% {
      opacity: 0;
      -webkit-transform: scale(0.4) translateY(-2px);
              transform: scale(0.4) translateY(-2px);
    }
    88%, 100% {
      opacity: 1;
      -webkit-transform: scale(1) translateY(-2px);
              transform: scale(1) translateY(-2px);
    }
}
@-webkit-keyframes nudgeMouse {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes nudgeMouse {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}