@charset "utf-8";
/* CSS Document */
* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 1100px;
  font-size: 14px;
  line-height: 1.4;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  outline: 0;
  vertical-align: baseline;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #000;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li { list-style-type: none; }
img { border: none; }
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}
.clearfix { zoom: 1; }
.wrapper {
  position: relative;
  width: 1100px;
  min-width: 1100px;
  margin: 0 auto;
  zoom: 1;
}
.hide { display: none; }
.fl { float: left; }
.fr { float: right; }
.all-icons {
  display: inline-block;
  vertical-align: middle;
  text-indent: -9999px;
  /*background: url("../images/all-icons.png") no-repeat;*/
}

/* banner */
.banner {
  height: 698px;
  background: url(../images/banner-bg.jpg) no-repeat center;
}
.banner img { display: block; }
.banner .wrapper { padding-top: 30px; }
.banner .logo {
  display: block;
  position: absolute;
  top: 23px;
  left: 50px;
  z-index: 9;
  width: 41px;
  height: 14px;
  text-indent: -9999px;
  background: url(../images/logo.png) no-repeat;
}
.banner .title {
  height: 70px;
  text-indent: -9999px;
  background: url("../images/title-update3.png") center center no-repeat;
}
.banner .subtitle {
  margin-top: 12px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.banner .subtitle sup { 
  font-size: 12px;
  vertical-align: super; 
}
.banner .subtitle strong {
  display: inline-block;
  width: 25px;
}
.banner .subtitle strong,
.banner .subtitle span {
  color: #fff;
  font-size: 18px;
}
.banner .content {
  position: relative;
  margin-top: 62px;
  width: 100%;
  height: 456px;
}
.banner .content li {
  position: absolute;
  width: 292px;
  height: 386px;
  background-color: #fff;
  border-radius: 3px;
  transition: all .5s ease-out;
}
.banner .content .on-left {
  top: 40px;
  left: 36px;
}
.banner .content .on-middle {
  top: 0;
  left: 374px;
  z-index: 9;
  width: 353px;
  height: 456px;
  box-shadow: 0 33px 38px 10px rgba(145,1,1,.94);
}
#db-3pc.on-middle img.off {
  position: absolute;
  top: 24px;
  right: 14px;
  width: 215px;
  height: 89px;
}
#db-3pc.on-left img.off {
  position: absolute;
  top: 16px;
  right: 20px;
  width: 162px;
  height: 67px;
}
#db-3pc.on-middle .price { color: #f80000; }
#db-3pc.on-left .price { color: #000; }
.price.hidden { display: none; }
.attention.hidden { display: none; }
.banner ul.content li.on-right {
  top: 40px;
  left: 772px;
}
#db-pf-sd.on-right img.off {
  position: absolute;
  top: 20px;
  right: 18px;
  width: 160px;
  height: 73px;
}
#db-pf-sd.on-middle img.off {
  position: absolute;
  top: 24px;
  right: 18px;
  width: 207px;
  height: 89px;
}
#db-pf-sd.on-middle .price { color: #f80000; }
.banner .content .box {
  margin: 74px 0 0 44px;
  width: 174px;
}
.banner .content .off {
  position: absolute;
  top: 16px;
  right: 20px;
  width: 162px;
}
.banner .content .on-middle .box {
  margin: 96px 0 0 24px;
  width: 290px;
}

/* price */
.price {
  position: relative;
  height: 54px;
  margin-top: 8px;
  text-align: center;
  color: #000;
}
.price strong {
  font-size: 44px;
  font-weight: 600;
  line-height: 54px;
}
.price span {
  display: inline-block;
  padding-left: 4px;
  text-align: left;
  line-height: 18px;
}
.price sup {
  display: inline-block;
  font-size: 18px;
  vertical-align: text-top;
}
.price del {
  display: block;
  color: #000;
  font-size: 14px;
  line-height: 16px;
}

/* buybtn */
.buybtn {
  display: block;
  margin: 10px auto 0;
  text-align: center;
  box-shadow: 0 16px 16px rgba(255,96,0,.48);
}
.buybtn span {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 49px;
  text-transform: Uppercase;
  color: #000;
}
.buybtn.cart span::before{
  content: '';
  position: relative;
  display: inline-block;
  width: 19px;
  height: 14px;
  margin-right: 12px;
  margin-bottom: 3px;
  vertical-align: middle;
  background: url("../images/buybtn.png") 0 -98px no-repeat;
}
.banner .buybtn {
  width: 235px;
  height: 49px;
  background: url("../images/buybtn.png") 0 0 no-repeat;
}
.banner .buybtn:hover { background-position: 0 -49px; }
.banner li.on-middle .buybtn {
  width: 279px;
  height: 59px;
  background-position: 0 -112px;
}
.banner li.on-middle .buybtn:hover { background-position: 0 -171px; }
.banner li.on-middle .buybtn span { line-height: 59px; }
.banner .attention {
  margin-top: 18px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #000;
}
.banner .attention strong { font-size: 12px; }
.banner .attention i {
  display: inline-block;
  width: 17px;
  height: 11px;
  margin-right: 5px;
  background: url("../images/buybtn.png") 0 -230px no-repeat;
  vertical-align: middle;
  letter-spacing: -.3px;
}
/* countdown */
.banner .countdown {
  position: absolute;
  top: -20px;
  left: 21px;
  width: 315px;
  height: 34px;
  padding-top: 9px;
  padding-left: 38px;
  background: url("../images/banner-timer-bg.png") center center no-repeat;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: #000;
}
.banner .countdown b {
  display: inline-block;
  width: 21.5px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;
}
.banner .countdown b.small { font-size: 14px; }

/* payment */
.payment { height: 80px; line-height: 80px; text-align: center; background: #e9e9e9;}
.payment img { display: inline-block; vertical-align: middle;}

/* feature */
.feature h2 {
  padding: 90px 0 70px;
  color: #1c1e23;
  font-size: 32px;
  text-align: center;
}
.feature-list { 
  margin: 47px 0 0 90px;
  width: 400px; 
}
.feature-list dl { 
  position: relative; 
  margin-bottom: 74px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.feature-list dl:hover::before,
.feature-list dl.on:before {
  content: '';
  display: block;
  position: absolute;
  top: -35px;
  left: -38px;
  width: 452px;
  height: 97px;
  border-radius: 8px;
  border: 2px solid #f12129;
  box-shadow: 0px 15px 24px 0px rgba(228, 45, 54, 0.18);
}
.feature-list dt {
  position: relative;
  z-index: 9;
  float: left;
  width: 47px;
  height: 47px;
  text-indent: -9999px;
  background: url(../images/feature-icon.png) 0 0 no-repeat;
}
.feature-list dl.two dt { background-position: 0 -47px; }
.feature-list dl.three dt { background-position: 0 -94px; }
.feature-list dl.four dt { background-position: 0 -141px; }
.feature-list dd {
  position: relative;
  z-index: 9;
  float: left;
  margin: 0 0 0 20px;
  width: 324px;
  color: #1c1e23;
  font-size: 16px;
  font-weight: 700;
}
.feature-list span {
  display: inline-block;
  margin-top: -4px;
  margin-left: 4px;
  padding: 0 2px;
  height: 12px;
  color: #ef1a20;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  border-radius: 7px;
  vertical-align: middle;
  border: 2px solid #ef1a20;
}
.feature-list span em {
  display: inline-block;
  font-style: normal;
  -webkit-transform: scale(.9,.9);
          transform: scale(.9,.9);
}
.feature-animation {
  position: relative;
  margin: 0 76px 0 0;
  width: 421px;
  height: 430px;
  border-radius: 8px;
  background-color: #e42d36;
}
.feature-animation:before,
.feature-animation:after {
  content: '';
  display: block;
  position: absolute;
  width: 118px;
  height: 102px;
  background: url(../images/circle.png) 0 0 no-repeat;
}
.feature-animation:before {
  top: 372px;
  left: -14px;
}
.feature-animation:after {
  top: 36px;
  right: -52px;
  background-position: 0 -102px;
}
.feature-bg {
  position: relative;
  z-index: 9;
  width: 421px;
  height: 430px;
  border-radius: 8px;
  background-color: #e42d36;
  box-shadow: 14.421px 24.001px 51px 0px rgba(229, 54, 59, 0.75);
}
.feature-box {
  position: relative;
  display: none;
  width: inherit;
  height: inherit;
  text-align: center;
  background: url(../images/feature-bg01.png) 14px 12px no-repeat;
}
.feature-box.two { background: url(../images/feature-bg02.png) 26px 26px no-repeat; }
.feature-box.three { background: url(../images/feature-bg03.png) 0px 0px no-repeat; }
.feature-box.four { background: url(../images/feature-bg04.png) 17px 27px no-repeat; }
.feature-box.on { display: block; }
.feature-box.two ul { 
  padding-top: 150px; 
  margin: 0 auto;
  width: 374px;
}
.feature-box li {
  display: inline-block;
  margin: 80px 28px 0;
}
.feature-box.two li {
  display: block;
  margin: 0;
  text-align: left;
}
.feature-box h3 {
  margin-top: 2px;
  color: #fad5d7;
  font-size: 14px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s cubic-bezier(0.39,0.5,0.15,1.36);
}
.feature-box li.yellow h3 { color: #fafc54; }
.feature-box li h3.on { 
  opacity: 1;
  transform: translateY(0px); 
}
.feature-box .progress-bar {
  position: relative;
  display: block;
  margin: 11px 0px 30px;
  /*width: 179px;*/
  width: 0px;
  height: 14px;
  border-radius: 10px;
  background-color: #1c1c1f;
  border: 3px solid #f2555d;
  box-shadow: 4.12px 6.857px 8px 0px rgba(199, 29, 37, 0.78);
  transition: width 1s 0.5s ease;
}
.feature-box .yellow .progress-bar {
  /*width: 359px;*/
  background-color: #f0cd29;
  background-image: -webkit-linear-gradient(0deg, rgb(240,205,41) 0%, rgb(246,227,134) 100%);
  background-image:         linear-gradient(0deg, rgb(240,205,41) 0%, rgb(246,227,134) 100%);
}
.feature-box .progress-bar.on { width: 179px; }
.feature-box .yellow .progress-bar.on { width: 359px; }
.feature-box .cylinder {
  position: relative;
  height: 226px;
}
.feature-box .cylinder span {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  width: 109px;
  height: 64px;
  background: url(../images/cylinder-bg.png) no-repeat;
}
.feature-box .cylinder span.one {
  transform: scale(0);
  transition: transform 0.6s ease;
  transform-origin: 50% 100%;
}
.feature-box .cylinder span.two {
  bottom: 12px;
  width: 92px;
  height: 157px;
  background: url(../images/cylinder-bg01.png) no-repeat;
  transform: scale(0);
  transition: transform 0.8s ease;
  transform-origin: 50% 100%;
}
.feature-box .cylinder span.three {
  bottom: 114px;
  width: 92px;
  height: 112px;
  background: url(../images/cylinder-bg03.png) no-repeat;
  transform: scale(0);
  transition: transform 0.8s 0.6s ease;
  transform-origin: 50% 100%;
}
.feature-box .cylinder.on span { transform: scale(1); }
.feature-box .arrow {
  display: block;
  position: absolute;
  top: -30px;
  left: -24px;
  width: 178px;
  color: #fafc54;
  text-align: center;
  background: url(../images/feature-arrow.png) left top no-repeat;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50px);
  transition: opacity 0.4s 1.4s ease, transform 0.4s 1.4s ease;
}
.feature-box.two .arrow {
  top: -50px;
  right: -20px;
  left: auto;
  width: 126px;
  font-size: 26px;
  background-position: left center;
  transition: opacity 0.4s 1.6s ease, transform 0.4s 1.6s ease;
}
.feature-box .cylinder.on .arrow,
.feature-box.two .progress-bar.on .arrow {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.feature-box.three span,
.feature-box.four span {
  display: block;
  position: absolute;
}
.feature-box .driver {
  top: 154px;
  left: 12px;
  z-index: 1;
  width: 122px;
  height: 122px;
  background: url(../images/driver.png) no-repeat;
  opacity: 0;
  visibility: hidden;
  transform: translate(120px, -30px);
  transition: opacity 0.8s ease,transform 0.8s ease;
}
.feature-box .driver02 {
  top: 156px;
  left: 286px;
  background-position: 0 -122px;
  transform: translate(-120px, -30px);
}
.feature-box .driver.on {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
}
.feature-box .updated-driver {
  position: absolute;
  bottom: 98px;
  left: 174px;
  z-index: 1;
  width: 72px;
  height: 72px;
  background: url(../images/driver03.png) no-repeat;
  opacity: 0;
  visibility: hidden;
  transform: translate(0px, 160px);
  transition: opacity 0.5s 0.6s,transform 0.5s 0.6s ease;
}
.feature-box .circle {
  position: absolute;
  top: 0;
  width: 36px;
  height: 72px;
  overflow: hidden;
}
.feature-box .circle.left { left: 0; }
.feature-box .circle.right { right: 0; }
.feature-box .circleprogress {
  position: absolute;
  top: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 6px solid transparent;
  transform: rotate(45deg);
}
.feature-box .rightcircle {
  right: 0;
  border-top: 6px solid #b4171e;
  border-right: 6px solid #b4171e;
  transition: transform 0.8s 1.8s linear;
}
.feature-box .leftcircle {
  left: 0;
  border-bottom: 6px solid #b4171e;
  border-left: 6px solid #b4171e;
  transition: transform 0.8s 2.6s linear;
}
.feature-box .driver-start {
  top: 20px;
  left: 83px;
  z-index: 9;
  width: 284px;
  height: 285px;
  background: url(../images/scan.png) no-repeat;
}
.feature-box .driver-start.finished {
  top: 94px;
  left: 110px;
  background: url(../images/scan-finished.png) no-repeat;
}
.feature-box .attention {
  top: 114px;
  left: 190px;
  z-index: 9;
  width: 48px;
  height: 48px;
  background: url(../images/attention.png) no-repeat;
  opacity: 0;
}
.feature-box .attention.on {
  opacity: 1;
  animation: attention 0.8s ease infinite;
}
.feature-box .complete {
  top: 162px;
  left: 170px;
  z-index: 11;
  width: 90px;
  height: 67px;
  background: url(../images/cheack.png) no-repeat;
  transform: scale(0);
  transform-origin: 50% 50%;
  transition: transform 0.6s 0.3s cubic-bezier(0.39,0.5,0.15,1.36);
}
.feature-box .complete.on { transform: scale(1); }
@keyframes attention {
  0% { transform: scale(1); }
  25% { transform: scale(1.2); }
  50%{ transform: scale(1); }
  75%{ transform: scale(1.2); }
}
.feature-box .updated-driver.on { 
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px); 
}
.feature-box .updated-driver.on .leftcircle,
.feature-box .updated-driver.on .rightcircle { transform: rotate(225deg); }
.feature-box .repair {
  top: 106px;
  left: 135px;
  z-index: 9;
  width: 177px;
  height: 172px;
  background: url(../images/repair.png) no-repeat;
}
.feature-box .usbox {
  width: 90px;
  height: 79px;
  line-height: 79px;
  border-radius: 10px;
}
.feature-box .usbox.one {
  top: 66px;
  left: 58px;
}
.feature-box .usbox.two {
  top: 42px;
  right: 48px;
}
.feature-box .usbox.three {
  bottom: 94px;
  left: 44px;
}
.feature-box .usbox.four {
  bottom: 130px;
  right: 40px;
}
.feature-box .usb {
  display: block;
  position: relative;
  z-index: 8;
  width: 90px;
  height: 79px;
  line-height: 79px;
  border-radius: 10px;
  text-align: center;
  background-color: #b0262d;
  transform: scale(0);
  transform-origin: 50% 100%;
  transition: transform 0.5s 0.6s ease;
}
.feature-box .usbox.two .usb { transition-delay: 2.8s; }
.feature-box .usbox.three .usb { transition-delay: 4.8s; }
.feature-box .usbox.four .usb { transition-delay: 6.8s; }
.feature-box .usbox.on .usb { transform: scale(1); }
.feature-box .usb:before {
  content: '';
  display: block;
  position: absolute;
  top: -9px;
  right: -17px;
  width: 38px;
  height: 38px;
  background: url(../images/warning.png) no-repeat;
  animation: attention 0.8s ease infinite;
}
.feature-box .usb.on:before { 
  background-position: 0 -38px; 
  animation-play-state: paused;
}
.feature-box .usb img {
  display: inline-block;
  vertical-align: middle;
}
.feature-box .usb-line {
  display: block;
  position: absolute;
  bottom: -54px;
  left: 48px;
  width: 84px;
  height: 3px;
  background: url(../images/line01.png) no-repeat;
  transform: scaleX(0);
  transform-origin: 100% 0;
  transition: transform 0.5s ease;
}
.feature-box .usb-vercital {
  display: block;
  position: absolute;
  bottom: -48px;
  left: 42px;
  width: 3px;
  height: 48px;
  background: url(../images/line02.png) no-repeat;
  transform: scaleY(0);
  transform-origin: 0 100%;
  transition: transform 0.5s 0.3s ease;
}
.feature-box .usbox.two .usb-line { 
  bottom: -34px;
  left: -42px; 
  transform-origin: 0 0;
  transition-delay: 2.2s;
}
.feature-box .usbox.two .usb-vercital { 
  bottom: -30px;
  left: 46px;
  height: 30px;
  transition-delay: 2.5s;
}
.feature-box .usbox.three .usb-line { 
  bottom: 22px;
  left: 90px; 
  width: 78px;
  transform-origin: 100% 0%;
  transition-delay: 4.5s;
}
.feature-box .usbox.three .usb-vercital { 
  bottom: 26px;
  left: 170px;
  height: 48px;
  transform-origin: 0 0%;
  transition-delay: 4.2s;
}
.feature-box .usbox.four .usb-line { 
  bottom: 112px;
  left: -4px; 
  width: 50px;
  transform-origin: 0 0;
  transition-delay: 6.2s;
}
.feature-box .usbox.four .usb-vercital { 
  bottom: 80px;
  left: 45px;
  height: 30px;
  transition-delay: 6.5s;
  transform-origin: 0 0%;
}
.feature-box .usbox.on .usb-line { transform: scaleX(1); }
.feature-box .usbox.on .usb-vercital { transform: scaleY(1); }

.notes {
  position: absolute;
  right: -50px;
  bottom: -80px;
  z-index: 99;
  width: 389px;
  height: 141px;
  text-align: left;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 14.421px 24.001px 51px 0px rgba(74, 74, 74, 0.39);
  opacity: 0;
  visibility: hidden;
  transform: translate(0,100px);
  transition: opacity 0.6s, transform 0.6s cubic-bezier(0.39,0.5,0.15,1.36);
}
.notes.on {
  opacity: 1;
  visibility: visible;
  transform: translate(0,0);
}
.notes:before {
  content: '';
  display: block;
  position: absolute;
  top: 29px;
  left: 17px;
  width: 3px;
  height: 28px;
  background-color: #eb6165;
}
.notes p {
  padding: 20px 20px 0 30px;
  color: #3c3c3c;
  line-height: 20px;
}
.notes.three p { padding: 10px 10px 0 30px; }

/* feature-small */
.feature-small {
  margin: 40px auto 0;
  width: 1029px;
  height: 353px;
  color: #1c1e23;
  text-align: center;
  border-radius: 10px;
  background-color: #f5f5f5;
}
.feature-small h2 {
  padding: 42px 0 36px; 
  font-size: 22px;
}
.feature-small dl {
  float: left;
  margin-left: 76px;
  width: 250px;
}
.feature-small dt {
  margin: 0 auto;
  width: 74px;
  height: 74px;
  line-height: 74px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #f11f26;
}
.feature-small dt img { vertical-align: middle; }
.feature-small h3 {
  padding: 14px 0 10px;
  font-size: 14px;
}
.feature-small p {
  line-height: 20px;
  font-weight: 500;
}


/* gift-box */
.gift-box {
  height: 625px;
  margin-top: 100px;
  background: url("../images/gift-box-bg.jpg") top center no-repeat;
}
.gift-box .wrapper { padding-top: 60px; }
.gift-box h2 {
  height: 49px;
  background: url(../images/h2-title.png) no-repeat center;
  text-indent: -9999px;
}
.gift-box .box {
  float: left;
  width: 33.33%;
  margin-top: 60px;
  text-align: center;
  box-sizing: border-box;
}
.gift-box .box.sd { padding-right: 146px; }
.gift-box .box.pf { padding-right: 60px; }
.gift-box .box.iu { padding-left: 66px; }
.gift-box .box img {
  display: block;
  margin: 0 auto;
}
.gift-box .box.sd img { margin: 0; }
.gift-box .box dl { text-align: center; }
.gift-box .box dl h3 { 
  margin-top: 15px; 
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.gift-box .box dl del {
  font-size: 14px;
  color: #fff;
}
.gift-box .box dl strong {
  color: #ffc300;
  font-size: 24px;
}
.gift-box .box dl strong b {
  color: #ffc300;
  font-size: 14px;
}
.gift-box .box dl dd {
  margin-bottom: 5px;
  padding-left: 15px;
  font-size: 12px;
  color: #febfc2;
  line-height: 18px;
}
.gift-box .box dl dd:after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  left: 0;
  top: 5px;
  background: #c00618;
  border-radius: 10px;
}
.gift-box .buybtn {
  width: 279px;
  height: 59px;
  margin-top: 60px;
  background: url(../images/buybtn.png) 0 -112px no-repeat;
  box-shadow: 0 6px 16px rgba(255,96,0,.48);
}
.gift-box .buybtn span {
  font-size: 18px;
  font-weight: 700;
  line-height: 59px;
}
.gift-box .buybtn:hover { background-position: 0 -171px; }

/* review */
.review h2 {
  padding-top: 100px;
  margin-bottom: 70px;
  color: #de2f33;
  font-size: 38px;
  font-weight: 600;
  text-align: center;
}
.review .media,
.review .usereview {
  float: left;
  margin-left: 20px;
  width: 395px;
  height: 297px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #fcadba;
  box-shadow: 10px 10px 0px 0px #e5c0c0; 
}
.review .media { line-height: 297px; }
.review .media img { vertical-align: middle; }
.review .usereview {
  float: right;
  margin-right: 20px;
  margin-left: 0px;
  width: 603px;
}
.review dl { 
  display: none;
  margin: 0 auto; 
  width: 508px;
  text-align: left;
}
.review dl.active { display: block; }
.review dd { 
  color: #444;
  font-weight: 500;
  line-height: 22px;
}
.review dd b {
  display: block;
  float: right;
  margin-top: 12px;
  color: #333;
  font-size: 16px;
}
.review dl.one b { margin-top: 4px; }
.review .users {
  margin: 20px auto;
  padding: 0 40px;
  width: 508px;
  box-sizing: border-box;
  border-bottom: 2px solid #ffdfdf;
}
.review .users li { 
  position: relative;
  float: left; 
  margin: 0 10px;
  width: 86px;   
  cursor: pointer; 
  text-align: center;
}
.review .users li .imgbox { 
  position: relative;
  margin-bottom: 26px;
  height: 86px;
}
.review .users li img { 
  display: inline-block; 
  margin-top: 26px;
  width: 60px; 
  height: 60px;  
  opacity: 0.4;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.review .users li.current .imgbox:after {
  opacity: 0;
  visibility: hidden;
}
.review .users li.current img {
  margin-top: 0;
  width: 86px;
  height: 86px;
  opacity: 1;
  border-radius: 50%;
  box-shadow: 4.298px 10.126px 14.24px rgba(255, 198, 198, 0.84);
}
.review .users li.current:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: 16px;
  width: 50px;
  height: 5px;
  background: #d13131;
}

/* comparison */
.comparison h2 {
  padding-top: 100px;
  margin-bottom: 68px;
  color: #de2f33;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.comparison table {
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
}
.comparison thead .text { text-align: left; }

.comparison tr td.virtue {
  padding-left: 8px;
  width: 724px;
  text-align:left;
}
.comparison tr {
  font-size: 14px;
  text-align: center;
}
.comparison .itema,
.comparison .itemb {
  width: 200px;
  color: #000;
  vertical-align: middle;
  text-align: center;
}
.comparison .itema { background: #fdefef; }
.comparison .itemb { background: #f7f7f7; }
.comparison th.itema,
.comparison th.itemb {
  height: 78px;
  color: #fff;
  font-size: 16px;
  background: #d02b2b;
}
.comparison th.itemb { background: #7a7a7a; }
.comparison td {
  height: 46px;
  color: #333;
  font-weight: 500;
  vertical-align: middle;
  border-bottom: 1px solid #e1dbdb;
}
.comparison td.icons {
  width: 50px;
  text-align: center;
}
.comparison td.icons img { vertical-align: middle; }
.comparison .space,
.comparison .space2 {
  width: 10px;
  border-color: transparent;
}
.comparison .space2 { width: 32px; }
.comparison td i {
  display: inline-block;
  width: 23px;
  height: 23px;
  text-indent: -9999px;
  background: url(../images/all-icons.png) no-repeat;
  background-position: 0 -23px;
}
.comparison td i.gray { background-position: 0 0px; }

.bottomcart { margin-top: 70px; height: 264px; background: url(../images/bottom-buy-bg.jpg) no-repeat center bottom;}
.bottomcart h2 { height: 45px; margin-bottom: 16px; text-indent: -9999px; background: url(../images/bottom-title.png) no-repeat center;}
.bottomcart .showcase .img{ float: left; width: 267px; height: 168px; margin-top: 29px; background: url(../images/bottom-change.png) no-repeat; transition: all .4s ease-out;}
.bottomcart .showcase .img.one-pc { background-position:-534px 0; }
.bottomcart .showcase .img.three-pc { background-position:-267px 0; }

.bottomcart ul { float: left; margin-top: 45px; width: 480px;}
.bottomcart ul li { height: 42px; line-height: 42px; cursor: pointer;}
.bottomcart ul li span { float: left; width: 250px; margin-left: 115px; font-size: 16px; line-height: 42px; color: #fac6c6;}
.bottomcart ul li strong { float: left; width: 115px; text-align: center; font-size: 22px; font-style: italic; line-height: 42px; color: #490007;}
.bottomcart ul li.active { background: url(../images/active.png);}
.bottomcart ul li.active span { font-size: 18px; color: #fff;}
.bottomcart ul li.active strong { margin-top: 5px; height: 40px; text-indent: -9999px; background: url(../images/footer-discount.png) no-repeat center top;}
.bottomcart ul li.active.three-pc strong { background-position: center -40px;}
.bottomcart ul li.active.one-pc strong { background-position: center -80px;}
.bottomcart dl {float: right; margin-top: 35px; margin-right: 50px}
.bottomcart dl dt { color: #ffe508;}
.bottomcart dl dt del { color: #fac6c6;}
.bottomcart p.price {
  color: #ffe508;
}
.bottomcart p.price del {
  color: #fda2a2;
}
.bottomcart p.price.after {
  padding-right: 3.5em;
}
.bottomcart a.buybtn {
  width: 272px;
  height: 60px;
  background: url("../images/buybtn.png") 0 -373px no-repeat;
  -webkit-box-shadow: 0 16px 13px rgba(119,9,9,.66);
     -moz-box-shadow: 0 16px 13px rgba(119,9,9,.66);
          box-shadow: 0 16px 13px rgba(119,9,9,.66);
}
.bottomcart a.buybtn:hover {
  background: url("../images/buybtn.png") -272px -373px no-repeat;
}
.bottomcart a.buybtn span {
  font-weight: 700;
  line-height: 60px;
}

.footer { padding: 20px 0; background: #f5f5f5;}
.footer .service dl{ float: left; width: 33.3%; padding-top: 20px; text-align: center;}
.footer .service dl dt { height: 68px; line-height: 68px; font-size: 16px;}
.footer .service dl dt img { display: inline-block; vertical-align: middle;}
.footer .service dl dd { margin-top: 10px; font-size: 12px;}
.footer .service dl h3 { font-size: 16px;}
.annotation {
  padding-top: 20px;
  border-top: solid #c8c8c8 1px;
  margin-top: 40px;
}
.annotation dd,
.annotation dt {
  font-size: 12px;
  line-height: 16px;
  color: #555a5f;
}

/* footer */
.footer p{  padding-top: 15px; font-size: 14px; text-align:center; color: #3c3c3c;}