@charset "utf-8";

/* CSS Document */
* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 1100px; 
  font-size: 14px;
  line-height: 1.4;
  color: #000;
  font-weight: 600;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  outline: 0;
  vertical-align: baseline;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #000;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li { list-style-type: none; }
img { border: none; }
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}
.clearfix { zoom: 1; }
.fl { float: left; }
.fr { float: right; }
.main {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper {
  position: relative;
  width: 1100px;
  min-width: 1100px;
  margin: 0 auto;
  zoom: 1;
}
.all-icons { 
  display: inline-block;
  text-indent: -9999px;
  background: url(../images/all-icons.png) no-repeat 0 0;
}

/* banner */
.banner {
  width: 100%;
  min-width: 1100px;
  height: 650px;
  text-align: center;
  background: url(../images/bg.jpg) top center no-repeat;
}
.banner .logo {
  display: block;
  padding-top: 28px;
  width: 56px;
  text-align: left;
}
.banner .title {
  margin-top: -24px;
  height: 155px;
  text-indent: -9999px;
  background: url(../images/title.png) 252px 0px no-repeat;
}
.banner .left { margin: 23px 0 0 -10px; }
.banner .right {
  margin-top: 60px;
  min-width: 540px; 
}
.banner h2 { font-size: 26px; }
.banner .price .count {
  margin: 16px 0 34px;
  height: 110px;
  background: url(../images/count-bg.png) top center no-repeat;
}
.price p {
  font-size: 12px;
}
.price p.watching {
  padding-top: 12px;
  font-size: 16px;
}
.packimg {
  display: inline-block;
  font-style: normal;
  width: 66px;
  height: 41px;
  vertical-align: middle;
  background: url(../images/number-bg.png) no-repeat;
}
.packbox {
  display: inline-block;
  width: 66px;
  height: 34px;
  overflow: hidden;
}
.viewNum {
  display: inline-block;
  min-width: 36px;
  text-align: right;
}
.packbox .list { 
  position: relative;
  display: block;
  float: left; 
  line-height: 34px;
  font-weight: 600;
}
.packbox .list strong {
  display: block;
  margin-left: 4px;
  width: 28px;
  height: 34px;
  font-style: normal;
  line-height: 36px;
  font-size: 28px;
  font-weight: 600;
  color: #eb1d1d;
}
.progressbar {
  position: relative;
  margin: 10px auto 8px;
  width: 410px;
  height: 5px;
  border-radius: 3px;
  border: 1px solid #b8b7bb;
  background: #cecdd0;
  background: rgba(206, 205, 208, 0.502);
}
.progressbar span {
  position: absolute;
  left: 3px;
  top: 1px;
  display: block;
  width: 151px;
  height: 3px;
  background-color: #ff3405;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-image: -webkit-linear-gradient(left, rgb(211,211,212) 0%, rgb(235,29,29) 100%);
  background-image:         linear-gradient(left, rgb(211,211,212) 0%, rgb(235,29,29) 100%);
  -webkit-transition: 1.5s ease-in-out;
          transition: 1.5s ease-in-out;
}
.progressbar span:after {
  content: "";
  position: absolute;
  right: 0px;
  top: -3px;
  width: 2px;
  height: 9px;
  background-color: #df0d0d;
}
.progressbar span .reduce {
  display: inline-block;
  position: absolute;
  right: -2px;
  top: -8px;
  z-index: 5;
  opacity: 1;
  visibility: visible;
  width: 13px;
  height: 14px;
  background: url(../images/reduce.png) no-repeat;
  -webkit-transform: scale(0.8);
          transform: scale(0.8); 
  -webkit-transition: all .5s;
          transition: all .5s;
}
.progressbar span .reduce.zoomout {
  top: -24px;
  opacity: 0;
  visibility: hidden;
  filter: alpha(opacity=0);
  -webkit-transform: scale(1.3);
          transform: scale(1.3); 
}
.countdown b {
  display: inline-block;
  padding-left: 4px;
  padding-right: 2px;
  font-size: 18px;
  font-weight: 600;
}
.countdown b.last { 
  min-width: 16px;
  font-size: 12px; 
}
.price p strong {
  font-size: 16px;
  font-weight: 600;
}
.price p strong big {
  font-weight: 600;
  font-size: 36px;
}
.price p del {
  display: inline-block;
  position: relative;
  padding-left: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #96949d;
  text-decoration: none;
}
.price p del:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 2px;
  width: 64px;
  height: 15px;
  background: url(../images/del.png) no-repeat;
}
.price p.year {
  margin-top: 8px;
  color: #96949d;
}

/* buybtn */
.buybtn {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 251px;
  height: 57px;
  line-height: 57px;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  border-radius: 28.5px;
  background-color: #ef730e;
  text-shadow: 1px 1.732px 2px rgba(186, 1, 1, 0.24);
  box-shadow: 0px 5px 18.27px 2.73px rgba(0, 0, 0, 0.30);
  background: url(../images/btn.png) no-repeat;
}
.buybtn > .inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.banner .buybtn:before,
.centbuy .buybtn:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -92px;
  width: 72px;
  height: 72px;
  background: url(../images/moneyback.png) no-repeat;
}
.footbuy .buybtn,
.mask-box .buybtn { overflow: hidden; }
.buybtn span,
.buybtn i {
  display: inline-block; 
  vertical-align: middle;
  -webkit-transition: -webkit-transform 0.3s; 
          transition: transform 0.3s; 
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); 
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.buybtn span { 
  margin-left: -2px;
  -webkit-transform: translate3d(-16px, 0, 0);
          transform: translate3d(-16px, 0, 0); 
}
.buybtn i { 
  margin-right: 8px;
  width: 25px;
  height: 17px;
  background-position: 0 -45px;
  -webkit-transform: translate3d(-30px, 2.5em, 0); 
          transform: translate3d(-30px, 2.5em, 0); 
}
.buybtn:hover i, 
.buybtn:hover span { 
  -webkit-transform: translate3d(0, 0, 0); 
          transform: translate3d(0, 0, 0); 
}
.buybtn:hover { background-position: 0 -57px; }

/* feature */
.feature {
  text-align: center;
  background: url(../images/map-bg.jpg) top center no-repeat;
}
.feature h2 {
  position: relative;
  padding: 100px 0 70px;
  font-size: 34px;
  font-weight: 600;
}
.feature h2:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 38px;
  left: 50%;
  margin-left: -35px;
  width: 70px;
  height: 5px;
  background-color: #cdcdcd;
}
.feature p {
  font-size: 12px;
  line-height: 22px;
  color: #848484;
}
.feature p.over {
  margin-bottom: 134px;
  padding: 0 30px;
  font-size: 14px;
  line-height: 24px;
}
.feature img.screen {
  display: block;
  margin: 0 auto 15px;
  margin-right: -50px;
}
.feature dl {
  max-width: 480px;
  margin-bottom: 44px;
  text-align: left;
}
.feature .fr dl { max-width: 530px; }
.feature dt {
  float: left;
  margin-top: 2px;
  width: 95px;
}
.feature dd {
  float: left;
  max-width: 385px;
}
.feature .fr dd { max-width: 430px; }
.feature h3 {
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 600;
}
.feature h3 b {
  position: relative;
  display: inline-block;
  margin-left: 4px;
  width: 70px;
  height: 15px;
  line-height: 15px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  border-radius: 2px;
  background-color: #fbb224;
}
.feature h3 b.sign {
  width: 36px;
  background-color: #ff3000;
}
.feature h3 b:before {
  content: '';
  position: absolute;
  top: 0px;
  right: -4px;
  width: 5px;
  height: 15px;
  background: url(../images/sign.png) 0 -15px no-repeat;
}
.feature h3 b.sign:before { background-position: 0 0px; }

/* centbuy */
.centbuy {
  width: 100%;
  height: 338px;
  text-align: center;
  background: url(../images/centbuy-bg.jpg) top center no-repeat;
}
.centbuy h2 {
  height: 64px;
  text-indent: -9999px;
  background: url(../images/centbuy-title.png) bottom center no-repeat;
}
.centbuy .fl { margin: 18px 0 0; }
.centbuy .price { margin: 40px 260px 0 0; }
.centbuy .price .count { margin-bottom: 23px; }

/* comparison */
.comparison h2 { 
  margin: 120px 0 50px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}
.comparison table {
  display: block;
  position: relative;
  border: 0;
  border-collapse: separate;
  border-spacing: 0px;
  text-align: center;
}
.comparison table:after {
  content: '';
  position: absolute;
  top: -13px;
  right: 0px;
  width: 332px;
  height: 692px;
  border-radius: 10px; 
  box-shadow: 0px 0px 52px 3px rgba(0, 0, 0, 0.22);
}
.comparison th {  
  height: 68px; 
  font-size: 16px;
  font-weight: 600;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
}
.comparison th.itemc { 
  color: #fff;
  font-size: 20px;
  background-color: #db282a;
}
.comparison th.itemc span {
  display: block;
  padding-top: 20px;
  margin-top: -21px;
  height: 69px;
  background-color: #db282a;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
}
.comparison th.itemc b {
  display: block;
  font-weight: 600;
  font-size: 26px;
}
.comparison .itema { 
  width: 298px;
  background-color: #f6f6f6;
}
.comparison .itemb { width: 470px; }
.comparison .itemc { width: 332px; }
.comparison td { 
  height: 60px; 
  font-size: 16px;
  border-top: 1px solid #eaeaea;
}
.comparison td.itemc {
  font-size: 14px;
  color: #db282a;
}
.comparison td.last { 
  border-bottom-right-radius: 10px; 
  border-bottom-left-radius: 10px;
}
.comparison td b {
  font-size: 14px;
  font-weight: 600;
  color: #a0a0b1;
}
.comparison td i {
  width: 15px;
  height: 15px;
  background-position: 0 0px;
}
.comparison td i.close { background-position: 0 -15px; }
.comparison td i.pro { background-position: 0 -30px; }

/* footbuy */
.footbuy {
  padding-bottom: 70px;
  text-align: center;
  border-bottom: 1px solid #e2e2e6;
}
.footbuy.on {
  position: fixed;
  right: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  width: 100%;
  padding-bottom: 30px;
  background-color: #fff;
}
.footbuy h3 {
  margin-top: 12px;
  margin-right: -50px;
  height: 199px;
  text-indent: -9999px;
  background: url(../images/footbuy-title.png) top right no-repeat;
}
.footbuy h2 {
  margin-top: -70px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}
.footbuy .countdown { 
  margin-top: 8px;
  font-size: 12px; 
  color: #96949d;
}
.footbuy .countdown b { font-size: 12px; }

/* review */
.dg-container {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}
.dg-wrapper {
  margin: 0 auto;
  width: 640px;
  height: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 500px;
  perspective: 500px;
}
.dg-wrapper .dg-transition {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.dg-container .nav {
  position: relative;
  width: 100%;
}
.dg-container .nav span {
  position: absolute;
  top: 132px;
  width: 22px;
  height: 41px;
  display: block;
  overflow: hidden;
  cursor: pointer;
  background: url("../images/review-control.png") no-repeat;
}
.dg-container .nav .dg-prev {
  left: 0;
  background-position: 0 0;
}
.dg-container .nav .dg-prev:hover {
  background-position: 0 -41px;
}
.dg-container .nav .dg-next {
  right: 0;
  background-position: -22px 0;
}
.dg-container .nav .dg-next:hover{
  background-position: -22px -41px;
}
.inner {
  display: block;
  margin: 0 auto;
  width: 640px;
  height: 510px;
}
.content {
  position: relative;
  display: block;
  margin: 0 auto;
  padding-top: 88px;
  width: 640px;
  height: 510px;
}
.content .reviews {
  position: absolute;
  left: 0;
  top: 88px;
  display: block;
  width: 640px;
  height: 500px;
  text-align: center;
}
.content .reviews dt { margin-bottom: 70px; }
.content .reviews dt img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.content .reviews dd {
  margin-left: -120px;
  display: none;
  width: 900px;
}
.content .reviews dd h2 {
  display: inline-block;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 500;
}
.content .reviews dd p {
  margin: 0 auto;
  max-width: 700px;
  line-height: 28px;
  color: #525252;
}
.content .reviews dd cite {
  display: inline-block;
  margin-top: 30px;
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
}
.content .reviews.dg-center dt img {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0 40px 40px rgba(92, 95, 101, 0.3);
}
.content .reviews.dg-center dd { display: block; }

/* awards */
.awards {
  margin-top: 30px;
  padding-top: 60px;
  text-align: center;
  border-top: 1px solid #e2e2e6;
}
.awards h2 {
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 500;
}

.bottom {
  margin-top: 104px;
  padding: 50px 0 26px;
  color: #51525a;
  font-size: 12px;
  line-height: 16px;
  background-color: #3c3c3c;
}
.bottom.on { margin-bottom: 380px; }
/* service */
.service dl {
  padding-bottom: 22px;
  margin-bottom: 18px;
  width: 549px;
  height: 104px;
  text-align: center;
  overflow: hidden;
  background-color: #4f4f4f;
}
.service .fl dt { 
  float: left; 
  margin-top: 25px;
  width: 96px;
  text-align: center;
}
.service .fl dd {
  float: left;
  width: 450px;
  text-align: left;
}
.service dd h4 {
  padding: 22px 0 10px;
  font-size: 15px;
  font-weight: 600;
  color: #a8a9b0;
}
.service .fr dd h4 {
  padding-left: 20px;
  padding-bottom: 12px;
  text-align: left;
}
.service dd p {
  font-size: 12px;
  line-height: 18px;
  color: #696a71;
}
.footer p { 
  padding-top: 10px;
  font-size: 14px;
  text-align: center; 
}

/* backtotop */
.backtotop { 
  position: fixed; 
  z-index: 100;
  bottom: -100px;
  right: 4%;   
  width: 65px;
  height: 65px; 
  cursor: pointer;
  visibility: hidden;
  text-indent: -9999px;
  background: url(../images/backtotop.png) 0 0 repeat;
  -webkit-transition: visibility 0.4s; 
          transition: visibility 0.4s; 
}
.backtotop:hover { background-position: 0 100%; }
.backtotop.on { 
  bottom: 12%; 
  visibility: visible; 
}

/* mask */
.mask,
.mask-box {
  position: fixed;
  z-index: 999;
}
.mask {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/mask-bg.png) top center repeat;
}
.mask-box {
  z-index: 1000;
  top: 18%;
  left: 50%;
  margin-left: -549px;
  width: 1018px;
  height: 598px;
  color: #000;
  text-align: center;
  background: url(../images/mask-box-bg.png) top center no-repeat;
}
.mask-box h2 { display: none; }
.mask-box .left { margin: 226px 46px 0 168px; }
.mask-box .price h3 {
  margin-top: 230px;
  font-size: 20px;
}
.mask-box .price h3 b {
  font-size: 28px;
  color: #eb1d1d;
}
.mask-box .price h3 b big { font-size: 42px; }
.mask-box .price p b {
  padding-left: 8px;
  font-size: 12px;
  font-weight: 600;
  color: #96949d;
}
.mask-box .price p.year { font-size: 12px; }

/* animation */
.slipUp {
  opacity: 0;
  visibility: visible;
  -webkit-animation: slipUp 500ms forwards;
          animation: slipUp 500ms forwards;
}
@-webkit-keyframes slipUp  {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@keyframes slipUp  {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}