@charset "utf-8";

/* CSS Document */
* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1100px;
  font-size: 14px;
  line-height: 1.4;
  color: #120f0c;
  font-weight: 500;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  outline: 0;
  vertical-align: baseline;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #120f0c;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
ul li {
  list-style-type: none;
}

img {
  border: none;
}

.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.wrapper {
  position: relative;
  width: 1000px;
  min-width: 1000px;
  margin: 0 auto;
  zoom: 1;
}

.all-icons {
  display: inline-block;
  text-indent: -9999px;
  background: url(../images/all-icons.png) no-repeat 0 0;
}

/* banner */
.banner {
  width: 100%;
  position: relative;
  padding-top: 36px;
  text-align: center;
  background: url(../images/bg.jpg) no-repeat top center;
}

.banner .logo {
  position: absolute;
  left: 0;
  top: -20px;
  display: block;
  width: 37px;
  height: 13px;
  text-indent: -9999px;
  background: url("../images/logo.png");
  background-size: contain;
}

.banner h1 {
  height: 82px;
  font-size: 0;
  background: url(../images/title.png) top center no-repeat;
}

.banner h3 {
  color: #a75f09;
  font-size: 18px;
  font-weight: 400;
  text-shadow: 1px 1px #f2c677;
}

.banner .bundle-container {
  margin-top: 28px;
}

.banner .bundle-container .bundle {
  float: left;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.banner .bundle-container .bundle.left {
  margin-left: 40px;
  margin-top: 56px;
  width: 408px;
  height: 455px;
  border: 1px solid #ffd77b;
}

.banner .bundle-container .bundle.left a {
  margin: 0 auto;
  display: block;
  width: 284px;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  background: #eea121;
  border-radius: 4px;
  color: #fde8aa;
  transition: box-shadow .3s;
}

.banner .bundle-container .bundle.left a:hover {
  background: linear-gradient(to bottom, #ff8502, #eb4511);
  text-shadow: 0 2px 4px rgba(172, 5, 5, 0.56);
  box-shadow: 0 12px 20px 0 rgba(137, 35, 0, 0.4);
}

.banner .bundle-container .bundle.left a:before {
  margin-right: 20px;
  display: inline-block;
  width: 19px;
  height: 14px;
  background: url("../images/button-cart-icon.png");
  vertical-align: middle;
  content: '';
}

.banner .bundle-container .bundle.right a {
  margin: 0 auto;
  display: block;
  width: 284px;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  background: linear-gradient(to bottom, #ff8502, #eb4511);
  border-radius: 4px;
  color: #fde8aa;
  text-shadow: 0 2px 4px rgba(172, 5, 5, 0.56);
  box-shadow: 0 12px 20px 0 rgba(137, 35, 0, 0.4);
}

.banner .bundle-container .bundle.right a:hover {
  background: #ed4a10;
  text-shadow: 0 2px 4px rgba(172, 5, 5, 0.56);
}

.banner .bundle-container .bundle.right a:before {
  margin-right: 20px;
  display: inline-block;
  width: 19px;
  height: 14px;
  background: url("../images/button-cart-icon.png");
  vertical-align: middle;
  content: '';
}

.banner .bundle-container .bundle.right {
  margin-left: 30px;
  width: 476px;
  height: 538px;
  border: 1px solid #e95c1e;
  box-shadow: 0 15px 35px 0 rgba(203, 90, 6, 0.7);
}

.banner .bundle-container .bundle.right .countdown-container {
  width: 100%;
  height: 35px;
  background-color: #eea121;
  line-height: 35px;
  text-shadow: 1px 0 #f7b93e;
  font-weight: bold;
  font-size: 16px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.banner .bundle-container .bundle.right .countdown-container span {
  font-size: 18px;
}

.banner .bundle-container .bundle.right .countdown-container i {
  margin-right: 8px;
  display: inline-block;
  width: 28px;
  height: 35px;
  background: url(../images/countdown-icon.png);
  vertical-align: top;
}

.banner .bundle-container .bundle p.price {
  margin-top: 24px;
  margin-bottom: 14px;
}

.banner .bundle-container .bundle.left p.price {
  color: #424242;
}

.banner .bundle-container .bundle p.price b {
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
}

.banner .bundle-container .bundle p.price i {
  display: block;
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
  font-style: normal;
}

.banner .bundle-container .bundle p.price del {
  display: block;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #999999;
}

.banner .bundle-container .bundle p.price span {
  margin-left: 4px;
  display: inline-block;
  text-align: left;
}

.banner .bundle-container .bundle p.note {
  margin-top: 20px;
  color: #000;
}

.banner .bundle-container .bundle p.note:before {
  margin-right: 4px;
  content: "";
  display: inline-block;
  width: 20px;
  height: 12px;
  background: url("../images/bundle-icon-people.png");
}


/*payment*/
.payment {
  margin: 42px auto 0;
  width: 1002px;
  height: 78px;
  background: url("../images/payment-icons.png") no-repeat center center;
}


/* price */

.mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
}

.banner .mask {
  width: 440px;
  height: 460px;
  /*background: url(../images/sold-bg.png) no-repeat;*/
}

.mask span {
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 102;
  width: 157px;
  height: 81px;
  text-indent: -9999px;
  /*background: url(../images/expire.png) no-repeat;*/
  opacity: 0;
  visibility: visible;
  -webkit-transform: scale(3);
  transform: scale(3);
}

.banner .mask span {
  top: 223px;
}

.footbuy .mask {
  opacity: 0;
  visibility: visible;
  -webkit-transform: scale(3);
  transform: scale(3);
}

.mask span.on,
.footbuy .mask.on {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: transform ease .6s, opacity .6s;
          transition: transform ease .6s, opacity .6s;
}

/* buybtn */
.buybtn {
  display: block;
  margin: -2px auto 0;
  width: 254px;
  height: 55px;
  line-height: 55px;
  color: #a7684e;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border-radius: 3px;
  border: 1px solid #a7684e;
}

.buybtn.orange {
  margin: 4px auto;
  width: 289px;
  height: 60px;
  line-height: 60px;
  border: 0 none;
  color: #fbda75;
  background-color: #eb4a12;
  text-shadow: 0 2px 4px rgba(172, 5, 5, 0.84);
  box-shadow: 0 12px 18px 2px rgba(137, 35, 0, 0.4);
  background-image: -webkit-linear-gradient(rgb(255, 145, 2) 0%, rgb(235, 74, 18) 100%);
  background-image:         linear-gradient(rgb(255, 145, 2) 0%, rgb(235, 74, 18) 100%);
}

.buybtn.orange.yellow {
  color: #990000;
  background: #febe00;
  text-shadow: none;
  box-shadow: 0 14px 20.88px 3.12px rgba(136, 7, 10, 0.8);
}

.giftbox .buybtn.orange.yellow {
  margin-top: 24px;
  width: 274px;
  height: 61px;
  color: #000;
  font-size: 18px;
  font-weight: 800;
  line-height: 61px;
  border-radius: 5px;
  text-shadow: 0.707px 0.707px 0 rgba(255, 221, 130, 0.94);
  box-shadow: 0 12px 16px 0 rgba(255, 96, 0, 0.48), inset 0 3px 8px 0 rgba(255, 92, 0, 0.35);
  background-image: -webkit-linear-gradient(rgb(255, 222, 0) 0%, rgb(254, 137, 0) 100%);
  background-image: linear-gradient(rgb(255, 222, 0) 0%, rgb(254, 137, 0) 100%);
}

.giftbox .buybtn.orange.yellow.gray {
  color: #dadada;
  cursor: default;
  text-shadow: none;
  box-shadow: none;
  background: #aaaaa9;
}

.buybtn.orange i {
  margin-right: 14px;
  width: 25px;
  height: 20px;
  vertical-align: middle;
  background-position: 0 0;
}

.buybtn.orange.yellow i {
  width: 19px;
  height: 14px;
  background-position: 0 -40px;
}

.buybtn:hover {
  width: 256px;
  height: 57px;
  line-height: 56px;
  border: 0 none;
  color: #fbda75;
  background: #f3650c;
  text-shadow: 0 2px 4px rgba(172, 5, 5, 0.84);
  box-shadow: 0 12px 18px 2px rgba(137, 35, 0, 0.8);
}

.buybtn.orange:hover {
  width: 289px;
  height: 60px;
  line-height: 60px;
}

.buybtn.orange.yellow:hover {
  background: #fee300;
}


/* feature */
.feature h2 {
  margin-top: 60px;
  font-size: 30px;
  color: #262626;
  text-align: center;
}

.feature h4 {
  margin-top: 10px;
  font-size: 22px;
  color: #262626;
  text-align: center;
}

.feature .showcase {
  position: absolute;
  top: 210px;
  left: -15px;
  display: block;
  width: 480px;
  height: 400px;
  background: url(../images/computer.png) center no-repeat;
}

.feature .showcase .inner {
  display: inline-block;
  width: 392px;
  height: 265px;
  margin-top: 8px;
  margin-left: 40px;
  overflow: hidden;
}

.feature .showcase .inner ul {
  width: 2352px;
  margin-left: -392px;
  transition: all .4s ease-out;
}

.feature .showcase .inner li {
  position: relative;
  float: left;
  width: 392px;
  height: 265px;
}

.feature .showcase .zoom {
  position: absolute;
  top: 0;
}

.feature .showcase .zoom li .container {
  position: absolute;
  width: 0;
  height: 0;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.feature .showcase .zoom li.fun1 .container {
  top: 50px;
  left: 220px;
}

.feature .showcase .zoom li.fun2 .container {
  top: 120px;
  left: 169px;
}

.feature .showcase .zoom li.fun3 .container {
  top: 140px;
  left: 110px;
}

.feature .showcase .zoom li.fun4 .container {
  top: 140px;
  left: 110px;
}

.feature .showcase .zoom li.fun1.active .container {
  top: -20px;
  right: -82px;
  width: 236px;
  height: 251px;
}

.feature .showcase .zoom li.fun2.active .container {
  width: 278px;
  height: 131px;
  left: 70px;
  top: 80px;
}

.feature .showcase .zoom li.fun3.active .container {
  width: 308px;
  height: 218px;
  left: 188px;
  top: 62px;
}

.feature .showcase .zoom li.fun4.active .container {
  width: 308px;
  height: 235px;
  left: 86px;
  top: 48px;
}

.feature .showcase .zoom li .container img {
  width: inherit;
  height: inherit;
}

.feature .detail-list {
  float: right;
  width: 520px;
  margin-top: 38px;
  margin-right: -30px;
}

.feature .detail-list dl {
  display: block;
  margin: 0 0 28px;
  width: 520px;
  height: 113px;
  /*background: #fff;*/
  clear: both;
  cursor: pointer;
}

.feature .detail-list dt {
  float: left;
  width: 112px;
}

.feature .detail-list dt i {
  display: inline-block;
  margin-top: 18px;
  margin-left: 26px;
  width: 78px;
  height: 77px;
  background: url(../images/benfits-icons.png) no-repeat;
}

.feature .detail-list dt i.benfits01 {
  background-position: -78px -231px;
}

.feature .detail-list dt i.benfits02 {
  background-position: -78px -77px;
}

.feature .detail-list dt i.benfits03 {
  background-position: -78px 0;
}

.feature .detail-list dt i.benfits04 {
  background-position: -78px -154px;
}

.feature .detail-list dl:hover,
.feature .detail-list dl.active {
  background: url(../images/btnfits-list-bg.png) left center no-repeat;
}

.feature .detail-list dl:hover dt i.benfits01,
.feature .detail-list dl.active dt i.benfits01 {
  background-position: 0 -231px;
}

.feature .detail-list dl:hover dt i.benfits03,
.feature .detail-list dl.active dt i.benfits03 {
  background-position: 0 0;
}

.feature .detail-list dl:hover dt i.benfits02,
.feature .detail-list dl.active dt i.benfits02 {
  background-position: 0 -77px;
}

.feature .detail-list dl:hover dt i.benfits04,
.feature .detail-list dl.active dt i.benfits04 {
  background-position: 0 -154px;
}

.feature .detail-list dd {
  display: inline-block;
  float: left;
  width: 320px;
  margin-left: 10px;
  box-sizing: border-box;
  margin-top: 24px;
}

.feature .detail-list dl.two dd {
  margin-top: 16px;
}

.feature .detail-list dd h3 {
  font-size: 16px;
}

.feature .detail-list dd p {
  margin-top: 6px;
  font-size: 12px;
  line-height: 16px;
  color: #797979;
  font-weight: bold;
}

.feature .detail-list .textlink {
  display: block;
  margin-left: 125px;
  margin-top: 10px;
  color: #0075e9;
  font-size: 12px;
  text-decoration: underline;
}


/* giftbox */
.giftbox {
  margin-top: 60px;
  height: 340px;
  text-align: center;
  background: url("../images/giftbox-bg.jpg") no-repeat top center;
}
.giftbox h2 {
  height: 70px;
  font-size: 0;
  background: url("../images/giftbox-title.png") center bottom no-repeat;
}
.giftbox dl {
  position: relative;
  float: left;
  text-align: left;
}
.giftbox dl.pf {
  width: 640px;
}
.giftbox dl.else {
  float: right;
  width: 300px;
  margin-top: 35px;
}
.giftbox h5 {
  height: 98px;
  font-size: 50px;
  line-height: 98px;
  text-align: center;
  text-shadow: 0 2px 4px rgba(239, 121, 26, .7);
  color: #df2f33;
}
.giftbox h5 del {
  font-size: 16px;
  text-shadow: none;
  color: #666;
}
.giftbox dt {
  float: left;
  margin-left: -88px;
  width: 338px;
}
.giftbox dl.pf dd {
  float: left;
  width: 340px;
  margin-top: 70px;
}
.giftbox h3 {
  margin: 8px 0 30px;
  color: #010000;
  font-size: 20px;
}
.giftbox h3 span {
  padding-left: 8px;
  color: #404040;
  font-size: 12px;
}
.giftbox p {
  margin-bottom: 25px;
  padding-right: 10px;
  padding-left: 18px;
  color: #3e3939;
  line-height: 20px;
  background: url(../images/icon-check-mark.png) left 6px no-repeat;
}

.giftbox a {
  margin: 0 auto;
  display: block;
  width: 300px;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  background: linear-gradient(to bottom, #ff8502, #eb4511);
  border-radius: 4px;
  color: #fde8aa;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 2px 4px rgba(172, 5, 5, 0.56);
  box-shadow: 0 12px 20px 0 rgba(137, 35, 0, 0.4);
}

.giftbox a:hover {
  background: #ed4a10;
  text-shadow: 0 2px 4px rgba(172, 5, 5, 0.56);
}

.giftbox .countdown-container {
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #550505;
}

.giftbox .countdown-container span {
  font-size: 16px;
}


/* review */
.review {
  margin-top: 66px;
  padding-bottom: 100px;
}
.review .content {
  height: 265px;
  text-align: center;
}
.review .content h3 {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 400;
}
.review .content dl {
  display: none;
}
.review .content dd {
  padding: 0 50px;
  line-height: 28px;
  color: #2a2a2a;
  font-weight: 400;
}
.review .content dl.active {
  display: block;
}
.review ul.users {
  height: 130px;
  text-align: center;
  border-bottom: 3px solid #e7e6e6;
}
.review ul.users li {
  position: relative;
  display: inline-block;
  width: 240px;
  height: 130px;
  cursor: pointer;
}
.review ul.users li.two {
  margin: 0 0;
}
.review ul.users li p {
  position: absolute;
  bottom: -70px;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  visibility: hidden;
  transition: bottom .2s;
}
.review ul.users li.active:after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 61px;
  width: 118px;
  height: 3px;
  background-color: #c2211f;
}
.review ul.users li img {
  display: inline-block;
  margin-top: 35px;
  width: 65px;
  height: 65px;
  vertical-align: middle;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}
.review ul.users li.active p {
  bottom: -44px;
  font-size: 16px;
  visibility: visible;
}
.review ul.users li.active img {
  margin-top: 0;
  width: 100px;
  height: 100px;
}

/* comparison */
.comparison table {
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
}
.comparison th {
  color: #fff;
  height: 115px;
  font-size: 18px;
  line-height: 115px;
  vertical-align: middle;
  border-bottom: 1px #c9c9c9 solid;
}
.comparison th .free {
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
  padding-top: 25px;
  height: 75px;
  line-height: 22px;
  background-color: #bfbfbf;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.comparison th .pro {
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
  padding-top: 40px;
  height: 75px;
  line-height: 22px;
  background-color: #e62321;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.comparison thead .text {
  text-align: left;
  font-size: 24px;
  color: #000;
  text-indent: 22px;
  background-color: #fff;
}
.comparison .space {
  width: 5px;
  background: #fff;
  border: none;
}
.comparison .itema,
.comparison .itemb {
  width: 186px;
  text-align: center;
}
.comparison td.itemb {
  background-color: #f6f6f6;
}
.comparison td.itema {
  background-color: #fdf6f6;
}
.comparison td {
  height: 58px;
  vertical-align: middle;
  border-bottom: 1px #c9c9c9 solid;
}
.comparison td.icons {
  text-align: center;
  width: 45px;
}
.comparison td.virtue { text-align: left;}
.comparison td span {
  display: inline-block;
  margin: 0 5px;
  padding: 0 4px;
  height: 12px;
  line-height: 9px;
  font-size: 10px;
  color: #ec6359;
  text-align: center;
  border: 1px solid #ec6359;
  border-radius: 6px;
}
.comparison td span.nuo {
  color: #17ba17;
  border-color: #17ba17;
}
.comparison td i {
  display: inline-block;
  width: 22px;
  height: 16px;
  text-indent: -9999px;
  background: url(../images/all-icons02.png)  0 -25px no-repeat;
}
.comparison td i.red {
  background-position: 0 -56px;
}
.comparison td i.circle {
  background-position: 0 -40px;
}

.comparison td em {
  display: inline-block;
  height: 12px;
  padding-right: 10px;
  line-height: 12px;
  font-size: 13px;
  font-weight: 700;
  font-style: inherit;
  color: #ff780a;
  background: url(../images/top.png) no-repeat center right;
}


/* awards */
.awards {
  margin: 70px auto;
  border-bottom: 1px solid #d0d0ce;
}
.awards h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 22px;
  color: #424242;
  text-align: center;
}
.awards img {
  display: block;
  margin: 40px auto;
}


/* footbuy */
.footbuy {
  margin-top: 54px;
  width: 100%;
  height: 254px;
  background: url("../images/footbuy-bg.png") top center no-repeat;
}

.footbuy .wrapper {
  height: 237px;
  width: 1100px;
  min-width: 1100px;
  left: 36px;
}

.footbuy .imgbox {
  position: relative;
  margin-left: -30px;
  width: 340px;
  height: 100%;
}

.footbuy .imgbox img {
  display: block;
  position: absolute;
  top: 24px;
  left: -100px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: left ease .4s, opacity .4s;
  transition: left ease .4s, opacity .4s;
}

.footbuy .imgbox img.small {
  /*top: 42px;*/
  left: -60px;
}

.footbuy .imgbox img.on {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.footbuy .imgbox img.small.on {
  left: 0;
}

.footbuy ul {
  margin: 65px 10px 0 0;
}

.footbuy li {
  position: relative;
  width: 440px;
  height: 72px;
  color: #efb136;
  font-weight: 600;
  line-height: 44px;
  font-size: 18px;
  cursor: pointer;
  background: url("../images/footbuy-active-1.png") no-repeat;
  text-align: center;
}

.footbuy li span {
  display: inline-block;
  padding-left: 30px;
  /*margin-left: 92px;*/
  /*width: 230px;*/
}

.footbuy li em {
  font-style: normal;
}

.footbuy li.on,
.footbuy li.sold {
  color: #691e03;
  line-height: 42px;
  font-size: 18px;
  background: url("../images/footbuy-active-0.png");
}

.footbuy li.on em,
.footbuy li.sold em {
  color: #a22b01;
}

.footbuy li.sold {
  color: #d43831;
  cursor: default;
  line-height: 36px;
  background-position: 0 -45px;
}

.footbuy li.sold .mask {
  top: 8px;
  left: 200px;
  width: 63px;
  height: 32px;
  text-indent: -9999px;
  /*background: url(../images/expire-small.png) no-repeat;*/
}

.footbuy .price {
  margin-left: 10px;
  margin-top: 47px;
  text-align: center;
}

.footbuy .price b {
  font-size: 54px;
  font-weight: bold;
  line-height: 60px;
}

.footbuy .price i {
  display: block;
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
  font-style: normal;
}

.footbuy .price del {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #573d3d;
}

.footbuy .price span {
  margin-left: 4px;
  display: inline-block;
  text-align: left;
}

.footbuy .price a {
  margin: 0 auto;
  display: block;
  width: 284px;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  background: linear-gradient(to bottom, #ff8502, #eb4511);
  border-radius: 4px;
  color: #fde8aa;
  text-shadow: 0 2px 4px rgba(172, 5, 5, 0.56);
  box-shadow: 0 12px 20px 0 rgba(137, 35, 0, 0.4);
  text-align: center;
}

.footbuy .price a:hover {
  background: #ed4a10;
  text-shadow: 0 2px 4px rgba(172, 5, 5, 0.56);
}

.footbuy .price a:before {
  margin-right: 10px;
  display: inline-block;
  width: 19px;
  height: 14px;
  background: url("../images/button-cart-icon.png");
  vertical-align: middle;
  content: '';
}


/* service */
.service dl {
  padding: 76px 0 50px;
  width: 33.33%;
  text-align: center;
}

.service dl img {
  display: block;
  margin: 0 auto;
}

.service dl dd h3 {
  margin-top: 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
}

.service dl dd p {
  padding: 0 20px;
  margin-top: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}

/* footer */
.footer {
  height: 105px;
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #c9c9c9;
}

.footer .notes p {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #898989;
}

.footer p.copyright {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
}

/* animation */
@-webkit-keyframes recover {
  0% {
    -webkit-transform: scale(1);
  }
  10% {
    -webkit-transform: scale(.5);
  }
  20% {
    -webkit-transform: scale(1.8);
  }
  30% {
    -webkit-transform: scale(.8);
  }
  40% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(.5);
  }
  60% {
    -webkit-transform: scale(1.5);
  }
  70% {
    -webkit-transform: scale(1);
  }
  80% {
    -webkit-transform: scale(.5);
  }
  90% {
    -webkit-transform: scale(.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes recover {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(.5);
  }
  20% {
    transform: scale(1.8);
  }
  30% {
    transform: scale(.8);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(.5);
  }
  60% {
    transform: scale(1.5);
  }
  70% {
    transform: scale(1);
  }
  80% {
    transform: scale(.5);
  }
  90% {
    transform: scale(.2);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes light {
  0% {
    -webkit-transform: scale(1);
  }
  20% {
    -webkit-transform: scale(.5);
  }
  40% {
    -webkit-transform: scale(1.8);
  }
  60% {
    -webkit-transform: scale(1.2);
  }
  80% {
    -webkit-transform: scale(.5);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes light {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(.5);
  }
  40% {
    transform: scale(1.8);
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(.5);
  }
  100% {
    transform: scale(1);
  }
}
