@charset "utf-8";
html[lang=de] .guarantee.orange {
  background-image: url(../images/60daysmoneyback-72-72-de.png)
}
html[lang=de] #banner .butt-holder .button.greenbtn span,html[lang=de] #products #container .btmarea .butt-holder .button.greenbtn span {
  padding: 16px 40px;
  font-size: 22px
}
html[lang=de] #products .floatlayer .headreview {
  width: 580px
}
html[lang=de] #products .floatlayer .button.greenbtn span {
  padding: 12px 20px;
  font-size: 15px
}
html[lang=de] #support #category ul li a span {
  font-size: 15px
}
html[lang=de] #category ul li a span {
  font-size: 16px
}