@charset "utf-8";

/* CSS Document */
* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 1100px; 
  font-size: 14px;
  line-height: 1.4;
  color: #120f0c;
  font-weight: 500;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  outline: 0;
  vertical-align: baseline;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #120f0c;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li { list-style-type: none; }
img { border: none; }
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}
.clearfix { zoom: 1; }
.fl { float: left; }
.fr { float: right; }
.wrapper {
  position: relative;
  width: 1100px;
  min-width: 1100px;
  margin: 0 auto;
  zoom: 1;
}
.all-icons { 
  display: inline-block;
  text-indent: -9999px;
  background: url(../images/all-icons.png) no-repeat 0 0;
}

/* banner */
.banner {
  padding-top: 26px;
  height: 623px;
  text-align: center;
  background: url(../images/bg.jpg) top center no-repeat;
}
.banner .logo { 
  display: block;
  width: 47px;
}
.banner h1 {
  margin-top: 4px;
  height: 62px;
  text-indent: -9999px;
  background: url(../images/title.png) top center no-repeat;
}
.banner h3 {
  color: #fef3de;
  font-size: 18px;
  font-weight: 400;
}
.banner .offer {
  position: relative;
  z-index: 0;
  float: left;
  margin-top: 92px;
  width: 340px;
  height: 360px;
  border-radius: 3px;
  background-color: #fbeac0;
}
.banner .offer:before {
  content: '';
  display: block;
  position: absolute;
  top: 106px;
  right: 26px;
  width: 127px;
  height: 37px;
  background: url(../images/off.png) 0 -74px  no-repeat;
}
.banner .offer.center:before {
  width: 188px;
  height: 74px;
  background-position: 0 0px;
}
.banner .offer.right:before { background-position: 0 -111px; }
.banner .offer.center {
  z-index: 9;
  margin: 24px -10px 0px;
  width: 440px;
  height: 460px;
  box-shadow: 0px 18px 76px 4px rgba(61, 47, 31, 0.42);
  background-color: #feffa6;
  background-image: -webkit-linear-gradient(56deg, rgb(255,204,68) 0%, rgb(254,255,166) 50%);
  background-image:         linear-gradient(56deg, rgb(255,204,68) 0%, rgb(254,255,166) 50%);
}
.banner .imgbox {
  display: block;
  margin: 48px 0 26px 6px;
}
.banner .center .imgbox { margin: 14px 0 6px 28px; }

/* price */
.price p {
  color: #a7684e;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.footbuy .price { margin-top: 56px; }
.footbuy .price p { color: #fff; }
.price strong { font-weight: 600; }
.price strong big { font-size: 36px; }
.banner .center .price p { color: #8f4324; }
.banner .center .price strong { color: #ff5501; }
.footbuy .price p strong { color: #fedd00; }
.countdown {
  color: #8f4324;
  font-weight: 600;
  text-align: center;
}
.giftbox .countdown {
  color: #840606;
  font-size: 16px;
}
.banner .countdown {
  padding: 22px 0 28px;
  background: url(../images/line.png) center bottom no-repeat;
}
.countdown i {
  margin-top: -8px;
  margin-right: 6px;
  width: 28px;
  height: 20px;
  vertical-align: middle;
  background-position: 0 -20px;
}
.countdown b {
  display: inline-block;
  width: 30px;
  font-size: 20px;
  font-weight: 600;
}
.countdown b.last { 
  width: 22px;
  font-size: 14px; 
}
.giftbox .countdown b,
.giftbox .countdown b.last { 
  width: 26px;
  font-size: 16px; 
}
.mask {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 101;
}
.banner .mask {
  width: 440px;
  height: 460px;
  background: url(../images/sold-bg.png) no-repeat;
}
.mask span {
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 102;
  width: 157px;
  height: 81px;
  text-indent: -9999px;
  background: url(../images/expire.png) no-repeat;
  opacity: 0;
  visibility: visible;
  -webkit-transform: scale(3);
          transform: scale(3);
}
.banner .mask span { top: 223px; }
.footbuy .mask {
  opacity: 0;
  visibility: visible;
  -webkit-transform: scale(3);
          transform: scale(3);
}
.mask span.on,
.footbuy .mask.on {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: transform ease .6s, opacity .6s;
          transition: transform ease .6s, opacity .6s;
}

/* buybtn */
.buybtn {
  display: block;
  margin: -2px auto 0px;
  width: 254px;
  height: 55px;
  line-height: 55px;
  color: #a7684e;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  border-radius: 3px;
  border: 1px solid #a7684e;
  -webkit-transition: all .3s;
          transition: all .3s;
}
.buybtn.orange {
  margin: 4px auto;
  width: 289px;
  height: 60px;
  line-height: 60px;
  border: 0px none;
  color: #fbda75;
  background-color: #eb4a12;
  text-shadow: 0px 2px 4px rgba(172, 5, 5, 0.84);
  box-shadow: 0px 12px 18px 2px rgba(137, 35, 0, 0.4);
  background-image: -webkit-linear-gradient(rgb(255,145,2) 0%, rgb(235,74,18) 100%);
  background-image:         linear-gradient(rgb(255,145,2) 0%, rgb(235,74,18) 100%);
}
.buybtn.orange.yellow {
  color: #990000;
  background: #febe00;
  text-shadow: none;
  box-shadow: 0px 14px 20.88px 3.12px rgba(136, 7, 10, 0.8);
}
.giftbox .buybtn.orange.yellow {
  margin-top: 24px;
  width: 274px;
  height: 61px;
  color: #000;
  font-size: 18px;
  font-weight: 800;
  line-height: 61px;
  border-radius: 5px;
  text-shadow: 0.707px 0.707px 0px rgba(255, 221, 130, 0.94);
  box-shadow: 0px 12px 16px 0px rgba(255, 96, 0, 0.48),inset 0px 3px 8px 0px rgba(255, 92, 0, 0.35);
  background-image: -webkit-linear-gradient(rgb(255,222,0) 0%, rgb(254,137,0) 100%);
  background-image:         linear-gradient(rgb(255,222,0) 0%, rgb(254,137,0) 100%);
}
.giftbox .buybtn.orange.yellow.gray { 
  color: #dadada;
  cursor: default;
  text-shadow: none;
  box-shadow: none;
  background: #aaaaa9; 
}
.buybtn.orange i {
  margin-right: 14px;
  width: 25px;
  height: 20px;
  vertical-align: middle;
  background-position: 0 0px;
}
.buybtn.orange.yellow i {
  width: 19px;
  height: 14px;
  background-position: 0 -40px;
}
.buybtn:hover {
  width: 256px;
  height: 57px;
  line-height: 56px;
  border: 0px none;
  color: #fbda75;
  background: #f3650c;
  text-shadow: 0px 2px 4px rgba(172, 5, 5, 0.84);
  box-shadow: 0px 12px 18px 2px rgba(137, 35, 0, 0.8);
}
.buybtn.orange:hover {
  width: 289px;
  height: 60px;
  line-height: 60px;
}
.buybtn.orange.yellow:hover { background: #fee300; }


/* feature */
.feature {
  height: 830px;
  background: url("../images/feature-bg.jpg") top center no-repeat;
  background-size: 100% 200%;
}
.feature h3.title {
  padding-top: 82px;
  font-size: 32px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}
.feature p.subtitle {
  margin-top: 14px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}
.feature .showcase {
  position: relative;
  margin: 54px auto 0;
  width: 1000px;
  height: 310px;
  background: url(../images/intro_shadow.png) center 266px no-repeat;
}
.feature .showcase .imglist {
  position: absolute;
  bottom: 0;
  width: 1000px;
  height: 310px;
}
.feature .showcase .imglist li {
  position: absolute;
  top: 0;
  left: 290px \9;
  z-index: 0;
  width: 448px;
  height: 305px;
  opacity: .9;
  filter: "alpha(opacity=90)";
  -webkit-transition: all .3s ease-out;
          transition: all .3s ease-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.feature .showcase .imglist li img {
  display: block;;
  width: 100%;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.feature .showcase .imglist li.shot1 {
  left: 70px \9;
  -webkit-transform: translate3d(35px, 0, 0) scale(.75);
          transform: translate3d(35px, 0, 0) scale(.75);
}
.feature .showcase .imglist li.shot1 img {
  margin-top: 12px \9;
  width: 357px \9;
  height: 242px \9;
  outline: 1px solid transparent;
  -webkit-transform: perspective(800px) rotateY(20deg);
          transform: perspective(800px) rotateY(20deg);
}
.feature .showcase .imglist li.shot2 {
  z-index: 100;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -webkit-transform: translate3d(275px, 0, 0) scale(1);
          transform: translate3d(275px, 0, 0) scale(1);
}
.feature .showcase .imglist li.shot3 {
  left: 520px \9;
  width: 387px \9;
  height: 252px \9;
  -webkit-transform: translate3d(520px, 0, 0) scale(.75);
          transform: translate3d(520px, 0, 0) scale(.75);
}
.feature .showcase .imglist li.shot3 img {
  margin-top: 12px \9;
  width: 357px \9;
  height: 242px \9;
  outline: 1px solid transparent;
  -webkit-transform: perspective(800px) rotateY(340deg);
          transform: perspective(800px) rotateY(340deg);
}
.feature .showcase .control {
  display: block;
  position: absolute;
  top: 136px;
  width: 31px;
  height: 31px;
  text-indent: -9999px;
  background-image: url(../images/controlbtn.png);
  background-repeat: no-repeat;
}
.feature .showcase .control.prev {
  left: 30px;
  background-position: 0 0;
}
.feature .showcase .control.prev:hover { background-position: 0 -31px; }
.feature .showcase .control.next {
  right: 20px;
  background-position: -31px 0;
}
.feature .showcase .control.next:hover { background-position: -31px -31px; }
.feature dl {
  margin-top: 52px;
  margin-left: 60px;
  width: 280px;
}
.feature dl.middle { width: 300px; }
.feature.upd dl.middle {
  width: 455px;
  margin-left: 0;
}
.feature.upd dl.middle h3 img {
  vertical-align: middle;
}
.feature.upd dl.marginleft0 {
  margin-left: 0;
}
.feature.upd dl.marginleft0 h3 {
  margin: 18px 0 5px 0;
  line-height: 18px;
}
.feature.upd dl p em {
  display: inline-block;
  font-size: 12px;
  font-style: normal;
  margin-left: -8%;
  margin-top: 6px;
  color: #ae9f8b;
  -webkit-transform: scale(.83);
          transform: scale(.83);
}
.feature dl dt {
  width: 77px;
  height: 77px;
  margin: 0 auto;
}
.feature dl dt img {
  display: block;
  width: 100%;
}
.feature dl dd {
  text-align: center;
}
.feature dl dd h3 {
  margin: 18px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.feature dl dd p {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: #616161;
}

/* giftbox */
.giftbox {
  height: 700px;
  text-align: center;
  background: url(../images/gift-bg.jpg) top center no-repeat;
}
.giftbox h2 {
  margin-bottom: 80px;
  height: 98px;
  text-indent: -9999px;
  background: url(../images/gift-title.png) bottom center no-repeat;
  width: 1150px;
  margin-left: -25px;
}
.giftbox dl {
  float: left;
  width: 50%;
}
.giftbox dl dt {
  padding-left: 25px;
}
.giftbox dl dd {
  width: 320px;
  margin-left: 20px;
  text-align: left;
}
.giftbox dl h3 {
  margin: 30px 0 5px;
  font-size: 18px;
  font-weight: 600;
}
.giftbox dl del { 
  font-weight: 600;
  color: #797979; 
}
.giftbox dl p {
  margin-top: 8px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  color: #797979;
}
.giftbox .price h3 {
  margin: 65px 0 6px;
  font-size: 22px;
  font-weight: 600;
  color: #1c1e23;
}

/* reviews */
.reviews {
  display: block;
  padding-top: 64px;
}
.reviews h2 {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.reviews h2+p {
  margin-bottom: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.reviews h2+p span {
  font-size: 16px;
  font-weight: 800;
  color: #df2f33;
}
.reviews .map {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 1049px;
  height: 502px;
  background: url(../images/worldmap.jpg) center top no-repeat;
}
.reviews .map dl {
  position: absolute;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(0, -30px);
          transform: translate(0, -30px);
  -webkit-transition: all ease-in-out .8s;
          transition: all ease-in-out .8s;
}
.reviews .map dl dt {
  position: relative;
  z-index: 2;
  float: left;
  margin-right: 10px;
}
.reviews .map dl dd {
  float: left;
  margin-top: 5px;
  margin-left: -60px;
  padding: 5px 15px 5px 60px;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  border-radius: 10px;
  background: #fff;
  border: solid #e9999a 1px;
}
.reviews .map dl.on {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.reviews .map dl.tradotto-da-tedesco {
  top: 8px;
  right: 36px;
}
.reviews .map dl.html-it {
  top: 75px;
  right: -26px;
}
.reviews .map dl.html-it dd { margin-top:10px; }
.reviews .map dl.baixaki {
  top: 306px;
  left: 345px
}
.reviews .map dl.charles-r-widick {
  left: 4px;
  top: 82px;
}
.reviews .map dl.charles-r-widick dd,
.reviews .map dl.cnet dd {
  margin-left: 0;
  padding-left: 15px;
  padding-right: 50px;
  margin-right: -50px;
}
.reviews .map dl.cnet {
  top: 156px;
  left: -60px;
}
.reviews .map .recover {
  position: absolute;
  border-radius: 50%;
  background: #c2292c;
  border: solid #ead3d4 3px;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
.reviews .map .recover.big {
  width: 12px;
  height: 12px;
}
.reviews .map .recover.middle {
  width: 8px;
  height: 8px;
}
.reviews .map .recover.smail {
  width: 4px;
  height: 4px;
}
.reviews .map .recover.recover01 {
  left: 360px;
  top: 109px;
  -webkit-animation: 3s recover 1s ease-in-out infinite;
          animation: 3s recover 1s ease-in-out infinite;
}
.reviews .map .recover.recover02 {
  left: 254px;
  top: 230px;
  -webkit-animation: 4s light 1.5s ease-in-out infinite;
          animation: 4s light 1.5s ease-in-out infinite;
}
.reviews .map .recover.recover03 {
  left: 203px;
  top: 224px;
  -webkit-animation: 5s light 1.5s ease-in-out infinite;
          animation: 5s light 1.5s ease-in-out infinite;
}
.reviews .map .recover.recover04 {
  left: 592px;
  top: 206px;
  -webkit-animation: 6s recover 1s ease-in-out infinite;
          animation: 6s recover 1s ease-in-out infinite;
}
.reviews .map .recover.recover05 {
  left: 581px;
  top: 94px;
  -webkit-animation: 4.5s recover 1s ease-in-out infinite;
          animation: 4.5s recover 1s ease-in-out infinite;
}
.reviews .map .recover.recover06 {
  left: 494px;
  top: 179px;
  -webkit-animation: 5s light 1.5s ease-in-out infinite;
          animation: 5s light 1.5s ease-in-out infinite;
}
.reviews .map .recover.recover07 {
  left: 368px;
  bottom: 110px;
  -webkit-animation: 5.5s recover 1s ease-in-out infinite;
          animation: 5.5s recover 1s ease-in-out infinite;
}
.reviews .map .recover.recover08 {
  right: 453px;
  top: 227px;
  -webkit-animation: 6s light 1.5s ease-in-out infinite;
          animation: 6s light 1.5s ease-in-out infinite;
}
.reviews .map .recover.recover09 {
  left: 240px;
  top: 154px;
  -webkit-animation: 3.5s light 1.5s ease-in-out infinite;
          animation: 3.5s light 1.5s ease-in-out infinite;
}
.reviews .map .recover.recover10 {
  left: 595px;
  top: 247px;
  -webkit-animation: 4s recover 1s ease-in-out infinite;
          animation: 4s recover 1s ease-in-out infinite;
}
.reviews .map .recover.recover11 {
  right: 342px;
  top: 260px;
  -webkit-animation: 4.5s recover 1.5s ease-in-out infinite;
          animation: 4.5s recover 1.5s ease-in-out infinite;
}
.reviews .map .recover.recover12 {
  right: 285px;
  top: 227px;
  -webkit-animation: 5.5s light 1s ease-in-out infinite;
          animation: 5.5s light 1s ease-in-out infinite;
}
.reviews .map .recover.recover13 {
  left: 464px;
  top: 257px;
  -webkit-animation: 4.5s light 1.5s ease-in-out infinite;
          animation: 4.5s light 1.5s ease-in-out infinite;
}
.reviews .map .recover.recover14 {
  left: 564px;
  top: 367px;
  -webkit-animation: 4s recover 1.5s ease-in-out infinite;
          animation: 4s recover 1.5s ease-in-out infinite;
}
.reviews .map .recover.recover15 {
  left: 561px;
  top: 226px;
  -webkit-animation: 3.5s light .5s ease-in-out infinite;
          animation: 3.5s light .5s ease-in-out infinite;
}
.reviews .map .recover.recover16 {
  left: 521px;
  top: 216px;
  -webkit-animation: 3s recover .5s ease-in-out infinite;
          animation: 3s recover .5s ease-in-out infinite;
}
.reviews .map .recover.recover17 {
  right: 177px;
  top: 397px;
  -webkit-animation: 4s light 1.5s ease-in-out infinite;
          animation: 4s light 1.5s ease-in-out infinite;
}
.reviews .map .recover.recover18 {
  left: 581px;
  top: 216px;
  -webkit-animation: 5s recover .5s ease-in-out infinite;
          animation: 5s recover .5s ease-in-out infinite;
}
.reviews .map .recover.recover19 {
  left: 521px;
  top: 246px;
  -webkit-animation: 6s light 1.5s ease-in-out infinite;
          animation: 6s light 1.5s ease-in-out infinite;
}
.reviews .map .recover.recover20 {
  right: 221px;
  top: 246px;
  -webkit-animation: 5.5s recover 1s ease-in-out infinite;
          animation: 5.5s recover 1s ease-in-out infinite;
}
.reviews .map .recover.recover21 {
  right: 421px;
  top: 286px;
  -webkit-animation: 4.5s light 1.5s ease-in-out infinite;
          animation: 4.5s light 1.5s ease-in-out infinite;
}

/* compare */
.compare.wrapper {
  width: 1035px;
  min-width: 1035px;
  padding: 60px 0;
}
.compare table {
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
}
.compare thead th {
  height: 95px;
  font-size: 20px;
  font-weight: 700;
  vertical-align: bottom;
  font-weight: normal;
}
.compare thead th .box {
  height: 95px;
  padding-top: 26px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  background:#e53935;
}
.compare thead th.itemb .box {
  height: 95px;
  padding-top: 26px;
  font-size: 14px;
  line-height: 22px;
  background: #565656;
}
.compare thead th .box strong {
  font-size: 18px;
}
.compare thead .text {
  padding-left: 5px;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  line-height: 95px;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}
.compare thead span {
  display: block;
  margin-top: 5px;
  color: #fff;
}
.compare thead strong {
  color: #fff;
}
.compare tr {
  text-align: center;
  font-size: 14px;
}
.compare tr > td {
  height: 41px;
  font-size: 14px;
  line-height: 30px;
  vertical-align: middle;
  color: #000;
  font-weight: 500;
  border-bottom: 1px solid #dcdcdc;
}
.compare tr > td strong {
  font-weight: 500;
}
.compare tr > td sup {
  font-size: 10px;
  vertical-align: top;
}
.compare tr > td sup.green {
  color: #45b527;
}
.compare tr > td sup.red {
  color: #ff0000;
}
.compare td.icons {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 10px;
  text-align: center;
}
.compare td.virtue {
  width: 640px;
  text-align: left;
}
.compare td.virtue.lineheight20 {
  line-height: 20px;
}
.compare td.virtue em {
  display: inline-block;
  width: 500px;
  font-size: 14px;
  font-style: normal;
  vertical-align: middle;
}
.compare td.itema {
  background: #fef5f5;
  border-bottom: solid #dcdcdc 1px;
}
.compare td.itemb { background-color: #fff; }
.compare td.gray {
  background: #f6f6f6;
}
.compare td.itema,
.compare td.itemb {
  width: 170px;
  color: #000;
  text-align: center;
}
.compare td i.star {
  display: inline-block;
  width: 19px;
  height: 18px;
  margin-top: 11px;
}
.compare td i.star.grey {
  background: url("../images/star.png") 0 0px no-repeat;
}
.compare td i.red {
  background: url("../images/star.png") 0 -18px no-repeat;
}
.compare table .spac {
  width: 6px;
  border-color: #fff;
}

/* footbuy */
.footbuy {
  width: 100%;
  height: 239px;
  background: url("../images/bg.jpg") center center no-repeat;
}
.footbuy .wrapper { height: inherit; }
.footbuy .imgbox {
  position: relative;
  margin-left: -30px;
  width: 340px;
  height: inherit;
}
.footbuy .imgbox img {
  display: block;
  position: absolute;
  top: 24px;
  left: -100px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: left ease .4s, opacity .4s;
          transition: left ease .4s, opacity .4s;
}
.footbuy .imgbox img.small { 
  top: 42px;
  left: 0px;
}
.footbuy .imgbox img.on { 
  left: 0px; 
  opacity: 1;
  visibility: visible;
}
.footbuy .imgbox img.small.on { left: 102px; }
.footbuy ul { margin: 60px 10px 0 0px; }
.footbuy li {
  position: relative;
  width: 440px;
  height: 45px;
  color: #fac6c6;
  font-weight: 600;
  line-height: 36px;
  cursor: pointer;
}
.footbuy li span { 
  display: inline-block;
  margin-left: 92px;
  width: 230px; 
}
.footbuy li em {
  display: inline-block;
  margin-top: 6px;
  margin-left: 8px;
  color: #1d1305;
  font-size: 22px;
  font-weight: 800;
}
.footbuy li.on,
.footbuy li.sold {
  color: #fff;
  line-height: 26px;
  font-size: 16px;
  background: url(../images/choice.png) 0 0 no-repeat;
}
.footbuy li.sold { 
  color: #d43831;
  cursor: default;
  line-height: 36px;
  background-position: 0 -45px; 
}
.footbuy li.sold .mask {
  top: 8px;
  left: 200px;
  width: 63px;
  height: 32px;
  text-indent: -9999px;
  background: url(../images/expire-small.png) no-repeat;
}
.footbuy li.sold em { color: #a70b01; }
.footbuy li.on em {
  margin-left: 0px;
  color: #ffda0d;
  font-size: 32px;
  text-shadow: 0px 5px 5px rgba(143, 7, 7, 0.73);
}

/* service */
.service dl {
  padding: 76px 0 50px;
  width: 25%;
  text-align: center;
}
.service dl img {
  display: block;
  margin: 0 auto;
}
.service dl dd h3 {
  margin-top: 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
}
.service dl dd p {
  padding: 0 20px;
  margin-top: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}

/* footer */
.footer {
  height: 105px;
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #c9c9c9;
}
.footer .notes p {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #898989;
}
.footer p.copyright {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
}

/* pop */
.popbg,
.popbox {
  position: fixed;
  z-index: -1;
  visibility: hidden;
}
.popbg {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/pop-bg.png) top center repeat;
}
.popbox {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  margin-top: 60px;
  width: 874px;
  height: 575px;
  color: #000;
  text-align: center;
  background: url(../images/popbox-bg.png) top center no-repeat;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: opacity .6s,transform .6s ease;
          transition: opacity .6s,transform .6s ease;
}
.popbox h2 { text-indent: -9999px; }
.popbox h4 {
  padding-top: 170px;
  color: #ffc2c3;
  font-size: 16px;
  font-weight: 500;
}
.popbox h4 b {
  color: #ffd200;
  font-weight: 600;
  font-size: 20px;
}
.popbox .left {
  display: block;
  margin: 18px 44px 0 126px;
}
.popbox .right {
  width: 356px;
  text-align: center;
}
.popbox h3 {
  margin-top: 50px;
  margin-bottom: 16px;
  color: #ffc2c3;
  font-size: 16px;
  font-weight: 600;
}
.popbox p { 
  margin-bottom: 26px;
  height: 60px; 
}
.popbox p strong {
  display: block;
  float: left;
  width: 80px;
  line-height: 60px;
  color: #f75c5f;
}
.popbox p strong.two {
  width: 104px;
  font-size: 16px;
}
.popbox p strong.three {
  width: 172px;
  color: #ffd200;
  font-size: 22px;
}
.secbox {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  height: 20px;
  overflow: hidden;
  font-style: normal;
  vertical-align: middle;
}
.secbox .seclist { 
  float: left; 
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}
.secbox .seclist span { 
  display: block; 
  margin-right: 1px;
  width: 17px;
  height: 20px;
  background: #8b0305;
  border-radius: 4px;
  border-right: 1px solid #ff585a;
}
.popbox .close {
  display: block;
  position: absolute;
  top: 190px;
  right: 110px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  background-position: 0 -55px;
}
.popbox .close:hover { opacity: .9; }

/* animation */
.popbg.on { 
  z-index: 999;
  visibility: visible; 
}
.popbox.on {
  z-index: 1000; 
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* animation */
@-webkit-keyframes recover {
  0% { -webkit-transform: scale(1); }
  10% { -webkit-transform: scale(.5); }
  20% { -webkit-transform: scale(1.8); }
  30% { -webkit-transform: scale(.8); }
  40% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(.5); }
  60% { -webkit-transform: scale(1.5); }
  70% { -webkit-transform: scale(1); }
  80% { -webkit-transform: scale(.5); }
  90% { -webkit-transform: scale(.2); }
  100% { -webkit-transform: scale(1); }
}
@keyframes recover {
  0% { transform: scale(1); }
  10% { transform: scale(.5); }
  20% { transform: scale(1.8); }
  30% { transform: scale(.8); }
  40% { transform: scale(1); }
  50% { transform: scale(.5); }
  60% { transform: scale(1.5); }
  70% { transform: scale(1); }
  80% { transform: scale(.5); }
  90% { transform: scale(.2); }
  100% { transform: scale(1); }
}
@-webkit-keyframes light {
  0% { -webkit-transform: scale(1); }
  20% { -webkit-transform: scale(.5); }
  40% { -webkit-transform: scale(1.8); }
  60% { -webkit-transform: scale(1.2); }
  80% { -webkit-transform: scale(.5); }
  100% { -webkit-transform: scale(1); }
}
@keyframes light {
  0% { transform: scale(1); }
  20% { transform: scale(.5); }
  40% { transform: scale(1.8); }
  60% { transform: scale(1.2); }
  80% { transform: scale(.5); }
  100% { transform: scale(1); }
}