@charset "utf-8";

/* CSS Document */
* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 1000px; 
  font-size: 14px;
  line-height: 1.4;
  color: #000;
  font-weight: 400;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  outline: 0;
  vertical-align: baseline;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #000;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li { list-style-type: none; }
img { border: none; }
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}
.clearfix { zoom: 1; }
.fl { float: left; }
.fr { float: right; }
.wrapper {
  position: relative;
  width: 1000px;
  min-width: 1000px;
  margin: 0 auto;
  zoom: 1;
}
.all-icons { 
  display: inline-block;
  text-indent: -9999px;
  background: url(../images/all-icons.png) no-repeat 0 0;
}

/* banner */
.banner { 
  height: 650px;
  color: #181a1c;
  text-align: center;
  background: url(../images/bg.jpg) no-repeat top center;
  background-size: cover;
}
.banner .logo { 
  display: block; 
  padding-top: 12px;
  text-align: left;
}
.banner h4 {
  margin: -12px 0 -6px;
  font-size: 18px;
  line-height: 32px;
} 
.banner h1 {
  font-size: 61px;
}
.banner h1 b { color: #ea2d2f; }
.countdown {
  margin-top: 8px;
  font-size: 16px;
}
.countdown i {
  margin-right: 6px;
  width: 19px;
  height: 19px;
  vertical-align: middle;
  background: url(../images/date.png);
}
.panelbox {
  border-radius: 10px;
  background: #c2c2c2;
  background: rgba(194, 194, 194, .45);
}
.packbox {
  margin: 20px 0 20px 588px;
  width: 262px;
  height: 37px;
  line-height: 37px;
  font-size: 16px;
}
.packbox span { color: #ea2d2f; }
.packbox span b {
  font-size: 18px;
}
.banner .panel {
  margin: 0 auto 23px;
  width: 918px;
  height: 204px;
  text-align: left;
  background: url(../images/content.png);
}
.banner .panel img,
.banner .panel span {
  display: inline-block;
  vertical-align: middle;
}
.banner .panel span { font-size: 72px; }
.banner .panel img { margin: -58px 52px 0 -14px; }
.banner .panel img.right { margin: -34px -50px 0 -26px; }
.price del {
  padding-right: 6px;
  font-size: 20px;
  color: #66666b;
  font-weight: 500;
}
.price strong {
  font-size: 36px;
  color: #ea2d2f;
}
.people i {
  margin-right: 6px;
  width: 18px;
  height: 13px;
  background-position: 0 -97px;
}
.reducebox {
  position: relative;
  display: inline-block;
}
.reducebox .reduce {
  display: block;
  position: absolute;
  top: -10px;
  left: -8px;
  width: 34px;
  height: 60px;
  background: url(../images/num.png) no-repeat;
}
.reduceNum {
  -webkit-animation: reduceNum 1s forwards;
          animation: reduceNum 1s forwards;
}

.price span b {
  position: absolute;
  top: -12px;
  left: -30px;
  display: block;
  width: 105px;
  height: 14px;
  line-height: 12px;
  color: #fff;
  font-size: 10px;
  font-weight: 400;
  border-radius: 7px;
  background-color: #ea2d2f;
}
/* buybtn */
.buybtn {
  position: relative;
  display: block;
  margin: 7px auto 20px;
  width: 266px;
  height: 54px;
  line-height: 56px;
  color: #181a1c;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  border-radius: 6px;
  background: #ff9c00;
  border: 1px solid #ff7700;
  box-shadow: 0px 18px 18px 0px rgba(75, 4, 7, 0.25);
  background: -webkit-linear-gradient(rgb(255,210,0) 0%, rgb(255,156,0) 100%);
  background:         linear-gradient(rgb(255,210,0) 0%, rgb(255,156,0) 100%);
  -webkit-transition: all .2s ease;
          transition: all .2s ease;
}
.banner .buybtn:after {
  content: '';
  position: absolute;
  top: -6px;
  right: -102px;
  width: 89px;
  height: 89px;
  background: url(../images/moneyback.png) no-repeat;
}
.donation .buybtn {
  margin-top: 36px;
  width: 361px;
  font-size: 18px;
}
.footbuy .buybtn {
  margin-top: 14px;
  width: 282px;
  height: 52px;
  line-height: 54px;
  font-size: 20px;
}
.buybtn i {
  margin-top: -4px;
  margin-right: 10px;
  width: 26px;
  height: 20px;
  vertical-align: middle;
  background-position: 0 -77px;
}
.buybtn:hover {
  background: #ffd200;
  background: -webkit-linear-gradient(rgb(255,156,0) 0%, rgb(255,210,0) 100%);
  background:         linear-gradient(rgb(255,156,0) 0%, rgb(255,210,0) 100%);
}

/* second */
.second {
  width: 100%;
  min-width: 1000px;
  height: 740px;
  text-align: center;
  background: url(../images/sec-bg.jpg) top center no-repeat;
  background-size: cover;
}
.second .payment {
  padding: 38px 0;
  background: rgba(255,255,255,.41);
}
.intro h2 {
  margin-top: 60px;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  color: #212121;
}
.intro .feature-img {
  float: left;
  display: block;
  margin-left: -16px;
}
.intro .feature-box {
  position: relative;
  float: left;
  width: 460px;
  min-height: 420px;
  text-align: left;
}
.intro .feature-box dl {
  position: absolute;
  top: 66px;
  left: -13px;
  width: 460px;
  opacity: 0;
  filter:alpha(opacity=0);
  -webkit-transform: translate(100px, 0);
          transform: translate(100px, 0);
  -webkit-transition: opacity 1s,-webkit-transform 1s ease;
          transition: opacity 1s,        transform 1s ease;
}
.intro .feature-box dl.driver { 
  top: 155px;
  left: 14px; 
}
.intro .feature-box dl.veloce { 
  top: 232px; 
  left: 8px; 
  width: 500px;
}
.intro .feature-box dl.backup { 
  top: 336px;
  left: -30px; 
}
.intro .feature-box dl.on {
  opacity: 1;
  filter:alpha(opacity=100);
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.intro .feature-box dl.driver.on {  }
.intro .feature-box dl.veloce.on { }
.intro .feature-box dl.backup {  }
.intro .feature-box h3 {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  color: #232323;
}
.intro .feature-box dd {
  font-size: 15px;
  line-height: 20px;
  color: #666;
}
.intro .feature-box a.per {
  margin: 18px -36px 0 0;
  display: block;
  float: right;
  font-size: 14px;
  line-height: 16px;
  color: #1e88e5;
  border-bottom: 1px solid #1e88e5;
}

.donation {
  position: relative;
  margin: 60px auto;
  width: 990px;
  text-align: center;
  min-height: 470px;
  border-radius: 10px;
  background: #fff;
  border: 5px solid #ff4b44;
}
.donation:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: 92px;
  height: 92px;
  background: url(../images/free.png) no-repeat;
}
.donation h4 {
  position: absolute;
  top: -18px;
  left: 345px;
  font-size: 21px;
  line-height: 32px;
  background: #fff;
}
.donation h4 b {
  font-size: 24px;
  color: #e23433;
}
.donation h2 {
  margin: 46px 0 0;
  font-size: 28px;
  line-height: 32px;
}
.donation > p {
  font-size: 16px;
  line-height: 32px;
}
.donation li {
  float: left;
  width: 50%;
  min-height: 142px;
}
.donation li img {
  display: block;
  float: left;
  margin: 48px 20px 0 44px;
}
.donation .txt {
  margin-top: 76px;
  float: left;
  text-align: left;
}
.donation h3 {
  margin-bottom: 12px;
  font-size: 18px;
}
.donation strong {
  font-size: 36px;
  color: #e23433;
}
.donation del {
  padding-left: 6px;
  font-size: 18px;
  color: #7d7d7d;
}
.donation .price p {
  font-size: 16px;
  font-weight: 500;
}
.donation .price p b {
  font-weight: 500;
  color: #e23433;
}

/* review */
.review { 
  padding: 40px 0; 
  margin-top: 25px; 
}
.review h2,
.review h3 { 
  font-weight: 500; 
  text-align: center;
}
.review h2 { font-size: 26px;}
.review h3 { 
  margin-top: 4px;
  color: #212121; 
  font-size: 16px;
}
.review h3 strong { color: #e81d16;}

.review .review-message { 
  position: relative; 
  height: 434px; 
  margin-top: 30px; 
  background: url(../images/map.jpg) no-repeat center;
  background-size: cover;
}
.review .review-message dl { 
  position: absolute; 
  width: 115px; 
  height: 101px;
}
.review .review-message dl dt { 
  position: relative; 
  height: 101px; 
  text-align: center;
}
.review .review-message dl dt .img-box { 
  position: relative; 
  z-index: 30; 
  width: 115px; 
  height: 101px; 
  cursor: pointer;
}
.review .review-message dl h4 { 
  padding-top: 30px; 
  font-size: 12px; 
  color: #d82029;
  font-weight: 500;
}
.review .review-message dl img {
  position: relative; 
  z-index: 5; 
  margin-top: 2px; 
  width: 38px; 
  height: 38px; 
  border-radius: 50%; 
  border: solid #d82029 2px;     
  -webkit-transition: all ease .4s;
          transition: all ease .4s;
}
.review .review-message dl .line { 
  position: absolute; 
  background: url(../images/map-line.png);
}
.review .review-message dl em {
  display: block;
  float: right;
}
.review .review-message dl dd { 
  position: absolute; 
  z-index: 8; 
  left: 108px; 
  top: 5px; 
  width: 310px; 
  padding: 15px 15px;
  opacity: 0;
  filter:alpha(opacity=0); 
  border-radius: 5px; 
  color: #Fff; 
  background: #f06a65;
  background: rgba(232, 26, 19, .7); 
  box-shadow: 0px 6px 15px 0px rgba(216, 32, 41, 0.39);
  -webkit-transition: all ease .2s;
          transition: all ease .2s;
}
.review .review-message dl dd:after {
  content: ""; 
  position: absolute; 
  top: 50%; 
  left: -9px;
  margin-top: -9px;
  width: 9px; 
  height: 16px; 
  background: url(../images/arrow.png) 0 0;
}
.review .review-message dl.right dd:after {
  left: auto;
  right: -9px;
  background-position: 0 -16px;
}
.review .review-message dl .line:after,
.review .review-message dl .line:before {
  content: ""; 
  position: absolute; 
  top: 114px; 
  left: 93px;
  width: 6px; 
  height: 6px; 
  border-radius: 50%; 
  background: #ababab;    
}
.review .review-message dl .line:before { 
  width: 12px; 
  height: 12px; 
  top: 111px; 
  left: 90px; 
  background: rgba(171,171,171,.35);
}
.review .review-message dl.active dd { 
  z-index: 35; 
  opacity: 1;
  filter:alpha(opacity=100); 
}
.review .review-message dl.active h4 {
  padding-top: 0px; 
  font-size: 16px;
}
.review .review-message dl.active img { 
  width: 77px; 
  height: 77px; 
  border: solid #d82029 3px;
}
.review .review-message dl.active.wayne .line { background-position: -96px 0px;}
.review .review-message dl.active.myo .line { background-position: -251px 0px;}
.review .review-message dl.active.pcmag .line { background-position: -374px 0px;}
.review .review-message dl.active.chip .line { background-position: -473px 0px;}
.review .review-message dl.active.fabio .line { background-position: -533px 0px;}
.review .review-message dl.active.vector .line { background-position: -644px 0px;}
.review .review-message dl.active.adam .line { background-position: -62px -147px;}
.review .review-message dl.active.olnet .line { background-position: -227px -135px; }
.review .review-message dl.active.olorin .line { background-position: -382px -135px; }
.review .review-message dl.active.html .line { background-position: -518px -134px; }
.review .review-message dl.active .line:after,
.review .review-message dl.active .line:before { 
  -webkit-animation: round 1s;  
          animation: round 1s;  
}
@-webkit-keyframes round {
  from { 
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  to { 
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes round {
  from { 
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  to { 
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.review .review-message dl.red-round .line:after { background: #d82029;}
.review .review-message dl.red-round .line:before { background: rgba(211,50,50,.3);}
.review .review-message dl.wayne { 
  top: 10px; 
  left: 17px;
}
.review .review-message dl.wayne .line { 
  width: 94px; 
  height: 115px; 
  left: 54px; 
  bottom: -89px;  
}
.review .review-message dl.myo {
  top: 30px; 
  left: 164px;
}
.review .review-message dl.myo .line { 
  width: 58px; 
  height: 83px; 
  left: 53px; 
  bottom: -75px; 
  background-position: -192px 0px; 
}
.review .review-message dl.myo .line:after { 
  top: 81px; 
  left: 57px;
}
.review .review-message dl.myo .line:before { 
  top: 78px; 
  left: 54px;
}
.review .review-message dl.pcmag {
  top: 21px; 
  left: 287px;
}
.review .review-message dl.pcmag .line { 
  width: 62px; 
  height: 87px; 
  left: -7px; 
  bottom: -68px; 
  background-position: -311px 0px; 
}
.review .review-message dl.pcmag .line:after { 
  top: 83px; 
  left: -3px;
}
.review .review-message dl.pcmag .line:before { 
  top: 80px; 
  left: -6px;
}
.review .review-message dl.chip {
  top: 30px; 
  left: 401px;
}
.review .review-message dl.chip .line { 
  width: 35px; 
  height: 68px; 
  left: 55px; 
  bottom: -57px; 
  background-position: -438px 0px; 
}
.review .review-message dl.chip .line:after { 
  top: 68px; 
  left: 35px;
}
.review .review-message dl.chip .line:before { 
  top: 65px; 
  left: 32px;
}

.review .review-message dl.fabio {
  top: 19px; 
  left: 487px;
}
.review .review-message dl.fabio .line { 
  width: 24px;
  height: 77px; 
  left: 35px; 
  bottom: -66px; 
  background-position: -509px 0px; 
}
.review .review-message dl.fabio .line:after { 
  top: 75px; 
  left: -6px;
}
.review .review-message dl.fabio .line:before { 
  top: 72px; 
  left: -9px;
}
.review .review-message dl.vector {
  top: 60px; 
  left: 677px;
}
.review .review-message dl.vector .line { 
  width: 83px; 
  height: 79px; 
  left: 56px; 
  bottom: -69px; 
  background-position: -559px 0px; 
}
.review .review-message dl.vector .line:after { 
  top: 76px; 
  left: 78px;
}
.review .review-message dl.vector .line:before { 
  top: 73px; 
  left: 75px;
}
.review .review-message dl.olnet dd,
.review .review-message dl.adam dd,
.review .review-message dl.olorin dd,
.review .review-message dl.html dd { 
  top: 30px; 
  left: 117px;
}
.review .review-message dl.adam dd { 
  top: 10px; 
  left: 118px;
}
.review .review-message dl.olorin dd { 
  top: 10px;
  left: 126px; 
}
.review .review-message dl.right dd { left: -344px; }
.review .review-message dl.adam h4,
.review .review-message dl.olnet h4,
.review .review-message dl.olorin h4,
.review .review-message dl.html h4 { padding-top: 0px; }
.review .review-message dl.adam img,
.review .review-message dl.olnet img,
.review .review-message dl.olorin img,
.review .review-message dl.html img { margin-top: 30px; }
.review .review-message dl.adam {
  top: 294px; 
  left: 77px;
}
.review .review-message dl.adam .line { 
  width: 61px; 
  height: 85px; 
  left: 56px; 
  bottom: 71px; 
  background-position: 0px -147px; 
}
.review .review-message dl.adam .line:after { 
  top: -3px; 
  left: 63px;
}
.review .review-message dl.adam .line:before { 
  top: -6px; 
  left: 60px;
}
.review .review-message dl.olnet {
  top: 272px; 
  left: 323px;
}
.review .review-message dl.olnet .line { 
  width: 97px; 
  height: 98px; 
  left: 58px; 
  bottom: 71px; 
  background-position: -130px -135px; 
}
.review .review-message dl.olnet .line:after { 
  top: -6px; 
  left: 96px;
}
.review .review-message dl.olnet .line:before { 
  top: -9px; 
  left: 93px;
}
.review .review-message dl.olorin {
  top: 247px; 
  left: 393px;
}
.review .review-message dl.olorin .line { 
  width: 47px; 
  height: 74px; 
  left: 58px; 
  bottom: 68px; 
  background-position: -335px -135px; 
}
.review .review-message dl.olorin .line:after { 
  top: -6px; 
  left: 47px;
}
.review .review-message dl.olorin .line:before { 
  top: -9px; 
  left: 44px;
}
.review .review-message dl.html {
  top: 277px; 
  left: 529px;
}
.review .review-message dl.html .line { 
  width: 82px; 
  height: 85px; 
  left: -22px; 
  bottom: 68px; 
  background-position: -435px -134px; 
}
.review .review-message dl.html .line:after { 
  top: -5px; 
  left: -6px;
}
.review .review-message dl.html .line:before { 
  top: -8px; 
  left: -9px;
}

/* comparison */
.comparison { 
  margin-top: 30px; 
  display:block; 
  color: #21222a; 
}
.comparison table { 
  border: 0; 
  border-collapse: separate; 
  border-spacing: 0; 
}
.comparison th {  
  font-size: 18px; 
  border-bottom:1px #e1e1e1 solid; 
}
.comparison th .box { 
  height: 100px; 
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background: #6b6b6b;
  border-top-left-radius: 6px; 
  border-top-right-radius: 6px;
}
.comparison th.itemb .box { 
  height: 120px; 
  margin-top: -20px;
  background: #df2f33; 
}
.comparison th .box p { padding-top: 16px; }
.comparison th.itemb .box p { padding-top: 26px; }
.comparison th .box img {
  display: block;
  margin: 14px auto 0;
}
.comparison .itema,
.comparison .itemb {
  width: 220px;
  background: #f7f7f7;
}

.comparison .itemb {
  background: #fef6f6;
}
.comparison .space { 
  width: 10px; 
  background: #fff; 
  border-color: #fff;
}
.comparison th.text {
  text-align: left; 
  font-size: 20px; 
  font-weight: 500;
  line-height: 24px;
  vertical-align: middle;
}
.comparison tr { 
  text-align: center; 
  font-size: 14px; 
}
.comparison td { 
  height: 46px; 
  vertical-align: middle; 
  border-bottom: 1px #e1e1e1 solid; 
}
.comparison td.virtue { 
  text-align:left; 
  font-size: 14px; 
  color: #21222a;
}
.comparison td i {
  width: 19px;
  height: 19px;
  background-position: 0 0px;
}
.comparison td i.red { background-position: 0 -38px; }
.comparison td i.line { background-position: 0 -19px; }
.comparison td span {
  display: inline-block;
  max-width: 380px;
  vertical-align: middle;
}
.comparison td em {
  display: inline-block;
  margin-left: 2px;
  margin-right: -140px;
  width: 64px;
  height: 15px;
  text-indent: -9999px;
  vertical-align: middle;
  background: url(../images/nuo.png) 0 0 no-repeat;
}
.comparison td em.nuo {
  width: 55px;
  background-position: 0 -15px;
}

/* footbuy */
.footbuy {
  margin: 40px auto;
  min-height: 351px;
  border-radius: 12px;
  text-align: center;
  background: #e12939;
}
.footbuy h2 {
  padding: 20px 0 12px;
  font-size: 26px;
  line-height: 38px;
  color: #fff;
}
.footbuy .countdown {
  margin: 0 auto;
  width: 279px;
  height: 26px;
  line-height: 26px;
  font-size: 14px;
  background: #733734;
  border-radius: 13px;
  background: rgba(46, 41, 41, .67);
  color: #fff;
}
.footbuy .countdown i {
  margin-top: -1px;
  margin-right: 4px;
  width: 15px;
  height: 15px;
  background: url(../images/date.png);
  background-position: 0 -23px;
}
.footbuy img {
  display: block;
  margin: 24px 46px 0 146px;
}
.footbuy .price { margin-top: 52px; }
.footbuy .price strong {
  font-size: 32px;
  color: #ffd100;
}
.footbuy .price del {
  font-size: 18px;
  color: #f7c3c5;
}

/* service */
.service dl {
  margin-top: 48px;
  float: left;
  width: 25%;
  text-align: center;
}
.service dt {
  height: 72px;
  line-height: 72px;
}
.service dt img {
  line-height: 72px;
  vertical-align: middle;
}
.service h3 {
  margin: 16px 0 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}
.service p { line-height: 22px; }
.service p span { display: block; }
.annotation {
  margin-top: 30px;
  padding: 26px 0;
  font-size: 12px;
  line-height: 16px;
  color: #757575;
  border-top: 1px solid #e0e0e0;
}
.copyright { 
  padding-bottom: 30px;
  text-align: center;
  line-height: 14px; 
}

/* animation */
@-webkit-keyframes reduceNum {
  from { 
    top: -10px;
    opacity: 1;
  }
  to { 
    top: -100px;
    opacity: 0;
  }
}
@keyframes reduceNum {
  from { 
    top: -10px;
    opacity: 1;
  }
  to { 
    top: -100px;
    opacity: 0;
  }
}