*{ margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;}
body { min-width: 1000px; font-size: 14px; line-height:1.4; color: #000; font-family: 'Open Sans', Arial, Helvetica, sans-serif;}
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; outline: none; color: #006699; text-decoration: none; cursor: pointer; }
a:hover {  text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse; border-spacing:0; }
ul,ul li { list-style-type:none;}
.clear {display:block;height:0;overflow:hidden;clear:both;}
.clearfix:after {content:'\20';display:block;height:0;clear:both;}
.clearfix {*zoom:1;}
.hidden { display: none; }
.show { display: block; }
.wrapper{width:800px; margin:0 auto;}

.head{height:65px; background:#041b30 url(../images/head.jpg) center center no-repeat;}
.head .logo{width:112px; height:58px; display:block; float:left; text-indent:-9999px;}

.head dl{float:right; font-size:11px; color:#fff; margin-top:6px;}
.head dl dt{width:125px; float:right; margin-top: 15px;}
.head dl dd{float:left; width:270px; text-align:right; margin-right: 10px; margin-top: 10px;}

#main{ }

#main .intro{ position: relative; height:389px; background:url(../images/proc_bg.png) 0 0 repeat-x;}
#main .intro:after {content:'\20'; position: absolute; display:block; top: 1px; width: 800px; height: 18px; background: url(../images/shadow.png) center;}

#main .intro h1{text-align:center; font-size:30px; font-style:italic; padding:10px 0;}
#main .intro h2{text-align:right; font-size:18px; font-style:italic; color:#666; margin-right:82px;}
#main .intro .boxshot{ float:left; margin-top: 30px; margin-left: 15px; }

#main .intro .discount{width: 320px; margin-top:30px; float:right; margin-right: 20px; text-align:center;}
#main .intro .discount h3{font-size:20px;}
#main .intro .discount h3 span{ display: block; font-size: 30px; line-height: 32px; color: #ff0000; font-weight: bold;}
#main .intro .discount dl {}
#main .intro .discount dl dt { margin-top: 15px; margin-bottom: 10px; }
#main .intro .discount dl dt span { display: inline-block; text-indent: -9999px;}
#main .intro .discount dl dd{ margin-bottom: 10px; font-size: 12px;}
#main .intro .discount dl dd.only { color: #ff0000; font-weight: 600;}
#main .intro .discount dl dd.only span { font-size: 12px; color: #333;}
#main .intro .discount dl dd.only em { font-size:23px;}
#main .intro .discount dl dd.only del { text-indent:-9999px;}
#main .intro .discount dl dd.only del img { vertical-align: middle;}

.checkbtn{width:254px; height:56px; display:block; margin: 0px auto;background:url(../images/btns.png) 0 0 no-repeat; font-size:22px; font-family: "Arial"; font-weight:bold; text-align:center; text-indent:30px; line-height:56px; color:#fff; text-decoration:none; text-shadow: 0px 1px #000;}
.checkbtn:hover{ background-position:0 -56px; color:#fff;}


#main .promise{margin-top:50px;}
#main .promise h2{font-size:22px; margin-bottom:30px;color:#0099cc;}
#main .promise .leftbox{width:520px; float:left;}
#main .promise .leftbox ul{}
#main .promise .leftbox ul li{font-size: 15px; font-weight: bold; color: #666; line-height: 30px; margin:10px 0; padding-left: 30px; background: url(../images/icons.png) no-repeat }
#main .promise .leftbox ul li.icon01{background-position: 0 0px;}
#main .promise .leftbox ul li.icon02{background-position: 0 -40px;}
#main .promise .leftbox ul li.icon03{background-position: -2px -78px;}

#main .promise .review{width:265px; float:right; line-height:24px; position:relative;}
#main .promise .review span{float:left; width:20px; height:17px; display:block; margin-right:10px; background:url(../images/quote.png) 0 0 no-repeat;}
#main .promise .review img { display: block; float: right; margin: 15px 0; }

#main .checkout{margin-top:25px;}
#main .checkout .moneyback{width:450px; height:65px; padding-right:70px; padding-top:12px; margin-top:-10px; float:left;font-size:11px; line-height:18px; color:#666; background:url(../images/moneyback.png) right 5px no-repeat;}
#main .checkout .moneyback a { text-decoration: underline;}
#main .checkout .btn{width:255px; float:right; text-align: center;}
#main .checkout .btn span { margin-top: 10px;text-transform: uppercase;}

#main .awards{width:691px; height:105px; margin:30px 58px; display:inline-block; background:url(../images/download_awards.jpg) 0 0 no-repeat;}

#footer{ height:55px; line-height:55px; background:url(../images/shadow.png) center top no-repeat;text-align:center; font-size:11px; color:#999;}
#footer img { display: inline-block; line-height: 20px; vertical-align: middle; margin-right: 5px;}
.pop-up {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100001;
    width: 100%;
    height: 100%;
    background: url(../images/pop.png) repeat;
}
.pop-main {
    position: relative;
    width: 100%;
    height: 100%;
}
.pop-box {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -108px;
    margin-left: -289px;
    width: 578px;
    height: 216px;
    border: 1px solid #faf0bf;
    background-color: #fff;
}
.pop-box h2,
.pop-box p {
    margin: 0 auto;
    width: 410px;
    text-align: left;
}
.pop-box h2 {
    padding: 32px 0 10px;
    font-size: 22px;
    color: #e50403;
}
.pop-box p {
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 22px;
    color: #010007;
}
.main {
    position: relative;
}