@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 1000px;
  font-size: 14px;
  line-height: 1.4;
  color: #000;
  font-family: "Lato",Arial,Helvetica,sans-serif;
  font-weight: 400;
  outline: 0;
  vertical-align: baseline;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #000;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li { list-style-type: none; }
img { border: none; }
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}
.clearfix { zoom: 1; }
.wrapper {
  position: relative;
  width: 1000px;
  min-width: 1000px;
  margin: 0 auto;
  zoom: 1;
}
.fl { float: left; }
.fr { float: right; }
i { 
  display: inline-block;
  vertical-align: middle;
  background: url(../images/icon.png) no-repeat;
}

.buybtn { display: block; width: 280px; height: 65px; margin: 0px auto; text-align: center; line-height: 65px; font-size: 16px; font-weight: 700;  color: #483201; background: url(../images/buybtn.png);
  border-radius: 28px;
  box-shadow: 3.584px 9.336px 30px 0px rgba(229, 193, 165, 0.62);
}
.buybtn:hover { background-position: 0px -65px; }

/* banner */
.banner { height: 820px; background: url(../images/banner.jpg) no-repeat center;}
.banner .logo { display: inline-block; width: 38px; height: 13px; margin-top: 16px; margin-left: 8px; text-indent: -9999px; background: url(../images/logo.png);}
.banner h1 { height: 60px; margin-top: 14px; text-indent: -9999px; background: url(../images/title.png) no-repeat center;}
.banner h2 { margin-top: 13px; text-align: center; font-size: 18px; color: #188883; font-weight: 400;}
.banner h2 span { display: inline-block; min-width: 196px; height: 32px; font-size: 12px; line-height: 28px; font-weight: 700; background: url(../images/date.png) no-repeat left;}
.banner h2 span strong { display: inline-block; width: 33px; margin-right: 3px; margin-left: 2px; font-size: 18px;}
.banner h2 span strong.first { margin-left: 0px;}
.banner h2 span strong.last { width: 46px; margin-left: 5px;}

.banner .box { float: left; width: 50%; text-align: center; margin-top: 65px;}
.banner .box img { margin-left: 44px;}
.banner .box dl { height: 75px; margin-top: 25px; color: #434242;}
.banner .box dl dt { font-size: 18px; font-weight: 700;}
.banner .box p { margin-bottom: 5px; font-size: 18px; color: #505255; line-height: 14px;  vertical-align: bottom;}
.banner .box p strong { display: inline-block; vertical-align: bottom; width: 94px; height: 37px; background: url(../images/price.png) no-repeat; text-indent: -9999px;}

.banner .gift-box { width: 45%;}
.banner .gift-box img { margin-left: -15px;}
.banner .gift-box dl { margin-top: 5px; height: 85px;}
.banner .gift-box dl dt { margin-bottom: 5px; color: #000;}
.banner .gift-box dl dt span { font-size: 14px; font-weight: 400;}
.banner .gift-box dl dd,.float dl dd{ position: relative; display: block; width: 190px; width: 200px\0; margin: 0px auto; text-align: left; font-weight: 700; color: #ffa60e; font-size: 12px; cursor: pointer;}
.banner .gift-box dl dd span,.float dl dd span {  color: #2f2f2f; font-size: 14px;}
.banner .gift-box dl dd i,.float dl dd i { width: 13px; height: 14px; margin: 0px 5px; margin-top: -6px;}
.banner .gift-box dl dd:hover span{ text-decoration: underline;}
.banner .gift-box dl dd:hover .pop { display: block;}
.banner .gift-box dl dd .pop { position: absolute; display: none; width: 271px; height: 80px; left: -40px; top: -90px; font-size: 12px; line-height: 18px; text-align: center; border: solid #a5f1de 1px; background: #fff; border-radius: 50px; color: #333738;}
.banner .gift-box dl dd .pop strong { display: block; margin-top: 15px; color: #000;}
.banner .gift-box dl dd .pop:before,.banner .gift-box dl dd .pop:after { position: absolute; content: "";  display: block; width: 0; height: 0; left: 0; right: 0; margin: auto;}
.banner .gift-box dl dd .pop:before { 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
  position: absolute;
  z-index: 1;
  top: 80px;
}
.banner .gift-box dl dd .pop:after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #a5f1de;
  z-index: 0;
  top: 81px;
}
.banner .gift-box p { color: #000;}
.banner .gift-box p strong { width: 94px; height: 37px; background: url(../images/price-big.png);}
.banner .gift-box .buybtn { background-position: 0px -130px; text-shadow: 0px 1px 0px rgba(250, 212, 87, 0.4);}
.banner .gift-box .buybtn:hover { background-position: 0px -195px;}

.payment { padding-bottom: 30px; border-bottom: solid #e3e4e7 1px; text-align: center; margin-top: -120px;}

.benfits { text-align: center; margin-top: 70px;}
.benfits h2 { font-size: 44px; color: #188983;}
.benfits .message { height: 370px; margin-top: 60px; background: #f4f5f8 url(../images/bugle.png) no-repeat center top}
.benfits .message h3 { padding-top: 80px; font-size: 32px; font-weight: 400; color: #2f2f2f;}
.benfits .message ul li { float: left; width: 33.3%; margin-top: 60px;}
.benfits .message ul li span { display: block; margin: 0px auto; height: 80px; line-height: 80px;}
.benfits .message ul li span img { display: inline-block; vertical-align: middle;}
.benfits .message ul li p { font-size: 16px; color: #646565; line-height: 20px;}
.benfits .message ul li p i {margin-right: 5px; width: 13px; height: 13px; background-position: 0px -14px;}

.feature { padding-top: 60px; height: 400px; text-align: center; background: #defff1 url(../images/bugle-gray.png) no-repeat center top }
.feature h2 { margin-bottom: 10px; font-size: 34px; color: #2f2a2a;}
.feature dl { float: left; width: 33.3%; margin-top: 50px; font-size: 16px; line-height: 22px;}
.feature dl dt { height: 104px; line-height: 104px;}
.feature dl dt img { display: inline-block; vertical-align: middle;}
.feature dl dd span { display: block; margin-top: 10px; margin-bottom: 15px; font-size: 20px; color: #0eb06d; font-weight: 700;}


/* compar-tab */
.compar-tab { display: block; margin: 30px auto 10px; text-align: center;
}
.compar-tab h2 { margin-top: 70px; margin-bottom: 50px; font-size: 34px; color: #2a2a2a}
.compar-tab table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
.compar-tab table tr th { height: 91px; line-height: 91px; vertical-align: bottom; border-bottom: 1px #dcdcdc solid; }

.compar-tab table thead th.item-free,
.compar-tab table thead th.item-pro { 
  font-size: 16px;
 
}
.compar-tab table thead th .bg { display: inline-block; vertical-align: bottom; width: 100%; border-top-left-radius: 5px; border-top-right-radius: 5px;}
.compar-tab table thead th.item-pro .bg { height: 70px; padding-top: 21px; background: #31c76b; line-height: 24px; color: #fff;}
.compar-tab table thead th.item-free .bg { height: 57px; padding-top: 13px; background: #dfdfdf;  line-height: 22px; color: #575757;}

.compar-tab table tr { text-align: center; }
.compar-tab table tr td {
  height: 40px;
  vertical-align: middle;
  border-bottom: 1px #dcdcdc solid;
}
.compar-tab table tr td.text { 
  width: 520px; 
  color: #393649;
  font-weight: 600;
  text-align: left;
  font-size: 14px;
}
.compar-tab table tr td.icons { 
  width: 50px; 
  text-align: center;
}
.compar-tab table .item-free,
.compar-tab table .item-pro { 
  width: 230px; 
}
.compar-tab table td.item-pro {  background: #f8f7f2; }
.compar-tab table .item-p { display: inline-block; }
.compar-tab table thead th.item-pro dl dt { font-size: 14px; }
.compar-tab table .space {
  width: 10px;
  border-top: 1px #fff solid;
  border-bottom: 1px #fff solid;
} 
.compar-tab table tr td > i {
  width: 13px;
  height: 14px;
  text-indent: -9999px;
  background-position: 0 -27px;
}
.compar-tab table tr td.checked { background: #f6f6f6; }
.compar-tab table tr td.fork > i {
  width: 11px;
  height: 11px;
  background-position: 0 -55px;
}
.compar-tab table tr td > i.solid { background-position: 0px -41px; }


.between-buy { height: 310px; margin-top: 130px; text-align: center; background: url(../images/between-buy-bg.jpg) no-repeat center;}
.between-buy .box { margin-top: -80px;}
.between-buy .box dl{ margin-top: 15px; } 
.between-buy .box dl dt { font-size: 16px;}
.between-buy .box.gift-box { margin-top: -90px;}
.between-buy .box.gift-box dl { margin-top: 5px;}
.between-buy .box.gift-box dl dd { color: #fdf603;}
.between-buy .box.gift-box dl dd i { background-position: 0px -66px;}
.between-buy .box.gift-box .buybtn {box-shadow: 3.584px 5.336px 30px 0px rgba(9, 168, 111, 0.4)}


/* reviews */
/* review */
.review { 
  position: relative; 
  height: 650px;
}
.dg-container { 
  position: relative;
  width: 100%;
  height: 600px; 
  overflow: hidden;
}
.dg-wrapper { 
  margin: 0 auto;
  width: 660px;
  height: 500px;
  -webkit-transform-style: preserve-3d; 
          transform-style: preserve-3d; 
  -webkit-perspective: 500px;
          perspective: 500px;
}
.dg-wrapper .dg-transition { 
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; 
}
.dg-container .nav { 
  position: relative;
  width: 100%; 
}
.dg-container .nav span { 
  position: absolute; 
  top: 132px;
  width: 22px; 
  height: 41px; 
  display: block; 
  overflow: hidden; 
  cursor: pointer; 
  background: url(../images/review-control.png) no-repeat;
}
.dg-container .nav .dg-prev { 
  left: 0; 
  background-position: 0 0;
}
.dg-container .nav .dg-prev:hover { background-position: 0 -41px;}
.dg-container .nav .dg-next { 
  right: 0; 
  background-position: -22px 0;
}
.dg-container .nav .dg-next:hover{ background-position: -22px -41px;}
.inner { 
  display: block; 
  margin: 0 auto;
  width: 660px; 
  height: 510px; 
}
.content { 
  position: relative;
  display: block;
  margin: 0 auto;
  padding-top: 88px; 
  width: 660px; 
  height: 510px; 
}
    
.content .reviews { 
  position: absolute; 
  left: 0; 
  top: 88px;
  display: block;
  width: 660px; 
  height: 500px;
  text-align: center;
}
.content .reviews dt { margin-bottom: 70px; }
.content .reviews dt  img { 
  width: 130px; 
  height: 130px;
  border-radius: 50%;
}
.content .reviews dd {
  margin-left: -120px;
  display: none;
  width: 900px; 
}
.content .reviews dd h2 {
  display: inline-block; 
  margin-bottom: 40px;
  font-size: 30px;  
  font-weight: 400;
  color: #161723;
}
.content .reviews dd p {
  line-height: 28px; 
  color: #212121;
}
.content .reviews dd cite {
  display: inline-block; 
  margin-top: 30px; 
  font-style: normal; 
  font-size: 20px; 
  color: #161723;
}
.content .reviews.dg-center dt img {
  -webkit-transition: all 0.2s;
          transition: all 0.2s; 
  box-shadow: 0 40px 40px rgba(92, 95, 101, 0.3);
}
.content .reviews.dg-center dd { display: block;}

.award { height: 288px; color: #ffffff; text-align: center; background: #515361 url(../images/award-bg.jpg) no-repeat center;}
.award h2 { font-size: 36px; padding-top: 70px;}
.award p { margin-bottom: 40px;}


.serive { padding-bottom: 25px; border-bottom: solid #ccc 1px; overflow: hidden; margin-top: 40px; text-align: center;}
.serive dl { float: left; width: 220px; margin-right: 170px; }
.serive dl.last { margin-right: 0px;}
.serive dl dt { margin-bottom: 25px; height: 72px; line-height: 72px;}
.serive dl dt img { display: inline-block; vertical-align: middle;}
.serive dl dd { margin-top: 10px; font-size: 12px; line-height: 18px;}
.serive dl dd strong { font-weight: normal; font-size: 16px;}


/* annotation */
.annotation {
  margin: 20px auto;
  font-size: 12px;
}
.annotation dt { display: inline-block; }

/* footer */
.footer .copyright {
  padding: 20px 0;
  padding-bottom: 160px;
  text-align: center;
  font-size: 14px;
}

/* float */
.float {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 147px;
  bottom: -180px;
  left: 0px;
  background: url(../images/float-bg.png) no-repeat center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
.float.on { bottom: 0px;}
.float .img-box { float: left; margin-top: -27px; margin-left: 0px;}
.float dl { float: left; margin-left: 122px; margin-top: 45px;}
.float dl dt { margin-bottom: 5px; font-weight: 700;}
.float .message { float: left; margin-left: 60px; margin-top: 15px; text-align: center;}
.float .message p { color: #2b2d31;}
.float .message p strong { color: #000; font-size: 20px;}
.float .message p strong b { font-size: 40px;}
.float .message .buybtn { width: 235px; height: 54px; line-height: 54px; background-position: 0px -260px;}
.float .message .buybtn:hover { background-position: 0px -314px;}

.fl-date { position: fixed; width: 110px; height: 110px; right: 20px; top: -120px; text-align: center; background: url(../images/fl-date-bg.png) no-repeat center bottom;      
  -webkit-transition: .5s ease-in-out;
   transition: .5s ease-in-out;
}
.fl-date.on { top: 25%;}
.fl-date strong { font-size: 16px; color: #03210f;}
.fl-date strong:last-child { font-size: 14px;}