@charset "utf-8";

/* CSS Document */
* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 1000px;
  font-size: 14px;
  line-height: 1.4;
  color: #000;
  font-weight: 400;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  outline: 0;
  vertical-align: baseline;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #000;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li { list-style-type: none; }
img { border: none; }
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden;
}
.clearfix { zoom: 1; }
.fl { float: left; }
.fr { float: right; }
.wrapper {
  position: relative;
  margin: 0 auto;
  width: 1000px;
  min-width: 1000px;
  zoom: 1;
}
.all-icons {
  display: inline-block;
  vertical-align: middle;
  text-indent: -9999px;
  background: url(../images/all_icons.png) no-repeat 0 0;
}

/* banner */
.banner {
  margin: 0 auto;
  width: 100%;
  min-width: 1000px;
  height: 633px;
  text-align: center;
  background: url(../images/bg.jpg) top center no-repeat;
  background-size: cover;
}
.banner .logo {
  display: block;
  padding-top: 20px;
  width: 42px;
  text-align: left;
}
.banner h1 {
  margin-top: 20px;
  margin-bottom: 7px;
  width: 100%;
  height: 77px;
  text-indent: -9999px;
  background: url(../images/title.png) top center no-repeat;
}
.banner .subhead {
  font-size: 22px;
  line-height: 22px;
  color: #1d1d1d;
}
.banner .subhead span {
  font-weight: 700;
  color: #c84e29;
}
/*new banenr*/
.banner-buy { margin-top: 12px; }
.banner-buy .banner-box { 
  width: 328px; 
  margin-left: -20px;
}
.banner-buy .banner-box p {
  padding-left: 21px;
  line-height: 30px;
  text-align: left;
  font-size: 16px;
  color: #f7d4c9;
}
.banner-buy .banner-box p:before {
  margin-right: 14px;
  display: inline-block;
  width: 13px;
  height: 12px;
  background-image: url("../images/icon-right.png");
  content: "";
}
.banner-buy .banner-1pc {
  margin-top: 38px;
  margin-left: 30px;
  width: 309px;
  height: 361px;
  background-image: url("../images/1pc-box.png");
}
.banner-buy .banner-1pc .banner-buy-box-container {
  height: 107px;
  font-size: 16px;
  line-height: 30px;
  background-color: #ebe2db;
  border-top-left-radius: 24px;
  overflow: hidden;
}
.banner-buy .banner-1pc .banner-buy-box-container h4 {
  margin-top: 33px;
  display: inline-block;
  font-size: 0;
  width: 107px;
  height: 32px;
  background-image: url("../images/1pc-h-new.png");
}
.banner-buy .banner-1pc .banner-buy-box-container p {
  font-size: 16px;
  color: #0f0f0f;
  line-height: 30px;
}
.banner-buy .banner-1pc .opr { margin-top: 48px; }
.banner-buy .banner-3pc .opr { margin-top: 70px; }
.banner-buy .banner-1pc .buy-btn:hover {
  opacity: 0.8;
  box-shadow: 2px 5px 20px 3px rgba(214, 82, 42, 0.3);
}

.banner-buy .banner-3pc {
  margin-right: -100px;
  padding: 19px 22px 51px 24px;
  width: 303px;
  height: 368px;
  background-image: url("../images/3pc-box-bg.png");
}
.banner-buy .banner-3pc .banner-buy-box-container h4 {
  margin-top: 34px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 0;
  width: 120px;
  height: 35px;
  background-image: url("../images/3pc-h-new.png");
}
.banner-buy .banner-3pc .banner-buy-box-container p {
  color: #0f0f0f;
}
.banner-buy .banner-3pc .buy-btn {
  box-shadow: 2px 5px 20px 2px rgba(214, 82, 42, 0.5);
}
.banner-buy .banner-3pc .buy-btn:hover {
  opacity: 0.8;
  box-shadow: 2px 5px 20px 2px rgba(214, 82, 42, 0.6);
}

/*banner-box*/
.banner-buy .buy-box h5 {
  margin-top: 45px;
  display: inline-block;
  font-size: 0;
}
.banner-buy .buy-box .uvp, .banner-buy .buy-box .sparen {
  line-height: 22px;
  font-size: 14px;
  color: #0f0f0f;
  font-weight: 400;
}
.banner-buy .buy-box .uvp{
  margin-top: 13px;
}
.banner-buy .buy-box .uvp span {
  display: inline-block;
  margin-right: 4px;
  font-size: 16px;
  font-weight: 400;
}
.banner-buy .buy-box .sparen span {
  font-size: 16px;
  color: #ff1200;
  font-weight: bold;
}
.buy-btn {
  margin-top: 25px;
  display: inline-block;
  width: 214px;
  height: 58px;
  line-height: 58px;
  font-size: 18px;
  font-weight: bold;
  color: #ff1200;
  border-radius: 5px;
  background-image: url("../images/banner-btn.png");
  transition: box-shadow .2s, opacity .2s;
}


/* buybtn */
.buybtn {
  display: block;
  margin: 7px auto 16px;
  width: 254px;
  height: 63px;
  line-height: 63px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  background: #d61313;
  box-shadow: 0 10px 21px rgba(255,45,15,.51);
  background-image: -webkit-linear-gradient(left, #ff4f3d, #d61313);
  background-image:         linear-gradient(left, #ff4f3d, #d61313);
  -webkit-transition: all .3s;
          transition: all .3s;
}
.buybtn.yellow {
  background: #ffa200;
  box-shadow: 0 7px 10px rgba(255,96,0,.21);
  background-image: -webkit-linear-gradient(left, #ffc000, #ffa200);
  background-image:         linear-gradient(left, #ffc000, #ffa200);
}
.buybtn:hover {
  background: #f20909;
  background-image: -webkit-linear-gradient(left, #ff5a34, #f20909);
  background-image:         linear-gradient(left, #ff5a34, #f20909);
}
.buybtn.yellow:hover {
  background: #ffb400;
  background-image: -webkit-linear-gradient(left, #ffd200, #ffb400);
  background-image:         linear-gradient(left, #ffd200, #ffb400);
}

/* payment */
.payment {
  padding: 46px 0 0;
  background: #fafafa;
}
.payment .wrapper { border-bottom: 1px solid #e3e3e3; }
.payment dl {
  margin-bottom: 20px;
  float: left;
  width: 33.33%;
  text-align: center;
}
.payment dl dt {
  margin-bottom: 22px;
  font-size: 16px;
  font-weight: 700;
}
.payment dl.last dt { margin-bottom: 28px; }

/* intro */
.intro {
  margin: 58px 0 68px;
  text-align: center;
}
.intro h2 {
  font-size: 24px;
  line-height: 40px;
}
.intro h2 span { display: block; }
.intro .point dl {
  margin: 64px 0 42px;
  float: left;
  width: 25%;
}
.intro .point dd {
  margin-top: 10px;
  font-weight: 700;
  font-size: 16px;
}
.intro .point span { display: block; }
.intro a.klicken {
  color: #426ff0;
  text-decoration: underline;
}
.intro .introimg {
  position: relative;
  margin-top: 46px;
  width: 1000px;
  height: 280px;
  background: url(../images/intro_shadow.png) center 240px no-repeat;
}
.intro .imglist {
  position: absolute;
  bottom: 0;
  width: 1000px;
  height: 280px;
}
.intro .imglist li {
  position: absolute;
  top: 0;
  left: 290px \9;
  z-index: 0;
  width: 407px;
  height: 277px;
  transition: all 0.3s ease-out;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.intro .imglist li.shot1 {
  left: 70px \9;
  -webkit-transform: translate3d(44px,0,0) scale(0.86);
          transform: translate3d(44px,0,0) scale(0.86);
}
.intro .imglist li.shot1 img {
  margin-top: 12px \9;
  width: 357px \9;
  height: 242px \9;
  outline: 1px solid transparent;
  transform: perspective(600px) rotateY(14deg);
}
.intro .imglist li.shot2 {
  z-index: 6;
  -webkit-transform: translate3d(300px,0,0) scale(1);
          transform: translate3d(300px,0,0) scale(1);
}
.intro .imglist li.shot3 {
  left: 520px \9;
  width: 387px \9;
  height: 252px \9;
  -webkit-transform: translate3d(554px,0,0) scale(0.86);
          transform: translate3d(554px,0,0) scale(0.86);
}
.intro .imglist li.shot3 img {
  margin-top: 12px \9;
  width: 357px \9;
  height: 242px \9;
  outline: 1px solid transparent;
  transform: perspective(600px) rotateY(336deg);
}
.intro .introimg a.btn {
  display: block;
  position: absolute;
  left: 0;
  top: 136px;
  width: 31px;
  height: 31px;
  text-indent: -9999px;
  background: url(../images/arrowbtn.png) 0 0 no-repeat;
}
.intro .introimg a.next {
  right: 0;
  left: auto;
  background-position: 0 -62px;
}
.intro .introimg a.btn:hover { background-position: 0 -31px; }
.intro .introimg a.next:hover { background-position: 0 -93px; }
.intro .introimg .mask {
  position: absolute;
  top: 10px;
  width: 291px;
  height: 246px;
  cursor: pointer;
}
.intro .introimg .left-mask {
  left: 20px;
  left: 90px \9;
  background: url(../images/left_mask.png) center no-repeat;
}
.intro .introimg .right-mask {
  right: 20px;
  right:  90px \9;
  background: url(../images/right_mask.png) center no-repeat;
}
.intro .introimg .mask.on { display: none; }

/* awards */
.awards {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  min-width: 1000px;
  height: 241px;
  text-align: center;
  background: url(../images/awardsbg.png) top center no-repeat;
  background-size: cover;
}
.awards h2 {
  margin-top: 48px;
  margin-bottom: 14px;
  height: 64px;
  line-height: 48px;
  font-size: 20px;
  color: #fff;
  background: url(../images/awards_title.png) top center no-repeat;
}

/* review */
.review {
  margin-top: 96px;
  margin-bottom: 100px;
  text-align: center;
  border-top: 1px solid #d5d5d5;
}
.review h2 {
  position: relative;
  margin: 0 auto;
  margin-top: -20px;
  width: 542px;
  font-size: 28px;
  background: #fff;
}
.review h2:before,
.review h2:after {
  content: '';
  position: absolute;
  width: 29px;
  height: 23px;
  background: url(../images/quotation.png) 0 0 no-repeat;
}
.review h2:before {
  top: -11px;
  left: 6px;
}
.review h2:after {
  right: 6px;
  bottom: -11px;
  background-position: 0 -23px;
}
.review dl {
  float: left;
  margin-top: 140px;
  width: 293px;
  height: 326px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 24px 0px rgba(216, 194, 190, 0.44);
}
.review dl.chip {
  margin: 88px 25px 0;
  width: 351px;
  height: 378px;
}
.review dl dt { margin: -92px 0 6px; }
.review dl.chip dt { margin: -66px 0 20px 0; }
.review dl dd {
  padding: 0 20px;
  text-align: left;
}
.review dl.chip dd { padding: 0 34px; }
.review dl h3 { 
  margin-top: 18px;
  font-size: 16px; 
}
.review dl.peter h3 { margin-top: 10px; }
.review dl p {
  margin-top: -10px;
  font-size: 13px;
  color: #000;
  line-height: 22px;
}
.review dl.chip p { margin-bottom: 40px; }

/* comparison */
.comparison table {
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
}
.comparison th {
  height: 70px;
  font-size: 16px;
  color: #fff;
  vertical-align: middle;
  border-bottom:1px #dcdcdc solid;
}
.comparison th span { display: block; }
.comparison thead th { border-top:1px #dcdcdc solid;}
.comparison .itema,
.comparison .itemb {
  width: 190px;
  text-align: center;
  background: #fff7f7;
}
.comparison thead th.itemb {
  background: #ffa200;
  background-image: -webkit-linear-gradient(left, #ffc000, #ffa200);
  background-image:         linear-gradient(left, #ffc000, #ffa200);
}
.comparison thead th.itema {
  background: #eb2c21;
  background-image: -webkit-linear-gradient(left, #fd6d52, #eb2c21);
  background-image:         linear-gradient(left, #fd6d52, #eb2c21);
}
.comparison thead th.text {
  color: #000;
  font-size: 22px;
  text-align: left;
}
.comparison .itemb {
  background: #fff;
  border-bottom: 1px #dcdcdc solid;
}
.comparison .itemb.gray { background: #f6f6f6; }
.comparison td {
  height: 44px;
  font-weight: 700;
  vertical-align: middle;
  border-bottom: 1px #dcdcdc solid;
}
.comparison td.icons {
  text-align: center;
  width: 50px;
}
.comparison td.virtue { text-align: left; }
.comparison td.virtue sup {
  display: inline-block;
  color: #ec1c23;
}
.comparison .space {
  width: 10px;
  background: #fff;
  border: none;
}
.comparison tfoot th {
  font-size: 18px;
  color: #626262;
}
.comparison td i {
  width: 13px;
  height: 14px;
  background-position: 0 -11px;
}
.comparison td i.star { background-position: 0 -25px; }

/* bottom */
.bottom {
  margin-top: 76px;
  height: 160px;
  background: #f4f4f4;
}
/* annotation */
.annotation {
  padding-top: 26px;
  color: #585858;
  font-size: 12px;
  line-height: 18px;
}

/* footer */
.footer {
  padding-top: 20px;
  text-align:center;
}

/* floatlayer */
.floatlayer {
  position: fixed;
  z-index: 10;
  top: -183px;
  height: 151px;
  width: 100%;
  border-top: 2px solid #f4f4f4;
  border-bottom: 3px solid #f4f4f4;
  background: url("../images/floatlayer-bg.jpg");
  background-size: cover;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.3);
  visibility: hidden;
  -webkit-transition: all 0.4s;
     -moz-transition: all 0.4s;
       -o-transition: all 0.4s;
          transition: all 0.4s;
}
.floatlayer .wrapper { z-index: 20; }
.floatlayer.on {
  top: 0;
  visibility: visible;
}
.floatlayer .floatlayer-left {
  color: #000;
}
.floatlayer .floatlayer-left h4 {
  margin-top: 20px;
  font-size: 20px;

}
.floatlayer ul {
  margin-top: 16px;
}
.floatlayer li {
  margin-bottom: 2px;
  height: 34px;
  line-height: 34px;
  cursor: pointer;
  font-size: 16px;
}
.floatlayer li i {
  margin-right: 14px;
  display: inline-block;
  width: 21px;
  height: 21px;
  vertical-align: text-bottom;
  background: url("../images/icon-radio.png") no-repeat;
}
.floatlayer li span {
  display: inline-block;
  font-size: 18px;
  color: #000;
}
.floatlayer li span del {
  color: #818181;
}
.floatlayer li span.name {
  width: 204px;
  font-size: 18px;
  padding-left: 134px;
}
.floatlayer li strong {
  font-size: 18px;
  font-weight: 400;
  color: #000;
}
.floatlayer li b {
  display: inline-block;
  margin-left: 22px;
  width: 88px;
  height: 18px;
  line-height: 16px;
  border-radius: 9px;
  font-weight: 400;
  text-align: center;
  border-radius: 8px;
  opacity: 0;
  filter: 'alpha(opacity=0)';
  background: #eb2c21;
  background-image: -webkit-linear-gradient(left, #fd6d52, #eb2c21);
  background-image:         linear-gradient(left, #fd6d52, #eb2c21);
  -webkit-transition: all .1s;
          transition: all .1s;
}
.floatlayer li.active { cursor: default; }
.floatlayer li.active i { background-position-y: 100%; }
.floatlayer li.active strong {
  color: #ff1200;
}
.floatlayer li.active b {
  opacity: 1;
  filter: 'alpha(opacity=100)';
}
.floatlayer .floatlayer-right {
  margin-top: 7px;
  margin-left: 30px;
  text-align: center;
}
.floatlayer .floatlayer-right em {
  display: inline-block;
  width: 166px;
  height: 38px;
  font-size: 0;
  background-image: url("../images/sparen.png");
}
.floatlayer .floatlayer-right em.up {
  background-position: 0 -100%;
}
.floatlayer .floatlayer-right .buy-btn {
  margin-top: 10px;
  display: block;
  box-shadow: 2px 5px 20px 2px rgba(214, 82, 42, 0.5);
}
.floatlayer .floatlayer-right .buy-btn:hover {
  opacity: 0.8;
  box-shadow: 2px 5px 20px 2px rgba(214, 82, 42, 0.6);
}

/* backtotop */
.backtotop {
  position: fixed;
  z-index: 11;
  right: 0;
  bottom: 36px;
  width: 100%;
  min-width: 1000px;
}
.backtotop .box.on {
  /*visibility: visible;*/
  opacity: 1;
  pointer-events: auto;
}
.backtotop .box {
  position: absolute;
  z-index: 22;
  bottom: -3px;
  right: -148px;
  width: 146px;
  height: 34px;
  line-height: 33px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #6a6a6e;
  border-radius: 4px;
  /*visibility: hidden;*/
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  opacity: 0;
  pointer-events: none;
}
.backtotop .box:hover { background-color: #7e7e7e;}
.backtotop .box span {
  display: inline-block;
  margin-top: -3px;
  margin-right: -6px;
  margin-left: 6px;
  width: 27px;
  height: 27px;
  vertical-align: middle;
  border-radius: 4px;
  background-color: #eaeaea;
}
.backtotop .box i {
  margin-top: -10px;
  width: 19px;
  height: 12px;
  background-position: 0 -67px;
}