@charset "utf-8";

/* CSS Document */
* {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  min-width: 1100px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: #393649;
  vertical-align: baseline;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #393649;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ul li { list-style-type: none; }
img { border: none; }
.fl { float: left; }
.fr { float: right; }
.clearfix:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.clearfix { zoom: 1; }
.wrapper {
  margin: 0 auto;
  width: 1000px;
  min-width: 1000px;
  zoom: 1;
}
.all-icons {
  display: inline-block;
  text-indent: -9999px;
  background: url(../images/all-icons.png) no-repeat;
}

/* banner */
.banner {
  width: 100%;
  height: 650px;
  text-align: center;
  background: url("../images/bg.jpg") top center no-repeat;
}
.banner img { display: block; }
.banner .logo {
  display: block;
  padding-top: 18px;
  width: 34px;
}
.banner h1 {
  height: 110px;
  text-indent: -9999px;
  background: url("../images/title.png") top center no-repeat;
}
.banner .panel {
  margin-top: 25px;
  height: 462px;
  border-radius: 5px;
  background-color: #fff;
}

/* left-message */
.banner .left-message {
  width: 50%;
  margin-top: 58px;
}
.banner .left-message .notes { text-align: center;}
.banner .left-message .banner-off {
  position: absolute;
  top: 82px;
  right: 29px;
}
.banner .left-message .banner-reduce {
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -9;
  opacity: 0;
}
/* right-message */
.banner .right-message {
  width: 434px;
  margin-top: 100px;
  margin-right: 66px;
  text-align: center;
}
.banner .right-message h3 {
  font-size: 26px;
  font-weight: 700;
  line-height: 22px;
  color: #212121;
}
.banner .right-message h3 span {
  display: block;
  margin-top: 12px;
  font-size: 16px;
  line-height:20px;
  color: #8d6e63;
}
/*
 * notes
 */
p.notes {
  height: 22px;
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
  color: #620606;
}
p.notes b {
  font-size: 16px;
  color: #f33e33;
}
p.notes i {
  display: inline-block;
  width: 13px;
  height: 14px;
  margin-right: 2px;
  background: url("../images/all-icons.png") 0 0 no-repeat;
}
p.notes > span.reduce {
  position: absolute;
  right: 156px;
  top: 7px;
  z-index: -9;
  display: block;
  width: 20px;
  height: 21px;
  text-indent: -9999px;
  background: url("../images/reduce-small.png") center center no-repeat;
}
.banner .right-message hr {
  margin-top: 10px;
  width: 100%;
  height: 32px;
  border: 0;
  background: url("../images/line.png") center center no-repeat;
}
/*
 * price
 */
p.price {
  font-size: 14px;
  line-height: 18px;
  color: #8d6e63;
}
p.price del,
p.price b,
p.price strong{
  display: inline-block;
  line-height: 32px;
}
p.price del {
  font-size: 16px;
  color: #212121;
}
p.price b,
p.price strong {
  font-weight: 700;
  color: #f44336;
}
p.price b {
  font-size: 20px;
}
p.price strong {
  font-size: 40px;
}

/*
 * buybtn
 */
a.buybtn {
  display: block;
  width: 272px;
  height: 62px;
  margin: 20px auto 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 62px;
  color: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #f44336;
  background: -webkit-linear-gradient(left, #f44336, #f02626);
  background:    -moz-linear-gradient(right, #f44336, #f02626);
  background:      -o-linear-gradient(right, #f44336, #f02626);
  background:         linear-gradient(right,#f44336, #f02626);
  -webkit-box-shadow: 0 11px 24px #c13030;
  -moz-box-shadow: 0 11px 24px #c13030;
  box-shadow: 0 11px 24px #c13030;
}
a.buybtn:hover {
  background: #f02626;
  background: -webkit-linear-gradient(left, #f02626, #f44336);
  background:    -moz-linear-gradient(right, #f02626, #f44336);
  background:      -o-linear-gradient(right, #f02626, #f44336);
  background:         linear-gradient(right, #f02626, #f44336);
}
a.buybtn span:before {
  content: '';
  margin-right: 5px;
  display: inline-block;
  width: 0;
  height: 0;
  background: url("../images/buybtn-icon.png") center center no-repeat;
  vertical-align: middle;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
}
a.buybtn:hover span:before {
  width: 31px;
  height: 25px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
i.ribbon {
  display: block;
  position: absolute;
  top: 182px;
  left: 68px;
  width: 151px;
  height: 64px;
}
i.ribbon2 {
  top: -21px;
  left: -21px;
  background: url("../images/ribbon02.png") center center no-repeat;
}

/*
 * attention
 */
p.attention {
  font-size: 14px;
  line-height: 18px;
  color: #8d6e63;
}
p.attention i {
  display: inline-block;
  width: 16px;
  height: 11px;
  margin-right: 5px;
  background: url("../images/all-icons.png") 0 -14px no-repeat;
}
p.attention b {
  font-weight: 700;
}


.payments {
  text-align: center;
  border-bottom: solid #696f74 1px;
  padding: 30px 0px;
}

/* payment */
.payment {
  height: 102px;
  line-height: 102px;
  text-align: center;
  border-bottom: 1px solid #c7c7c7;
}
.payment > img {
  display: inline-block;
  line-height: 102px;
  vertical-align: middle;
}

/* intro */
.intro .feature img {
  display: block;
  margin: 62px 0 45px -8px;
}
.intro .feature ul { margin: 67px 0 7px; }
.intro .feature li {
  padding: 9px 33px 0;
  margin-top: 14px;
  width: 430px;
  height: 61px;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  background-color: #27aca7;
}
.intro .feature li.four { margin-top: 15px; }
.intro .feature li.blue { background-color: #50a2d6; }

/*
 * betweenbuy
 */
.betweenbuy {
  margin-top: 40px;
  height: 530px;
  text-align: center;
  background: url("../images/betweenbuy-bg.jpg") top center no-repeat;
}
.betweenbuy > p {
  padding-top: 10px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #262626;
}
.betweenbuy > p span{
  display: inline-block;
  width: 160px;
  height: 32px;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  color: #fff;
  background: url("../images/betweenbuy-arrow.png") center center no-repeat;
}
.betweenbuy  h2 {  margin-top: 15px; line-height: 50px; font-size: 28px;}
.betweenbuy  h2 img { display: inline-block; vertical-align: middle;}
.betweenbuy h2 span { color: #830104;}


.betweenbuy  dl  { float: left; width: 50%; margin-top: 40px;}
.betweenbuy  dl dt { float: left; margin-left: 20px; margin-right: 5px;}
.betweenbuy  dl.pf dt { margin-left: 10px; }
.betweenbuy  dl dd {
  float: left;
  width: 285px;
  font-weight: 700;
  text-align: left;
  margin-top: 24px;
  margin-left: 20px;
}
.betweenbuy  dl dd p.rate { 
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #797979;
}
.betweenbuy  dl dd p.rate strong { color: #e21d0e;}
.betweenbuy  dl dd p.rate strong b { font-size: 28px;}
.betweenbuy  dl dd p.des {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #545353;
  font-weight: 400;
}
.betweenbuy  dl dd p.des:after { position: absolute; content: ""; width: 6px; height: 6px; left: -15px; top: 10px; border-radius: 50%; background: #c9c9c9; }
.betweenbuy p.price {
  margin-top: 40px;
}
.betweenbuy p.price del {
  font-size: 20px;
}
.betweenbuy p.price strong {
  font-size: 52px;
}
.betweenbuy p.price b {
  font-size: 22px;
}
.betweenbuy a.buybtn {
  width: 358px;
  margin: 16px 0 16px 325px;
  font-size: 18px;
}
.betweenbuy p.notes {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #828282;
}
.betweenbuy p.notes > span.reduce {
  right: 424px;
}



/* review */
.review {
  margin-top: 80px;
  padding-bottom: 100px;
}
.review .content { 
  height: 248px;
  text-align: left;
  box-shadow: -0.908px 1.782px 20px 0px rgba(148, 140, 133, 0.25);
 }
.review .content h3 { 
  padding-top: 40px;
  margin-bottom: 10px;
  font-size: 26px; 
}
.review .content dl { 
  padding: 0 35px;
  display: none; 
}
.review .content dd { 
  font-size: 14px;
  line-height: 22px;
  color: #555a5f;
  font-weight: 400;
}
.review .content dl h4 {
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 22px;
  color: #000;
}
.review .content dl.active { display: block; }
.review ul.users {
  height: 130px;
  text-align: center;
}
.review ul.users {
  margin: 0 auto;
  margin-top: 32px;
  text-align: center;
}
.review ul.users li {
  position: relative;
  display: inline-block;
  margin: 0 40px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: #555a5f;
  cursor: pointer;
}
.review ul.users li img {
  display: block;
  margin: 0 auto;
  margin-bottom: 14px;
  width: 95px;
  height: 95px;
}
.review ul.users li span { display: block; }
.review ul.users li.active:after,
.review ul.users li.active:before {
  content: "";
  position: absolute;
  left: 36%;
  display: block;
  width: 0;
  height: 0;
}
.review ul.users li.active:after {
  top: -32px;
  z-index: 1;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
}
.review ul.users li.active:before {
  top: -29px;
  z-index: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-top: 17px solid rgba(148, 140, 133, 0.15);
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

/* comparison */
.comparison table {
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
}
.comparison th { 
  height: 108px;
  color: #a2a2a2;
  font-size: 18px;
  line-height: 22px;
  vertical-align: middle;
  border-top: 1px #d2d2d2 solid;
  border-bottom: 1px #d2d2d2 solid;
}
.comparison thead th { border-top: none; }
.comparison thead th.itema { 
  color: #fff; 
  background-color: #e9322a;
}
.comparison thead th.itemb { 
  color: #a2a2a2; 
  background-color: #f2f2f2;
}
.comparison tfoot th {
  height: 95px;
  border-top: none;
  vertical-align: middle;
}
.comparison thead .text { 
  text-align: left; 
  font-size: 20px;
  color: #000;
  vertical-align: middle;
}
.comparison th b { display: block; }
.comparison .itema,
.comparison .itemb {
  width: 186px;
  text-align: center;
}
.comparison td {
  height: 58px;
  font-size: 16px;
  vertical-align: middle;
  border-bottom: 1px #d2d2d2 solid;
}
.comparison td.icons {
  text-align: center;
  width: 50px;
}
.comparison td.virtue { text-align: left;}
.comparison td span {
  position: relative;
  display: inline-block;
  margin-left: 6px;
  margin-right: -80px;
  padding: 0 6px;
  height: 12px;
  line-height: 10px;
  font-size: 10px;
  color: #e9322a;
  text-align: center;
  border: 1px solid #e9322a;
  border-radius: 6px;
  background-color: #fff;
}
.comparison td span.nuo {
  color: #17ba17;
  border-color: #17ba17;
}
.comparison td span.three:after {
  content: '3x';
  display: block;
  position: absolute;
  top: 0px;
  right: -20px;
  font-size: 14px;
  color: #e9322a;
}
.comparison td span.two:after { content: '2x'; }
.comparison td span.five:after { content: '5x'; }
.comparison td i {
  display: inline-block;
  vertical-align: middle;
  text-indent: -9999px;
  width: 22px;
  height: 16px;
  background: url(../images/all-icons.png);
  background-position: 0 -25px;
}
.comparison td i.red { background-position: 0 -56px; }
.comparison td i.circle {  background-position: 0 -40px; }
.comparison th .buybtn { width: 145px; height: 35px; line-height: 35px; font-size: 18px;}
/*
 * awards
 */
.awards {
  padding-top: 10px;
  text-align: center;
  height: 231px;
  background: url(../images/awrads-bg.jpg) no-repeat center;
  margin: 40px auto;
}
.awards h2 {
  margin-top: 35px;
  height: 64px;
  background: url(../images/awrads-title.png) no-repeat center;
  font-size: 22px;
  font-weight: 700;
  line-height: 44px;
  color: #fff;
  text-align: center;
}


/* service */
.service {
  margin-top: 40px;
  background: #f5f5f5;
}
.service dl {
  padding: 25px 0px;
  float: left;
  width: 33.3333%;
  text-align: center;
}
.service dt {
  margin: 0 0 22px;
  height: 66px;
  line-height: 66px;
}
.service dt img { vertical-align: middle; }
.service h4 {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 26px;
}
.service dd { 
  font-size: 14px;
  font-weight: 400;
  line-height: 22px; 
}
.service dd span { display: block; }
.footer {
  padding: 20px 0px;
  background: #2c3167;
}
.annotation {
  font-size: 12px;
  color: #7b7cb7;
}
.copyright{
  margin-top: 25px;
  line-height:25px;
  text-align:center;
  color: #7b7cb7;
}