@charset "utf-8";

* {
  margin: 0;
  padding: 0
}

body {
  min-width: 1000px;
  font-size: 14px;
  line-height: 1.4;
  color: #262626;
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  outline: 0;
  vertical-align: baseline
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #000;
  outline: none;
  text-decoration: none;
  cursor: pointer
}

a:hover {
  text-decoration: none
}

del {
  text-decoration: line-through
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

ul,ul li {
  list-style-type: none
}

img {
  border: none
}

.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  visibility: hidden
}

.clearfix {
  zoom: 1
}

.wrapper {
  position: relative;
  width: 1100px;
  min-width: 1100px;
  margin: 0 auto;
  zoom: 1
}

.hide {
  display: none
}

.all-icons {
  display: inline-block;
  vertical-align: middle;
  text-indent: -9999px;
  background: url(../images/all_icons.png) no-repeat 0 0
}

.date {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  width: 304px;
  height: 28px;
  border-radius: 25px;
  background: #a4001f;
  color: #fff;
  font-size: 16px
}

.date:after {
  position: absolute;
  content: "";
  width: 25px;
  height: 28px;
  left: -8px;
  background: url(../images/clock.png)
}

.date span {
  font-size: 14px;
  color: #ffe29c;
  margin-left: 10px
}

.date strong {
  font-size: 18px
}

.banner {
  position: relative;
  overflow: hidden;
  height: 720px;
  min-width: 1000px;
  background: url(../images/banner.jpg) no-repeat center top
}

.banner .snow {
  position: absolute;
  width: 100%;
  height: 906px;
  left: 0;
  top: 0;
  background: url(../images/snow.png) no-repeat center;
  -webkit-animation: snownew linear 10s infinite
}

.banner .logo {
  position: absolute;
  display: block;
  top: 12px;
  width: 41px;
  height: 13px;
  z-index: 2;
  text-indent: -9999px;
  background: url(../images/logo.png) center center no-repeat
}

.banner h1 {
  padding-top: 36px;
  height: 60px;
  text-indent: -9999px;
  background: url(../images/title.png) no-repeat center bottom
}

.banner h2 {
  text-align: center;
  color: #ffe29c;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px
}

.banner .packs {
  position: relative;
  z-index: 2;
  float: left;
  width: 386px;
  height: 454px;
  margin: 27px 0 0 19px;
  background: #ffde79;
  background-image: -moz-linear-gradient(56deg, #fc4 0, #feffa6 100%);
  background-image: -webkit-linear-gradient(56deg, #fc4 0, #feffa6 100%);
  background-image: -ms-linear-gradient(56deg, #fc4 0, #feffa6 100%);
  box-shadow: 0 18px 25.65px 1.35px rgba(61,47,31,0.41);
  box-shadow: 0 18px 76px 4px rgba(61,47,31,0.42);
  text-align: center;
  color: #8f4324
}

.banner .packs h2 {
  width: 344px;
  margin: 0 auto;
  height: 92px;
  border-bottom: solid #f1df80 1px;
  text-indent: -9999px;
  background: url(../images/gift-title.png) no-repeat top center
}

.banner .packs .img-box {
  margin-top: 30px
}

.banner .packs .img-box .box {
  display: block;
  float: left;
  margin-left: 9px
}

.banner .packs .button {
  margin-top: 28px
}

.banner .packs .button:hover {
  background-image: -webkit-linear-gradient(top, #ffb502 0, #f2690c 100%);
  background-image: -o-linear-gradient(top, #ffb502 0, #f2690c 100%);
  background-image: linear-gradient(to bottom, #ffb502 0, #f2690c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffb502', endColorstr='#fff2690c', GradientType=0)
}

.banner .packs.three-packs h2 {
  background-position: center -92px
}

.banner .packs.three-packs .img-box .box {
  margin-left: -19px;
  margin-right: 15px;
  height: 191px;
  background-position: 0 -180px
}

.banner .one-pc-box {
  position: relative;
  z-index: 2;
  float: left;
  width: 320px;
  height: 380px;
  margin-left: 20px;
  margin-top: 69px;
  background: #fbe3c5;
  text-align: center;
  color: #333;
  font-size: 16px;
  font-weight: 500
}

.banner .one-pc-box h2 {
  width: 294px;
  margin: 0 auto;
  height: 68px;
  border-bottom: solid #ecdaac 1px;
  text-indent: -9999px;
  background: url(../images/one-title.png) no-repeat top center
}

.banner .one-pc-box .img-box {
  margin-top: 31px
}

.banner .one-pc-box .img-box img {
  float: left;
  margin-left: 13px;
  margin-right: 15px
}

.banner .one-pc-box .button {
  margin-top: 18px
}

.banner .three-pcs h2 {
  background-position: center -68px
}

.banner .three-pcs .img-box .box {
  display: block;
  float: left;
  margin-left: 13px;
  margin-right: 15px;
}
.banner .price { 
  float: left;
  padding: 30px 0 0; 
  margin-left: -10px;
}
.banner .three-pcs .price { margin-left: -20px; }
.banner .packs .price {
  padding-top: 0px;
  margin-top: -20px;
  margin-left: -120px;
}
.price strong {
  display: inline-block;
  font-size: 48px
}
.banner .packs .price strong {
  color: #c50300;
  font-size: 60px;
}
.price span {
  display: inline-block;
  text-align: left;
  line-height: 22px;
}
.banner .packs .price span { line-height: 30px; }
.price span b {
  display: block;
  font-size: 18px;
}
.banner .packs .price span b {
  color: #c50300;
  font-size: 22px;
}
.price span del { color: #928360; }
.banner .packs .price span del { font-size: 18px; }
.people {
  margin-top: 20px;
  color: #94796e;
}

@-webkit-keyframes snownew {
  0% {
    top: -906px
  }

  100% {
    top: 906px
  }
}

.button {
  display: block;
  position: relative;
  width: 256px;
  height: 56px;
  line-height: 56px;
  margin: 0 auto;
  color: #fff;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 600;
  background: #ffb502;
  text-shadow: .5px .866px 0 rgba(236,73,17,0.4);
  box-shadow: 0 12px 18px 2px rgba(137,35,0,0.4);
  background-image: -webkit-linear-gradient(top, #ffaf02 0, #eb4512 100%);
  background-image: -o-linear-gradient(top, #ffaf02 0, #eb4512 100%);
  background-image: linear-gradient(to bottom, #ffaf02 0, #eb4512 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffaf02', endColorstr='#ffeb4512', GradientType=0)
}

.button:after,.button:before {
  position: absolute;
  content: "";
  display: block
}

.button:after {
  width: 80px;
  height: 24px;
  top: -7px;
  left: -7px;
  background: url(../images/left-snow.png)
}

.button:before {
  width: 79px;
  height: 25px;
  top: -7px;
  right: -7px;
  background: url(../images/right-snow.png)
}

.button:hover {
  background-image: -webkit-linear-gradient(top, #ffb502 0, #df6e00 100%);
  background-image: -o-linear-gradient(top, #ffb502 0, #df6e00 100%);
  background-image: linear-gradient(to bottom, #ffb502 0, #df6e00 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffb502', endColorstr='#ffdf6e00', GradientType=0)
}

.button.border {
  width: 200px;
  height: 46px;
  font-size: 18px;
  font-weight: 400;
  line-height: 46px;
  background: none;
  color: #ee4e00;
  text-shadow: none;
  box-shadow: none;
  border: solid #ee4e00 2px
}

.button.border:after,.button.border:before {
  display: none
}

.button.border:hover {
  border: none;
  width: 204px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-weight: 600;
  background-image: -webkit-linear-gradient(top, #ffaf02 0, #eb4512 100%);
  background-image: -o-linear-gradient(top, #ffaf02 0, #eb4512 100%);
  background-image: linear-gradient(to bottom, #ffaf02 0, #eb4512 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffaf02', endColorstr='#ffeb4512', GradientType=0);
  box-shadow: 0 12px 18px 2px rgba(137,35,0,0.4)
}

.button.btn-mid-lag {
  width: 295px;
  height: 55px;
  font-size: 16px;
  line-height: 55px;
  text-align: center;
  box-shadow: 0 14px 13.92px 2.08px rgba(137,0,0,0.22)
}

.button.btn-gift-lag {
  width: 275px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  text-shadow: 0 2px 4px #9c0202;
  background-image: -webkit-linear-gradient(top, #ffe402 0, #ff9000 100%);
  background-image: -o-linear-gradient(top, #ffe402 0, #ff9000 100%);
  background-image: linear-gradient(to bottom, #ffe402 0, #ff9000 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffe402', endColorstr='#ffff9000', GradientType=0)
}

.button.btn-gift-lag:hover {
  background-image: -webkit-linear-gradient(top, #ff9000 0, #ffe402 100%);
  background-image: -o-linear-gradient(top, #ff9000 0, #ffe402 100%);
  background-image: linear-gradient(to bottom, #ff9000 0, #ffe402 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9000', endColorstr='#ffffe402', GradientType=0)
}

.button.btn-gift-lag span {
  background-position: -25px -78px
}

.payments {
  position: relative;
  display: block;
  height: 98px;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1px #ede3e2 solid
}

.payments:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 868px;
  left: 0;
  top: -245px;
  z-index: -1;
  background: url(../images/blue-snow.png) no-repeat center
}

.benefits {
  display: block;
  position: relative;
  height: 715px
}

.benefits h2 {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: #262626
}

.benefits h2 span {
  display: inline-block;
  position: relative
}

.benefits h2 span:after,.benefits h2 span:before {
  position: absolute;
  content: "";
  width: 39px;
  height: 42px;
  top: 60px;
  background: url(../images/straw.png)
}

.benefits h2 span:after {
  left: -70px
}

.benefits h2 span:before {
  right: -70px;
  background-position: -39px 0
}

.benefits .showcase {
  position: absolute;
  top: 280px;
  left: 18px;
  display: block;
  width: 538px;
  height: 364px;
  background: url("../images/computer.png") center no-repeat;
}
.benefits .showcase .inner {
  width: 377px;
  height: 252px;
  margin-top: 13px;
  margin-left: 22px;
  overflow: hidden;
}
.benefits .showcase .inner ul {
  width: 2025px;
  -webkit-transition: all .4s ease-out;
          transition: all .4s ease-out;
}
.benefits .showcase .inner li {
  position: relative;
  float: left;
  width: 405px;
}
.benefits .showcase .zoom {
  position: absolute;
  top: 0;
}
.benefits .showcase .container {
  position: absolute;
  width: 0;
  height: 0;
  -webkit-transition: all .4s ease-out;
          transition: all .4s ease-out;
}
.benefits .showcase .container img {
  width: inherit;
  height: inherit
}
.benefits .showcase li.fun1 .container {
  top: 40px;
  left: 150px;
}
.benefits .showcase li.fun1.active .container {
  left: 40px;
  top: 95px;
  width: 371px;
  height: 181px;
}
.benefits .showcase li.fun2 .container {
  top: 120px;
  left: 169px;
}
.benefits .showcase li.fun2.active .container {
  left: 244px;
  top: 55px;
  width: 219px;
  height: 139px;
}
.benefits .showcase li.fun3 .container {
  top: 50px;
  left: 220px;
}
.benefits .showcase li.fun3.active .container {
  left: -87px;
  top: 100px;
  width: 320px;
  height: 139px;
}
.benefits .showcase li.fun4 .container {
  top: 50px;
  left: 220px;
}
.benefits .showcase li.fun4.active .container {
  left: 90px;
  top: 48px;
  width: 431px;
  height: 139px;
}
.benefits .detail-list {
  float: right;
  margin-top: 66px;
  text-align: left;
}
.benefits .detail-list dl {
  display: block;
  margin: 12px 0;
  width: 518px;
  height: 98px;
  clear: both;
  cursor: pointer;
  background: #fff;
}
.benefits .detail-list dl:hover,
.benefits .detail-list dl.active { background:url("../images/benefits-list-bg.png") left center no-repeat; }
.benefits .detail-list dl:hover dt i.benefits01,
.benefits .detail-list dl.active dt i {
  background-color: #cb1f20;
  background-position: 0 0;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
}
.benefits .detail-list dl:hover dt i.benefits02,
.benefits .detail-list dl.active dt i.benefits02 { background-position: 0 -55px; }
.benefits .detail-list dl:hover dt i.benefits03,
.benefits .detail-list dl.active dt i.benefits03 { background-position: 0 -110px; }
.benefits .detail-list dl:hover dt i.benefits04,
.benefits .detail-list dl.active dt i.benefits04 { background-position: 0 -165px;}
.benefits .detail-list dt {
  float: left;
  width: 100px;
  text-align: left;
}
.benefits .detail-list dt i {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  width: 55px;
  height: 55px;
  background: url(../images/benefits-icon.png) center center no-repeat;
}
.benefits .detail-list dt i {
  background-color: #f6f5f4;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.benefits .detail-list dt i.benefits01 { background-position: -55px 0; }
.benefits .detail-list dt i.benefits02 { background-position: -55px -55px; }
.benefits .detail-list dt i.benefits03 { background-position: -55px -110px; }
.benefits .detail-list dt i.benefits04 { background-position: -55px -165px; }
.benefits .detail-list dd {
  display: inline-block;
  margin-top: 14px;
  float: left;
  color: #1c1e23;
  font-weight: 600;
  box-sizing: border-box;
}
.benefits .detail-list dl.three dd { margin-top: 5px; }
.benefits .detail-list dd h3 {
  font-size: 18px;
  font-weight: 600;
}
.benefits .detail-list dd p {
  font-size: 14px;
  line-height: 20px;
}
.benefits a.more {
  display: block;
  float: right;
  margin-right: 218px;
  font-size: 12px;
  color: #0075e9;
  text-decoration: underline;
}

.gifts {
  height: 779px;
  background: url(../images/gift-bg.jpg) no-repeat center
}

.gifts .wrapper {
  position: relative;
  padding-top: 90px;
  text-align: center
}

.gifts .wrapper:before {
  position: absolute;
  content: "";
  display: block;
  width: 1100px;
  height: 400px;
  left: 0;
  top: 122px;
  border: solid rgba(255,255,255,0.5) 1px;
}

.gifts h2 {
  position: relative;
  width: 900px;
  margin: 0 auto;
  background: #bd0023;
  font-size: 32px;
  color: #ffec6f;
  z-index: 2;
  text-align: center
}

.gifts dl {
  float: left;
  width: 250px;
  margin-top: 30px;
  margin-bottom: 44px;
  margin-left: 48px;
  text-align: center
}
.gifts dl.center {
  width: 330px;
  margin-right: 26px;
  margin-left: 86px;
}
.gifts dl strong {
  color: #ffe825;
  font-size: 30px;
}
.gifts dl del {
  padding-left: 6px;
  color: #ff8ba0;
}
.gifts dl p {
  margin-top: 10px;
  color: #fff;
}
.gifts .button.btn-mid-lag { font-size: 18px; }


/* review */
.review { 
  position: relative;
  margin-top: -60px; 
}
.review h2 {
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}
.review h2:after {
  content: '';
  display: block;
  width: 585px;
  height: 10px;
  margin: 9px auto 0;
  background: url("../images/line02.png") center no-repeat;
}
.review .container {
  position: relative;
  width: 100%;
  height: 407px;
  margin-top: 34px;
  text-align: left;
  background: url("../images/review-bg.png") 95px 60px no-repeat;
}
.review .container h3 {
  font-size: 28px;
  line-height: 36px;
  text-align: center;
}
.review .container ul {
  z-index: 0;
  position: relative;
  width: 100%;
  height: 112px;
  margin-top: 127px;
}
.review .container ul li {
  position: absolute;
  top: 0;
  width: 112px;
  height: 112px;
}
.review .container ul li.one {
  z-index: 0;
  left: -16px;
}
.review .container ul li.two {
  z-index: 1;
  left: 187px;
}
.review .container ul li.two img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}
.review .container ul li.three {
  z-index: 0;
  right: 138px;
}
.review .container ul li.four {
  z-index: 0;
  right: -16px;
}
.review .container ul li img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0.7143);
          transform: scale(0.7143);
}
.review .container a {
  z-index: 9;
  display: block;
  position: absolute;
  top: 216px;
  width: 10px;
  height: 18px;
  background-image: url("../images/review-arrow.png");
}
.review .container a.next {
  left: 321px;
  background-position: -20px 0;
  -webkit-animation: nextmove 1s linear infinite;
          animation: nextmove 1s linear infinite;
}
.review .container a.next:hover {
  background-position: -30px 0;
  animation-iteration-count: 0;
}
.review .container a.prev {
  left: 155px;
  background-position: 0 0;
  -webkit-animation: prevmove 1s linear infinite;
  animation: prevmove 1s linear infinite;
}
.review .container a.prev:hover {
  background-position: -10px 0;
  animation-iteration-count: 0;
}
.review .container .details {
  position: absolute;
  top: 140px;
  left: 375px;
  width: 365px;
}
.review .container .details div {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  -webkit-transform: translate(20%, 0);
          transform: translate(20%, 0);
  opacity: 0;
  filter: alpha(opacity=0);
}
.review .container .details div.active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.review .container .details div h4 {
  font-size: 18px;
  line-height: 20px;
}
.review .container .details div h4 img {
  display: inline;
  vertical-align: middle;
}
.review .container .details div p {
  margin-top: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #525252;
}

/* comparison */
.comparison {
  margin: 82px auto 0;
  font-weight: 600;
  color: #000;
}
.comparison table {
  border:0;
  border-collapse:separate;
  border-spacing:0;
}
.comparison table tr th {
  border-bottom:1px #ccc solid;
  border-top:1px #ccc solid;
  vertical-align: middle;
}
.comparison table thead tr th:first-of-type {
  text-align: left;
  font-size: 20px;
}
.comparison table th {
  padding: 25px 0;
  font-size: 16px;
}
.comparison table tr td.virtue {
  text-align:left;
  width: 574px;
  color: #21222a;
}
.comparison table tr {
  text-align: center;
  font-size: 14px;
}
.comparison table .itema {
  color: #000;
  background: #fcfaf4;
  text-align: center;
  width: 178px;
}
.comparison table .itemb {
  color: #000;
  background-color: #f7f7f7;
  text-align: center;
  width: 178px;
}
.comparison table th.itema {
  background-color: #c00618;
  color: #fff;
}
.comparison table th.itemb {
  background-color: #7a7a7a;
  color: #fff;
}
.comparison table td {
  padding: 10px 0;
  vertical-align: middle;
  border-bottom: 1px #ccc solid;
}
.comparison table td img {
  margin: 0 auto;
}
.comparison table td.icons {
  text-align: center;
  width: 35px;
}
.comparison table td.yellow {
  background-color: #f4f4f4;
}
.comparison table .space {
  width: 10px; border: none;
}
.comparison table td sup {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  color: #54bb3f;
}
.comparison table td sup.nou {
  color: #db0a14;
}

.bottomcart {
  display: block;
  height: 575px;
  margin-top: 70px;
  text-align: center;
  background: url(../images/bottom-banner.jpg) no-repeat center top
}

.bottomcart h2 {
  padding-top: 110px;
  font-size: 32px;
  color: #ffec6f
}

.bottomcart .img-box {
  float: left;
  width: 460px;
  margin-top: 86px;
  margin-left: 115px;
}

.bottomcart .price {
  float: left;
  margin-left: 122px;
  margin-top: 65px;
  color: #fff;
  text-align: center
}
.bottomcart .price strong { font-size: 60px; }
.bottomcart .price span { 
  padding-left: 4px;
  line-height: 28px; 
}
.bottomcart .price span b { font-size: 22px; }
.bottomcart .price span del { 
  color: #beaf8a; 
  font-size: 18px;
}

.bottomcart .price .date {
  margin-top: 25px;
  width: 300px;
  color: #ffe29c
}
.bottomcart .price .date strong { font-size: 18px; }
.bottomcart .price .date strong.last { font-size: 16px; }

/* service */
.service {
  padding: 42px 0 30px;
  border-bottom: 1px solid #ededed;
}
.service dl {
  float: left;
  width: 33.33%;
  text-align: center;
}
.service dl dt {
  height: 72px;
  line-height: 72px;
}
.service dl dt img {
  display: inline-block;
  vertical-align: middle;
}
.service dl dd h3 {
  padding: 35px 0 10px 0;
  font-size: 16px;
  line-height: 16px;
}
.service dl dd p {
  padding: 0 44px;
  color: #3d3d3d;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
}

/* footer */
.footer {
  padding: 20px 0 30px 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #3c3c3c;
}
.footer .copyright {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

@-webkit-keyframes recover {
  0% {
    -webkit-transform: scale(1)
  }

  10% {
    -webkit-transform: scale(.5)
  }

  20% {
    -webkit-transform: scale(1.8)
  }

  30% {
    -webkit-transform: scale(.8)
  }

  40% {
    -webkit-transform: scale(1)
  }

  50% {
    -webkit-transform: scale(.5)
  }

  60% {
    -webkit-transform: scale(1.5)
  }

  70% {
    -webkit-transform: scale(1)
  }

  80% {
    -webkit-transform: scale(.5)
  }

  90% {
    -webkit-transform: scale(.2)
  }

  100% {
    -webkit-transform: scale(1)
  }
}

@-webkit-keyframes light {
  0% {
    -webkit-transform: scale(1)
  }

  20% {
    -webkit-transform: scale(.5)
  }

  40% {
    -webkit-transform: scale(1.8)
  }

  60% {
    -webkit-transform: scale(1.2)
  }

  80% {
    -webkit-transform: scale(.5)
  }

  100% {
    -webkit-transform: scale(1)
  }
}

@keyframes zoomout {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100)
  }

  100% {
    -webkit-transform: scale(4);
    -ms-transform: scale(4);
    transform: scale(4);
    opacity: 0;
    filter: alpha(opacity=0)
  }
}

@keyframes dissolve {
  0% {
    top: 0;
    opacity: 1;
    filter: alpha(opacity=100)
  }

  100% {
    top: -100px;
    opacity: 0;
    filter: alpha(opacity=0)
  }
}